<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.BaseFlowPersonMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.BaseFlowPerson" >
    <id column="flow_person_id" property="flowPersonId" jdbcType="CHAR" />
    <result column="person_id" property="personId" jdbcType="VARCHAR" />
    <result column="person_parent_id" property="personParentId" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    flow_person_id, person_id, person_parent_id, person_name, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from base_flow_person
    where flow_person_id = #{flowPersonId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_flow_person
    where flow_person_id = #{flowPersonId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.BaseFlowPerson" >
    insert into base_flow_person (flow_person_id, person_id, person_parent_id, 
      person_name, del_flag, create_time, 
      create_user, create_user_name, modify_time, 
      modify_user, modify_user_name
      )
    values (#{flowPersonId,jdbcType=CHAR}, #{personId,jdbcType=VARCHAR}, #{personParentId,jdbcType=VARCHAR}, 
      #{personName,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.BaseFlowPerson" >
    insert into base_flow_person
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="flowPersonId != null" >
        flow_person_id,
      </if>
      <if test="personId != null" >
        person_id,
      </if>
      <if test="personParentId != null" >
        person_parent_id,
      </if>
      <if test="personName != null" >
        person_name,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="flowPersonId != null" >
        #{flowPersonId,jdbcType=CHAR},
      </if>
      <if test="personId != null" >
        #{personId,jdbcType=VARCHAR},
      </if>
      <if test="personParentId != null" >
        #{personParentId,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.BaseFlowPerson" >
    update base_flow_person
    <set >
      <if test="personId != null" >
        person_id = #{personId,jdbcType=VARCHAR},
      </if>
      <if test="personParentId != null" >
        person_parent_id = #{personParentId,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where flow_person_id = #{flowPersonId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.BaseFlowPerson" >
    update base_flow_person
    set       person_id = #{personId,jdbcType=VARCHAR},
      person_parent_id = #{personParentId,jdbcType=VARCHAR},
      person_name = #{personName,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where flow_person_id = #{flowPersonId,jdbcType=CHAR}
  </update>
  <select id="selectByBaseFlowPersonList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.BaseFlowPerson" >
    select 
    <include refid="Base_Column_List" />
    from base_flow_person
    where del_flag = '0'
    <if test="personId != null and personId != ''" >
     and person_id = #{personId,jdbcType=VARCHAR}
    </if>
    <if test="personParentId != null and personParentId != ''" >
     and person_parent_id = #{personParentId,jdbcType=VARCHAR}
    </if>
    <if test="personName != null and personName != ''" >
     and person_name = #{personName,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY create_time DESC 
  </select>
  <delete id="batchDeleteUpdateBaseFlowPerson" parameterType="com.apih5.mybatis.pojo.BaseFlowPerson" >
    <![CDATA[ 
        update base_flow_person
        set del_flag = '1'
        where del_flag = '0' and flow_person_id in 
     ]]> 
     <foreach collection="list" item = "model" open="(" separator="," close=")">#{model.flowPersonId} 
     </foreach>
  </delete>
</mapper>
