<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.MenuMapper" >
	<resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.SysMenu" >
	    <id column="menu_id" property="menuId" jdbcType="CHAR" />
	    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
	    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
	    <result column="menu_parent_id" property="menuParentId" jdbcType="CHAR" />
	    <result column="sort" property="sort" jdbcType="INTEGER" />
	    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="create_user" property="createUser" jdbcType="CHAR" />
	    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
	    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
	  </resultMap>
	  <sql id="Base_Column_List" >
	    menu_id, menu_name, menu_url, menu_parent_id, sort_field, 
	    del_flag, create_time, create_user, modify_time, modify_user
	  </sql>
    <select id="getMenuList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.SysMenu">
        SELECT DISTINCT sm.menu_id AS menuId,
                sm.menu_name AS menuName,
                sm.menu_parent_id AS menuParentId,
                sm.sort_field AS sortOrder,
                sm.menu_url AS url
        FROM sys_menu sm
        LEFT JOIN sys_role_menu srm ON sm.menu_id = srm.menu_id
        LEFT JOIN sys_user_role sur ON srm.role_id = sur.role_id
        LEFT JOIN sys_user su ON sur.user_key = su.user_key
        WHERE su.user_key = #{userKey,jdbcType=CHAR}
        ORDER BY sm.sort_field ASC
    </select>

    <select id="getMenuIdList" resultType="java.lang.Integer" parameterType="int">
        SELECT sm.menu_id AS menuId
        FROM sys_menu sm
        LEFT JOIN sys_role_menu srm ON sm.menu_id = srm.menu_id
        LEFT JOIN sys_user_role sur ON srm.role_id = sur.role_id
        LEFT JOIN sys_user su ON sur.user_id = su.id
        WHERE su.id = #{id, jdbcType=INTEGER}
    </select>
    
    <select id="getMenuTreeList" resultType="com.apih5.mybatis.pojo.TreeNode">
        SELECT
        s.menu_id AS id,
        s.menu_name AS name,
        s.menu_parent_id AS pId
        FROM sys_menu s
        ORDER BY s.group_id ASC, s.sort_order ASC
    </select>

    <update id="updateUrl" parameterType="java.lang.String">
        UPDATE sys_menu SET url = CASE url
            WHEN '/druid/index.html' THEN  CONCAT(#{prefix, jdbcType=VARCHAR}, '/druid/index.html')
            WHEN '/swagger-ui.html' THEN  CONCAT(#{prefix, jdbcType=VARCHAR}, '/swagger-ui.html')
            WHEN '/hystrix' THEN  CONCAT(#{prefix, jdbcType=VARCHAR}, '/hystrix')
        END
        WHERE url IN('/druid/index.html', '/swagger-ui.html', '/hystrix')
    </update>

</mapper>