<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.SysUserCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.framework.api.sysdb.entity.SysUserCompany" >
    <id column="user_company_id" property="userCompanyId" jdbcType="CHAR" />
    <result column="user_key" property="userKey" jdbcType="CHAR" />
    <result column="company_id" property="companyId" jdbcType="CHAR" />
    <result column="company_select_flag" property="companySelectFlag" jdbcType="CHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_company_id, user_key, company_id, company_select_flag, del_flag, 
    create_time, create_user, modify_time, modify_user

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_company
    where user_company_id = #{userCompanyId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user_company
    where user_company_id = #{userCompanyId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.framework.api.sysdb.entity.SysUserCompany" >
    insert into sys_user_company (user_company_id, user_key, company_id, 
      company_select_flag, del_flag, create_time, 
      create_user, modify_time, modify_user
      )
    values (#{userCompanyId,jdbcType=CHAR}, #{userKey,jdbcType=CHAR}, #{companyId,jdbcType=CHAR}, 
      #{companySelectFlag,jdbcType=CHAR}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=CHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.framework.api.sysdb.entity.SysUserCompany" >
    insert into sys_user_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userCompanyId != null" >
        user_company_id,
      </if>
      <if test="userKey != null" >
        user_key,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companySelectFlag != null" >
        company_select_flag,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userCompanyId != null" >
        #{userCompanyId,jdbcType=CHAR},
      </if>
      <if test="userKey != null" >
        #{userKey,jdbcType=CHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=CHAR},
      </if>
      <if test="companySelectFlag != null" >
        #{companySelectFlag,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.framework.api.sysdb.entity.SysUserCompany" >
    update sys_user_company
    <set >
      <if test="userKey != null" >
        user_key = #{userKey,jdbcType=CHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=CHAR},
      </if>
      <if test="companySelectFlag != null" >
        company_select_flag = #{companySelectFlag,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
    </set>
    where user_company_id = #{userCompanyId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.framework.api.sysdb.entity.SysUserCompany" >
    update sys_user_company
    set       user_key = #{userKey,jdbcType=CHAR},
      company_id = #{companyId,jdbcType=CHAR},
      company_select_flag = #{companySelectFlag,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR}
    where user_company_id = #{userCompanyId,jdbcType=CHAR}
  </update>
  <select id="selectBySysUserCompanyList" resultMap="BaseResultMap" parameterType="com.apih5.framework.api.sysdb.entity.SysUserCompany" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_company
    where del_flag = '0'
    <if test="userKey != null and userKey != ''" >
     and user_key = #{userKey,jdbcType=CHAR}
    </if>
    <if test="companyId != null and companyId != ''" >
     and company_id = #{companyId,jdbcType=CHAR}
    </if>
    <if test="companySelectFlag != null and companySelectFlag != ''" >
     and company_select_flag = #{companySelectFlag,jdbcType=CHAR}
    </if>
    ORDER BY create_time DESC 
  </select>
  <delete id="batchDeleteUpdateSysUserCompany" parameterType="com.apih5.framework.api.sysdb.entity.SysUserCompany" >
    <![CDATA[ 
        update sys_user_company
        set del_flag = '1'
        where del_flag = '0' and user_company_id in 
     ]]> 
     <foreach collection="list" item = "model" open="(" separator="," close=")">#{model.userCompanyId} 
     </foreach>
  </delete>
</mapper>
