/* selectPersonnel.less */
@url-base: "../../";
@import "@{url-base}App.less";
:global{
    .EnquiryList {}


    /* �б� */
    
    .EnquiryList .am-list-body {
        background-color: transparent;
        border-width: 0;
    }
    
    .EnquiryList .am-list-body:after {
        border: 0
    }
    
    .EnquiryList .am-pull-to-refresh-content-wrapper {
        overflow: inherit
    }
    
    .EnquiryList .view {
        background: #fff;
        padding: 0 5px 0 12px;
        border-left: 4px solid;
        line-height: 1.2;
    }
    
    .EnquiryList .view .title {
        font-size: 16px;
        padding: 7px 7px 7px 0;
    }
    
    .EnquiryList .view .tool {
        display: flex;
        padding: 7px 7px 7px 0;
        border-top: 1px #999 dashed;
        color: #999;
    }
    
    .EnquiryList .view .tool .span1 {
        text-align: left;
    }
    
    .EnquiryList .view .tool .span2 {
        flex: 1;
        text-align: right;
    }


}
