.lny-boxShadow {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 0 4px 4px rgba(239, 239, 239, 0.2);
}
.lny-header {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 0 4px 4px rgba(239, 239, 239, 0.2);
}
.lny-body {
  flex: 1;
  overflow: auto;
  padding-top: 0px;
  padding-bottom: 88px;
}
.lny-footer {
  position: relative;
  z-index: 2;
  border-top: 1px solid #efefef;
  box-shadow: 0 0 4px 4px rgba(239, 239, 239, 0.2);
  padding: 12px 16px;
  background: white;
}
.lny-footer .am-button {
  height: 78px;
  line-height: 78px;
}
.lny-list-footer {
  text-align: center;
  line-height: 60px;
  color: #999;
  padding: 20px;
}
.lny-list-footer.pd {
  padding-bottom: 88px;
}
.lny-color-white-bg {
  background-color: white !important;
}
.lny-color-white-ft {
  color: white !important;
}
.lny-color-white-br {
  border-color: white !important;
}
.lny-color-lightgray-bg {
  background-color: #efefef !important;
}
.lny-color-lightgray-ft {
  color: #efefef !important;
}
.lny-color-lightgray-br {
  border-color: #efefef !important;
}
.lny-color-gray-bg {
  background-color: #999 !important;
}
.lny-color-gray-ft {
  color: #999 !important;
}
.lny-color-gray-br {
  border-color: #999 !important;
}
.lny-color-black-bg {
  background-color: #111 !important;
}
.lny-color-black-ft {
  color: #111 !important;
}
.lny-color-black-br {
  border-color: #111 !important;
}
.lny-color-green-bg {
  background-color: #99cc00 !important;
}
.lny-color-green-ft {
  color: #99cc00 !important;
}
.lny-color-green-br {
  border-color: #99cc00 !important;
}
.lny-color-blue-bg {
  background-color: #0099dd !important;
}
.lny-color-blue-ft {
  color: #0099dd !important;
}
.lny-color-blue-br {
  border-color: #0099dd !important;
}
.lny-color-yellow-bg {
  background-color: #ffff00 !important;
}
.lny-color-yellow-ft {
  color: #ffff00 !important;
}
.lny-color-yellow-br {
  border-color: #ffff00 !important;
}
.lny-color-red-bg {
  background-color: #ff4000 !important;
}
.lny-color-red-ft {
  color: #ff4000 !important;
}
.lny-color-red-br {
  border-color: #ff4000 !important;
}
.lny-color-orange-bg {
  background-color: #ff9900 !important;
}
.lny-color-orange-ft {
  color: #ff9900 !important;
}
.lny-color-orange-br {
  border-color: #ff9900 !important;
}
.flex {
  flex: 1;
}
.flexBox {
  display: flex;
}
.flexBox.column {
  flex-direction: column;
}
.flexBox.center {
  align-items: center;
  justify-content: center;
}
body {
  background: #f5f5f5;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
}
