# 项目排除路径
/apih5-web/target/
/zj-web-doc/09_zj-self-evaluation/zjzp/src/views/modules/qnn-table/qnn-form/pullPersionMobile/node_modules/
/zj-web-doc/12_zj-question/mobile/src/routes/modules/qnn-table/qnn-form/pullPersionMobile/node_modules/
/zj-web-doc/18_zj-flow-matter/mobile/src/views/modules/qnn-table/qnn-form/pullPersionMobile/node_modules/
/zj-web-doc/21_zj-hw-resource/mobile/src/views/modules/pullPersionMobile/node_modules/
/zj-web-doc/22_zj-work-check/mobile/src/views/modules/qnn-table/qnn-form/pullPersionMobile/node_modules/