.ImgPreview{
    max-width: 98%;
    min-width: 50%;
    display: block;
}
.goBack{
    font-size:10px;
    position: fixed;
    bottom:.1rem;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    text-align: center;
}

.goBack span{
    width:80%;
    display: inline-block;
    padding:5px;
    background: rgb(16, 142, 233);
    color:white;
    border-radius:5px;
}

.goBack span:hover{ 
    background: rgb(7, 106, 207); 
}