#map{
    width:48%;
    /* height: 74%; */
    height: 90%;
    position: absolute;
    left:26.5%; 
    margin-top:4%;
}

/* #Broadcast .nav { 
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    text-align: right;
    color: white;
    padding-right: 10px;  
} */
#Broadcast{
    height: 30%;

}

#Broadcast .title{
    color:#cdfcff;
    padding:2% 3%;
}

#Broadcast .b_con{   
    overflow: hidden;
    height: 100%;
    position: relative;
}

#Broadcast .b_con .Broadcast_left .number{
    color:#00dfd1;
    font-size: 28px;
    text-align: right;
    margin:6% 5% 0px 0px;
}
#Broadcast .b_con .Broadcast_left .unit{
    font-size: 14px;
    color:white;
}
#Broadcast .b_con .Broadcast_left .status{
    font-size: 14px;
    color:white;
    text-align: right;
    margin:30% 5% 0px 0px;
}
#Broadcast .b_con .Broadcast_left, #Broadcast .b_con .Broadcast_right{
    float: left;
    height: 100%;
    width:45%;
    box-sizing: border-box;
}
#Broadcast .b_con .Broadcast_left{
    height: 100%; 
    position: relative; 
}
#Broadcast .b_con .Broadcast_left .bgImg{
    width:65%;
    position: absolute;
    top:5%;
}
#Broadcast .b_con .Broadcast_right{
    width:53%;  

}
#Broadcast .b_con .Broadcast_right .infoRow{
    width:100%;
}
#Broadcast .b_con .Broadcast_right .infoRow .infoItem{
    float: left;
    line-height: 2.7;
}
#Broadcast .b_con .Broadcast_right .infoRow .infoItem img{
    vertical-align: middle;
    width:35px
}
.ranking_con{
    height: 40%; 

}
#dataIndex {
    
    height: 40%;
}
#ranking{
    height: 100%;
    text-align: left; 
    padding:15px;
    box-sizing: border-box; 
}
#ranking .title{
    height: 5%;  
    padding:10px 10px; 
    font-size: 100%; 
    box-sizing: border-box;
    color:#10cbde; 
}
#ranking .ul{
    /* border:1px solid red; */
    overflow-y: scroll; 
    width:100%;
    height: 90%; 
    margin-top:10px;
    /* overflow: hidden; */
    scrollbar-arrow-color: #f4ae21;
    /**/
    /*三角箭头的颜色*/
    scrollbar-face-color: #075e92;
    /**/
    /*立体滚动条的颜色*/
    scrollbar-3dlight-color: #368fc3;
    /**/
    /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #368fc3;
    /**/
    /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #368fc3;
    /**/
    /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #368fc3;
    /**/
    /*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #368fc3;
    /**/
    /*立体滚动条背景颜色*/
    scrollbar-base-color: #368fc3;
}
#ranking .row {  
    width: 100%;
    /* line-height: 2; */ 
    padding: 5px 0;
}

#ranking .row .row_item{
    float: left;
    width:40%; 
}

#ranking .row .icon{
    width: 32px;
    height: 22px;
    /* width:6.5%; */
    /* height: 8.5%; */
    vertical-align: middle;
    margin:0px 1.5%; 
}
#ranking .row .t_right{
    text-align: right;
    color:#10cbde;  
    width:43%; 
}

#ranking .row .black_item_l{ 
    width:80%; 
}
#ranking .row .black_item_r{ 
    width:80%; 
    display: block;
    text-align: left;
}

#ranking .row .t_left{ 
    color:#bef9ff;
}

 
/* 标注的列表内容 */
.marker_project_list_ul{
    /* border:1px solid red; */
    width:100%;
    box-sizing: border-box;
    /* background: #075e92; */
    height: 200px;
    overflow-y:scroll;
    margin:10px 0;
}

.marker_project_list_ul li{
    border-bottom:1px solid #ccc; 
}
.marker_project_list_ul li .row{ 
    width: 100%;
    margin:10px 0px;
    margin-top:0px;
}

.marker_project_list_ul li .row div{
    float: left;
    /* border:1px solid red; */
    width: 47%;
    color:rgb(155,169,192);
}


.marker_project_list_ul li .row .money{
    color:rgb(214,67,63); 
}
.marker_project_list_ul li .row .tit{
    /* color:rgb(211,233,252); */
    color:rgb(155,169,192);
}
.marker_project_list_ul li .row .row_right{
    text-align: right; 
}
.marker_project_list_ul li .row .status{
    color:rgb(0,247,222);
}
.goBack{
    /* line-height: 2; */
    color:#0099FF;
    font-size: .9em;
    cursor: pointer; 
}

.goBack img{
    vertical-align: middle;
}


