.WeeklyList {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.WeeklyList .am-list-body {
    background-color: transparent;
    border-width: 0
}

.WeeklyList .am-list-body:after {
    border-width: 0
}

.WeeklyList .am-list-item .am-list-line .am-list-extra {
    flex-basis: 56% !important;
    white-space: normal !important;
}

.WeeklyList .am-list-item .am-input-control input {
    text-align: right
}

.popupList .am-list-body {
    max-height: 50vh;
    overflow: auto;
}

.WeeklyList .ItemSpan {
    display: inline-block;
    width: 20%;
}

/* .WeeklyList .myListItem {
    border-left: 8px solid;
    font-weight:  bold
} */

.WeeklyList .myListItem .am-list-line:after {
    border: 0 none !important;
}

.WeeklyList .mySearchBtn {
    background-color: #f8f8f8 !important;
}

.WeeklyList .mySearchBtn .am-list-line .am-list-content {
    display: flex;
    justify-content: center;
    position: relative;
}

.WeeklyList .mySendBtn {
    background-color: #0099ff !important;
}

.WeeklyList .mySendBtn .am-list-line .am-list-content {
    display: flex;
    justify-content: center;
    position: relative;
    color: #fff;
}

.WeeklyList .jdt {
    z-index: 1;
    font-weight: bold;
    position: relative;
    font-size: 10px;
    color: white;
    padding: 0 .5%;
}

.WeeklyList .jdtBg {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all 1.2s;
}

.WeeklyList .am-pull-to-refresh-content-wrapper {
    overflow: initial
}