.WeeklyDetail .am-list-body {
    background-color: transparent;
    border-width: 0
}

.WeeklyDetail .am-list-body:after {
    border-width: 0
}

.WeeklyDetail .newNav {
    background-color: #f8f8f8;
    position: relative
}

.WeeklyDetail .newNav::after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    width: 100%;
    border-bottom: 1PX solid #ddd;
}

.WeeklyDetail .newNavLine {
    display: flex;
    height: 44px;
}

.WeeklyDetail .newNavItem {
    margin: 0 10px;
    color: #0099ff;
    opacity: .8;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.WeeklyDetail .newNavItem.cur {
    border-bottom: 2px solid rgba(0, 153, 255, .8);
    opacity: 1;
    font-weight: bold;
}

.WeeklyDetail .noRead {
    background: red;
    width: 6px;
    height: 6px;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 50%;
}

.WeeklyDetail .am-pull-to-refresh-content-wrapper {
    overflow: initial
}