.uploadList:after{
	content:'';
	display: block;
	clear: both;
	visibility: hidden;
	height:0;
}
.uploadFile .uploadItem {
	width:90px;
	height:105px;
	float:left;
	text-align: center;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin:0px;
	padding:0;
}

.uploadFile .uploadItem a {
	text-decoration: underline;
	
	margin:0;
	padding:0;
}

.uploadFile .uploadItem:last-child {
	margin-bottom: 15px;
}

.uploadRemove {
	width:20px;
	height:20px;
	cursor: pointer;
	position: absolute;
	right:10px;
	top:21px;
	color:white;
	font-size:15px;
	line-height: 20px;
	background: #0099FF;
}
.inputFile {
	position: absolute;
	font-size: 0;
	width:0;
	height: 0;
	outline: 0;
	opacity: 0;
	filter: "alpha(opacity=0)";
	top:0;
	right:0;
	z-index: -1;
	border:0;
	background: 0;
	cursor: pointer;
}
.inputFile:focus{
	cursor: pointer;
}
.uploadListImgByWangClass{
	width:60px;
	height:60px;
	display: block;
	margin:0 auto;
	vertical-align: middle;
}