.nestedTable {
  :global {
    table {
      background-color: #fff;
    }
    .ant-table {
      max-width: 1920px;
    }
    .ant-table-bordered .ant-table-header > table,
    .ant-table-bordered .ant-table-body > table,
    .ant-table-bordered .ant-table-fixed-left table,
    .ant-table-bordered .ant-table-fixed-right table {
      border: 1px solid rgb(200, 200, 200);
      border-right: 0;
      border-bottom: 0;
    }

    .ant-table-bordered .ant-table-thead > tr > th,
    .ant-table-bordered .ant-table-tbody > tr > td {
      border-right: 1px solid rgb(200, 200, 200);
      border-bottom: 1px solid rgb(200, 200, 200);
    }

    .ant-advanced-search-form {
      padding: 12px;
      background-color: #fff;
      border: 1px solid rgb(200, 200, 200);
      border-radius: 4px;
    }
    .ant-advanced-search-form .ant-form-item {
      display: flex;
      margin-bottom: 5px;
    }
    .ant-advanced-search-form .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
}
.scrollstyle {
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    // -webkit-box-shadow: inset 0 0 3px @color;
    background: #9999;
  }
  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    // -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    // background: transparent; //
    background: rgba(0, 0, 0, 0.1);
  }
}

.treeContainer {
  width: 27%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 16px;
  .scrollstyle;
  background: #ccc;
  // position: absolute;
  // border: 1px solid red;
  // max-height: calc(100vh - 64px - 20px - 32px - 40px - 8px);
  :global{
    .ant-tree-switcher.ant-tree-switcher-noop{
        width: 0;
    }
  }
}
.container {
  // border: 1px solid red;
  // max-height: calc(100vh - 64px - 20px - 32px - 40px - 8px);
}
