body,html{height:100%;-webkit-tap-highlight-color:transparent;  margin: 0;padding: 0; position:relative; overflow: hidden}/*overflow: hidden*/
body{font-family:-apple-system-font,Helvetica Neue,Helvetica,sans-serif}
ul{list-style:none}
.page,body{position: relative;}
.page{z-index:1;overflow:hidden;display: flex; flex-direction: column;}
.container,.page{position:absolute;top:0;right:0;bottom:0;left:0}
.page-enter{z-index:1024;opacity:.01;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);-webkit-transition:all .2s ease;transition:all .2s ease}
.page-enter.page-enter-active,.page-leave{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
.page-leave{-webkit-transition:all .2s ease;transition:all .2s ease}
.page-leave.page-leave-active{opacity:.01;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}


