/* 主容器 */
.main{
    /* min-height:400px; */
    max-width:6.7rem;
    margin:0 auto;
    overflow-x: hidden;
    /* border:1px solid #ccc; */
    box-sizing: border-box;
    font-size:0.2rem;
}
*{
    margin:0;
    padding:0;
}
body{
    background:whitesmoke;
}
.list-view-title{
    font-size:.3rem;
    padding-left:.2rem;
}
.title{
    border-bottom:0.01rem solid #ccc;
    padding:.3rem 0;
}
.list-view-cont .historylist{
    padding:0;
    height:auto;
    /* border:1px solid #0eadfe; */
}
.list-view-cont li{
    background: white;
    margin-bottom:.3rem;
    list-style: none;
}

.historylist .list-view-li-div{
    padding-bottom:.1rem;
    box-sizing: border-box;
    width:100%;
}
.list-view-li-div-con{
    width:100%;
    /* display: table; */
    margin:.1rem 0;
    padding-left:.2rem;
}
.list-con-left{
    /* width:40%; */
    /* display: table-cell; */
    display: inline-block;
    font-size:0.28rem;
    color:#777777;
}
.list-con-right{
    /* display: table-cell; */
    /* width:60%; */
    display: inline-block;
    color:#777777;
    font-size:.28rem;
    box-sizing: border-box;
}
.top{
    border-bottom:1px solid #0eadfe;
    padding:.1rem;
    box-sizing: border-box;
}
.top .list-con-left{
    width:35%;
    font-size:.2rem;
}
.top .list-con-right{
    width:62%;
    font-size:.2rem;
    text-align: right;
    border:0;
}

.list-view-cont-li{
    width:94%;
    margin:0 auto;
}
.list-view-cont-li:nth-child(odd){
    border-left:.06rem solid orangered;
}
.list-view-cont-li:nth-child(even){
    border-left:.06rem solid orange;
}






