/* assetsDetail.css */
body {
    margin: 0;
    font-family: 微软雅黑;
}

.normalText {
    color: #0ebcfb;
}

.faultText {
    color: #0eadfe;
}

.redText {
    color: red;
}


.inventoryList {
    margin: 0px;
    padding: 0px;
}

.inventoryList .part1{
    width: 640px;
    height: auto;
    overflow: hidden;
    position: relative;
}

.inventoryList .part1 .title{
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    padding-left: 20px;
    border-bottom: 2px #eeeeee solid;
    font-size: 30px;
    font-weight: bold;
}

.inventoryList .part2{
    width: 640px;
    height: auto;
    overflow: hidden;
    position: relative;
}

.inventoryList .part2 ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 30px;
	margin-bottom: 156px;
}

.inventoryList .part2 ul li{
    width: auto;
    /*height: 200px;*/
    /*line-height: 200px;*/
    padding-left: 20px;
    border-bottom: 2px #f2f2f2 solid;
}

.inventoryList .part2 ul li .left{
    display: inline-block;
    width: 90%;
}

.inventoryList .part2 ul li .left .content1{
    padding-left: 0px;
    margin-top: 10px;
    height: 80px;
    line-height: 80px;
    font-size: 34px;
}

.inventoryList .part2 ul li .left .content1 img{
    padding-right: 15px;
    vertical-align: text-bottom;
    width: 42px;
    height: 42px;
}

.inventoryList .part2 ul li .left .content2{
    padding-left: 65px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #545454;
}

.inventoryList .part2 ul li .left .content3{
    padding-left: 65px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    font-size: 24px;
    color: #bebebe;
}
.content3 .time{
    padding-right:20px;
}

.inventoryList .part2 ul li .right{
    display: inline-block;
    width: 10%;
    line-height: 215px;
    height: 215px;
    float: right;
}

.inventoryList .part2 ul li .right img{
    width: 35px;
    height: 35px
}

.inventoryList .footer{
    position: fixed;
    width: 640px;
    height: auto;
    left: 0px;
    bottom: 0px;
    background: #ffffff;
    z-index: 999;
}

.inventoryList .footer img{
    display: block;
    width: 120px;
    height: 120px;
    float: right;
    padding-bottom: 40px;
    background: #ffffff;
}

.inventoryList .footer .btn{
    display: block;
    width: 90%;
    height: 80px;
    margin: 35px;
    line-height: 80px;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    background: #0ebcfb;
    font-size: 32px;
}


.w-test{
    width:80px;
    height:40px;
    /* border:1px solid rebeccapurple; */
    text-align: left;
}
.w-test .iconfont{
    display: inline-block;
}