/* selectDepartment.css */
body {
    margin: 0px;
    font-family: 微软雅黑;
}
ul{list-style:none}
.demo{width:auto; margin:0px auto; padding:10px; background:#f7f7f7}
.nav {width: auto; padding: 40px 28px 25px 0; font-family: "Microsoft yahei", Arial, Helvetica, sans-serif;}
ul.nav {padding: 0 0 60px 0; margin: 0; font-size: 1em; line-height: 0.5em; list-style: none;}
ul.nav li {}
ul.nav li a {line-height: 20px; font-size: 50px; padding: 10px 5px; color: #000; display: block; text-decoration: none; font-weight: bolder;}
ul.nav li a:hover {background-color:#0ebcfb;color:white;}
ul.nav ul { margin: 0; padding: 0;display: none;}
ul.nav ul li { margin: 0; padding: 0; clear: both;}
ul.nav ul li a { padding-left: 20px; font-size: 45px; font-weight: normal;}
ul.nav ul li a:hover {background-color:#0ebcfb; color:#675C7C;}
ul.nav ul ul li a {color:#545454; font-size: 40px; padding-left: 40px;}
ul.nav ul ul li a:hover { background-color:#0ebcfb; color:#675C7C;}
ul.nav ul ul ul li a {color:silver; font-size: 35px; padding-left: 80px;}
ul.nav ul ul ul li a:hover { background-color:#0ebcfb; color:#675C7C;}
/*ul.nav span{float:right;}*/
ul.nav span{padding-left: 60px;}
input{width: 60px;height: 60px;}
.checkbox{display: inline-block;vertical-align: middle;margin-left: 20px;}
.text{display: inline-block;vertical-align: middle;padding-left: 20px;}
.addIcon{display: inline-block;vertical-align: middle;float: right;margin: 40px 0 40px 0;}

.showResult{
    width: auto;
    min-height: 130px;
    max-height: 380px;
    margin: 20px;
    overflow-y: auto;
    border: 1px #545454 solid;
}
.showResult ul {
    padding-left: 0;
    margin: 5px;
}
.showResult ul li{
    margin: 10px;
    width: auto;
    height: 100px;
    line-height: 60px;
    float: left;
    display: inline-block;
    color: #ffffff;
    background: #0ebcfb;
}
.showResult .text{
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
    padding-left: 20px;
    width: auto;
    height: 60px;
    font-size: 35px;
}
.showResult .img{
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
    width: auto;
    height: 60px;
    font-size: 35px;
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #ffffff;
}
#main {
    margin-top: 170px;
    margin-bottom: 150px;
}
.footer{
    position: fixed;
    width: 100%;
    height: auto;
    left: 0px;
    bottom: 0px;
    text-align: center;
    background: #ffffff;
    z-index: 999;
}
.footer .btn{
    display: inline-block;
    text-decoration: none;
    width: 40%;
    height: 80px;
    margin: 35px;
    line-height: 80px;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    background: #0ebcfb;
    font-size: 32px;
}
