<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ProInvXmndtzjhMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ProInvXmndtzjh" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="xmid" property="xmid" jdbcType="CHAR" />
    <result column="xmmc" property="xmmc" jdbcType="VARCHAR" />
    <result column="syb" property="syb" jdbcType="VARCHAR" />
    <result column="period_value" property="periodValue" jdbcType="VARCHAR" />
    <result column="bbname" property="bbname" jdbcType="VARCHAR" />
    <result column="bbh" property="bbh" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="tzwc1" property="tzwc1" jdbcType="DECIMAL" />
    <result column="tzwc2" property="tzwc2" jdbcType="DECIMAL" />
    <result column="tzwc3" property="tzwc3" jdbcType="DECIMAL" />
    <result column="tzwc4" property="tzwc4" jdbcType="DECIMAL" />
    <result column="xmztjawcjaxj" property="xmztjawcjaxj" jdbcType="DECIMAL" />
    <result column="xmztwcja1" property="xmztwcja1" jdbcType="DECIMAL" />
    <result column="xmztwcja2" property="xmztwcja2" jdbcType="DECIMAL" />
    <result column="xmztwcja3" property="xmztwcja3" jdbcType="DECIMAL" />
    <result column="xmztwcja4" property="xmztwcja4" jdbcType="DECIMAL" />
    <result column="xmztwcjlxj" property="xmztwcjlxj" jdbcType="DECIMAL" />
    <result column="xmztwcjl1" property="xmztwcjl1" jdbcType="DECIMAL" />
    <result column="xmztwcjl2" property="xmztwcjl2" jdbcType="DECIMAL" />
    <result column="xmztwcjl3" property="xmztwcjl3" jdbcType="DECIMAL" />
    <result column="xmztwcjl4" property="xmztwcjl4" jdbcType="DECIMAL" />
    <result column="yjgjtwcjaxj" property="yjgjtwcjaxj" jdbcType="DECIMAL" />
    <result column="yjgjtwcja1" property="yjgjtwcja1" jdbcType="DECIMAL" />
    <result column="yjgjtwcja2" property="yjgjtwcja2" jdbcType="DECIMAL" />
    <result column="yjgjtwcja3" property="yjgjtwcja3" jdbcType="DECIMAL" />
    <result column="yjgjtwcja4" property="yjgjtwcja4" jdbcType="DECIMAL" />
    <result column="ygjjtwcjlxj" property="ygjjtwcjlxj" jdbcType="DECIMAL" />
    <result column="ygjjtwcjl1" property="ygjjtwcjl1" jdbcType="DECIMAL" />
    <result column="ygjjtwcjl2" property="ygjjtwcjl2" jdbcType="DECIMAL" />
    <result column="ygjjtwcjl3" property="ygjjtwcjl3" jdbcType="DECIMAL" />
    <result column="ygjjtwcjl4" property="ygjjtwcjl4" jdbcType="DECIMAL" />
    <result column="zdcqxj" property="zdcqxj" jdbcType="DECIMAL" />
    <result column="zdcq1" property="zdcq1" jdbcType="DECIMAL" />
    <result column="zdcq2" property="zdcq2" jdbcType="DECIMAL" />
    <result column="zdcq3" property="zdcq3" jdbcType="DECIMAL" />
    <result column="zdcq4" property="zdcq4" jdbcType="DECIMAL" />
    <result column="gxyysrxj" property="gxyysrxj" jdbcType="DECIMAL" />
    <result column="gxyysrxj1" property="gxyysrxj1" jdbcType="DECIMAL" />
    <result column="gxyysrxj2" property="gxyysrxj2" jdbcType="DECIMAL" />
    <result column="gxyysrxj3" property="gxyysrxj3" jdbcType="DECIMAL" />
    <result column="gxyysrxj4" property="gxyysrxj4" jdbcType="DECIMAL" />
    <result column="xmgsrlxj" property="xmgsrlxj" jdbcType="DECIMAL" />
    <result column="xmgsrl1" property="xmgsrl1" jdbcType="DECIMAL" />
    <result column="xmgsrl2" property="xmgsrl2" jdbcType="DECIMAL" />
    <result column="xmgsrl3" property="xmgsrl3" jdbcType="DECIMAL" />
    <result column="xmgsrl4" property="xmgsrl4" jdbcType="DECIMAL" />
    <result column="ygjjtzcblrxj" property="ygjjtzcblrxj" jdbcType="DECIMAL" />
    <result column="ygjjtzcblr1" property="ygjjtzcblr1" jdbcType="DECIMAL" />
    <result column="ygjjtzcblr2" property="ygjjtzcblr2" jdbcType="DECIMAL" />
    <result column="ygjjtzcblr3" property="ygjjtzcblr3" jdbcType="DECIMAL" />
    <result column="ygjjtzcblr4" property="ygjjtzcblr4" jdbcType="DECIMAL" />
    <result column="ygjjtgfblrxj" property="ygjjtgfblrxj" jdbcType="VARCHAR" />
    <result column="ygjjtgfblr1" property="ygjjtgfblr1" jdbcType="DECIMAL" />
    <result column="ygjjtgfblr2" property="ygjjtgfblr2" jdbcType="DECIMAL" />
    <result column="ygjjtgfblr3" property="ygjjtgfblr3" jdbcType="DECIMAL" />
    <result column="ygjjtgfblr4" property="ygjjtgfblr4" jdbcType="DECIMAL" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="sfzb" property="sfzb" jdbcType="VARCHAR" />
    <result column="dwlb" property="dwlb" jdbcType="VARCHAR" />
    <result column="dwsort" property="dwsort" jdbcType="VARCHAR" />
    <result column="xmpx" property="xmpx" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, xmid, xmmc, syb, period_value, 
    bbname, bbh, currency, tzwc1, tzwc2, 
    tzwc3, tzwc4, xmztjawcjaxj, xmztwcja1, xmztwcja2, 
    xmztwcja3, xmztwcja4, xmztwcjlxj, xmztwcjl1, xmztwcjl2, 
    xmztwcjl3, xmztwcjl4, yjgjtwcjaxj, yjgjtwcja1, yjgjtwcja2, 
    yjgjtwcja3, yjgjtwcja4, ygjjtwcjlxj, ygjjtwcjl1, ygjjtwcjl2, 
    ygjjtwcjl3, ygjjtwcjl4, zdcqxj, zdcq1, zdcq2, 
    zdcq3, zdcq4, gxyysrxj, gxyysrxj1, gxyysrxj2, 
    gxyysrxj3, gxyysrxj4, xmgsrlxj, xmgsrl1, xmgsrl2, 
    xmgsrl3, xmgsrl4, ygjjtzcblrxj, ygjjtzcblr1, ygjjtzcblr2, 
    ygjjtzcblr3, ygjjtzcblr4, ygjjtgfblrxj, ygjjtgfblr1, ygjjtgfblr2, 
    ygjjtgfblr3, ygjjtgfblr4, bz, sfzb, dwlb, 
    dwsort, xmpx

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from del_flag = '0' and pro_inv_xmndtzjh
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pro_inv_xmndtzjh
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ProInvXmndtzjh" >
    insert into pro_inv_xmndtzjh (id, xmid, xmmc, 
      syb, period_value, bbname, 
      bbh, currency, tzwc1, 
      tzwc2, tzwc3, tzwc4, 
      xmztjawcjaxj, xmztwcja1, xmztwcja2, 
      xmztwcja3, xmztwcja4, xmztwcjlxj, 
      xmztwcjl1, xmztwcjl2, xmztwcjl3, 
      xmztwcjl4, yjgjtwcjaxj, yjgjtwcja1, 
      yjgjtwcja2, yjgjtwcja3, yjgjtwcja4, 
      ygjjtwcjlxj, ygjjtwcjl1, ygjjtwcjl2, 
      ygjjtwcjl3, ygjjtwcjl4, zdcqxj, 
      zdcq1, zdcq2, zdcq3, 
      zdcq4, gxyysrxj, gxyysrxj1, 
      gxyysrxj2, gxyysrxj3, gxyysrxj4, 
      xmgsrlxj, xmgsrl1, xmgsrl2, 
      xmgsrl3, xmgsrl4, ygjjtzcblrxj, 
      ygjjtzcblr1, ygjjtzcblr2, ygjjtzcblr3, 
      ygjjtzcblr4, ygjjtgfblrxj, ygjjtgfblr1, 
      ygjjtgfblr2, ygjjtgfblr3, ygjjtgfblr4, 
      bz, sfzb, dwlb, 
      dwsort, xmpx
      )
    values (#{id,jdbcType=CHAR}, #{xmid,jdbcType=CHAR}, #{xmmc,jdbcType=VARCHAR}, 
      #{syb,jdbcType=VARCHAR}, #{periodValue,jdbcType=VARCHAR}, #{bbname,jdbcType=VARCHAR}, 
      #{bbh,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{tzwc1,jdbcType=DECIMAL}, 
      #{tzwc2,jdbcType=DECIMAL}, #{tzwc3,jdbcType=DECIMAL}, #{tzwc4,jdbcType=DECIMAL}, 
      #{xmztjawcjaxj,jdbcType=DECIMAL}, #{xmztwcja1,jdbcType=DECIMAL}, #{xmztwcja2,jdbcType=DECIMAL}, 
      #{xmztwcja3,jdbcType=DECIMAL}, #{xmztwcja4,jdbcType=DECIMAL}, #{xmztwcjlxj,jdbcType=DECIMAL}, 
      #{xmztwcjl1,jdbcType=DECIMAL}, #{xmztwcjl2,jdbcType=DECIMAL}, #{xmztwcjl3,jdbcType=DECIMAL}, 
      #{xmztwcjl4,jdbcType=DECIMAL}, #{yjgjtwcjaxj,jdbcType=DECIMAL}, #{yjgjtwcja1,jdbcType=DECIMAL}, 
      #{yjgjtwcja2,jdbcType=DECIMAL}, #{yjgjtwcja3,jdbcType=DECIMAL}, #{yjgjtwcja4,jdbcType=DECIMAL}, 
      #{ygjjtwcjlxj,jdbcType=DECIMAL}, #{ygjjtwcjl1,jdbcType=DECIMAL}, #{ygjjtwcjl2,jdbcType=DECIMAL}, 
      #{ygjjtwcjl3,jdbcType=DECIMAL}, #{ygjjtwcjl4,jdbcType=DECIMAL}, #{zdcqxj,jdbcType=DECIMAL}, 
      #{zdcq1,jdbcType=DECIMAL}, #{zdcq2,jdbcType=DECIMAL}, #{zdcq3,jdbcType=DECIMAL}, 
      #{zdcq4,jdbcType=DECIMAL}, #{gxyysrxj,jdbcType=DECIMAL}, #{gxyysrxj1,jdbcType=DECIMAL}, 
      #{gxyysrxj2,jdbcType=DECIMAL}, #{gxyysrxj3,jdbcType=DECIMAL}, #{gxyysrxj4,jdbcType=DECIMAL}, 
      #{xmgsrlxj,jdbcType=DECIMAL}, #{xmgsrl1,jdbcType=DECIMAL}, #{xmgsrl2,jdbcType=DECIMAL}, 
      #{xmgsrl3,jdbcType=DECIMAL}, #{xmgsrl4,jdbcType=DECIMAL}, #{ygjjtzcblrxj,jdbcType=DECIMAL}, 
      #{ygjjtzcblr1,jdbcType=DECIMAL}, #{ygjjtzcblr2,jdbcType=DECIMAL}, #{ygjjtzcblr3,jdbcType=DECIMAL}, 
      #{ygjjtzcblr4,jdbcType=DECIMAL}, #{ygjjtgfblrxj,jdbcType=VARCHAR}, #{ygjjtgfblr1,jdbcType=DECIMAL}, 
      #{ygjjtgfblr2,jdbcType=DECIMAL}, #{ygjjtgfblr3,jdbcType=DECIMAL}, #{ygjjtgfblr4,jdbcType=DECIMAL}, 
      #{bz,jdbcType=VARCHAR}, #{sfzb,jdbcType=VARCHAR}, #{dwlb,jdbcType=VARCHAR}, 
      #{dwsort,jdbcType=VARCHAR}, #{xmpx,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ProInvXmndtzjh" >
    insert into pro_inv_xmndtzjh
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="xmid != null" >
        xmid,
      </if>
      <if test="xmmc != null" >
        xmmc,
      </if>
      <if test="syb != null" >
        syb,
      </if>
      <if test="periodValue != null" >
        period_value,
      </if>
      <if test="bbname != null" >
        bbname,
      </if>
      <if test="bbh != null" >
        bbh,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="tzwc1 != null" >
        tzwc1,
      </if>
      <if test="tzwc2 != null" >
        tzwc2,
      </if>
      <if test="tzwc3 != null" >
        tzwc3,
      </if>
      <if test="tzwc4 != null" >
        tzwc4,
      </if>
      <if test="xmztjawcjaxj != null" >
        xmztjawcjaxj,
      </if>
      <if test="xmztwcja1 != null" >
        xmztwcja1,
      </if>
      <if test="xmztwcja2 != null" >
        xmztwcja2,
      </if>
      <if test="xmztwcja3 != null" >
        xmztwcja3,
      </if>
      <if test="xmztwcja4 != null" >
        xmztwcja4,
      </if>
      <if test="xmztwcjlxj != null" >
        xmztwcjlxj,
      </if>
      <if test="xmztwcjl1 != null" >
        xmztwcjl1,
      </if>
      <if test="xmztwcjl2 != null" >
        xmztwcjl2,
      </if>
      <if test="xmztwcjl3 != null" >
        xmztwcjl3,
      </if>
      <if test="xmztwcjl4 != null" >
        xmztwcjl4,
      </if>
      <if test="yjgjtwcjaxj != null" >
        yjgjtwcjaxj,
      </if>
      <if test="yjgjtwcja1 != null" >
        yjgjtwcja1,
      </if>
      <if test="yjgjtwcja2 != null" >
        yjgjtwcja2,
      </if>
      <if test="yjgjtwcja3 != null" >
        yjgjtwcja3,
      </if>
      <if test="yjgjtwcja4 != null" >
        yjgjtwcja4,
      </if>
      <if test="ygjjtwcjlxj != null" >
        ygjjtwcjlxj,
      </if>
      <if test="ygjjtwcjl1 != null" >
        ygjjtwcjl1,
      </if>
      <if test="ygjjtwcjl2 != null" >
        ygjjtwcjl2,
      </if>
      <if test="ygjjtwcjl3 != null" >
        ygjjtwcjl3,
      </if>
      <if test="ygjjtwcjl4 != null" >
        ygjjtwcjl4,
      </if>
      <if test="zdcqxj != null" >
        zdcqxj,
      </if>
      <if test="zdcq1 != null" >
        zdcq1,
      </if>
      <if test="zdcq2 != null" >
        zdcq2,
      </if>
      <if test="zdcq3 != null" >
        zdcq3,
      </if>
      <if test="zdcq4 != null" >
        zdcq4,
      </if>
      <if test="gxyysrxj != null" >
        gxyysrxj,
      </if>
      <if test="gxyysrxj1 != null" >
        gxyysrxj1,
      </if>
      <if test="gxyysrxj2 != null" >
        gxyysrxj2,
      </if>
      <if test="gxyysrxj3 != null" >
        gxyysrxj3,
      </if>
      <if test="gxyysrxj4 != null" >
        gxyysrxj4,
      </if>
      <if test="xmgsrlxj != null" >
        xmgsrlxj,
      </if>
      <if test="xmgsrl1 != null" >
        xmgsrl1,
      </if>
      <if test="xmgsrl2 != null" >
        xmgsrl2,
      </if>
      <if test="xmgsrl3 != null" >
        xmgsrl3,
      </if>
      <if test="xmgsrl4 != null" >
        xmgsrl4,
      </if>
      <if test="ygjjtzcblrxj != null" >
        ygjjtzcblrxj,
      </if>
      <if test="ygjjtzcblr1 != null" >
        ygjjtzcblr1,
      </if>
      <if test="ygjjtzcblr2 != null" >
        ygjjtzcblr2,
      </if>
      <if test="ygjjtzcblr3 != null" >
        ygjjtzcblr3,
      </if>
      <if test="ygjjtzcblr4 != null" >
        ygjjtzcblr4,
      </if>
      <if test="ygjjtgfblrxj != null" >
        ygjjtgfblrxj,
      </if>
      <if test="ygjjtgfblr1 != null" >
        ygjjtgfblr1,
      </if>
      <if test="ygjjtgfblr2 != null" >
        ygjjtgfblr2,
      </if>
      <if test="ygjjtgfblr3 != null" >
        ygjjtgfblr3,
      </if>
      <if test="ygjjtgfblr4 != null" >
        ygjjtgfblr4,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="sfzb != null" >
        sfzb,
      </if>
      <if test="dwlb != null" >
        dwlb,
      </if>
      <if test="dwsort != null" >
        dwsort,
      </if>
      <if test="xmpx != null" >
        xmpx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="xmid != null" >
        #{xmid,jdbcType=CHAR},
      </if>
      <if test="xmmc != null" >
        #{xmmc,jdbcType=VARCHAR},
      </if>
      <if test="syb != null" >
        #{syb,jdbcType=VARCHAR},
      </if>
      <if test="periodValue != null" >
        #{periodValue,jdbcType=VARCHAR},
      </if>
      <if test="bbname != null" >
        #{bbname,jdbcType=VARCHAR},
      </if>
      <if test="bbh != null" >
        #{bbh,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="tzwc1 != null" >
        #{tzwc1,jdbcType=DECIMAL},
      </if>
      <if test="tzwc2 != null" >
        #{tzwc2,jdbcType=DECIMAL},
      </if>
      <if test="tzwc3 != null" >
        #{tzwc3,jdbcType=DECIMAL},
      </if>
      <if test="tzwc4 != null" >
        #{tzwc4,jdbcType=DECIMAL},
      </if>
      <if test="xmztjawcjaxj != null" >
        #{xmztjawcjaxj,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcja1 != null" >
        #{xmztwcja1,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcja2 != null" >
        #{xmztwcja2,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcja3 != null" >
        #{xmztwcja3,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcja4 != null" >
        #{xmztwcja4,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcjlxj != null" >
        #{xmztwcjlxj,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcjl1 != null" >
        #{xmztwcjl1,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcjl2 != null" >
        #{xmztwcjl2,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcjl3 != null" >
        #{xmztwcjl3,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcjl4 != null" >
        #{xmztwcjl4,jdbcType=DECIMAL},
      </if>
      <if test="yjgjtwcjaxj != null" >
        #{yjgjtwcjaxj,jdbcType=DECIMAL},
      </if>
      <if test="yjgjtwcja1 != null" >
        #{yjgjtwcja1,jdbcType=DECIMAL},
      </if>
      <if test="yjgjtwcja2 != null" >
        #{yjgjtwcja2,jdbcType=DECIMAL},
      </if>
      <if test="yjgjtwcja3 != null" >
        #{yjgjtwcja3,jdbcType=DECIMAL},
      </if>
      <if test="yjgjtwcja4 != null" >
        #{yjgjtwcja4,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtwcjlxj != null" >
        #{ygjjtwcjlxj,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtwcjl1 != null" >
        #{ygjjtwcjl1,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtwcjl2 != null" >
        #{ygjjtwcjl2,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtwcjl3 != null" >
        #{ygjjtwcjl3,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtwcjl4 != null" >
        #{ygjjtwcjl4,jdbcType=DECIMAL},
      </if>
      <if test="zdcqxj != null" >
        #{zdcqxj,jdbcType=DECIMAL},
      </if>
      <if test="zdcq1 != null" >
        #{zdcq1,jdbcType=DECIMAL},
      </if>
      <if test="zdcq2 != null" >
        #{zdcq2,jdbcType=DECIMAL},
      </if>
      <if test="zdcq3 != null" >
        #{zdcq3,jdbcType=DECIMAL},
      </if>
      <if test="zdcq4 != null" >
        #{zdcq4,jdbcType=DECIMAL},
      </if>
      <if test="gxyysrxj != null" >
        #{gxyysrxj,jdbcType=DECIMAL},
      </if>
      <if test="gxyysrxj1 != null" >
        #{gxyysrxj1,jdbcType=DECIMAL},
      </if>
      <if test="gxyysrxj2 != null" >
        #{gxyysrxj2,jdbcType=DECIMAL},
      </if>
      <if test="gxyysrxj3 != null" >
        #{gxyysrxj3,jdbcType=DECIMAL},
      </if>
      <if test="gxyysrxj4 != null" >
        #{gxyysrxj4,jdbcType=DECIMAL},
      </if>
      <if test="xmgsrlxj != null" >
        #{xmgsrlxj,jdbcType=DECIMAL},
      </if>
      <if test="xmgsrl1 != null" >
        #{xmgsrl1,jdbcType=DECIMAL},
      </if>
      <if test="xmgsrl2 != null" >
        #{xmgsrl2,jdbcType=DECIMAL},
      </if>
      <if test="xmgsrl3 != null" >
        #{xmgsrl3,jdbcType=DECIMAL},
      </if>
      <if test="xmgsrl4 != null" >
        #{xmgsrl4,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtzcblrxj != null" >
        #{ygjjtzcblrxj,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtzcblr1 != null" >
        #{ygjjtzcblr1,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtzcblr2 != null" >
        #{ygjjtzcblr2,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtzcblr3 != null" >
        #{ygjjtzcblr3,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtzcblr4 != null" >
        #{ygjjtzcblr4,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtgfblrxj != null" >
        #{ygjjtgfblrxj,jdbcType=VARCHAR},
      </if>
      <if test="ygjjtgfblr1 != null" >
        #{ygjjtgfblr1,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtgfblr2 != null" >
        #{ygjjtgfblr2,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtgfblr3 != null" >
        #{ygjjtgfblr3,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtgfblr4 != null" >
        #{ygjjtgfblr4,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sfzb != null" >
        #{sfzb,jdbcType=VARCHAR},
      </if>
      <if test="dwlb != null" >
        #{dwlb,jdbcType=VARCHAR},
      </if>
      <if test="dwsort != null" >
        #{dwsort,jdbcType=VARCHAR},
      </if>
      <if test="xmpx != null" >
        #{xmpx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ProInvXmndtzjh" >
    update pro_inv_xmndtzjh
    <set >
      <if test="xmid != null" >
        xmid = #{xmid,jdbcType=CHAR},
      </if>
      <if test="xmmc != null" >
        xmmc = #{xmmc,jdbcType=VARCHAR},
      </if>
      <if test="syb != null" >
        syb = #{syb,jdbcType=VARCHAR},
      </if>
      <if test="periodValue != null" >
        period_value = #{periodValue,jdbcType=VARCHAR},
      </if>
      <if test="bbname != null" >
        bbname = #{bbname,jdbcType=VARCHAR},
      </if>
      <if test="bbh != null" >
        bbh = #{bbh,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="tzwc1 != null" >
        tzwc1 = #{tzwc1,jdbcType=DECIMAL},
      </if>
      <if test="tzwc2 != null" >
        tzwc2 = #{tzwc2,jdbcType=DECIMAL},
      </if>
      <if test="tzwc3 != null" >
        tzwc3 = #{tzwc3,jdbcType=DECIMAL},
      </if>
      <if test="tzwc4 != null" >
        tzwc4 = #{tzwc4,jdbcType=DECIMAL},
      </if>
      <if test="xmztjawcjaxj != null" >
        xmztjawcjaxj = #{xmztjawcjaxj,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcja1 != null" >
        xmztwcja1 = #{xmztwcja1,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcja2 != null" >
        xmztwcja2 = #{xmztwcja2,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcja3 != null" >
        xmztwcja3 = #{xmztwcja3,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcja4 != null" >
        xmztwcja4 = #{xmztwcja4,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcjlxj != null" >
        xmztwcjlxj = #{xmztwcjlxj,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcjl1 != null" >
        xmztwcjl1 = #{xmztwcjl1,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcjl2 != null" >
        xmztwcjl2 = #{xmztwcjl2,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcjl3 != null" >
        xmztwcjl3 = #{xmztwcjl3,jdbcType=DECIMAL},
      </if>
      <if test="xmztwcjl4 != null" >
        xmztwcjl4 = #{xmztwcjl4,jdbcType=DECIMAL},
      </if>
      <if test="yjgjtwcjaxj != null" >
        yjgjtwcjaxj = #{yjgjtwcjaxj,jdbcType=DECIMAL},
      </if>
      <if test="yjgjtwcja1 != null" >
        yjgjtwcja1 = #{yjgjtwcja1,jdbcType=DECIMAL},
      </if>
      <if test="yjgjtwcja2 != null" >
        yjgjtwcja2 = #{yjgjtwcja2,jdbcType=DECIMAL},
      </if>
      <if test="yjgjtwcja3 != null" >
        yjgjtwcja3 = #{yjgjtwcja3,jdbcType=DECIMAL},
      </if>
      <if test="yjgjtwcja4 != null" >
        yjgjtwcja4 = #{yjgjtwcja4,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtwcjlxj != null" >
        ygjjtwcjlxj = #{ygjjtwcjlxj,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtwcjl1 != null" >
        ygjjtwcjl1 = #{ygjjtwcjl1,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtwcjl2 != null" >
        ygjjtwcjl2 = #{ygjjtwcjl2,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtwcjl3 != null" >
        ygjjtwcjl3 = #{ygjjtwcjl3,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtwcjl4 != null" >
        ygjjtwcjl4 = #{ygjjtwcjl4,jdbcType=DECIMAL},
      </if>
      <if test="zdcqxj != null" >
        zdcqxj = #{zdcqxj,jdbcType=DECIMAL},
      </if>
      <if test="zdcq1 != null" >
        zdcq1 = #{zdcq1,jdbcType=DECIMAL},
      </if>
      <if test="zdcq2 != null" >
        zdcq2 = #{zdcq2,jdbcType=DECIMAL},
      </if>
      <if test="zdcq3 != null" >
        zdcq3 = #{zdcq3,jdbcType=DECIMAL},
      </if>
      <if test="zdcq4 != null" >
        zdcq4 = #{zdcq4,jdbcType=DECIMAL},
      </if>
      <if test="gxyysrxj != null" >
        gxyysrxj = #{gxyysrxj,jdbcType=DECIMAL},
      </if>
      <if test="gxyysrxj1 != null" >
        gxyysrxj1 = #{gxyysrxj1,jdbcType=DECIMAL},
      </if>
      <if test="gxyysrxj2 != null" >
        gxyysrxj2 = #{gxyysrxj2,jdbcType=DECIMAL},
      </if>
      <if test="gxyysrxj3 != null" >
        gxyysrxj3 = #{gxyysrxj3,jdbcType=DECIMAL},
      </if>
      <if test="gxyysrxj4 != null" >
        gxyysrxj4 = #{gxyysrxj4,jdbcType=DECIMAL},
      </if>
      <if test="xmgsrlxj != null" >
        xmgsrlxj = #{xmgsrlxj,jdbcType=DECIMAL},
      </if>
      <if test="xmgsrl1 != null" >
        xmgsrl1 = #{xmgsrl1,jdbcType=DECIMAL},
      </if>
      <if test="xmgsrl2 != null" >
        xmgsrl2 = #{xmgsrl2,jdbcType=DECIMAL},
      </if>
      <if test="xmgsrl3 != null" >
        xmgsrl3 = #{xmgsrl3,jdbcType=DECIMAL},
      </if>
      <if test="xmgsrl4 != null" >
        xmgsrl4 = #{xmgsrl4,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtzcblrxj != null" >
        ygjjtzcblrxj = #{ygjjtzcblrxj,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtzcblr1 != null" >
        ygjjtzcblr1 = #{ygjjtzcblr1,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtzcblr2 != null" >
        ygjjtzcblr2 = #{ygjjtzcblr2,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtzcblr3 != null" >
        ygjjtzcblr3 = #{ygjjtzcblr3,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtzcblr4 != null" >
        ygjjtzcblr4 = #{ygjjtzcblr4,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtgfblrxj != null" >
        ygjjtgfblrxj = #{ygjjtgfblrxj,jdbcType=VARCHAR},
      </if>
      <if test="ygjjtgfblr1 != null" >
        ygjjtgfblr1 = #{ygjjtgfblr1,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtgfblr2 != null" >
        ygjjtgfblr2 = #{ygjjtgfblr2,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtgfblr3 != null" >
        ygjjtgfblr3 = #{ygjjtgfblr3,jdbcType=DECIMAL},
      </if>
      <if test="ygjjtgfblr4 != null" >
        ygjjtgfblr4 = #{ygjjtgfblr4,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sfzb != null" >
        sfzb = #{sfzb,jdbcType=VARCHAR},
      </if>
      <if test="dwlb != null" >
        dwlb = #{dwlb,jdbcType=VARCHAR},
      </if>
      <if test="dwsort != null" >
        dwsort = #{dwsort,jdbcType=VARCHAR},
      </if>
      <if test="xmpx != null" >
        xmpx = #{xmpx,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ProInvXmndtzjh" >
    update pro_inv_xmndtzjh
    set       xmid = #{xmid,jdbcType=CHAR},
      xmmc = #{xmmc,jdbcType=VARCHAR},
      syb = #{syb,jdbcType=VARCHAR},
      period_value = #{periodValue,jdbcType=VARCHAR},
      bbname = #{bbname,jdbcType=VARCHAR},
      bbh = #{bbh,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      tzwc1 = #{tzwc1,jdbcType=DECIMAL},
      tzwc2 = #{tzwc2,jdbcType=DECIMAL},
      tzwc3 = #{tzwc3,jdbcType=DECIMAL},
      tzwc4 = #{tzwc4,jdbcType=DECIMAL},
      xmztjawcjaxj = #{xmztjawcjaxj,jdbcType=DECIMAL},
      xmztwcja1 = #{xmztwcja1,jdbcType=DECIMAL},
      xmztwcja2 = #{xmztwcja2,jdbcType=DECIMAL},
      xmztwcja3 = #{xmztwcja3,jdbcType=DECIMAL},
      xmztwcja4 = #{xmztwcja4,jdbcType=DECIMAL},
      xmztwcjlxj = #{xmztwcjlxj,jdbcType=DECIMAL},
      xmztwcjl1 = #{xmztwcjl1,jdbcType=DECIMAL},
      xmztwcjl2 = #{xmztwcjl2,jdbcType=DECIMAL},
      xmztwcjl3 = #{xmztwcjl3,jdbcType=DECIMAL},
      xmztwcjl4 = #{xmztwcjl4,jdbcType=DECIMAL},
      yjgjtwcjaxj = #{yjgjtwcjaxj,jdbcType=DECIMAL},
      yjgjtwcja1 = #{yjgjtwcja1,jdbcType=DECIMAL},
      yjgjtwcja2 = #{yjgjtwcja2,jdbcType=DECIMAL},
      yjgjtwcja3 = #{yjgjtwcja3,jdbcType=DECIMAL},
      yjgjtwcja4 = #{yjgjtwcja4,jdbcType=DECIMAL},
      ygjjtwcjlxj = #{ygjjtwcjlxj,jdbcType=DECIMAL},
      ygjjtwcjl1 = #{ygjjtwcjl1,jdbcType=DECIMAL},
      ygjjtwcjl2 = #{ygjjtwcjl2,jdbcType=DECIMAL},
      ygjjtwcjl3 = #{ygjjtwcjl3,jdbcType=DECIMAL},
      ygjjtwcjl4 = #{ygjjtwcjl4,jdbcType=DECIMAL},
      zdcqxj = #{zdcqxj,jdbcType=DECIMAL},
      zdcq1 = #{zdcq1,jdbcType=DECIMAL},
      zdcq2 = #{zdcq2,jdbcType=DECIMAL},
      zdcq3 = #{zdcq3,jdbcType=DECIMAL},
      zdcq4 = #{zdcq4,jdbcType=DECIMAL},
      gxyysrxj = #{gxyysrxj,jdbcType=DECIMAL},
      gxyysrxj1 = #{gxyysrxj1,jdbcType=DECIMAL},
      gxyysrxj2 = #{gxyysrxj2,jdbcType=DECIMAL},
      gxyysrxj3 = #{gxyysrxj3,jdbcType=DECIMAL},
      gxyysrxj4 = #{gxyysrxj4,jdbcType=DECIMAL},
      xmgsrlxj = #{xmgsrlxj,jdbcType=DECIMAL},
      xmgsrl1 = #{xmgsrl1,jdbcType=DECIMAL},
      xmgsrl2 = #{xmgsrl2,jdbcType=DECIMAL},
      xmgsrl3 = #{xmgsrl3,jdbcType=DECIMAL},
      xmgsrl4 = #{xmgsrl4,jdbcType=DECIMAL},
      ygjjtzcblrxj = #{ygjjtzcblrxj,jdbcType=DECIMAL},
      ygjjtzcblr1 = #{ygjjtzcblr1,jdbcType=DECIMAL},
      ygjjtzcblr2 = #{ygjjtzcblr2,jdbcType=DECIMAL},
      ygjjtzcblr3 = #{ygjjtzcblr3,jdbcType=DECIMAL},
      ygjjtzcblr4 = #{ygjjtzcblr4,jdbcType=DECIMAL},
      ygjjtgfblrxj = #{ygjjtgfblrxj,jdbcType=VARCHAR},
      ygjjtgfblr1 = #{ygjjtgfblr1,jdbcType=DECIMAL},
      ygjjtgfblr2 = #{ygjjtgfblr2,jdbcType=DECIMAL},
      ygjjtgfblr3 = #{ygjjtgfblr3,jdbcType=DECIMAL},
      ygjjtgfblr4 = #{ygjjtgfblr4,jdbcType=DECIMAL},
      bz = #{bz,jdbcType=VARCHAR},
      sfzb = #{sfzb,jdbcType=VARCHAR},
      dwlb = #{dwlb,jdbcType=VARCHAR},
      dwsort = #{dwsort,jdbcType=VARCHAR},
      xmpx = #{xmpx,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByProInvXmndtzjhList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ProInvXmndtzjh" >
    select 
    <include refid="Base_Column_List" />
    from pro_inv_xmndtzjh
    where del_flag = '0'
    <if test="id != null and id != ''" >
     and id = #{id,jdbcType=}
    </if>
    <if test="xmid != null and xmid != ''" >
     and xmid = #{xmid,jdbcType=CHAR}
    </if>
    <if test="xmmc != null and xmmc != ''" >
     and xmmc = #{xmmc,jdbcType=VARCHAR}
    </if>
    <if test="syb != null and syb != ''" >
     and syb = #{syb,jdbcType=VARCHAR}
    </if>
    <if test="periodValue != null and periodValue != ''" >
     and period_value = #{periodValue,jdbcType=VARCHAR}
    </if>
    <if test="bbname != null and bbname != ''" >
     and bbname = #{bbname,jdbcType=VARCHAR}
    </if>
    <if test="bbh != null and bbh != ''" >
     and bbh = #{bbh,jdbcType=VARCHAR}
    </if>
    <if test="currency != null and currency != ''" >
     and currency = #{currency,jdbcType=VARCHAR}
    </if>
    <if test="tzwc1 != null and tzwc1 != ''" >
     and tzwc1 = #{tzwc1,jdbcType=DECIMAL}
    </if>
    <if test="tzwc2 != null and tzwc2 != ''" >
     and tzwc2 = #{tzwc2,jdbcType=DECIMAL}
    </if>
    <if test="tzwc3 != null and tzwc3 != ''" >
     and tzwc3 = #{tzwc3,jdbcType=DECIMAL}
    </if>
    <if test="tzwc4 != null and tzwc4 != ''" >
     and tzwc4 = #{tzwc4,jdbcType=DECIMAL}
    </if>
    <if test="xmztjawcjaxj != null and xmztjawcjaxj != ''" >
     and xmztjawcjaxj = #{xmztjawcjaxj,jdbcType=DECIMAL}
    </if>
    <if test="xmztwcja1 != null and xmztwcja1 != ''" >
     and xmztwcja1 = #{xmztwcja1,jdbcType=DECIMAL}
    </if>
    <if test="xmztwcja2 != null and xmztwcja2 != ''" >
     and xmztwcja2 = #{xmztwcja2,jdbcType=DECIMAL}
    </if>
    <if test="xmztwcja3 != null and xmztwcja3 != ''" >
     and xmztwcja3 = #{xmztwcja3,jdbcType=DECIMAL}
    </if>
    <if test="xmztwcja4 != null and xmztwcja4 != ''" >
     and xmztwcja4 = #{xmztwcja4,jdbcType=DECIMAL}
    </if>
    <if test="xmztwcjlxj != null and xmztwcjlxj != ''" >
     and xmztwcjlxj = #{xmztwcjlxj,jdbcType=DECIMAL}
    </if>
    <if test="xmztwcjl1 != null and xmztwcjl1 != ''" >
     and xmztwcjl1 = #{xmztwcjl1,jdbcType=DECIMAL}
    </if>
    <if test="xmztwcjl2 != null and xmztwcjl2 != ''" >
     and xmztwcjl2 = #{xmztwcjl2,jdbcType=DECIMAL}
    </if>
    <if test="xmztwcjl3 != null and xmztwcjl3 != ''" >
     and xmztwcjl3 = #{xmztwcjl3,jdbcType=DECIMAL}
    </if>
    <if test="xmztwcjl4 != null and xmztwcjl4 != ''" >
     and xmztwcjl4 = #{xmztwcjl4,jdbcType=DECIMAL}
    </if>
    <if test="yjgjtwcjaxj != null and yjgjtwcjaxj != ''" >
     and yjgjtwcjaxj = #{yjgjtwcjaxj,jdbcType=DECIMAL}
    </if>
    <if test="yjgjtwcja1 != null and yjgjtwcja1 != ''" >
     and yjgjtwcja1 = #{yjgjtwcja1,jdbcType=DECIMAL}
    </if>
    <if test="yjgjtwcja2 != null and yjgjtwcja2 != ''" >
     and yjgjtwcja2 = #{yjgjtwcja2,jdbcType=DECIMAL}
    </if>
    <if test="yjgjtwcja3 != null and yjgjtwcja3 != ''" >
     and yjgjtwcja3 = #{yjgjtwcja3,jdbcType=DECIMAL}
    </if>
    <if test="yjgjtwcja4 != null and yjgjtwcja4 != ''" >
     and yjgjtwcja4 = #{yjgjtwcja4,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtwcjlxj != null and ygjjtwcjlxj != ''" >
     and ygjjtwcjlxj = #{ygjjtwcjlxj,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtwcjl1 != null and ygjjtwcjl1 != ''" >
     and ygjjtwcjl1 = #{ygjjtwcjl1,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtwcjl2 != null and ygjjtwcjl2 != ''" >
     and ygjjtwcjl2 = #{ygjjtwcjl2,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtwcjl3 != null and ygjjtwcjl3 != ''" >
     and ygjjtwcjl3 = #{ygjjtwcjl3,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtwcjl4 != null and ygjjtwcjl4 != ''" >
     and ygjjtwcjl4 = #{ygjjtwcjl4,jdbcType=DECIMAL}
    </if>
    <if test="zdcqxj != null and zdcqxj != ''" >
     and zdcqxj = #{zdcqxj,jdbcType=DECIMAL}
    </if>
    <if test="zdcq1 != null and zdcq1 != ''" >
     and zdcq1 = #{zdcq1,jdbcType=DECIMAL}
    </if>
    <if test="zdcq2 != null and zdcq2 != ''" >
     and zdcq2 = #{zdcq2,jdbcType=DECIMAL}
    </if>
    <if test="zdcq3 != null and zdcq3 != ''" >
     and zdcq3 = #{zdcq3,jdbcType=DECIMAL}
    </if>
    <if test="zdcq4 != null and zdcq4 != ''" >
     and zdcq4 = #{zdcq4,jdbcType=DECIMAL}
    </if>
    <if test="gxyysrxj != null and gxyysrxj != ''" >
     and gxyysrxj = #{gxyysrxj,jdbcType=DECIMAL}
    </if>
    <if test="gxyysrxj1 != null and gxyysrxj1 != ''" >
     and gxyysrxj1 = #{gxyysrxj1,jdbcType=DECIMAL}
    </if>
    <if test="gxyysrxj2 != null and gxyysrxj2 != ''" >
     and gxyysrxj2 = #{gxyysrxj2,jdbcType=DECIMAL}
    </if>
    <if test="gxyysrxj3 != null and gxyysrxj3 != ''" >
     and gxyysrxj3 = #{gxyysrxj3,jdbcType=DECIMAL}
    </if>
    <if test="gxyysrxj4 != null and gxyysrxj4 != ''" >
     and gxyysrxj4 = #{gxyysrxj4,jdbcType=DECIMAL}
    </if>
    <if test="xmgsrlxj != null and xmgsrlxj != ''" >
     and xmgsrlxj = #{xmgsrlxj,jdbcType=DECIMAL}
    </if>
    <if test="xmgsrl1 != null and xmgsrl1 != ''" >
     and xmgsrl1 = #{xmgsrl1,jdbcType=DECIMAL}
    </if>
    <if test="xmgsrl2 != null and xmgsrl2 != ''" >
     and xmgsrl2 = #{xmgsrl2,jdbcType=DECIMAL}
    </if>
    <if test="xmgsrl3 != null and xmgsrl3 != ''" >
     and xmgsrl3 = #{xmgsrl3,jdbcType=DECIMAL}
    </if>
    <if test="xmgsrl4 != null and xmgsrl4 != ''" >
     and xmgsrl4 = #{xmgsrl4,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtzcblrxj != null and ygjjtzcblrxj != ''" >
     and ygjjtzcblrxj = #{ygjjtzcblrxj,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtzcblr1 != null and ygjjtzcblr1 != ''" >
     and ygjjtzcblr1 = #{ygjjtzcblr1,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtzcblr2 != null and ygjjtzcblr2 != ''" >
     and ygjjtzcblr2 = #{ygjjtzcblr2,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtzcblr3 != null and ygjjtzcblr3 != ''" >
     and ygjjtzcblr3 = #{ygjjtzcblr3,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtzcblr4 != null and ygjjtzcblr4 != ''" >
     and ygjjtzcblr4 = #{ygjjtzcblr4,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtgfblrxj != null and ygjjtgfblrxj != ''" >
     and ygjjtgfblrxj = #{ygjjtgfblrxj,jdbcType=VARCHAR}
    </if>
    <if test="ygjjtgfblr1 != null and ygjjtgfblr1 != ''" >
     and ygjjtgfblr1 = #{ygjjtgfblr1,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtgfblr2 != null and ygjjtgfblr2 != ''" >
     and ygjjtgfblr2 = #{ygjjtgfblr2,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtgfblr3 != null and ygjjtgfblr3 != ''" >
     and ygjjtgfblr3 = #{ygjjtgfblr3,jdbcType=DECIMAL}
    </if>
    <if test="ygjjtgfblr4 != null and ygjjtgfblr4 != ''" >
     and ygjjtgfblr4 = #{ygjjtgfblr4,jdbcType=DECIMAL}
    </if>
    <if test="bz != null and bz != ''" >
     and bz = #{bz,jdbcType=VARCHAR}
    </if>
    <if test="sfzb != null and sfzb != ''" >
     and sfzb = #{sfzb,jdbcType=VARCHAR}
    </if>
    <if test="dwlb != null and dwlb != ''" >
     and dwlb = #{dwlb,jdbcType=VARCHAR}
    </if>
    <if test="dwsort != null and dwsort != ''" >
     and dwsort = #{dwsort,jdbcType=VARCHAR}
    </if>
    <if test="xmpx != null and xmpx != ''" >
     and xmpx = #{xmpx,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateProInvXmndtzjh" parameterType="com.apih5.mybatis.pojo.ProInvXmndtzjh" >
    <![CDATA[ 
        update pro_inv_xmndtzjh
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.id} 
     </foreach>
  </delete>
</mapper>
