<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjTzSafetyEmergencyPlanMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjTzSafetyEmergencyPlan" >
    <id column="emergency_plan_id" property="emergencyPlanId" jdbcType="CHAR" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="subprojects_id" property="subprojectsId" jdbcType="VARCHAR" />
    <result column="subprojects_name" property="subprojectsName" jdbcType="VARCHAR" />
    <result column="emergency_plan_title" property="emergencyPlanTitle" jdbcType="VARCHAR" />
    <result column="emergency_plan_content" property="emergencyPlanContent" jdbcType="VARCHAR" />
    <result column="emergency_plan_date" property="emergencyPlanDate" jdbcType="TIMESTAMP" />
    <result column="emergency_plan_user" property="emergencyPlanUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    emergency_plan_id, project_id, project_name, subprojects_id, subprojects_name, 
    emergency_plan_title, emergency_plan_content, emergency_plan_date, emergency_plan_user, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_qhse_safety_emergency_plan
    where emergency_plan_id = #{emergencyPlanId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_tz_qhse_safety_emergency_plan
    where emergency_plan_id = #{emergencyPlanId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyEmergencyPlan" >
    insert into zj_tz_qhse_safety_emergency_plan (emergency_plan_id, project_id, project_name, 
      subprojects_id, subprojects_name, emergency_plan_title, 
      emergency_plan_content, emergency_plan_date, emergency_plan_user, 
      del_flag, create_time, create_user, 
      create_user_name, modify_time, modify_user, 
      modify_user_name
      )
    values (#{emergencyPlanId,jdbcType=CHAR}, #{projectId,jdbcType=CHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{subprojectsId,jdbcType=VARCHAR}, #{subprojectsName,jdbcType=VARCHAR}, #{emergencyPlanTitle,jdbcType=VARCHAR}, 
      #{emergencyPlanContent,jdbcType=VARCHAR}, #{emergencyPlanDate,jdbcType=TIMESTAMP}, #{emergencyPlanUser,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
      #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyEmergencyPlan" >
    insert into zj_tz_qhse_safety_emergency_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="emergencyPlanId != null" >
        emergency_plan_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="subprojectsId != null" >
        subprojects_id,
      </if>
      <if test="subprojectsName != null" >
        subprojects_name,
      </if>
      <if test="emergencyPlanTitle != null" >
        emergency_plan_title,
      </if>
      <if test="emergencyPlanContent != null" >
        emergency_plan_content,
      </if>
      <if test="emergencyPlanDate != null" >
        emergency_plan_date,
      </if>
      <if test="emergencyPlanUser != null" >
        emergency_plan_user,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="emergencyPlanId != null" >
        #{emergencyPlanId,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsId != null" >
        #{subprojectsId,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsName != null" >
        #{subprojectsName,jdbcType=VARCHAR},
      </if>
      <if test="emergencyPlanTitle != null" >
        #{emergencyPlanTitle,jdbcType=VARCHAR},
      </if>
      <if test="emergencyPlanContent != null" >
        #{emergencyPlanContent,jdbcType=VARCHAR},
      </if>
      <if test="emergencyPlanDate != null" >
        #{emergencyPlanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="emergencyPlanUser != null" >
        #{emergencyPlanUser,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyEmergencyPlan" >
    update zj_tz_qhse_safety_emergency_plan
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsId != null" >
        subprojects_id = #{subprojectsId,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsName != null" >
        subprojects_name = #{subprojectsName,jdbcType=VARCHAR},
      </if>
      <if test="emergencyPlanTitle != null" >
        emergency_plan_title = #{emergencyPlanTitle,jdbcType=VARCHAR},
      </if>
      <if test="emergencyPlanContent != null" >
        emergency_plan_content = #{emergencyPlanContent,jdbcType=VARCHAR},
      </if>
      <if test="emergencyPlanDate != null" >
        emergency_plan_date = #{emergencyPlanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="emergencyPlanUser != null" >
        emergency_plan_user = #{emergencyPlanUser,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where emergency_plan_id = #{emergencyPlanId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyEmergencyPlan" >
    update zj_tz_qhse_safety_emergency_plan
    set       project_id = #{projectId,jdbcType=CHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      subprojects_id = #{subprojectsId,jdbcType=VARCHAR},
      subprojects_name = #{subprojectsName,jdbcType=VARCHAR},
      emergency_plan_title = #{emergencyPlanTitle,jdbcType=VARCHAR},
      emergency_plan_content = #{emergencyPlanContent,jdbcType=VARCHAR},
      emergency_plan_date = #{emergencyPlanDate,jdbcType=TIMESTAMP},
      emergency_plan_user = #{emergencyPlanUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where emergency_plan_id = #{emergencyPlanId,jdbcType=CHAR}
  </update>
  <select id="selectByZjTzSafetyEmergencyPlanList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyEmergencyPlan" >
    select 
    zj_tz_qhse_safety_emergency_plan.emergency_plan_id, zj_tz_qhse_safety_emergency_plan.project_id, zj_tz_pro_manage.project_name, 
    zj_tz_qhse_safety_emergency_plan.subprojects_id, zj_tz_qhse_safety_emergency_plan.subprojects_name, zj_tz_qhse_safety_emergency_plan.emergency_plan_title, 
    zj_tz_qhse_safety_emergency_plan.emergency_plan_content, zj_tz_qhse_safety_emergency_plan.emergency_plan_date, zj_tz_qhse_safety_emergency_plan.emergency_plan_user, 
    zj_tz_qhse_safety_emergency_plan.del_flag, zj_tz_qhse_safety_emergency_plan.create_time, zj_tz_qhse_safety_emergency_plan.create_user, zj_tz_qhse_safety_emergency_plan.create_user_name, 
    zj_tz_qhse_safety_emergency_plan.modify_time, zj_tz_qhse_safety_emergency_plan.modify_user, zj_tz_qhse_safety_emergency_plan.modify_user_name
    from zj_tz_qhse_safety_emergency_plan left join zj_tz_pro_manage on zj_tz_pro_manage.project_id = zj_tz_qhse_safety_emergency_plan.project_id and zj_tz_pro_manage.del_flag = '0'
    where zj_tz_qhse_safety_emergency_plan.del_flag = '0'
    <if test="projectId != null and projectId != ''" >
     and zj_tz_qhse_safety_emergency_plan.project_id = #{projectId,jdbcType=CHAR}
    </if>
    <if test="_parameter != null and _parameter.projectIdSql != null and _parameter.projectIdSql != ''">
     and zj_tz_qhse_safety_emergency_plan.project_id in (${projectIdSql})
    </if>       
    <if test="projectName != null and projectName != ''" >
     <!-- and project_name = #{projectName,jdbcType=VARCHAR} -->
     and zj_tz_pro_manage.project_name like CONCAT('%', #{projectName,jdbcType=VARCHAR}, '%')      
    </if>
    <if test="subprojectsId != null and subprojectsId != ''" >
     and zj_tz_qhse_safety_emergency_plan.subprojects_id = #{subprojectsId,jdbcType=VARCHAR}
    </if>
    <if test="subprojectsName != null and subprojectsName != ''" >
     and zj_tz_qhse_safety_emergency_plan.subprojects_name = #{subprojectsName,jdbcType=VARCHAR}
    </if>
    <if test="emergencyPlanTitle != null and emergencyPlanTitle != ''" >
     <!-- and emergency_plan_title = #{emergencyPlanTitle,jdbcType=VARCHAR} -->
     and zj_tz_qhse_safety_emergency_plan.emergency_plan_title like CONCAT('%', #{emergencyPlanTitle,jdbcType=VARCHAR}, '%')      
    </if>
    <if test="emergencyPlanContent != null and emergencyPlanContent != ''" >
     and zj_tz_qhse_safety_emergency_plan.emergency_plan_content = #{emergencyPlanContent,jdbcType=VARCHAR}
    </if>
    <if test="emergencyPlanDate != null" >
     and zj_tz_qhse_safety_emergency_plan.emergency_plan_date = #{emergencyPlanDate,jdbcType=TIMESTAMP}
    </if>
    <if test="emergencyPlanUser != null and emergencyPlanUser != ''" >
     and zj_tz_qhse_safety_emergency_plan.emergency_plan_user = #{emergencyPlanUser,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and zj_tz_qhse_safety_emergency_plan.create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and zj_tz_qhse_safety_emergency_plan.modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY zj_tz_qhse_safety_emergency_plan.modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZjTzSafetyEmergencyPlan" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyEmergencyPlan" >
    <![CDATA[ 
        update zj_tz_qhse_safety_emergency_plan
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and emergency_plan_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.emergencyPlanId} 
     </foreach>
  </delete>
</mapper>
