<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjTzPermissionSelectMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjTzPermissionSelect" >
    <id column="permission_select_id" property="permissionSelectId" jdbcType="CHAR" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_short_name" property="projectShortName" jdbcType="VARCHAR" />
    <result column="user_key" property="userKey" jdbcType="CHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="CHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="CHAR" />
    <result column="ext4" property="ext4" jdbcType="VARCHAR" />
    <result column="ext5" property="ext5" jdbcType="CHAR" />
    <result column="ext6" property="ext6" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    permission_select_id, project_id, project_name, project_short_name, user_key, 
    real_name, ext1, ext2, ext3, ext4, 
    ext5, ext6, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_permission_select
    where permission_select_id = #{permissionSelectId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_tz_permission_select
    where permission_select_id = #{permissionSelectId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjTzPermissionSelect" >
    insert into zj_tz_permission_select (permission_select_id, project_id, project_name, 
      project_short_name, user_key, real_name, 
      ext1, ext2, ext3, 
      ext4, ext5, ext6, 
      del_flag, create_time, create_user, 
      create_user_name, modify_time, modify_user, 
      modify_user_name
      )
    values (#{permissionSelectId,jdbcType=CHAR}, #{projectId,jdbcType=CHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{projectShortName,jdbcType=VARCHAR}, #{userKey,jdbcType=CHAR}, #{realName,jdbcType=VARCHAR}, 
      #{ext1,jdbcType=CHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=CHAR}, 
      #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=CHAR}, #{ext6,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
      #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjTzPermissionSelect" >
    insert into zj_tz_permission_select
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionSelectId != null" >
        permission_select_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectShortName != null" >
        project_short_name,
      </if>
      <if test="userKey != null" >
        user_key,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="ext3 != null" >
        ext3,
      </if>
      <if test="ext4 != null" >
        ext4,
      </if>
      <if test="ext5 != null" >
        ext5,
      </if>
      <if test="ext6 != null" >
        ext6,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionSelectId != null" >
        #{permissionSelectId,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectShortName != null" >
        #{projectShortName,jdbcType=VARCHAR},
      </if>
      <if test="userKey != null" >
        #{userKey,jdbcType=CHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=CHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=CHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        #{ext5,jdbcType=CHAR},
      </if>
      <if test="ext6 != null" >
        #{ext6,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjTzPermissionSelect" >
    update zj_tz_permission_select
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectShortName != null" >
        project_short_name = #{projectShortName,jdbcType=VARCHAR},
      </if>
      <if test="userKey != null" >
        user_key = #{userKey,jdbcType=CHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=CHAR},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3,jdbcType=CHAR},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        ext5 = #{ext5,jdbcType=CHAR},
      </if>
      <if test="ext6 != null" >
        ext6 = #{ext6,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where permission_select_id = #{permissionSelectId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjTzPermissionSelect" >
    update zj_tz_permission_select
    set       project_id = #{projectId,jdbcType=CHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_short_name = #{projectShortName,jdbcType=VARCHAR},
      user_key = #{userKey,jdbcType=CHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=CHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=CHAR},
      ext4 = #{ext4,jdbcType=VARCHAR},
      ext5 = #{ext5,jdbcType=CHAR},
      ext6 = #{ext6,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where permission_select_id = #{permissionSelectId,jdbcType=CHAR}
  </update>
  <select id="selectByZjTzPermissionSelectList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzPermissionSelect" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_permission_select
    where del_flag = '0'
    <if test="projectId != null and projectId != ''" >
     and project_id = #{projectId,jdbcType=CHAR}
    </if>
    <if test="projectName != null and projectName != ''" >
     and project_name = #{projectName,jdbcType=VARCHAR}
    </if>
    <if test="projectShortName != null and projectShortName != ''" >
     and project_short_name = #{projectShortName,jdbcType=VARCHAR}
    </if>
    <if test="userKey != null and userKey != ''" >
     and user_key = #{userKey,jdbcType=CHAR}
    </if>
    <if test="realName != null and realName != ''" >
     and real_name = #{realName,jdbcType=VARCHAR}
    </if>
    <if test="ext1 != null and ext1 != ''" >
     and ext1 = #{ext1,jdbcType=CHAR}
    </if>
    <if test="ext2 != null and ext2 != ''" >
     and ext2 = #{ext2,jdbcType=VARCHAR}
    </if>
    <if test="ext3 != null and ext3 != ''" >
     and ext3 = #{ext3,jdbcType=CHAR}
    </if>
    <if test="ext4 != null and ext4 != ''" >
     and ext4 = #{ext4,jdbcType=VARCHAR}
    </if>
    <if test="ext5 != null and ext5 != ''" >
     and ext5 = #{ext5,jdbcType=CHAR}
    </if>
    <if test="ext6 != null and ext6 != ''" >
     and ext6 = #{ext6,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZjTzPermissionSelect" parameterType="com.apih5.mybatis.pojo.ZjTzPermissionSelect" >
    <![CDATA[ 
        update zj_tz_permission_select
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and permission_select_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.permissionSelectId} 
     </foreach>
  </delete>
</mapper>
