<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjTzRunSchemeMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjTzRunScheme" >
    <id column="run_scheme_id" property="runSchemeId" jdbcType="CHAR" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="register_date" property="registerDate" jdbcType="DATE" />
    <result column="register_person" property="registerPerson" jdbcType="VARCHAR" />
    <result column="status_id" property="statusId" jdbcType="CHAR" />
    <result column="status_name" property="statusName" jdbcType="VARCHAR" />
    <result column="work_id" property="workId" jdbcType="CHAR" />
    <result column="apih5_flow_status" property="apih5FlowStatus" jdbcType="CHAR" />
    <result column="opinion_field1" property="opinionField1" jdbcType="VARCHAR" />
    <result column="opinion_field2" property="opinionField2" jdbcType="VARCHAR" />
    <result column="opinion_field3" property="opinionField3" jdbcType="VARCHAR" />
    <result column="opinion_field4" property="opinionField4" jdbcType="VARCHAR" />
    <result column="opinion_field5" property="opinionField5" jdbcType="VARCHAR" />
    <result column="opinion_field6" property="opinionField6" jdbcType="VARCHAR" />
    <result column="opinion_field7" property="opinionField7" jdbcType="VARCHAR" />
    <result column="opinion_field8" property="opinionField8" jdbcType="VARCHAR" />
    <result column="opinion_field9" property="opinionField9" jdbcType="VARCHAR" />
    <result column="opinion_field10" property="opinionField10" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    run_scheme_id, project_id, project_name, remark, register_date, 
    register_person, status_id, status_name, work_id, apih5_flow_status, 
    opinion_field1, opinion_field2, opinion_field3, opinion_field4, opinion_field5, 
    opinion_field6, opinion_field7, opinion_field8, opinion_field9, opinion_field10, 
    del_flag, create_time, create_user, create_user_name, modify_time, 
    modify_user, modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_run_scheme
    where run_scheme_id = #{runSchemeId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_tz_run_scheme
    where run_scheme_id = #{runSchemeId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjTzRunScheme" >
    insert into zj_tz_run_scheme (run_scheme_id, project_id, project_name, 
      remark, register_date, register_person, 
      status_id, status_name, work_id, 
      apih5_flow_status, opinion_field1, opinion_field2, 
      opinion_field3, opinion_field4, opinion_field5, 
      opinion_field6, opinion_field7, opinion_field8, 
      opinion_field9, opinion_field10, del_flag, 
      create_time, create_user, create_user_name, 
      modify_time, modify_user, modify_user_name
      )
    values (#{runSchemeId,jdbcType=CHAR}, #{projectId,jdbcType=CHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{registerDate,jdbcType=DATE}, #{registerPerson,jdbcType=VARCHAR}, 
      #{statusId,jdbcType=CHAR}, #{statusName,jdbcType=VARCHAR}, #{workId,jdbcType=CHAR}, 
      #{apih5FlowStatus,jdbcType=CHAR}, #{opinionField1,jdbcType=VARCHAR}, #{opinionField2,jdbcType=VARCHAR}, 
      #{opinionField3,jdbcType=VARCHAR}, #{opinionField4,jdbcType=VARCHAR}, #{opinionField5,jdbcType=VARCHAR}, 
      #{opinionField6,jdbcType=VARCHAR}, #{opinionField7,jdbcType=VARCHAR}, #{opinionField8,jdbcType=VARCHAR}, 
      #{opinionField9,jdbcType=VARCHAR}, #{opinionField10,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjTzRunScheme" >
    insert into zj_tz_run_scheme
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="runSchemeId != null" >
        run_scheme_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
      <if test="registerPerson != null" >
        register_person,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="statusName != null" >
        status_name,
      </if>
      <if test="workId != null" >
        work_id,
      </if>
      <if test="apih5FlowStatus != null" >
        apih5_flow_status,
      </if>
      <if test="opinionField1 != null" >
        opinion_field1,
      </if>
      <if test="opinionField2 != null" >
        opinion_field2,
      </if>
      <if test="opinionField3 != null" >
        opinion_field3,
      </if>
      <if test="opinionField4 != null" >
        opinion_field4,
      </if>
      <if test="opinionField5 != null" >
        opinion_field5,
      </if>
      <if test="opinionField6 != null" >
        opinion_field6,
      </if>
      <if test="opinionField7 != null" >
        opinion_field7,
      </if>
      <if test="opinionField8 != null" >
        opinion_field8,
      </if>
      <if test="opinionField9 != null" >
        opinion_field9,
      </if>
      <if test="opinionField10 != null" >
        opinion_field10,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="runSchemeId != null" >
        #{runSchemeId,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=DATE},
      </if>
      <if test="registerPerson != null" >
        #{registerPerson,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=CHAR},
      </if>
      <if test="statusName != null" >
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="workId != null" >
        #{workId,jdbcType=CHAR},
      </if>
      <if test="apih5FlowStatus != null" >
        #{apih5FlowStatus,jdbcType=CHAR},
      </if>
      <if test="opinionField1 != null" >
        #{opinionField1,jdbcType=VARCHAR},
      </if>
      <if test="opinionField2 != null" >
        #{opinionField2,jdbcType=VARCHAR},
      </if>
      <if test="opinionField3 != null" >
        #{opinionField3,jdbcType=VARCHAR},
      </if>
      <if test="opinionField4 != null" >
        #{opinionField4,jdbcType=VARCHAR},
      </if>
      <if test="opinionField5 != null" >
        #{opinionField5,jdbcType=VARCHAR},
      </if>
      <if test="opinionField6 != null" >
        #{opinionField6,jdbcType=VARCHAR},
      </if>
      <if test="opinionField7 != null" >
        #{opinionField7,jdbcType=VARCHAR},
      </if>
      <if test="opinionField8 != null" >
        #{opinionField8,jdbcType=VARCHAR},
      </if>
      <if test="opinionField9 != null" >
        #{opinionField9,jdbcType=VARCHAR},
      </if>
      <if test="opinionField10 != null" >
        #{opinionField10,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjTzRunScheme" >
    update zj_tz_run_scheme
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        register_date = #{registerDate,jdbcType=DATE},
      </if>
      <if test="registerPerson != null" >
        register_person = #{registerPerson,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=CHAR},
      </if>
      <if test="statusName != null" >
        status_name = #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="workId != null" >
        work_id = #{workId,jdbcType=CHAR},
      </if>
      <if test="apih5FlowStatus != null" >
        apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR},
      </if>
      <if test="opinionField1 != null" >
        opinion_field1 = #{opinionField1,jdbcType=VARCHAR},
      </if>
      <if test="opinionField2 != null" >
        opinion_field2 = #{opinionField2,jdbcType=VARCHAR},
      </if>
      <if test="opinionField3 != null" >
        opinion_field3 = #{opinionField3,jdbcType=VARCHAR},
      </if>
      <if test="opinionField4 != null" >
        opinion_field4 = #{opinionField4,jdbcType=VARCHAR},
      </if>
      <if test="opinionField5 != null" >
        opinion_field5 = #{opinionField5,jdbcType=VARCHAR},
      </if>
      <if test="opinionField6 != null" >
        opinion_field6 = #{opinionField6,jdbcType=VARCHAR},
      </if>
      <if test="opinionField7 != null" >
        opinion_field7 = #{opinionField7,jdbcType=VARCHAR},
      </if>
      <if test="opinionField8 != null" >
        opinion_field8 = #{opinionField8,jdbcType=VARCHAR},
      </if>
      <if test="opinionField9 != null" >
        opinion_field9 = #{opinionField9,jdbcType=VARCHAR},
      </if>
      <if test="opinionField10 != null" >
        opinion_field10 = #{opinionField10,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where run_scheme_id = #{runSchemeId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjTzRunScheme" >
    update zj_tz_run_scheme
    set       project_id = #{projectId,jdbcType=CHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=DATE},
      register_person = #{registerPerson,jdbcType=VARCHAR},
      status_id = #{statusId,jdbcType=CHAR},
      status_name = #{statusName,jdbcType=VARCHAR},
      work_id = #{workId,jdbcType=CHAR},
      apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR},
      opinion_field1 = #{opinionField1,jdbcType=VARCHAR},
      opinion_field2 = #{opinionField2,jdbcType=VARCHAR},
      opinion_field3 = #{opinionField3,jdbcType=VARCHAR},
      opinion_field4 = #{opinionField4,jdbcType=VARCHAR},
      opinion_field5 = #{opinionField5,jdbcType=VARCHAR},
      opinion_field6 = #{opinionField6,jdbcType=VARCHAR},
      opinion_field7 = #{opinionField7,jdbcType=VARCHAR},
      opinion_field8 = #{opinionField8,jdbcType=VARCHAR},
      opinion_field9 = #{opinionField9,jdbcType=VARCHAR},
      opinion_field10 = #{opinionField10,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where run_scheme_id = #{runSchemeId,jdbcType=CHAR}
  </update>
  <select id="selectByZjTzRunSchemeList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzRunScheme" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_run_scheme
    where del_flag = '0'
    <if test="projectId != null and projectId != ''" >
     and project_id = #{projectId,jdbcType=CHAR}
    </if>
    <if test="_parameter != null and _parameter.projectIdSql != null and _parameter.projectIdSql != ''">
     and project_id in (${projectIdSql})
    </if>
    <if test="projectName != null and projectName != ''" >
     and project_name = #{projectName,jdbcType=VARCHAR}
    </if>
    <if test="remark != null and remark != ''" >
     and remark = #{remark,jdbcType=VARCHAR}
    </if>
    <if test="registerDate != null" >
     and register_date = #{registerDate,jdbcType=DATE}
    </if>
    <if test="registerPerson != null and registerPerson != ''" >
     and register_person = #{registerPerson,jdbcType=VARCHAR}
    </if>
    <if test="statusId != null and statusId != ''" >
     and status_id = #{statusId,jdbcType=CHAR}
    </if>
    <if test="statusName != null and statusName != ''" >
     and status_name = #{statusName,jdbcType=VARCHAR}
    </if>
    <if test="workId != null and workId != ''" >
     and work_id = #{workId,jdbcType=CHAR}
    </if>
    <if test="apih5FlowStatus != null and apih5FlowStatus != ''" >
     and apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR}
    </if>
    <if test="opinionField1 != null and opinionField1 != ''" >
     and opinion_field1 = #{opinionField1,jdbcType=VARCHAR}
    </if>
    <if test="opinionField2 != null and opinionField2 != ''" >
     and opinion_field2 = #{opinionField2,jdbcType=VARCHAR}
    </if>
    <if test="opinionField3 != null and opinionField3 != ''" >
     and opinion_field3 = #{opinionField3,jdbcType=VARCHAR}
    </if>
    <if test="opinionField4 != null and opinionField4 != ''" >
     and opinion_field4 = #{opinionField4,jdbcType=VARCHAR}
    </if>
    <if test="opinionField5 != null and opinionField5 != ''" >
     and opinion_field5 = #{opinionField5,jdbcType=VARCHAR}
    </if>
    <if test="opinionField6 != null and opinionField6 != ''" >
     and opinion_field6 = #{opinionField6,jdbcType=VARCHAR}
    </if>
    <if test="opinionField7 != null and opinionField7 != ''" >
     and opinion_field7 = #{opinionField7,jdbcType=VARCHAR}
    </if>
    <if test="opinionField8 != null and opinionField8 != ''" >
     and opinion_field8 = #{opinionField8,jdbcType=VARCHAR}
    </if>
    <if test="opinionField9 != null and opinionField9 != ''" >
     and opinion_field9 = #{opinionField9,jdbcType=VARCHAR}
    </if>
    <if test="opinionField10 != null and opinionField10 != ''" >
     and opinion_field10 = #{opinionField10,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZjTzRunScheme" parameterType="com.apih5.mybatis.pojo.ZjTzRunScheme" >
    <![CDATA[ 
        update zj_tz_run_scheme
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and run_scheme_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.runSchemeId} 
     </foreach>
  </delete>
  
   <update id="updateZjTzRunSchemeProjectShortName" parameterType="com.apih5.mybatis.pojo.ZjTzRunScheme">
		update zj_tz_run_scheme
		set project_name = #{projectName,jdbcType=VARCHAR}
		where del_flag = '0'
		and project_id = #{projectId,jdbcType=CHAR}
	</update>
  
  <!-- 扩展 -->
   <select id="selectRunSchemeWorkListCount" resultType="int" parameterType="com.apih5.mybatis.pojo.ZjTzRunScheme" >
    select 
    COUNT(WORKID)
    from tw_hz_worklist
    where WORKID = #{workId,jdbcType=CHAR}
    and NODEID = #{apih5FlowNodeId}
  </select>
  
</mapper>
