<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjTzVideoMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjTzVideo" >
    <id column="video_id" property="videoId" jdbcType="CHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="release_rank_id" property="releaseRankId" jdbcType="CHAR" />
    <result column="release_rank_name" property="releaseRankName" jdbcType="VARCHAR" />
    <result column="release_date" property="releaseDate" jdbcType="DATE" />
    <result column="keynote_speaker" property="keynoteSpeaker" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="registered_date" property="registeredDate" jdbcType="DATE" />
    <result column="home_show" property="homeShow" jdbcType="CHAR" />
    <result column="home_show_time" property="homeShowTime" jdbcType="TIMESTAMP" />
    <result column="home_show_start_date" property="homeShowStartDate" jdbcType="DATE" />
    <result column="home_show_end_date" property="homeShowEndDate" jdbcType="DATE" />
    <result column="status_id" property="statusId" jdbcType="CHAR" />
    <result column="status_name" property="statusName" jdbcType="VARCHAR" />
    <result column="release_id" property="releaseId" jdbcType="CHAR" />
    <result column="release_name" property="releaseName" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    video_id, title, release_rank_id, release_rank_name, release_date, 
    keynote_speaker, content, registered_date, home_show, home_show_time, 
    home_show_start_date, home_show_end_date, status_id, status_name, release_id, 
    release_name, del_flag, create_time, create_user, create_user_name, 
    modify_time, modify_user, modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_video
    where video_id = #{videoId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_tz_video
    where video_id = #{videoId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjTzVideo" >
    insert into zj_tz_video (video_id, title, release_rank_id, 
      release_rank_name, release_date, keynote_speaker, 
      content, registered_date, home_show, 
      home_show_time, home_show_start_date, home_show_end_date, 
      status_id, status_name, release_id, 
      release_name, del_flag, create_time, 
      create_user, create_user_name, modify_time, 
      modify_user, modify_user_name
      )
    values (#{videoId,jdbcType=CHAR}, #{title,jdbcType=VARCHAR}, #{releaseRankId,jdbcType=CHAR}, 
      #{releaseRankName,jdbcType=VARCHAR}, #{releaseDate,jdbcType=DATE}, #{keynoteSpeaker,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{registeredDate,jdbcType=DATE}, #{homeShow,jdbcType=CHAR}, 
      #{homeShowTime,jdbcType=TIMESTAMP}, #{homeShowStartDate,jdbcType=DATE}, #{homeShowEndDate,jdbcType=DATE}, 
      #{statusId,jdbcType=CHAR}, #{statusName,jdbcType=VARCHAR}, #{releaseId,jdbcType=CHAR}, 
      #{releaseName,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjTzVideo" >
    insert into zj_tz_video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="releaseRankId != null" >
        release_rank_id,
      </if>
      <if test="releaseRankName != null" >
        release_rank_name,
      </if>
      <if test="releaseDate != null" >
        release_date,
      </if>
      <if test="keynoteSpeaker != null" >
        keynote_speaker,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="registeredDate != null" >
        registered_date,
      </if>
      <if test="homeShow != null" >
        home_show,
      </if>
      <if test="homeShowTime != null" >
        home_show_time,
      </if>
      <if test="homeShowStartDate != null" >
        home_show_start_date,
      </if>
      <if test="homeShowEndDate != null" >
        home_show_end_date,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="statusName != null" >
        status_name,
      </if>
      <if test="releaseId != null" >
        release_id,
      </if>
      <if test="releaseName != null" >
        release_name,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        #{videoId,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="releaseRankId != null" >
        #{releaseRankId,jdbcType=CHAR},
      </if>
      <if test="releaseRankName != null" >
        #{releaseRankName,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null" >
        #{releaseDate,jdbcType=DATE},
      </if>
      <if test="keynoteSpeaker != null" >
        #{keynoteSpeaker,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="registeredDate != null" >
        #{registeredDate,jdbcType=DATE},
      </if>
      <if test="homeShow != null" >
        #{homeShow,jdbcType=CHAR},
      </if>
      <if test="homeShowTime != null" >
        #{homeShowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="homeShowStartDate != null" >
        #{homeShowStartDate,jdbcType=DATE},
      </if>
      <if test="homeShowEndDate != null" >
        #{homeShowEndDate,jdbcType=DATE},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=CHAR},
      </if>
      <if test="statusName != null" >
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="releaseId != null" >
        #{releaseId,jdbcType=CHAR},
      </if>
      <if test="releaseName != null" >
        #{releaseName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjTzVideo" >
    update zj_tz_video
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="releaseRankId != null" >
        release_rank_id = #{releaseRankId,jdbcType=CHAR},
      </if>
      <if test="releaseRankName != null" >
        release_rank_name = #{releaseRankName,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null" >
        release_date = #{releaseDate,jdbcType=DATE},
      </if>
      <if test="keynoteSpeaker != null" >
        keynote_speaker = #{keynoteSpeaker,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="registeredDate != null" >
        registered_date = #{registeredDate,jdbcType=DATE},
      </if>
      <if test="homeShow != null" >
        home_show = #{homeShow,jdbcType=CHAR},
      </if>
      <if test="homeShowTime != null" >
        home_show_time = #{homeShowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="homeShowStartDate != null" >
        home_show_start_date = #{homeShowStartDate,jdbcType=DATE},
      </if>
      <if test="homeShowEndDate != null" >
        home_show_end_date = #{homeShowEndDate,jdbcType=DATE},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=CHAR},
      </if>
      <if test="statusName != null" >
        status_name = #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="releaseId != null" >
        release_id = #{releaseId,jdbcType=CHAR},
      </if>
      <if test="releaseName != null" >
        release_name = #{releaseName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where video_id = #{videoId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjTzVideo" >
    update zj_tz_video
    set       title = #{title,jdbcType=VARCHAR},
      release_rank_id = #{releaseRankId,jdbcType=CHAR},
      release_rank_name = #{releaseRankName,jdbcType=VARCHAR},
      release_date = #{releaseDate,jdbcType=DATE},
      keynote_speaker = #{keynoteSpeaker,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      registered_date = #{registeredDate,jdbcType=DATE},
      home_show = #{homeShow,jdbcType=CHAR},
      home_show_time = #{homeShowTime,jdbcType=TIMESTAMP},
      home_show_start_date = #{homeShowStartDate,jdbcType=DATE},
      home_show_end_date = #{homeShowEndDate,jdbcType=DATE},
      status_id = #{statusId,jdbcType=CHAR},
      status_name = #{statusName,jdbcType=VARCHAR},
      release_id = #{releaseId,jdbcType=CHAR},
      release_name = #{releaseName,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where video_id = #{videoId,jdbcType=CHAR}
  </update>
  <select id="selectByZjTzVideoList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzVideo" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_video
    where del_flag = '0'
    <if test="title != null and title != ''" >
     and title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="releaseRankId != null and releaseRankId != ''" >
     and release_rank_id = #{releaseRankId,jdbcType=CHAR}
    </if>
    <if test="releaseRankName != null and releaseRankName != ''" >
     and release_rank_name = #{releaseRankName,jdbcType=VARCHAR}
    </if>
    <if test="releaseDate != null" >
     and release_date = #{releaseDate,jdbcType=DATE}
    </if>
    <if test="keynoteSpeaker != null and keynoteSpeaker != ''" >
     and keynote_speaker = #{keynoteSpeaker,jdbcType=VARCHAR}
    </if>
    <if test="content != null and content != ''" >
     and content = #{content,jdbcType=VARCHAR}
    </if>
    <if test="registeredDate != null" >
     and registered_date = #{registeredDate,jdbcType=DATE}
    </if>
    <if test="homeShow != null and homeShow != ''" >
     and home_show = #{homeShow,jdbcType=CHAR}
    </if>
    <if test="homeShowTime != null and homeShowTime != ''" >
     and home_show_time = #{homeShowTime,jdbcType=TIMESTAMP}
    </if>
    <if test="homeShowStartDate != null" >
     and home_show_start_date = #{homeShowStartDate,jdbcType=DATE}
    </if>
    <if test="homeShowEndDate != null" >
     and home_show_end_date = #{homeShowEndDate,jdbcType=DATE}
    </if>
    <if test="statusId != null and statusId != ''" >
     and status_id = #{statusId,jdbcType=CHAR}
    </if>
    <if test="statusName != null and statusName != ''" >
     and status_name = #{statusName,jdbcType=VARCHAR}
    </if>
    <if test="releaseId != null and releaseId != ''" >
     and release_id = #{releaseId,jdbcType=CHAR}
    </if>
    <if test="releaseName != null and releaseName != ''" >
     and release_name = #{releaseName,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZjTzVideo" parameterType="com.apih5.mybatis.pojo.ZjTzVideo" >
    <![CDATA[ 
        update zj_tz_video
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and video_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.videoId} 
     </foreach>
  </delete>
  
  <!-- 扩展 -->
   <delete id="batchApproveAgreeZjTzVideo" parameterType="com.apih5.mybatis.pojo.ZjTzVideo" >
    <![CDATA[ 
        update zj_tz_video
        set status_id = '1',
            status_name=#{param2.statusName},
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and video_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.videoId} 
     </foreach>
  </delete>
  
   <delete id="batchApproveRejectZjTzVideo" parameterType="com.apih5.mybatis.pojo.ZjTzVideo" >
    <![CDATA[ 
        update zj_tz_video
        set status_id = '2',
            status_name=#{param2.statusName},
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and video_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.videoId} 
     </foreach>
  </delete>
  
  <delete id="batchDeleteReleaseZjTzVideo" parameterType="com.apih5.mybatis.pojo.ZjTzVideo" >
    <![CDATA[ 
        update zj_tz_video
        set release_id = '1',
            release_name=#{param2.releaseName},
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and video_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.videoId} 
     </foreach>
  </delete>
  
  <delete id="batchDeleteRecallZjTzVideo" parameterType="com.apih5.mybatis.pojo.ZjTzVideo" >
    <![CDATA[ 
        update zj_tz_video
        set release_id = '0',
            home_show =#{param2.homeShow},
            release_name=#{param2.releaseName},
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and video_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.videoId} 
     </foreach>
  </delete>
  <select id="selectHomeZjTzVideo" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzVideo">
  	SELECT
  		video_id,
		title,
		( SELECT url FROM zj_tz_file WHERE other_id = video_id AND del_flag = '0' ) AS video_url 
	FROM
		zj_tz_video 
	WHERE
		del_flag = '0' and home_show = '1' and release_id = '1'
	LIMIT 1
  </select>
  
</mapper>
