<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjTzInvXmyyqkMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjTzInvXmyyqk" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="inv_pro_id" property="invProId" jdbcType="CHAR" />
    <result column="bq_yyzsr" property="bqYyzsr" jdbcType="DECIMAL" />
    <result column="bq_yywsr" property="bqYywsr" jdbcType="DECIMAL" />
    <result column="bq_lxzc" property="bqLxzc" jdbcType="DECIMAL" />
    <result column="bq_lyze" property="bqLyze" jdbcType="DECIMAL" />
    <result column="bq_lr" property="bqLr" jdbcType="DECIMAL" />
    <result column="lj_zcze" property="ljZcze" jdbcType="DECIMAL" />
    <result column="lj_fzze" property="ljFzze" jdbcType="DECIMAL" />
    <result column="lj_cltxsl" property="ljCltxsl" jdbcType="DECIMAL" />
    <result column="rjcltxsl" property="rjcltxsl" jdbcType="INTEGER" />
    <result column="dnrjyyclslycz" property="dnrjyyclslycz" jdbcType="INTEGER" />
    <result column="dnrjyyclslsjz" property="dnrjyyclslsjz" jdbcType="INTEGER" />
    <result column="period_type" property="periodType" jdbcType="VARCHAR" />
    <result column="period_value" property="periodValue" jdbcType="VARCHAR" />
    <result column="org" property="org" jdbcType="CHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="DECIMAL" />
    <result column="create_by" property="createBy" jdbcType="CHAR" />
    <result column="create_org" property="createOrg" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="CHAR" />
    <result column="update_org" property="updateOrg" jdbcType="CHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="yyksrq" property="yyksrq" jdbcType="TIMESTAMP" />
    <result column="yyjsrq" property="yyjsrq" jdbcType="TIMESTAMP" />
    <result column="ljjyqs" property="ljjyqs" jdbcType="DECIMAL" />
    <result column="ljyxsj" property="ljyxsj" jdbcType="DECIMAL" />
    <result column="bnYyzsr" property="bnYyzsr" jdbcType="DECIMAL" />
    <result column="bnYywsr" property="bnYywsr" jdbcType="DECIMAL" />
    <result column="bnLxzc" property="bnLxzc" jdbcType="DECIMAL" />
    <result column="bnLyze" property="bnLyze" jdbcType="DECIMAL" />
    <result column="bnLr" property="bnLr" jdbcType="DECIMAL" />
    <result column="klYyzsr" property="klYyzsr" jdbcType="DECIMAL" />
    <result column="klYywsr" property="klYywsr" jdbcType="DECIMAL" />
    <result column="klLxzc" property="klLxzc" jdbcType="DECIMAL" />
    <result column="klLyze" property="klLyze" jdbcType="DECIMAL" />
    <result column="klLr" property="klLr" jdbcType="DECIMAL" />
    <result column="cltxqk_bysl" property="cltxqkBysl" jdbcType="DECIMAL" />
    <result column="cltxqk_byrjtxsl" property="cltxqkByrjtxsl" jdbcType="DECIMAL" />
    <result column="cltxqk_bnsl" property="cltxqkBnsl" jdbcType="DECIMAL" />
    <result column="cltxqk_zyyksrjtxsl" property="cltxqkZyyksrjtxsl" jdbcType="DECIMAL" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="pro_num" property="proNum" jdbcType="VARCHAR" />
    <result column="comname" property="comname" jdbcType="VARCHAR" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="gqbl" property="gqbl" jdbcType="DECIMAL" />
    <result column="szgq" property="szgq" jdbcType="DECIMAL" />
    <result column="pfname" property="pfname" jdbcType="VARCHAR" />
    <result column="proId" property="proId" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="hte" property="hte" jdbcType="DECIMAL" />
    <result column="kltpsr" property="kltpsr" jdbcType="DECIMAL" />
    <result column="kltpbfb" property="kltpbfb" jdbcType="DECIMAL" />
    <result column="bntpsr" property="bntpsr" jdbcType="DECIMAL" />
    <result column="bntpbfb" property="bntpbfb" jdbcType="DECIMAL" />
    <result column="bqtpsr" property="bqtpsr" jdbcType="DECIMAL" />
    <result column="bqtpbfb" property="bqtpbfb" jdbcType="DECIMAL" />
    <result column="evaluate13" property="evaluate13" jdbcType="DECIMAL" />
    <result column="wklYyzsr" property="wklYyzsr" jdbcType="DECIMAL" />
    <result column="wbnYyzsr" property="wbnYyzsr" jdbcType="DECIMAL" />
    <result column="wbqYyzsr" property="wbqYyzsr" jdbcType="DECIMAL" />
    <result column="n" property="n" jdbcType="VARCHAR" />
    <result column="firstYear" property="firstYear" jdbcType="INTEGER" />
    <result column="currentYear" property="currentYear" jdbcType="INTEGER" />
    <result column="lastYear" property="lastYear" jdbcType="INTEGER" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, inv_pro_id, bq_yyzsr, bq_yywsr, bq_lxzc, 
    bq_lyze, bq_lr, lj_zcze, lj_fzze, lj_cltxsl, 
    rjcltxsl, dnrjyyclslycz, dnrjyyclslsjz, period_type, period_value, 
    org, currency, sort, create_by, create_org, 
    create_date, update_by, update_org, update_date, remarks, 
    del_flag, yyksrq, yyjsrq, ljjyqs, ljyxsj, 
    bnYyzsr, bnYywsr, bnLxzc, bnLyze, bnLr, 
    klYyzsr, klYywsr, klLxzc, klLyze, klLr, 
    cltxqk_bysl, cltxqk_byrjtxsl, cltxqk_bnsl, cltxqk_zyyksrjtxsl, bz

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from del_flag = '0' and zj_tz_inv_xmyyqk
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_tz_inv_xmyyqk
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk" >
    insert into zj_tz_inv_xmyyqk (id, inv_pro_id, bq_yyzsr, 
      bq_yywsr, bq_lxzc, bq_lyze, 
      bq_lr, lj_zcze, lj_fzze, 
      lj_cltxsl, rjcltxsl, dnrjyyclslycz, 
      dnrjyyclslsjz, period_type, period_value, 
      org, currency, sort, 
      create_by, create_org, create_date, 
      update_by, update_org, update_date, 
      remarks, del_flag, yyksrq, 
      yyjsrq, ljjyqs, ljyxsj, 
      bnYyzsr, bnYywsr, bnLxzc, 
      bnLyze, bnLr, klYyzsr, 
      klYywsr, klLxzc, klLyze, 
      klLr, cltxqk_bysl, cltxqk_byrjtxsl, 
      cltxqk_bnsl, cltxqk_zyyksrjtxsl, bz
      )
    values (#{id,jdbcType=CHAR}, #{invProId,jdbcType=CHAR}, #{bqYyzsr,jdbcType=DECIMAL}, 
      #{bqYywsr,jdbcType=DECIMAL}, #{bqLxzc,jdbcType=DECIMAL}, #{bqLyze,jdbcType=DECIMAL}, 
      #{bqLr,jdbcType=DECIMAL}, #{ljZcze,jdbcType=DECIMAL}, #{ljFzze,jdbcType=DECIMAL}, 
      #{ljCltxsl,jdbcType=DECIMAL}, #{rjcltxsl,jdbcType=INTEGER}, #{dnrjyyclslycz,jdbcType=INTEGER}, 
      #{dnrjyyclslsjz,jdbcType=INTEGER}, #{periodType,jdbcType=VARCHAR}, #{periodValue,jdbcType=VARCHAR}, 
      #{org,jdbcType=CHAR}, #{currency,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL}, 
      #{createBy,jdbcType=CHAR}, #{createOrg,jdbcType=CHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=CHAR}, #{updateOrg,jdbcType=CHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, #{yyksrq,jdbcType=TIMESTAMP}, 
      #{yyjsrq,jdbcType=TIMESTAMP}, #{ljjyqs,jdbcType=DECIMAL}, #{ljyxsj,jdbcType=DECIMAL}, 
      #{bnYyzsr,jdbcType=DECIMAL}, #{bnYywsr,jdbcType=DECIMAL}, #{bnLxzc,jdbcType=DECIMAL}, 
      #{bnLyze,jdbcType=DECIMAL}, #{bnLr,jdbcType=DECIMAL}, #{klYyzsr,jdbcType=DECIMAL}, 
      #{klYywsr,jdbcType=DECIMAL}, #{klLxzc,jdbcType=DECIMAL}, #{klLyze,jdbcType=DECIMAL}, 
      #{klLr,jdbcType=DECIMAL}, #{cltxqkBysl,jdbcType=DECIMAL}, #{cltxqkByrjtxsl,jdbcType=DECIMAL}, 
      #{cltxqkBnsl,jdbcType=DECIMAL}, #{cltxqkZyyksrjtxsl,jdbcType=DECIMAL}, #{bz,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk" >
    insert into zj_tz_inv_xmyyqk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="invProId != null" >
        inv_pro_id,
      </if>
      <if test="bqYyzsr != null" >
        bq_yyzsr,
      </if>
      <if test="bqYywsr != null" >
        bq_yywsr,
      </if>
      <if test="bqLxzc != null" >
        bq_lxzc,
      </if>
      <if test="bqLyze != null" >
        bq_lyze,
      </if>
      <if test="bqLr != null" >
        bq_lr,
      </if>
      <if test="ljZcze != null" >
        lj_zcze,
      </if>
      <if test="ljFzze != null" >
        lj_fzze,
      </if>
      <if test="ljCltxsl != null" >
        lj_cltxsl,
      </if>
      <if test="rjcltxsl != null" >
        rjcltxsl,
      </if>
      <if test="dnrjyyclslycz != null" >
        dnrjyyclslycz,
      </if>
      <if test="dnrjyyclslsjz != null" >
        dnrjyyclslsjz,
      </if>
      <if test="periodType != null" >
        period_type,
      </if>
      <if test="periodValue != null" >
        period_value,
      </if>
      <if test="org != null" >
        org,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createOrg != null" >
        create_org,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateOrg != null" >
        update_org,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="yyksrq != null" >
        yyksrq,
      </if>
      <if test="yyjsrq != null" >
        yyjsrq,
      </if>
      <if test="ljjyqs != null" >
        ljjyqs,
      </if>
      <if test="ljyxsj != null" >
        ljyxsj,
      </if>
      <if test="bnYyzsr != null" >
        bnYyzsr,
      </if>
      <if test="bnYywsr != null" >
        bnYywsr,
      </if>
      <if test="bnLxzc != null" >
        bnLxzc,
      </if>
      <if test="bnLyze != null" >
        bnLyze,
      </if>
      <if test="bnLr != null" >
        bnLr,
      </if>
      <if test="klYyzsr != null" >
        klYyzsr,
      </if>
      <if test="klYywsr != null" >
        klYywsr,
      </if>
      <if test="klLxzc != null" >
        klLxzc,
      </if>
      <if test="klLyze != null" >
        klLyze,
      </if>
      <if test="klLr != null" >
        klLr,
      </if>
      <if test="cltxqkBysl != null" >
        cltxqk_bysl,
      </if>
      <if test="cltxqkByrjtxsl != null" >
        cltxqk_byrjtxsl,
      </if>
      <if test="cltxqkBnsl != null" >
        cltxqk_bnsl,
      </if>
      <if test="cltxqkZyyksrjtxsl != null" >
        cltxqk_zyyksrjtxsl,
      </if>
      <if test="bz != null" >
        bz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="invProId != null" >
        #{invProId,jdbcType=CHAR},
      </if>
      <if test="bqYyzsr != null" >
        #{bqYyzsr,jdbcType=DECIMAL},
      </if>
      <if test="bqYywsr != null" >
        #{bqYywsr,jdbcType=DECIMAL},
      </if>
      <if test="bqLxzc != null" >
        #{bqLxzc,jdbcType=DECIMAL},
      </if>
      <if test="bqLyze != null" >
        #{bqLyze,jdbcType=DECIMAL},
      </if>
      <if test="bqLr != null" >
        #{bqLr,jdbcType=DECIMAL},
      </if>
      <if test="ljZcze != null" >
        #{ljZcze,jdbcType=DECIMAL},
      </if>
      <if test="ljFzze != null" >
        #{ljFzze,jdbcType=DECIMAL},
      </if>
      <if test="ljCltxsl != null" >
        #{ljCltxsl,jdbcType=DECIMAL},
      </if>
      <if test="rjcltxsl != null" >
        #{rjcltxsl,jdbcType=INTEGER},
      </if>
      <if test="dnrjyyclslycz != null" >
        #{dnrjyyclslycz,jdbcType=INTEGER},
      </if>
      <if test="dnrjyyclslsjz != null" >
        #{dnrjyyclslsjz,jdbcType=INTEGER},
      </if>
      <if test="periodType != null" >
        #{periodType,jdbcType=VARCHAR},
      </if>
      <if test="periodValue != null" >
        #{periodValue,jdbcType=VARCHAR},
      </if>
      <if test="org != null" >
        #{org,jdbcType=CHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=CHAR},
      </if>
      <if test="createOrg != null" >
        #{createOrg,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=CHAR},
      </if>
      <if test="updateOrg != null" >
        #{updateOrg,jdbcType=CHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="yyksrq != null" >
        #{yyksrq,jdbcType=TIMESTAMP},
      </if>
      <if test="yyjsrq != null" >
        #{yyjsrq,jdbcType=TIMESTAMP},
      </if>
      <if test="ljjyqs != null" >
        #{ljjyqs,jdbcType=DECIMAL},
      </if>
      <if test="ljyxsj != null" >
        #{ljyxsj,jdbcType=DECIMAL},
      </if>
      <if test="bnYyzsr != null" >
        #{bnYyzsr,jdbcType=DECIMAL},
      </if>
      <if test="bnYywsr != null" >
        #{bnYywsr,jdbcType=DECIMAL},
      </if>
      <if test="bnLxzc != null" >
        #{bnLxzc,jdbcType=DECIMAL},
      </if>
      <if test="bnLyze != null" >
        #{bnLyze,jdbcType=DECIMAL},
      </if>
      <if test="bnLr != null" >
        #{bnLr,jdbcType=DECIMAL},
      </if>
      <if test="klYyzsr != null" >
        #{klYyzsr,jdbcType=DECIMAL},
      </if>
      <if test="klYywsr != null" >
        #{klYywsr,jdbcType=DECIMAL},
      </if>
      <if test="klLxzc != null" >
        #{klLxzc,jdbcType=DECIMAL},
      </if>
      <if test="klLyze != null" >
        #{klLyze,jdbcType=DECIMAL},
      </if>
      <if test="klLr != null" >
        #{klLr,jdbcType=DECIMAL},
      </if>
      <if test="cltxqkBysl != null" >
        #{cltxqkBysl,jdbcType=DECIMAL},
      </if>
      <if test="cltxqkByrjtxsl != null" >
        #{cltxqkByrjtxsl,jdbcType=DECIMAL},
      </if>
      <if test="cltxqkBnsl != null" >
        #{cltxqkBnsl,jdbcType=DECIMAL},
      </if>
      <if test="cltxqkZyyksrjtxsl != null" >
        #{cltxqkZyyksrjtxsl,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk" >
    update zj_tz_inv_xmyyqk
    <set >
      <if test="invProId != null" >
        inv_pro_id = #{invProId,jdbcType=CHAR},
      </if>
      <if test="bqYyzsr != null" >
        bq_yyzsr = #{bqYyzsr,jdbcType=DECIMAL},
      </if>
      <if test="bqYywsr != null" >
        bq_yywsr = #{bqYywsr,jdbcType=DECIMAL},
      </if>
      <if test="bqLxzc != null" >
        bq_lxzc = #{bqLxzc,jdbcType=DECIMAL},
      </if>
      <if test="bqLyze != null" >
        bq_lyze = #{bqLyze,jdbcType=DECIMAL},
      </if>
      <if test="bqLr != null" >
        bq_lr = #{bqLr,jdbcType=DECIMAL},
      </if>
      <if test="ljZcze != null" >
        lj_zcze = #{ljZcze,jdbcType=DECIMAL},
      </if>
      <if test="ljFzze != null" >
        lj_fzze = #{ljFzze,jdbcType=DECIMAL},
      </if>
      <if test="ljCltxsl != null" >
        lj_cltxsl = #{ljCltxsl,jdbcType=DECIMAL},
      </if>
      <if test="rjcltxsl != null" >
        rjcltxsl = #{rjcltxsl,jdbcType=INTEGER},
      </if>
      <if test="dnrjyyclslycz != null" >
        dnrjyyclslycz = #{dnrjyyclslycz,jdbcType=INTEGER},
      </if>
      <if test="dnrjyyclslsjz != null" >
        dnrjyyclslsjz = #{dnrjyyclslsjz,jdbcType=INTEGER},
      </if>
      <if test="periodType != null" >
        period_type = #{periodType,jdbcType=VARCHAR},
      </if>
      <if test="periodValue != null" >
        period_value = #{periodValue,jdbcType=VARCHAR},
      </if>
      <if test="org != null" >
        org = #{org,jdbcType=CHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=CHAR},
      </if>
      <if test="createOrg != null" >
        create_org = #{createOrg,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=CHAR},
      </if>
      <if test="updateOrg != null" >
        update_org = #{updateOrg,jdbcType=CHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="yyksrq != null" >
        yyksrq = #{yyksrq,jdbcType=TIMESTAMP},
      </if>
      <if test="yyjsrq != null" >
        yyjsrq = #{yyjsrq,jdbcType=TIMESTAMP},
      </if>
      <if test="ljjyqs != null" >
        ljjyqs = #{ljjyqs,jdbcType=DECIMAL},
      </if>
      <if test="ljyxsj != null" >
        ljyxsj = #{ljyxsj,jdbcType=DECIMAL},
      </if>
      <if test="bnYyzsr != null" >
        bnYyzsr = #{bnYyzsr,jdbcType=DECIMAL},
      </if>
      <if test="bnYywsr != null" >
        bnYywsr = #{bnYywsr,jdbcType=DECIMAL},
      </if>
      <if test="bnLxzc != null" >
        bnLxzc = #{bnLxzc,jdbcType=DECIMAL},
      </if>
      <if test="bnLyze != null" >
        bnLyze = #{bnLyze,jdbcType=DECIMAL},
      </if>
      <if test="bnLr != null" >
        bnLr = #{bnLr,jdbcType=DECIMAL},
      </if>
      <if test="klYyzsr != null" >
        klYyzsr = #{klYyzsr,jdbcType=DECIMAL},
      </if>
      <if test="klYywsr != null" >
        klYywsr = #{klYywsr,jdbcType=DECIMAL},
      </if>
      <if test="klLxzc != null" >
        klLxzc = #{klLxzc,jdbcType=DECIMAL},
      </if>
      <if test="klLyze != null" >
        klLyze = #{klLyze,jdbcType=DECIMAL},
      </if>
      <if test="klLr != null" >
        klLr = #{klLr,jdbcType=DECIMAL},
      </if>
      <if test="cltxqkBysl != null" >
        cltxqk_bysl = #{cltxqkBysl,jdbcType=DECIMAL},
      </if>
      <if test="cltxqkByrjtxsl != null" >
        cltxqk_byrjtxsl = #{cltxqkByrjtxsl,jdbcType=DECIMAL},
      </if>
      <if test="cltxqkBnsl != null" >
        cltxqk_bnsl = #{cltxqkBnsl,jdbcType=DECIMAL},
      </if>
      <if test="cltxqkZyyksrjtxsl != null" >
        cltxqk_zyyksrjtxsl = #{cltxqkZyyksrjtxsl,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk" >
    update zj_tz_inv_xmyyqk
    set       inv_pro_id = #{invProId,jdbcType=CHAR},
      bq_yyzsr = #{bqYyzsr,jdbcType=DECIMAL},
      bq_yywsr = #{bqYywsr,jdbcType=DECIMAL},
      bq_lxzc = #{bqLxzc,jdbcType=DECIMAL},
      bq_lyze = #{bqLyze,jdbcType=DECIMAL},
      bq_lr = #{bqLr,jdbcType=DECIMAL},
      lj_zcze = #{ljZcze,jdbcType=DECIMAL},
      lj_fzze = #{ljFzze,jdbcType=DECIMAL},
      lj_cltxsl = #{ljCltxsl,jdbcType=DECIMAL},
      rjcltxsl = #{rjcltxsl,jdbcType=INTEGER},
      dnrjyyclslycz = #{dnrjyyclslycz,jdbcType=INTEGER},
      dnrjyyclslsjz = #{dnrjyyclslsjz,jdbcType=INTEGER},
      period_type = #{periodType,jdbcType=VARCHAR},
      period_value = #{periodValue,jdbcType=VARCHAR},
      org = #{org,jdbcType=CHAR},
      currency = #{currency,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=DECIMAL},
      create_by = #{createBy,jdbcType=CHAR},
      create_org = #{createOrg,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=CHAR},
      update_org = #{updateOrg,jdbcType=CHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      yyksrq = #{yyksrq,jdbcType=TIMESTAMP},
      yyjsrq = #{yyjsrq,jdbcType=TIMESTAMP},
      ljjyqs = #{ljjyqs,jdbcType=DECIMAL},
      ljyxsj = #{ljyxsj,jdbcType=DECIMAL},
      bnYyzsr = #{bnYyzsr,jdbcType=DECIMAL},
      bnYywsr = #{bnYywsr,jdbcType=DECIMAL},
      bnLxzc = #{bnLxzc,jdbcType=DECIMAL},
      bnLyze = #{bnLyze,jdbcType=DECIMAL},
      bnLr = #{bnLr,jdbcType=DECIMAL},
      klYyzsr = #{klYyzsr,jdbcType=DECIMAL},
      klYywsr = #{klYywsr,jdbcType=DECIMAL},
      klLxzc = #{klLxzc,jdbcType=DECIMAL},
      klLyze = #{klLyze,jdbcType=DECIMAL},
      klLr = #{klLr,jdbcType=DECIMAL},
      cltxqk_bysl = #{cltxqkBysl,jdbcType=DECIMAL},
      cltxqk_byrjtxsl = #{cltxqkByrjtxsl,jdbcType=DECIMAL},
      cltxqk_bnsl = #{cltxqkBnsl,jdbcType=DECIMAL},
      cltxqk_zyyksrjtxsl = #{cltxqkZyyksrjtxsl,jdbcType=DECIMAL},
      bz = #{bz,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByZjTzInvXmyyqkList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_inv_xmyyqk
    where del_flag = '0'
    <if test="id != null and id != ''" >
     and id = #{id,jdbcType=}
    </if>
    <if test="invProId != null and invProId != ''" >
     and inv_pro_id = #{invProId,jdbcType=CHAR}
    </if>
    <if test="bqYyzsr != null and bqYyzsr != ''" >
     and bq_yyzsr = #{bqYyzsr,jdbcType=DECIMAL}
    </if>
    <if test="bqYywsr != null and bqYywsr != ''" >
     and bq_yywsr = #{bqYywsr,jdbcType=DECIMAL}
    </if>
    <if test="bqLxzc != null and bqLxzc != ''" >
     and bq_lxzc = #{bqLxzc,jdbcType=DECIMAL}
    </if>
    <if test="bqLyze != null and bqLyze != ''" >
     and bq_lyze = #{bqLyze,jdbcType=DECIMAL}
    </if>
    <if test="bqLr != null and bqLr != ''" >
     and bq_lr = #{bqLr,jdbcType=DECIMAL}
    </if>
    <if test="ljZcze != null and ljZcze != ''" >
     and lj_zcze = #{ljZcze,jdbcType=DECIMAL}
    </if>
    <if test="ljFzze != null and ljFzze != ''" >
     and lj_fzze = #{ljFzze,jdbcType=DECIMAL}
    </if>
    <if test="ljCltxsl != null and ljCltxsl != ''" >
     and lj_cltxsl = #{ljCltxsl,jdbcType=DECIMAL}
    </if>
    <if test="rjcltxsl != null and rjcltxsl != ''" >
     and rjcltxsl = #{rjcltxsl,jdbcType=INTEGER}
    </if>
    <if test="dnrjyyclslycz != null and dnrjyyclslycz != ''" >
     and dnrjyyclslycz = #{dnrjyyclslycz,jdbcType=INTEGER}
    </if>
    <if test="dnrjyyclslsjz != null and dnrjyyclslsjz != ''" >
     and dnrjyyclslsjz = #{dnrjyyclslsjz,jdbcType=INTEGER}
    </if>
    <if test="periodType != null and periodType != ''" >
     and period_type = #{periodType,jdbcType=VARCHAR}
    </if>
    <if test="periodValue != null and periodValue != ''" >
     and period_value = #{periodValue,jdbcType=VARCHAR}
    </if>
    <if test="org != null and org != ''" >
     and org = #{org,jdbcType=CHAR}
    </if>
    <if test="currency != null and currency != ''" >
     and currency = #{currency,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=DECIMAL}
    </if>
    <if test="createBy != null and createBy != ''" >
     and create_by = #{createBy,jdbcType=CHAR}
    </if>
    <if test="createOrg != null and createOrg != ''" >
     and create_org = #{createOrg,jdbcType=CHAR}
    </if>
    <if test="createDate != null and createDate != ''" >
     and create_date = #{createDate,jdbcType=TIMESTAMP}
    </if>
    <if test="updateBy != null and updateBy != ''" >
     and update_by = #{updateBy,jdbcType=CHAR}
    </if>
    <if test="updateOrg != null and updateOrg != ''" >
     and update_org = #{updateOrg,jdbcType=CHAR}
    </if>
    <if test="updateDate != null and updateDate != ''" >
     and update_date = #{updateDate,jdbcType=TIMESTAMP}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="yyksrq != null and yyksrq != ''" >
     and yyksrq = #{yyksrq,jdbcType=TIMESTAMP}
    </if>
    <if test="yyjsrq != null and yyjsrq != ''" >
     and yyjsrq = #{yyjsrq,jdbcType=TIMESTAMP}
    </if>
    <if test="ljjyqs != null and ljjyqs != ''" >
     and ljjyqs = #{ljjyqs,jdbcType=DECIMAL}
    </if>
    <if test="ljyxsj != null and ljyxsj != ''" >
     and ljyxsj = #{ljyxsj,jdbcType=DECIMAL}
    </if>
    <if test="bnYyzsr != null and bnYyzsr != ''" >
     and bnYyzsr = #{bnYyzsr,jdbcType=DECIMAL}
    </if>
    <if test="bnYywsr != null and bnYywsr != ''" >
     and bnYywsr = #{bnYywsr,jdbcType=DECIMAL}
    </if>
    <if test="bnLxzc != null and bnLxzc != ''" >
     and bnLxzc = #{bnLxzc,jdbcType=DECIMAL}
    </if>
    <if test="bnLyze != null and bnLyze != ''" >
     and bnLyze = #{bnLyze,jdbcType=DECIMAL}
    </if>
    <if test="bnLr != null and bnLr != ''" >
     and bnLr = #{bnLr,jdbcType=DECIMAL}
    </if>
    <if test="klYyzsr != null and klYyzsr != ''" >
     and klYyzsr = #{klYyzsr,jdbcType=DECIMAL}
    </if>
    <if test="klYywsr != null and klYywsr != ''" >
     and klYywsr = #{klYywsr,jdbcType=DECIMAL}
    </if>
    <if test="klLxzc != null and klLxzc != ''" >
     and klLxzc = #{klLxzc,jdbcType=DECIMAL}
    </if>
    <if test="klLyze != null and klLyze != ''" >
     and klLyze = #{klLyze,jdbcType=DECIMAL}
    </if>
    <if test="klLr != null and klLr != ''" >
     and klLr = #{klLr,jdbcType=DECIMAL}
    </if>
    <if test="cltxqkBysl != null and cltxqkBysl != ''" >
     and cltxqk_bysl = #{cltxqkBysl,jdbcType=DECIMAL}
    </if>
    <if test="cltxqkByrjtxsl != null and cltxqkByrjtxsl != ''" >
     and cltxqk_byrjtxsl = #{cltxqkByrjtxsl,jdbcType=DECIMAL}
    </if>
    <if test="cltxqkBnsl != null and cltxqkBnsl != ''" >
     and cltxqk_bnsl = #{cltxqkBnsl,jdbcType=DECIMAL}
    </if>
    <if test="cltxqkZyyksrjtxsl != null and cltxqkZyyksrjtxsl != ''" >
     and cltxqk_zyyksrjtxsl = #{cltxqkZyyksrjtxsl,jdbcType=DECIMAL}
    </if>
    <if test="bz != null and bz != ''" >
     and bz = #{bz,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZjTzInvXmyyqk" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk" >
    <![CDATA[ 
        update zj_tz_inv_xmyyqk
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.id} 
     </foreach>
  </delete>
  <select id="selectZjTzInvXmyyqkMonthlyReportListBasicData" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk">
  	SELECT
		t3.id,
		t4.project_id AS proId,
		t4.pro_no AS pro_num,
		t4.company_name AS comname,
		t4.project_name AS pro_name,
		t3.create_date,
		t3.period_value 
	FROM
		zj_tz_pro_manage t4
		INNER JOIN pro_inv_basic t1 ON t1.project_id = t4.project_id
		INNER JOIN pro_inv_com_inf t2 ON t2.inv_pro_id = t1.id
		INNER JOIN pro_inv_xmyyqk t3 ON t3.inv_pro_id = t1.id 
	<where>
		t4.del_flag = '0'
		<if test="projectId != null and projectId != ''" >
	     and t4.project_id = #{projectId}
	    </if>
	    <if test="_parameter != null and _parameter.projectIdSql != null and _parameter.projectIdSql != ''">
	     and t4.project_id in (${projectIdSql})
	    </if> 
	</where>
	ORDER BY t3.period_value DESC
  </select>
  <select id="selectZjTzInvXmyyqkMonthlyReportListBasicDataDetail" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk">
  	SELECT
		t1.id,
		t3.project_id AS proId,
		t5.pro_no AS pro_num,
		t5.project_name AS pro_name,
		t5.company_name AS comname,
		(SELECT d.label FROM sys_dict d INNER JOIN sys_dict_category c ON c.id = d.category_id and  c.del_flag = '0' 
		INNER JOIN pro_inv_basic b ON b.pro_category = d.value and b.del_flag = '0'
		where  d.del_flag = '0' AND c.category_code = 'XMLX'AND b.project_id = t3.project_id ) AS type_name,
				
		(SELECT  d.label FROM sys_dict  d inner join  sys_dict_category c  on c.id = d.category_id  and  c.del_flag = '0' 
		inner join  pro_inv_basic b  on b.gclb = d.value and  b.del_flag = '0'
		where  d.del_flag = '0'  and  c.category_code = 'XM_GXLB' AND b.project_id = t3.project_id) AS category_name,
		t2.szgq,
		t3.tpyjsr,
		t3.tpyjcltxsl,
		t1.cltxqk_bysl*10000 AS cltxqk_bysl,
		t1.cltxqk_bnsl*10000 AS cltxqk_bnsl,
		t1.lj_cltxsl*10000 AS lj_cltxsl,
		t1.*
	FROM
		pro_inv_xmyyqk t1
		INNER JOIN pro_inv_com_inf t2 ON t2.inv_pro_id = t1.inv_pro_id and t2.del_flag = '0'
		INNER JOIN pro_inv_basic t3 ON t3.id = t1.inv_pro_id and t3.del_flag = '0'
		INNER JOIN zj_tz_pro_manage t5 ON t5.project_id = t3.project_id and t5.del_flag = '0'
	<where>
		t1.del_flag = '0'
		<if test="periodValue != null and periodValue != ''">
			AND t1.period_value = #{periodValue} 
		</if>
		<if test="proId != null and proId != ''">
			AND t3.project_id = #{proId}
		</if>
		<if test="_parameter != null and _parameter.projectIdSql != null and _parameter.projectIdSql != ''">
	     	AND t3.project_id in (${projectIdSql})
	    </if>
	</where>
  </select>
  <select id="selectHomeChartOperateData" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk">
  	SELECT
		t3.project_id,
		t3.project_short_name short_name,
		t3.company_name comname,
		(
			SELECT
				SUM( TABLE1.hte ) 
			FROM
				(
				(
			SELECT
				t4.project_id,
				IFNULL( t1.bcjaf_money, 0 ) + IFNULL( t1.bcjlf_money, 0 ) + IFNULL( t1.bczcf_money, 0 ) + IFNULL( t1.bcglf_money, 0 ) + IFNULL( t1.bcccsjf_money, 0 ) + IFNULL( t1.bcoth_money, 0 ) AS hte 
			FROM
				pro_inv_bgbcxy t1
				INNER JOIN pro_inv_ht_info t2 ON t2.id = t1.inv_htinfo_id 
				AND t2.del_flag = '0'
				INNER JOIN pro_inv_basic t3 ON t3.id = t2.inv_pro_id 
				AND t3.del_flag = '0'
				INNER JOIN zj_tz_pro_manage t4 ON t4.project_id = t3.project_id 
				AND t4.del_flag = '0' 
				AND t4.project_type = '0' 
			<where>
			t1.del_flag = '0'
			<if test="projectId != null and projectId != ''" >
	 		AND t4.project_id = #{projectId} 
			</if>
			<if test="_parameter != null and _parameter.projectIdSql != null and _parameter.projectIdSql != ''">
	     	AND t4.project_id in (${projectIdSql})
	    	</if>
			<if test="periodValue != null and periodValue != ''">
	 		AND DATE_FORMAT( t1.bcxyqd_date, '%Y%m' ) &lt;= #{periodValue}
			</if>
			</where>
				) UNION ALL
				(
			SELECT
				t4.project_id,
				IFNULL( t2.ztze, 0 ) AS hte 
			FROM
				pro_inv_ht_info t2
				INNER JOIN pro_inv_basic t3 ON t3.id = t2.inv_pro_id 
				AND t3.del_flag = '0'
				INNER JOIN zj_tz_pro_manage t4 ON t4.project_id = t3.project_id 
				AND t4.del_flag = '0' 
				AND t4.project_type = '0' 
			<where>
			t2.del_flag = '0'
			<if test="projectId != null and projectId != ''" >
	 		AND t4.project_id = #{projectId} 
			</if>
			<if test="_parameter != null and _parameter.projectIdSql != null and _parameter.projectIdSql != ''">
	     	AND t4.project_id in (${projectIdSql})
	    	</if>
			<if test="periodValue != null and periodValue != ''">
	 		AND DATE_FORMAT( t2.htqd_date, '%Y%m' ) &lt;= #{periodValue} 
			</if>
			</where>
				) 
				) AS TABLE1
			WHERE TABLE1.project_id = t3.project_id ) AS hte,
		
		IFNULL((SELECT TRUNCATE(SUM(IFNULL(appoint_amount,0)) /10000,2)  FROM zj_tz_pro_rebuy_info_plan 
		WHERE del_flag = '0' and project_id = t3.project_id
		<if test="periodValue != null and periodValue != '' ">
		and DATE_FORMAT(appoint_date,'%Y%m') &lt;= #{periodValue}
		</if>
		),0) AS kltpsr, 
		
		IFNULL((SELECT TRUNCATE(SUM(IFNULL(byyyzsr,0)) /10000, 2)  FROM pro_inv_cwyb tb1 
		LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
		WHERE tb1.del_flag = '0' and tb2.project_id = t3.project_id 
		<if test="periodValue != null and periodValue != '' ">
		and tb1.period_value &lt;= #{periodValue}
		</if>
		),0) AS klYyzsr,
		
		IFNULL((SELECT TRUNCATE(SUM(IFNULL(byyyzsr,0)) /10000, 2)  FROM pro_inv_cwyb tb1 
		LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
		WHERE tb1.del_flag = '0' and tb2.project_id = t3.project_id 
		<if test="periodValue != null and periodValue != '' ">
		and tb1.period_value &lt;= #{periodValue}
		</if>
		),0)/
		IFNULL((SELECT TRUNCATE(SUM(IFNULL(appoint_amount,0)) /10000,2)  FROM zj_tz_pro_rebuy_info_plan 
		WHERE del_flag = '0' and project_id = t3.project_id
		<if test="periodValue != null and periodValue != '' ">
		and DATE_FORMAT(appoint_date,'%Y%m') &lt;= #{periodValue}
		</if>
		),0) AS kltpbfb,
		
		IFNULL((SELECT  TRUNCATE(IFNULL(appoint_amount,0)/10000,2) FROM zj_tz_pro_rebuy_info_plan WHERE del_flag = '0' and project_id = t3.project_id 
		<if test="periodValue != null and periodValue != '' ">
		and SUBSTR(appoint_date, 1 , 4) = YEAR(STR_TO_DATE(#{periodValue},'%Y%m'))
		</if>
		),0) AS bntpsr,
		
		IFNULL((SELECT TRUNCATE(SUM(IFNULL(byyyzsr,0))/10000,2)  FROM pro_inv_cwyb tb1 
		LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
		WHERE tb1.del_flag = '0' and tb2.project_id = t3.project_id  
		<if test="periodValue != null and periodValue != '' ">
		and SUBSTR(tb1.period_value, 1 , 4) = YEAR(STR_TO_DATE(#{periodValue},'%Y%m')) 
		</if>
		),0)AS bnYyzsr,
		
		
		IFNULL((SELECT TRUNCATE(SUM(IFNULL(byyyzsr,0))/10000,2)  FROM pro_inv_cwyb tb1 
		LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
		WHERE tb1.del_flag = '0' and tb2.project_id = t3.project_id  
		<if test="periodValue != null and periodValue != '' ">
		and SUBSTR(tb1.period_value, 1 , 4) = YEAR(STR_TO_DATE(#{periodValue},'%Y%m')) 
		</if>
		),0)/
		IFNULL((SELECT  TRUNCATE(IFNULL(appoint_amount,0)/10000,2) FROM zj_tz_pro_rebuy_info_plan WHERE del_flag = '0' and project_id = t3.project_id 
		<if test="periodValue != null and periodValue != '' ">
		and SUBSTR(appoint_date, 1 , 4) = YEAR(STR_TO_DATE(#{periodValue},'%Y%m'))
		</if>
		),0) AS bntpbfb,
		
		IFNULL((SELECT TRUNCATE(IFNULL(appoint_amount,0)/10000,2) FROM zj_tz_pro_rebuy_info_plan WHERE del_flag = '0' and project_id = t3.project_id 
		<if test="periodValue != null and periodValue != '' ">
		and SUBSTR(appoint_date, 1 , 4) = YEAR(STR_TO_DATE(#{periodValue},'%Y%m'))
		</if>
		)/12,0) AS bqtpsr,
		
		IFNULL((SELECT TRUNCATE(IFNULL(byyyzsr,0)/10000,2)  FROM pro_inv_cwyb tb1 
		LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
		WHERE tb1.del_flag = '0' and tb2.project_id = t3.project_id  
		<if test="periodValue != null and periodValue != '' ">
		and tb1.period_value = #{periodValue} 
		</if>
		),0) AS bq_yyzsr,
		
		IFNULL((SELECT TRUNCATE(IFNULL(byyyzsr,0)/10000,2)  FROM pro_inv_cwyb tb1 
		LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
		WHERE tb1.del_flag = '0' and tb2.project_id = t3.project_id  
		<if test="periodValue != null and periodValue != '' ">
		and tb1.period_value = #{periodValue} 
		</if>
		),0)/
		IFNULL((SELECT TRUNCATE(IFNULL(appoint_amount,0)/10000,2) FROM zj_tz_pro_rebuy_info_plan WHERE del_flag = '0' and project_id = t3.project_id 
		<if test="periodValue != null and periodValue != '' ">
		and SUBSTR(appoint_date, 1 , 4) = YEAR(STR_TO_DATE(#{periodValue},'%Y%m'))
		</if>
		)/12,0) AS bqtpbfb
	FROM
		zj_tz_pro_manage t3
	<where>
		t3.del_flag = '0' and t3.project_type = '0' and (t3.pro_process_id = '3' or t3.pro_process_id = '5')
		<if test="projectId != null and projectId != ''" >
	     and t3.project_id = #{projectId}
	    </if>
	    <if test="_parameter != null and _parameter.projectIdSql != null and _parameter.projectIdSql != ''">
	     and t3.project_id in (${projectIdSql})
	    </if> 
		<if test="comname != null and comname != ''">
		 and t3.company_name =#{comname}
		</if>
	</where>
	ORDER BY CAST(t3.sort1 AS DECIMAL),t3.pro_no
  </select>
  <!-- 运营页面-投评与收入情况 -->
  <select id="selectOperatePageCommentAndIncome" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk">
	  SELECT
			t3.project_id,
			
			IFNULL((SELECT TRUNCATE(SUM(IFNULL(appoint_amount,0))/10000,2)  FROM zj_tz_pro_rebuy_info_plan 
			<where>
			del_flag = '0' 
			<if test="projectId != null and projectId != ''">
			and project_id = #{projectId}
			</if>
			</where>),0)AS kltpsr,
			
			IFNULL((SELECT TRUNCATE(SUM(IFNULL(byyyzsr,0)) /10000, 2)  FROM pro_inv_cwyb tb1 
			LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
			<where>
			tb1.del_flag = '0' 
			<if test="projectId != null and projectId != ''">
			and tb2.project_id = #{projectId}
			</if>
			</where> ),0) AS klYyzsr,
			
			IFNULL((SELECT TRUNCATE(SUM(IFNULL(appoint_amount,0))/10000,2)  FROM zj_tz_pro_rebuy_info_plan 
			<where>
			del_flag = '0' 
			<if test="projectId != null and projectId != ''">
			and project_id = #{projectId}
			</if>
			</where>),0)
			-
			IFNULL((SELECT TRUNCATE(SUM(IFNULL(byyyzsr,0)) /10000, 2)  FROM pro_inv_cwyb tb1 
			LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
			<where>
			tb1.del_flag = '0' 
			<if test="projectId != null and projectId != ''">
			and tb2.project_id = #{projectId}
			</if>
			</where> ),0) AS wklYyzsr,
			
			IFNULL((SELECT TRUNCATE(IFNULL(appoint_amount,0)/10000,2)  FROM zj_tz_pro_rebuy_info_plan 
			<where>
			del_flag = '0' and DATE_FORMAT(appoint_date,'%Y') = YEAR(NOW())
			<if test="projectId != null and projectId != ''">
			and project_id = #{projectId}
			</if>
			</where>),0) AS bntpsr,
			
			IFNULL((SELECT TRUNCATE(SUM(IFNULL(byyyzsr,0))/10000,2)  FROM pro_inv_cwyb tb1 
			LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
			<where>
			tb1.del_flag = '0' 
			<if test="projectId != null and projectId != ''">
			and tb2.project_id = #{projectId}
			</if>
			and SUBSTR(tb1.period_value, 1 , 4) = YEAR(DATE_SUB(curdate(), INTERVAL 1 MONTH)) 
			</where>
			),0) AS bnYyzsr,
			
			IFNULL((SELECT TRUNCATE(IFNULL(appoint_amount,0)/10000,2)  FROM zj_tz_pro_rebuy_info_plan 
			<where>
			del_flag = '0' and DATE_FORMAT(appoint_date,'%Y') = YEAR(NOW())
			<if test="projectId != null and projectId != ''">
			and project_id = #{projectId}
			</if>
			</where>),0)
			-
			IFNULL((SELECT TRUNCATE(SUM(IFNULL(byyyzsr,0))/10000,2)  FROM pro_inv_cwyb tb1 
			LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
			<where>
			tb1.del_flag = '0' 
			<if test="projectId != null and projectId != ''">
			and tb2.project_id = #{projectId}
			</if>
			and SUBSTR(tb1.period_value, 1 , 4) = YEAR(DATE_SUB(curdate(), INTERVAL 1 MONTH)) 
			</where>
			),0) AS wbnYyzsr,
			
			
			IFNULL((SELECT TRUNCATE(IFNULL(appoint_amount,0)/12/10000,2)   FROM zj_tz_pro_rebuy_info_plan 
			<where>
			del_flag = '0' and DATE_FORMAT(appoint_date,'%Y') = YEAR(NOW())
			<if test="projectId != null and projectId != ''">
			and project_id = #{projectId} 
			</if>
			</where>),0) AS bqtpsr,
			
			IFNULL((SELECT TRUNCATE(IFNULL(byyyzsr,0)/10000,2)  FROM pro_inv_cwyb tb1 
			LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
			<where>
			tb1.del_flag = '0' 
			<if test="projectId != null and projectId != ''">
			and tb2.project_id = #{projectId} 
			</if>
			and tb1.period_value = date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') 
			</where>
			),0) AS bq_yyzsr,
			
			IFNULL((SELECT TRUNCATE(IFNULL(appoint_amount,0)/12/10000,2)   FROM zj_tz_pro_rebuy_info_plan 
			<where>
			del_flag = '0' and DATE_FORMAT(appoint_date,'%Y') = YEAR(NOW())
			<if test="projectId != null and projectId != ''">
			and project_id = #{projectId} 
			</if>
			</where>),0)
			-
			IFNULL((SELECT TRUNCATE(IFNULL(byyyzsr,0)/10000,2)  FROM pro_inv_cwyb tb1 
			LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
			<where>
			tb1.del_flag = '0' 
			<if test="projectId != null and projectId != ''">
			and tb2.project_id = #{projectId} 
			</if>
			and tb1.period_value = date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') 
			</where>
			),0) AS wbqYyzsr
		FROM
			zj_tz_pro_manage t3
	<where>
			t3.del_flag = '0' and t3.project_type = '0' 
		<if test="proProcessId != null and proProcessId != ''">	
			and t3.pro_process_id = #{proProcessId}
		</if>	
		<if test="projectId != null and projectId != ''">
			and t3.project_id = #{projectId}
		</if>
	</where>
  </select>
  <select id="selectOperatePageTrendDataByYearBn" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk">
  	SELECT
		t3.project_id,
		IFNULL((SELECT TRUNCATE(IFNULL(appoint_amount,0)/10000,2)  FROM zj_tz_pro_rebuy_info_plan 
			<where>
			del_flag = '0'
			<if test="periodValue != null and periodValue != ''">
			and DATE_FORMAT(appoint_date,'%Y') = #{periodValue}
			</if>
			<if test="projectId != null and projectId != ''">
			and project_id = #{projectId}
			</if>
			</where>),0) AS bntpsr,
			
			
		IFNULL((SELECT TRUNCATE(SUM(IFNULL(byyyzsr,0))/10000,2)  FROM pro_inv_cwyb tb1 
			LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
			<where>
			tb1.del_flag = '0' 
			<if test="projectId != null and projectId != ''">
			and tb2.project_id = #{projectId}
			</if>
			<if test="periodValue != null and periodValue != ''">
			and SUBSTR(tb1.period_value, 1 , 4) = #{periodValue}
			</if>
			</where>
			),0) AS bnYyzsr 
			
	FROM
		zj_tz_pro_manage t3 
	<where>
		t3.del_flag = '0' and t3.project_type = '0' 
		<if test="projectId != null and projectId != ''">
		and t3.project_id = #{projectId} 
		</if>
	</where>
  </select>
  <select id="selectOperatePageTrendDataByYearKl" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk">
	  SELECT
			t3.project_id,
			IFNULL((SELECT TRUNCATE(IFNULL(appoint_amount,0)/10000,2)  FROM zj_tz_pro_rebuy_info_plan 
				<where>
				del_flag = '0'
				<if test="periodValue != null and periodValue != ''">
				and DATE_FORMAT(appoint_date,'%Y') &lt;= #{periodValue}
				</if>
				<if test="projectId != null and projectId != ''">
				and project_id = #{projectId}
				</if>
				</where>),0) AS kltpsr,
				
				
			IFNULL((SELECT TRUNCATE(SUM(IFNULL(byyyzsr,0))/10000,2)  FROM pro_inv_cwyb tb1 
				LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
				<where>
				tb1.del_flag = '0' 
				<if test="projectId != null and projectId != ''">
				and tb2.project_id = #{projectId}
				</if>
				<if test="periodValue != null and periodValue != ''">
				and SUBSTR(tb1.period_value, 1 , 4) &lt;= #{periodValue}
				</if>
				</where>
				),0) AS klYyzsr 
				
		FROM
			zj_tz_pro_manage t3 
		<where>
			t3.del_flag = '0' and t3.project_type = '0' 
			<if test="projectId != null and projectId != ''">
			and t3.project_id = #{projectId} 
			</if>
		</where>
  </select>
  <select id="selectOperatePageCurrentPeriod" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk">
  	SELECT
  		t1.project_id,
	CASE
		
		WHEN ( ISNULL( t1.run_date2 ) = 1 ) || ( LENGTH( trim( t1.run_date2 ) ) = 0 ) THEN
		0 
		WHEN ( ISNULL( t1.run_period ) = 1 ) || ( LENGTH( trim( t1.run_period ) ) = 0 ) THEN
		0 ELSE 1 
		END AS firstYear,
	CASE
			
			WHEN ( ISNULL( t1.run_date2 ) = 1 ) || ( LENGTH( trim( t1.run_date2 ) ) = 0 ) THEN
			0 
			WHEN ( ISNULL( t1.run_period ) = 1 ) || ( LENGTH( trim( t1.run_period ) ) = 0 ) THEN
			0 ELSE TIMESTAMPDIFF( YEAR, t1.run_date2, NOW( ) ) + 1 
		END AS currentYear,
	CASE
			
			WHEN ( ISNULL( t1.run_date2 ) = 1 ) || ( LENGTH( trim( t1.run_date2 ) ) = 0 ) THEN
			0 
			WHEN ( ISNULL( t1.run_period ) = 1 ) || ( LENGTH( trim( t1.run_period ) ) = 0 ) THEN
			0 ELSE t1.run_period
		END AS lastYear 
	FROM
		zj_tz_pro_manage t1 
	<where>
		t1.del_flag = '0' and t1.project_type = '0'
		<if test="proProcessId != null and proProcessId != ''">
		and t1.pro_process_id = #{proProcessId}
		</if>
		<if test="projectId != null and projectId != ''">
		and t1.project_id = #{projectId}
		</if>
	</where>
  </select>
  <select id="selectProjectPageYyWarning" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzInvXmyyqk">
  	SELECT
		IFNULL((SELECT TRUNCATE(IFNULL(appoint_amount,0)/10000,2) FROM zj_tz_pro_rebuy_info_plan WHERE del_flag = '0' and project_id = t3.project_id 
		and SUBSTR(appoint_date, 1 , 4) = YEAR(DATE_SUB(curdate(), INTERVAL 1 MONTH))
		)/12,0) AS bqtpsr,
		
		IFNULL((SELECT TRUNCATE(IFNULL(byyyzsr,0)/10000,2)  FROM pro_inv_cwyb tb1 
		LEFT JOIN pro_inv_basic tb2 ON tb2.id = tb1.inv_pro_id and tb2.del_flag = '0' 
		WHERE tb1.del_flag = '0' and tb2.project_id = t3.project_id  
		and tb1.period_value = date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y%m') 
		),0) AS bq_yyzsr,
		t3.project_id
	FROM
		zj_tz_pro_manage t3 
	<where>
		t3.del_flag = '0' AND t3.project_type = '0'
		<if test="projectId != null and projectId != ''">
		AND t3.project_id = #{projectId}
		</if>
	</where>
  </select>
</mapper>
