<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjTzDesignAdvistoryUnitMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjTzDesignAdvistoryUnit" >
    <id column="design_advistory_unit_id" property="designAdvistoryUnitId" jdbcType="CHAR" />
    <result column="type_id" property="typeId" jdbcType="CHAR" />
    <result column="type_name" property="typeName" jdbcType="CHAR" />
    <result column="design_advistory_unit_standard_id" property="designAdvistoryUnitStandardId" jdbcType="CHAR" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="subproject_info_id" property="subprojectInfoId" jdbcType="CHAR" />
    <result column="subproject_name" property="subprojectName" jdbcType="VARCHAR" />
    <result column="design_stage_id" property="designStageId" jdbcType="CHAR" />
    <result column="design_stage_name" property="designStageName" jdbcType="VARCHAR" />
    <result column="select_mode_id" property="selectModeId" jdbcType="CHAR" />
    <result column="select_mode_name" property="selectModeName" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="amount1" property="amount1" jdbcType="DECIMAL" />
    <result column="amount2" property="amount2" jdbcType="DECIMAL" />
    <result column="pro_leader" property="proLeader" jdbcType="VARCHAR" />
    <result column="pro_leader_tel" property="proLeaderTel" jdbcType="VARCHAR" />
    <result column="evaluate_order_id" property="evaluateOrderId" jdbcType="CHAR" />
    <result column="evaluate_order_name" property="evaluateOrderName" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="total1_amount1" property="total1Amount1" jdbcType="DECIMAL" />
    <result column="total1_amount2" property="total1Amount2" jdbcType="DECIMAL" />
    <result column="total2_amount1" property="total2Amount1" jdbcType="DECIMAL" />
    <result column="total2_amount2" property="total2Amount2" jdbcType="DECIMAL" />
    <result column="total3_amount1" property="total3Amount1" jdbcType="DECIMAL" />
    <result column="total3_amount2" property="total3Amount2" jdbcType="DECIMAL" />
    <result column="renew1" property="renew1" jdbcType="CHAR" />
    <result column="renew2" property="renew2" jdbcType="CHAR" />
    <result column="renew3" property="renew3" jdbcType="CHAR" />
    <result column="renew4" property="renew4" jdbcType="CHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    design_advistory_unit_id, type_id, type_name, design_advistory_unit_standard_id, project_id, 
    project_name, subproject_info_id, subproject_name, design_stage_id, design_stage_name, 
    select_mode_id, select_mode_name, content, amount1, amount2, 
    pro_leader, pro_leader_tel, evaluate_order_id, evaluate_order_name, remarks, 
    total1_amount1, total1_amount2, total2_amount1, total2_amount2, total3_amount1, 
    total3_amount2, renew1, renew2, renew3, renew4, del_flag, create_time, create_user, create_user_name, 
    modify_time, modify_user, modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />,
    (SELECT unit_name FROM zj_tz_design_advistory_unit_standard AS s WHERE s.del_flag = '0' AND s.design_advistory_unit_standard_id = unit.design_advistory_unit_standard_id) AS unitName,
    (SELECT org_code FROM zj_tz_design_advistory_unit_standard AS s WHERE s.del_flag = '0' AND s.design_advistory_unit_standard_id = unit.design_advistory_unit_standard_id) AS orgCode
    from zj_tz_design_advistory_unit AS unit
    where design_advistory_unit_id = #{designAdvistoryUnitId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_tz_design_advistory_unit
    where design_advistory_unit_id = #{designAdvistoryUnitId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjTzDesignAdvistoryUnit" >
    insert into zj_tz_design_advistory_unit (design_advistory_unit_id, type_id, type_name, 
      design_advistory_unit_standard_id, project_id, project_name, 
      subproject_info_id, subproject_name, design_stage_id, 
      design_stage_name, select_mode_id, select_mode_name, 
      content, amount1, amount2, 
      pro_leader, pro_leader_tel, evaluate_order_id, 
      evaluate_order_name, remarks, total1_amount1, 
      total1_amount2, total2_amount1, total2_amount2, 
      total3_amount1, total3_amount2, renew1, 
      renew2, renew3, renew4, del_flag, 
      create_time, create_user, create_user_name, 
      modify_time, modify_user, modify_user_name
      )
    values (#{designAdvistoryUnitId,jdbcType=CHAR}, #{typeId,jdbcType=CHAR}, #{typeName,jdbcType=CHAR}, 
      #{designAdvistoryUnitStandardId,jdbcType=CHAR}, #{projectId,jdbcType=CHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{subprojectInfoId,jdbcType=CHAR}, #{subprojectName,jdbcType=VARCHAR}, #{designStageId,jdbcType=CHAR}, 
      #{designStageName,jdbcType=VARCHAR}, #{selectModeId,jdbcType=CHAR}, #{selectModeName,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{amount1,jdbcType=DECIMAL}, #{amount2,jdbcType=DECIMAL}, 
      #{proLeader,jdbcType=VARCHAR}, #{proLeaderTel,jdbcType=VARCHAR}, #{evaluateOrderId,jdbcType=CHAR}, 
      #{evaluateOrderName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{total1Amount1,jdbcType=DECIMAL}, 
      #{total1Amount2,jdbcType=DECIMAL}, #{total2Amount1,jdbcType=DECIMAL}, #{total2Amount2,jdbcType=DECIMAL}, 
      #{total3Amount1,jdbcType=DECIMAL}, #{total3Amount2,jdbcType=DECIMAL}, #{renew1,jdbcType=CHAR}, 
      #{renew2,jdbcType=CHAR}, #{renew3,jdbcType=CHAR}, #{renew4,jdbcType=CHAR}, #{delFlag,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjTzDesignAdvistoryUnit" >
    insert into zj_tz_design_advistory_unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="designAdvistoryUnitId != null" >
        design_advistory_unit_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="designAdvistoryUnitStandardId != null" >
        design_advistory_unit_standard_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="subprojectInfoId != null" >
        subproject_info_id,
      </if>
      <if test="subprojectName != null" >
        subproject_name,
      </if>
      <if test="designStageId != null" >
        design_stage_id,
      </if>
      <if test="designStageName != null" >
        design_stage_name,
      </if>
      <if test="selectModeId != null" >
        select_mode_id,
      </if>
      <if test="selectModeName != null" >
        select_mode_name,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="amount1 != null" >
        amount1,
      </if>
      <if test="amount2 != null" >
        amount2,
      </if>
      <if test="proLeader != null" >
        pro_leader,
      </if>
      <if test="proLeaderTel != null" >
        pro_leader_tel,
      </if>
      <if test="evaluateOrderId != null" >
        evaluate_order_id,
      </if>
      <if test="evaluateOrderName != null" >
        evaluate_order_name,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="total1Amount1 != null" >
        total1_amount1,
      </if>
      <if test="total1Amount2 != null" >
        total1_amount2,
      </if>
      <if test="total2Amount1 != null" >
        total2_amount1,
      </if>
      <if test="total2Amount2 != null" >
        total2_amount2,
      </if>
      <if test="total3Amount1 != null" >
        total3_amount1,
      </if>
      <if test="total3Amount2 != null" >
        total3_amount2,
      </if>
      <if test="renew1 != null" >
        renew1,
      </if>
      <if test="renew2 != null" >
        renew2,
      </if>
      <if test="renew3 != null" >
        renew3,
      </if>
      <if test="renew4 != null" >
        renew4,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="designAdvistoryUnitId != null" >
        #{designAdvistoryUnitId,jdbcType=CHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=CHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=CHAR},
      </if>
      <if test="designAdvistoryUnitStandardId != null" >
        #{designAdvistoryUnitStandardId,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="subprojectInfoId != null" >
        #{subprojectInfoId,jdbcType=CHAR},
      </if>
      <if test="subprojectName != null" >
        #{subprojectName,jdbcType=VARCHAR},
      </if>
      <if test="designStageId != null" >
        #{designStageId,jdbcType=CHAR},
      </if>
      <if test="designStageName != null" >
        #{designStageName,jdbcType=VARCHAR},
      </if>
      <if test="selectModeId != null" >
        #{selectModeId,jdbcType=CHAR},
      </if>
      <if test="selectModeName != null" >
        #{selectModeName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="amount1 != null" >
        #{amount1,jdbcType=DECIMAL},
      </if>
      <if test="amount2 != null" >
        #{amount2,jdbcType=DECIMAL},
      </if>
      <if test="proLeader != null" >
        #{proLeader,jdbcType=VARCHAR},
      </if>
      <if test="proLeaderTel != null" >
        #{proLeaderTel,jdbcType=VARCHAR},
      </if>
      <if test="evaluateOrderId != null" >
        #{evaluateOrderId,jdbcType=CHAR},
      </if>
      <if test="evaluateOrderName != null" >
        #{evaluateOrderName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="total1Amount1 != null" >
        #{total1Amount1,jdbcType=DECIMAL},
      </if>
      <if test="total1Amount2 != null" >
        #{total1Amount2,jdbcType=DECIMAL},
      </if>
      <if test="total2Amount1 != null" >
        #{total2Amount1,jdbcType=DECIMAL},
      </if>
      <if test="total2Amount2 != null" >
        #{total2Amount2,jdbcType=DECIMAL},
      </if>
      <if test="total3Amount1 != null" >
        #{total3Amount1,jdbcType=DECIMAL},
      </if>
      <if test="total3Amount2 != null" >
        #{total3Amount2,jdbcType=DECIMAL},
      </if>
      <if test="renew1 != null" >
        #{renew1,jdbcType=CHAR},
      </if>
      <if test="renew2 != null" >
        #{renew2,jdbcType=CHAR},
      </if>
      <if test="renew3 != null" >
        #{renew3,jdbcType=CHAR},
      </if>
      <if test="renew4 != null" >
        #{renew4,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjTzDesignAdvistoryUnit" >
    update zj_tz_design_advistory_unit
    <set >
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=CHAR},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=CHAR},
      </if>
      <if test="designAdvistoryUnitStandardId != null" >
        design_advistory_unit_standard_id = #{designAdvistoryUnitStandardId,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="subprojectInfoId != null" >
        subproject_info_id = #{subprojectInfoId,jdbcType=CHAR},
      </if>
      <if test="subprojectName != null" >
        subproject_name = #{subprojectName,jdbcType=VARCHAR},
      </if>
      <if test="designStageId != null" >
        design_stage_id = #{designStageId,jdbcType=CHAR},
      </if>
      <if test="designStageName != null" >
        design_stage_name = #{designStageName,jdbcType=VARCHAR},
      </if>
      <if test="selectModeId != null" >
        select_mode_id = #{selectModeId,jdbcType=CHAR},
      </if>
      <if test="selectModeName != null" >
        select_mode_name = #{selectModeName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="amount1 != null" >
        amount1 = #{amount1,jdbcType=DECIMAL},
      </if>
      <if test="amount2 != null" >
        amount2 = #{amount2,jdbcType=DECIMAL},
      </if>
      <if test="proLeader != null" >
        pro_leader = #{proLeader,jdbcType=VARCHAR},
      </if>
      <if test="proLeaderTel != null" >
        pro_leader_tel = #{proLeaderTel,jdbcType=VARCHAR},
      </if>
      <if test="evaluateOrderId != null" >
        evaluate_order_id = #{evaluateOrderId,jdbcType=CHAR},
      </if>
      <if test="evaluateOrderName != null" >
        evaluate_order_name = #{evaluateOrderName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="total1Amount1 != null" >
        total1_amount1 = #{total1Amount1,jdbcType=DECIMAL},
      </if>
      <if test="total1Amount2 != null" >
        total1_amount2 = #{total1Amount2,jdbcType=DECIMAL},
      </if>
      <if test="total2Amount1 != null" >
        total2_amount1 = #{total2Amount1,jdbcType=DECIMAL},
      </if>
      <if test="total2Amount2 != null" >
        total2_amount2 = #{total2Amount2,jdbcType=DECIMAL},
      </if>
      <if test="total3Amount1 != null" >
        total3_amount1 = #{total3Amount1,jdbcType=DECIMAL},
      </if>
      <if test="total3Amount2 != null" >
        total3_amount2 = #{total3Amount2,jdbcType=DECIMAL},
      </if>
      <if test="renew1 != null" >
        renew1 = #{renew1,jdbcType=CHAR},
      </if>
      <if test="renew2 != null" >
        renew2 = #{renew2,jdbcType=CHAR},
      </if>
      <if test="renew3 != null" >
        renew3 = #{renew3,jdbcType=CHAR},
      </if>
      <if test="renew4 != null" >
        renew4 = #{renew4,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where design_advistory_unit_id = #{designAdvistoryUnitId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjTzDesignAdvistoryUnit" >
    update zj_tz_design_advistory_unit
    set       type_id = #{typeId,jdbcType=CHAR},
      type_name = #{typeName,jdbcType=CHAR},
      design_advistory_unit_standard_id = #{designAdvistoryUnitStandardId,jdbcType=CHAR},
      project_id = #{projectId,jdbcType=CHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      subproject_info_id = #{subprojectInfoId,jdbcType=CHAR},
      subproject_name = #{subprojectName,jdbcType=VARCHAR},
      design_stage_id = #{designStageId,jdbcType=CHAR},
      design_stage_name = #{designStageName,jdbcType=VARCHAR},
      select_mode_id = #{selectModeId,jdbcType=CHAR},
      select_mode_name = #{selectModeName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      amount1 = #{amount1,jdbcType=DECIMAL},
      amount2 = #{amount2,jdbcType=DECIMAL},
      pro_leader = #{proLeader,jdbcType=VARCHAR},
      pro_leader_tel = #{proLeaderTel,jdbcType=VARCHAR},
      evaluate_order_id = #{evaluateOrderId,jdbcType=CHAR},
      evaluate_order_name = #{evaluateOrderName,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      total1_amount1 = #{total1Amount1,jdbcType=DECIMAL},
      total1_amount2 = #{total1Amount2,jdbcType=DECIMAL},
      total2_amount1 = #{total2Amount1,jdbcType=DECIMAL},
      total2_amount2 = #{total2Amount2,jdbcType=DECIMAL},
      total3_amount1 = #{total3Amount1,jdbcType=DECIMAL},
      total3_amount2 = #{total3Amount2,jdbcType=DECIMAL},
      renew1 = #{renew1,jdbcType=CHAR},
      renew2 = #{renew2,jdbcType=CHAR},
      renew3 = #{renew3,jdbcType=CHAR},
      renew4 = #{renew4,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where design_advistory_unit_id = #{designAdvistoryUnitId,jdbcType=CHAR}
  </update>
  <select id="selectByZjTzDesignAdvistoryUnitList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzDesignAdvistoryUnit" >
    select 
    <include refid="Base_Column_List" />,
    (SELECT unit_name FROM zj_tz_design_advistory_unit_standard AS s WHERE s.del_flag = '0' AND s.design_advistory_unit_standard_id = unit.design_advistory_unit_standard_id) AS unitName,
    (SELECT org_code FROM zj_tz_design_advistory_unit_standard AS s WHERE s.del_flag = '0' AND s.design_advistory_unit_standard_id = unit.design_advistory_unit_standard_id) AS orgCode
    from zj_tz_design_advistory_unit AS unit
    where del_flag = '0'
    <if test="typeId != null and typeId != ''" >
     and type_id = #{typeId,jdbcType=CHAR}
    </if>
    <if test="typeName != null and typeName != ''" >
     and type_name = #{typeName,jdbcType=CHAR}
    </if>
    <if test="designAdvistoryUnitStandardId != null and designAdvistoryUnitStandardId != ''" >
     and design_advistory_unit_standard_id = #{designAdvistoryUnitStandardId,jdbcType=CHAR}
    </if>
    <if test="projectId != null and projectId != ''" >
     and project_id = #{projectId,jdbcType=CHAR}
    </if>
    <if test="_parameter != null and _parameter.projectIdSql != null and _parameter.projectIdSql != ''">
     and project_id in (${projectIdSql})
    </if>
    <if test="projectName != null and projectName != ''" >
     and project_name LIKE CONCAT('%', #{projectName},'%')
    </if>
    <if test="subprojectInfoId != null and subprojectInfoId != ''" >
     and subproject_info_id = #{subprojectInfoId,jdbcType=CHAR}
    </if>
    <if test="subprojectName != null and subprojectName != ''" >
     and subproject_name = #{subprojectName,jdbcType=VARCHAR}
    </if>
    <if test="designStageId != null and designStageId != ''" >
     and design_stage_id = #{designStageId,jdbcType=CHAR}
    </if>
    <if test="designStageName != null and designStageName != ''" >
     and design_stage_name = #{designStageName,jdbcType=VARCHAR}
    </if>
    <if test="selectModeId != null and selectModeId != ''" >
     and select_mode_id = #{selectModeId,jdbcType=CHAR}
    </if>
    <if test="selectModeName != null and selectModeName != ''" >
     and select_mode_name = #{selectModeName,jdbcType=VARCHAR}
    </if>
    <if test="content != null and content != ''" >
     and content = #{content,jdbcType=VARCHAR}
    </if>
    <if test="amount1 != null and amount1 != ''" >
     and amount1 = #{amount1,jdbcType=DECIMAL}
    </if>
    <if test="amount2 != null and amount2 != ''" >
     and amount2 = #{amount2,jdbcType=DECIMAL}
    </if>
    <if test="proLeader != null and proLeader != ''" >
     and pro_leader = #{proLeader,jdbcType=VARCHAR}
    </if>
    <if test="proLeaderTel != null and proLeaderTel != ''" >
     and pro_leader_tel = #{proLeaderTel,jdbcType=VARCHAR}
    </if>
    <if test="evaluateOrderId != null and evaluateOrderId != ''" >
     and evaluate_order_id = #{evaluateOrderId,jdbcType=CHAR}
    </if>
    <if test="evaluateOrderName != null and evaluateOrderName != ''" >
     and evaluate_order_name = #{evaluateOrderName,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="total1Amount1 != null and total1Amount1 != ''" >
     and total1_amount1 = #{total1Amount1,jdbcType=DECIMAL}
    </if>
    <if test="total1Amount2 != null and total1Amount2 != ''" >
     and total1_amount2 = #{total1Amount2,jdbcType=DECIMAL}
    </if>
    <if test="total2Amount1 != null and total2Amount1 != ''" >
     and total2_amount1 = #{total2Amount1,jdbcType=DECIMAL}
    </if>
    <if test="total2Amount2 != null and total2Amount2 != ''" >
     and total2_amount2 = #{total2Amount2,jdbcType=DECIMAL}
    </if>
    <if test="total3Amount1 != null and total3Amount1 != ''" >
     and total3_amount1 = #{total3Amount1,jdbcType=DECIMAL}
    </if>
    <if test="total3Amount2 != null and total3Amount2 != ''" >
     and total3_amount2 = #{total3Amount2,jdbcType=DECIMAL}
    </if>
    <if test="renew1 != null and renew1 != ''" >
     and renew1 = #{renew1,jdbcType=CHAR}
    </if>
    <if test="renew2 != null and renew2 != ''" >
     and renew2 = #{renew2,jdbcType=CHAR}
    </if>
    <if test="renew3 != null and renew3 != ''" >
     and renew3 = #{renew3,jdbcType=CHAR}
    </if>
    <if test="renew4 != null and renew4 != ''" >
     and renew4 = #{renew4,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY CASE renew4 WHEN '0' then 0 else 1 END, modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZjTzDesignAdvistoryUnit" parameterType="com.apih5.mybatis.pojo.ZjTzDesignAdvistoryUnit" >
    <![CDATA[ 
        update zj_tz_design_advistory_unit
        set del_flag = '1',
            renew1 = #{param2.renew1},
            renew2 = #{param2.renew2},
            renew3 = #{param2.renew3},
            renew4 = #{param2.renew4},
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and design_advistory_unit_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.designAdvistoryUnitId} 
     </foreach>
  </delete>
   <update id="updateZjTzDesignAdvistoryUnitProjectShortName" parameterType="com.apih5.mybatis.pojo.ZjTzDesignAdvistoryUnit">
		update zj_tz_design_advistory_unit
		set project_name = #{projectName,jdbcType=VARCHAR}
		where del_flag = '0'
		and project_id = #{projectId,jdbcType=CHAR}
	</update>
</mapper>
