<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjTzComplianceBaseMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjTzComplianceBase" >
    <id column="compliance_base_id" property="complianceBaseId" jdbcType="CHAR" />
    <result column="num" property="num" jdbcType="CHAR" />
    <result column="compliance_banse_name" property="complianceBanseName" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    compliance_base_id, num, compliance_banse_name, del_flag, create_time, 
    create_user, create_user_name, modify_time, modify_user, modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_compliance_base
    where compliance_base_id = #{complianceBaseId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_tz_compliance_base
    where compliance_base_id = #{complianceBaseId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjTzComplianceBase" >
    insert into zj_tz_compliance_base (compliance_base_id, num, compliance_banse_name, 
      del_flag, create_time, create_user, 
      create_user_name, modify_time, modify_user, 
      modify_user_name
      )
    values (#{complianceBaseId,jdbcType=CHAR}, #{num,jdbcType=CHAR}, #{complianceBanseName,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
      #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjTzComplianceBase" >
    insert into zj_tz_compliance_base
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="complianceBaseId != null" >
        compliance_base_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="complianceBanseName != null" >
        compliance_banse_name,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="complianceBaseId != null" >
        #{complianceBaseId,jdbcType=CHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=CHAR},
      </if>
      <if test="complianceBanseName != null" >
        #{complianceBanseName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjTzComplianceBase" >
    update zj_tz_compliance_base
    <set >
      <if test="num != null" >
        num = #{num,jdbcType=CHAR},
      </if>
      <if test="complianceBanseName != null" >
        compliance_banse_name = #{complianceBanseName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where compliance_base_id = #{complianceBaseId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjTzComplianceBase" >
    update zj_tz_compliance_base
    set       num = #{num,jdbcType=CHAR},
      compliance_banse_name = #{complianceBanseName,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where compliance_base_id = #{complianceBaseId,jdbcType=CHAR}
  </update>
  <select id="selectByZjTzComplianceBaseList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzComplianceBase" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_compliance_base
    where del_flag = '0'
    <if test="num != null and num != ''" >
     and num = #{num,jdbcType=CHAR}
    </if>
    <if test="complianceBanseName != null and complianceBanseName != ''" >
     and compliance_banse_name = #{complianceBanseName,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY CAST(num AS DECIMAL) 
  </select>
  <delete id="batchDeleteUpdateZjTzComplianceBase" parameterType="com.apih5.mybatis.pojo.ZjTzComplianceBase" >
    <![CDATA[ 
        update zj_tz_compliance_base
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and compliance_base_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.complianceBaseId} 
     </foreach>
  </delete>
</mapper>
