<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjTzGeneralContractSecurityDutyMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjTzGeneralContractSecurityDuty" >
    <id column="general_contract_security_id" property="generalContractSecurityId" jdbcType="CHAR" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="subprojects_id" property="subprojectsId" jdbcType="VARCHAR" />
    <result column="subprojects_name" property="subprojectsName" jdbcType="VARCHAR" />
    <result column="general_contract_security_title" property="generalContractSecurityTitle" jdbcType="VARCHAR" />
    <result column="general_contract_security_content" property="generalContractSecurityContent" jdbcType="VARCHAR" />
    <result column="general_contract_security_date" property="generalContractSecurityDate" jdbcType="TIMESTAMP" />
    <result column="general_contract_security_user" property="generalContractSecurityUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    general_contract_security_id, project_id, project_name, subprojects_id, subprojects_name, 
    general_contract_security_title, general_contract_security_content, general_contract_security_date, general_contract_security_user, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_qhse_general_contract_security_duty
    where general_contract_security_id = #{generalContractSecurityId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_tz_qhse_general_contract_security_duty
    where general_contract_security_id = #{generalContractSecurityId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjTzGeneralContractSecurityDuty" >
    insert into zj_tz_qhse_general_contract_security_duty (general_contract_security_id, project_id, project_name, 
      subprojects_id, subprojects_name, general_contract_security_title, 
      general_contract_security_content, general_contract_security_date, general_contract_security_user, 
      del_flag, create_time, create_user, 
      create_user_name, modify_time, modify_user, 
      modify_user_name
      )
    values (#{generalContractSecurityId,jdbcType=CHAR}, #{projectId,jdbcType=CHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{subprojectsId,jdbcType=VARCHAR}, #{subprojectsName,jdbcType=VARCHAR}, #{generalContractSecurityTitle,jdbcType=VARCHAR}, 
      #{generalContractSecurityContent,jdbcType=VARCHAR}, #{generalContractSecurityDate,jdbcType=TIMESTAMP}, #{generalContractSecurityUser,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
      #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjTzGeneralContractSecurityDuty" >
    insert into zj_tz_qhse_general_contract_security_duty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="generalContractSecurityId != null" >
        general_contract_security_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="subprojectsId != null" >
        subprojects_id,
      </if>
      <if test="subprojectsName != null" >
        subprojects_name,
      </if>
      <if test="generalContractSecurityTitle != null" >
        general_contract_security_title,
      </if>
      <if test="generalContractSecurityContent != null" >
        general_contract_security_content,
      </if>
      <if test="generalContractSecurityDate != null" >
        general_contract_security_date,
      </if>
      <if test="generalContractSecurityUser != null" >
        general_contract_security_user,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="generalContractSecurityId != null" >
        #{generalContractSecurityId,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsId != null" >
        #{subprojectsId,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsName != null" >
        #{subprojectsName,jdbcType=VARCHAR},
      </if>
      <if test="generalContractSecurityTitle != null" >
        #{generalContractSecurityTitle,jdbcType=VARCHAR},
      </if>
      <if test="generalContractSecurityContent != null" >
        #{generalContractSecurityContent,jdbcType=VARCHAR},
      </if>
      <if test="generalContractSecurityDate != null" >
        #{generalContractSecurityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="generalContractSecurityUser != null" >
        #{generalContractSecurityUser,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjTzGeneralContractSecurityDuty" >
    update zj_tz_qhse_general_contract_security_duty
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsId != null" >
        subprojects_id = #{subprojectsId,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsName != null" >
        subprojects_name = #{subprojectsName,jdbcType=VARCHAR},
      </if>
      <if test="generalContractSecurityTitle != null" >
        general_contract_security_title = #{generalContractSecurityTitle,jdbcType=VARCHAR},
      </if>
      <if test="generalContractSecurityContent != null" >
        general_contract_security_content = #{generalContractSecurityContent,jdbcType=VARCHAR},
      </if>
      <if test="generalContractSecurityDate != null" >
        general_contract_security_date = #{generalContractSecurityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="generalContractSecurityUser != null" >
        general_contract_security_user = #{generalContractSecurityUser,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where general_contract_security_id = #{generalContractSecurityId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjTzGeneralContractSecurityDuty" >
    update zj_tz_qhse_general_contract_security_duty
    set       project_id = #{projectId,jdbcType=CHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      subprojects_id = #{subprojectsId,jdbcType=VARCHAR},
      subprojects_name = #{subprojectsName,jdbcType=VARCHAR},
      general_contract_security_title = #{generalContractSecurityTitle,jdbcType=VARCHAR},
      general_contract_security_content = #{generalContractSecurityContent,jdbcType=VARCHAR},
      general_contract_security_date = #{generalContractSecurityDate,jdbcType=TIMESTAMP},
      general_contract_security_user = #{generalContractSecurityUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where general_contract_security_id = #{generalContractSecurityId,jdbcType=CHAR}
  </update>
  <select id="selectByZjTzGeneralContractSecurityDutyList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzGeneralContractSecurityDuty" >
    select 
    zj_tz_qhse_general_contract_security_duty.general_contract_security_id, zj_tz_qhse_general_contract_security_duty.project_id, zj_tz_qhse_general_contract_security_duty.project_name, 
    zj_tz_qhse_general_contract_security_duty.subprojects_id, zj_tz_qhse_general_contract_security_duty.subprojects_name, zj_tz_qhse_general_contract_security_duty.general_contract_security_title, 
    zj_tz_qhse_general_contract_security_duty.general_contract_security_content, zj_tz_qhse_general_contract_security_duty.general_contract_security_date, zj_tz_qhse_general_contract_security_duty.general_contract_security_user, 
    zj_tz_qhse_general_contract_security_duty.del_flag, zj_tz_qhse_general_contract_security_duty.create_time, zj_tz_qhse_general_contract_security_duty.create_user, 
    zj_tz_qhse_general_contract_security_duty.create_user_name, zj_tz_qhse_general_contract_security_duty.modify_time, zj_tz_qhse_general_contract_security_duty.modify_user, 
    zj_tz_qhse_general_contract_security_duty.modify_user_name
    from zj_tz_qhse_general_contract_security_duty left join zj_tz_pro_manage on zj_tz_pro_manage.project_id = zj_tz_qhse_general_contract_security_duty.project_id and zj_tz_pro_manage.del_flag = '0'
    where zj_tz_qhse_general_contract_security_duty.del_flag = '0'
    <if test="projectId != null and projectId != ''" >
     and zj_tz_qhse_general_contract_security_duty.project_id = #{projectId,jdbcType=CHAR}
    </if>
    <if test="_parameter != null and _parameter.projectIdSql != null and _parameter.projectIdSql != ''">
     and zj_tz_qhse_general_contract_security_duty.project_id in (${projectIdSql})
    </if>     
    <if test="projectName != null and projectName != ''" >
     <!-- and project_name = #{projectName,jdbcType=VARCHAR} -->
     and zj_tz_pro_manage.project_name like CONCAT('%', #{projectName,jdbcType=VARCHAR}, '%')      
    </if>
    <if test="subprojectsId != null and subprojectsId != ''" >
     and zj_tz_qhse_general_contract_security_duty.subprojects_id = #{subprojectsId,jdbcType=VARCHAR}
    </if>
    <if test="subprojectsName != null and subprojectsName != ''" >
     and zj_tz_qhse_general_contract_security_duty.subprojects_name = #{subprojectsName,jdbcType=VARCHAR}
    </if>
    <if test="generalContractSecurityTitle != null and generalContractSecurityTitle != ''" >
     <!-- and general_contract_security_title = #{generalContractSecurityTitle,jdbcType=VARCHAR} -->
     and zj_tz_qhse_general_contract_security_duty.general_contract_security_title like CONCAT('%', #{generalContractSecurityTitle,jdbcType=VARCHAR}, '%')      
    </if>
    <if test="generalContractSecurityContent != null and generalContractSecurityContent != ''" >
     and zj_tz_qhse_general_contract_security_duty.general_contract_security_content = #{generalContractSecurityContent,jdbcType=VARCHAR}
    </if>
    <if test="generalContractSecurityDate != null" >
     and zj_tz_qhse_general_contract_security_duty.general_contract_security_date = #{generalContractSecurityDate,jdbcType=TIMESTAMP}
    </if>
    <if test="generalContractSecurityUser != null and generalContractSecurityUser != ''" >
     and zj_tz_qhse_general_contract_security_duty.general_contract_security_user = #{generalContractSecurityUser,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and zj_tz_qhse_general_contract_security_duty.create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and zj_tz_qhse_general_contract_security_duty.modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZjTzGeneralContractSecurityDuty" parameterType="com.apih5.mybatis.pojo.ZjTzGeneralContractSecurityDuty" >
    <![CDATA[ 
        update zj_tz_qhse_general_contract_security_duty
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and general_contract_security_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.generalContractSecurityId} 
     </foreach>
  </delete>
</mapper>
