<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjTzPolicyLocalMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjTzPolicyLocal" >
    <id column="policy_id" property="policyId" jdbcType="CHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="symbolNo" property="symbolNo" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_short_name" property="projectShortName" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
    <result column="release_rank_id" property="releaseRankId" jdbcType="CHAR" />
    <result column="release_rank_name" property="releaseRankName" jdbcType="VARCHAR" />
    <result column="sys_date" property="sysDate" jdbcType="DATE" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="release_date" property="releaseDate" jdbcType="DATE" />
    <result column="effect_date" property="effectDate" jdbcType="DATE" />
    <result column="register_user" property="registerUser" jdbcType="VARCHAR" />
    <result column="effective_id" property="effectiveId" jdbcType="CHAR" />
    <result column="effective_name" property="effectiveName" jdbcType="VARCHAR" />
    <result column="report" property="report" jdbcType="VARCHAR" />
    <result column="push_info_reply" property="pushInfoReply" jdbcType="INTEGER" />
    <result column="push_info_all" property="pushInfoAll" jdbcType="INTEGER" />
    <result column="push_info" property="pushInfo" jdbcType="VARCHAR" />
    <result column="home_show" property="homeShow" jdbcType="CHAR" />
    <result column="home_show_start_date" property="homeShowStartDate" jdbcType="DATE" />
    <result column="home_show_end_date" property="homeShowEndDate" jdbcType="DATE" />
    <result column="release_id" property="releaseId" jdbcType="CHAR" />
    <result column="release_name" property="releaseName" jdbcType="VARCHAR" />
    <result column="status_id" property="statusId" jdbcType="CHAR" />
    <result column="status_name" property="statusName" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    policy_id, title, symbolNo, project_id, project_name, 
    project_short_name, province_id, release_rank_id, release_rank_name, sys_date, 
    department_name, release_date, effect_date, register_user, effective_id, 
    effective_name, report, push_info_reply, push_info_all, push_info, 
    home_show, home_show_start_date, home_show_end_date, release_id, release_name, 
    status_id, status_name, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_policy_local
    where policy_id = #{policyId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_tz_policy_local
    where policy_id = #{policyId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjTzPolicyLocal" >
    insert into zj_tz_policy_local (policy_id, title, symbolNo, 
      project_id, project_name, project_short_name, 
      province_id, release_rank_id, release_rank_name, 
      sys_date, department_name, release_date, 
      effect_date, register_user, effective_id, 
      effective_name, report, push_info_reply, 
      push_info_all, push_info, home_show, 
      home_show_start_date, home_show_end_date, release_id, 
      release_name, status_id, status_name, 
      del_flag, create_time, create_user, 
      create_user_name, modify_time, modify_user, 
      modify_user_name
      )
    values (#{policyId,jdbcType=CHAR}, #{title,jdbcType=VARCHAR}, #{symbolNo,jdbcType=VARCHAR}, 
      #{projectId,jdbcType=CHAR}, #{projectName,jdbcType=VARCHAR}, #{projectShortName,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=VARCHAR}, #{releaseRankId,jdbcType=CHAR}, #{releaseRankName,jdbcType=VARCHAR}, 
      #{sysDate,jdbcType=DATE}, #{departmentName,jdbcType=VARCHAR}, #{releaseDate,jdbcType=DATE}, 
      #{effectDate,jdbcType=DATE}, #{registerUser,jdbcType=VARCHAR}, #{effectiveId,jdbcType=CHAR}, 
      #{effectiveName,jdbcType=VARCHAR}, #{report,jdbcType=VARCHAR}, #{pushInfoReply,jdbcType=INTEGER}, 
      #{pushInfoAll,jdbcType=INTEGER}, #{pushInfo,jdbcType=VARCHAR}, #{homeShow,jdbcType=CHAR}, 
      #{homeShowStartDate,jdbcType=DATE}, #{homeShowEndDate,jdbcType=DATE}, #{releaseId,jdbcType=CHAR}, 
      #{releaseName,jdbcType=VARCHAR}, #{statusId,jdbcType=CHAR}, #{statusName,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
      #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjTzPolicyLocal" >
    insert into zj_tz_policy_local
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="policyId != null" >
        policy_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="symbolNo != null" >
        symbolNo,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectShortName != null" >
        project_short_name,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="releaseRankId != null" >
        release_rank_id,
      </if>
      <if test="releaseRankName != null" >
        release_rank_name,
      </if>
      <if test="sysDate != null" >
        sys_date,
      </if>
      <if test="departmentName != null" >
        department_name,
      </if>
      <if test="releaseDate != null" >
        release_date,
      </if>
      <if test="effectDate != null" >
        effect_date,
      </if>
      <if test="registerUser != null" >
        register_user,
      </if>
      <if test="effectiveId != null" >
        effective_id,
      </if>
      <if test="effectiveName != null" >
        effective_name,
      </if>
      <if test="report != null" >
        report,
      </if>
      <if test="pushInfoReply != null" >
        push_info_reply,
      </if>
      <if test="pushInfoAll != null" >
        push_info_all,
      </if>
      <if test="pushInfo != null" >
        push_info,
      </if>
      <if test="homeShow != null" >
        home_show,
      </if>
      <if test="homeShowStartDate != null" >
        home_show_start_date,
      </if>
      <if test="homeShowEndDate != null" >
        home_show_end_date,
      </if>
      <if test="releaseId != null" >
        release_id,
      </if>
      <if test="releaseName != null" >
        release_name,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="statusName != null" >
        status_name,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="policyId != null" >
        #{policyId,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="symbolNo != null" >
        #{symbolNo,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectShortName != null" >
        #{projectShortName,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="releaseRankId != null" >
        #{releaseRankId,jdbcType=CHAR},
      </if>
      <if test="releaseRankName != null" >
        #{releaseRankName,jdbcType=VARCHAR},
      </if>
      <if test="sysDate != null" >
        #{sysDate,jdbcType=DATE},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null" >
        #{releaseDate,jdbcType=DATE},
      </if>
      <if test="effectDate != null" >
        #{effectDate,jdbcType=DATE},
      </if>
      <if test="registerUser != null" >
        #{registerUser,jdbcType=VARCHAR},
      </if>
      <if test="effectiveId != null" >
        #{effectiveId,jdbcType=CHAR},
      </if>
      <if test="effectiveName != null" >
        #{effectiveName,jdbcType=VARCHAR},
      </if>
      <if test="report != null" >
        #{report,jdbcType=VARCHAR},
      </if>
      <if test="pushInfoReply != null" >
        #{pushInfoReply,jdbcType=INTEGER},
      </if>
      <if test="pushInfoAll != null" >
        #{pushInfoAll,jdbcType=INTEGER},
      </if>
      <if test="pushInfo != null" >
        #{pushInfo,jdbcType=VARCHAR},
      </if>
      <if test="homeShow != null" >
        #{homeShow,jdbcType=CHAR},
      </if>
      <if test="homeShowStartDate != null" >
        #{homeShowStartDate,jdbcType=DATE},
      </if>
      <if test="homeShowEndDate != null" >
        #{homeShowEndDate,jdbcType=DATE},
      </if>
      <if test="releaseId != null" >
        #{releaseId,jdbcType=CHAR},
      </if>
      <if test="releaseName != null" >
        #{releaseName,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=CHAR},
      </if>
      <if test="statusName != null" >
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjTzPolicyLocal" >
    update zj_tz_policy_local
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="symbolNo != null" >
        symbolNo = #{symbolNo,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectShortName != null" >
        project_short_name = #{projectShortName,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="releaseRankId != null" >
        release_rank_id = #{releaseRankId,jdbcType=CHAR},
      </if>
      <if test="releaseRankName != null" >
        release_rank_name = #{releaseRankName,jdbcType=VARCHAR},
      </if>
      <if test="sysDate != null" >
        sys_date = #{sysDate,jdbcType=DATE},
      </if>
      <if test="departmentName != null" >
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null" >
        release_date = #{releaseDate,jdbcType=DATE},
      </if>
      <if test="effectDate != null" >
        effect_date = #{effectDate,jdbcType=DATE},
      </if>
      <if test="registerUser != null" >
        register_user = #{registerUser,jdbcType=VARCHAR},
      </if>
      <if test="effectiveId != null" >
        effective_id = #{effectiveId,jdbcType=CHAR},
      </if>
      <if test="effectiveName != null" >
        effective_name = #{effectiveName,jdbcType=VARCHAR},
      </if>
      <if test="report != null" >
        report = #{report,jdbcType=VARCHAR},
      </if>
      <if test="pushInfoReply != null" >
        push_info_reply = #{pushInfoReply,jdbcType=INTEGER},
      </if>
      <if test="pushInfoAll != null" >
        push_info_all = #{pushInfoAll,jdbcType=INTEGER},
      </if>
      <if test="pushInfo != null" >
        push_info = #{pushInfo,jdbcType=VARCHAR},
      </if>
      <if test="homeShow != null" >
        home_show = #{homeShow,jdbcType=CHAR},
      </if>
      <if test="homeShowStartDate != null" >
        home_show_start_date = #{homeShowStartDate,jdbcType=DATE},
      </if>
      <if test="homeShowEndDate != null" >
        home_show_end_date = #{homeShowEndDate,jdbcType=DATE},
      </if>
      <if test="releaseId != null" >
        release_id = #{releaseId,jdbcType=CHAR},
      </if>
      <if test="releaseName != null" >
        release_name = #{releaseName,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=CHAR},
      </if>
      <if test="statusName != null" >
        status_name = #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where policy_id = #{policyId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjTzPolicyLocal" >
    update zj_tz_policy_local
    set       title = #{title,jdbcType=VARCHAR},
      symbolNo = #{symbolNo,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=CHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_short_name = #{projectShortName,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR},
      release_rank_id = #{releaseRankId,jdbcType=CHAR},
      release_rank_name = #{releaseRankName,jdbcType=VARCHAR},
      sys_date = #{sysDate,jdbcType=DATE},
      department_name = #{departmentName,jdbcType=VARCHAR},
      release_date = #{releaseDate,jdbcType=DATE},
      effect_date = #{effectDate,jdbcType=DATE},
      register_user = #{registerUser,jdbcType=VARCHAR},
      effective_id = #{effectiveId,jdbcType=CHAR},
      effective_name = #{effectiveName,jdbcType=VARCHAR},
      report = #{report,jdbcType=VARCHAR},
      push_info_reply = #{pushInfoReply,jdbcType=INTEGER},
      push_info_all = #{pushInfoAll,jdbcType=INTEGER},
      push_info = #{pushInfo,jdbcType=VARCHAR},
      home_show = #{homeShow,jdbcType=CHAR},
      home_show_start_date = #{homeShowStartDate,jdbcType=DATE},
      home_show_end_date = #{homeShowEndDate,jdbcType=DATE},
      release_id = #{releaseId,jdbcType=CHAR},
      release_name = #{releaseName,jdbcType=VARCHAR},
      status_id = #{statusId,jdbcType=CHAR},
      status_name = #{statusName,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where policy_id = #{policyId,jdbcType=CHAR}
  </update>
  <select id="selectByZjTzPolicyLocalList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzPolicyLocal" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_policy_local
    where del_flag = '0'
    <if test="policyId != null and policyId != ''" >
     and policy_id = #{policyId,jdbcType=CHAR}
    </if>
    <if test="title != null and title != ''" >
     and title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="symbolNo != null and symbolNo != ''" >
     and symbolNo = #{symbolNo,jdbcType=VARCHAR}
    </if>
    <if test="projectId != null and projectId != ''" >
     and project_id = #{projectId,jdbcType=CHAR}
    </if>
    <if test="_parameter != null and _parameter.projectIdSql != null and _parameter.projectIdSql != ''">
     and 
     ( project_id in (${projectIdSql})
        OR
       release_id = '1' 
     )
    </if>
    <if test="projectName != null and projectName != ''" >
     and project_name = #{projectName,jdbcType=VARCHAR}
    </if>
    <if test="projectShortName != null and projectShortName != ''" >
     and project_short_name = #{projectShortName,jdbcType=VARCHAR}
    </if>
    <if test="provinceId != null and provinceId != ''" >
     and province_id = #{provinceId,jdbcType=VARCHAR}
    </if>
    <if test="releaseRankId != null and releaseRankId != ''" >
     and release_rank_id = #{releaseRankId,jdbcType=CHAR}
    </if>
    <if test="releaseRankName != null and releaseRankName != ''" >
     and release_rank_name = #{releaseRankName,jdbcType=VARCHAR}
    </if>
    <if test="sysDate != null" >
     and sys_date = #{sysDate,jdbcType=DATE}
    </if>
    <if test="departmentName != null and departmentName != ''" >
     and department_name LIKE CONCAT('%', #{departmentName},'%')
    </if>
    <if test="releaseDate != null" >
     and release_date = #{releaseDate,jdbcType=DATE}
    </if>
    <if test="effectDate != null" >
     and effect_date = #{effectDate,jdbcType=DATE}
    </if>
    <if test="registerUser != null and registerUser != ''" >
     and register_user = #{registerUser,jdbcType=VARCHAR}
    </if>
    <if test="effectiveId != null and effectiveId != ''" >
     and effective_id = #{effectiveId,jdbcType=CHAR}
    </if>
    <if test="effectiveName != null and effectiveName != ''" >
     and effective_name = #{effectiveName,jdbcType=VARCHAR}
    </if>
    <if test="report != null and report != ''" >
     and report = #{report,jdbcType=VARCHAR}
    </if>
    <if test="pushInfoReply != null and pushInfoReply != ''" >
     and push_info_reply = #{pushInfoReply,jdbcType=INTEGER}
    </if>
    <if test="pushInfoAll != null and pushInfoAll != ''" >
     and push_info_all = #{pushInfoAll,jdbcType=INTEGER}
    </if>
    <if test="pushInfo != null and pushInfo != ''" >
     and push_info = #{pushInfo,jdbcType=VARCHAR}
    </if>
    <if test="homeShow != null and homeShow != ''" >
     and home_show = #{homeShow,jdbcType=CHAR}
    </if>
    <if test="homeShowStartDate != null" >
     and home_show_start_date = #{homeShowStartDate,jdbcType=DATE}
    </if>
    <if test="homeShowEndDate != null" >
     and home_show_end_date = #{homeShowEndDate,jdbcType=DATE}
    </if>
    <if test="releaseId != null and releaseId != ''" >
     and release_id = #{releaseId,jdbcType=CHAR}
    </if>
    <if test="releaseName != null and releaseName != ''" >
     and release_name = #{releaseName,jdbcType=VARCHAR}
    </if>
    <if test="statusId != null and statusId != ''" >
     and status_id = #{statusId,jdbcType=CHAR}
    </if>
    <if test="statusName != null and statusName != ''" >
     and status_name = #{statusName,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    <if test="ext1SeeFlag != null and ext1SeeFlag != ''" >
     and 
     (
       project_id = #{ext1SeeFlag}
          OR 
       release_id = '1'
     )
    </if>    
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZjTzPolicyLocal" parameterType="com.apih5.mybatis.pojo.ZjTzPolicyLocal" >
    <![CDATA[ 
        update zj_tz_policy_local
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and policy_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.policyId} 
     </foreach>
  </delete>
  
  <delete id="batchDeleteReleaseZjTzPolicyLocal" parameterType="com.apih5.mybatis.pojo.ZjTzPolicyLocal" >
    <![CDATA[ 
        update zj_tz_policy_local
        set release_id = '1',
            release_name=#{param2.releaseName},
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and policy_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.policyId} 
     </foreach>
  </delete>
  <delete id="batchDeleteRecallZjTzPolicyLocal" parameterType="com.apih5.mybatis.pojo.ZjTzPolicyLocal" >
    <![CDATA[ 
        update zj_tz_policy_local
        set release_id = '0',
            home_show =#{param2.homeShow},
            release_name=#{param2.releaseName},
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and policy_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.policyId} 
     </foreach>
  </delete>
  
  
  <update id="updateZjTzPolicyLocalProjectShortName" parameterType="com.apih5.mybatis.pojo.ZjTzPolicyLocal">
		update zj_tz_policy_local
		set project_name = #{projectName,jdbcType=VARCHAR},
		project_short_name = #{projectShortName,jdbcType=VARCHAR}
		where del_flag = '0'
		and project_id = #{projectId,jdbcType=CHAR}
	</update>
  
  <delete id="batchReportZjTzPolicyLocal" parameterType="com.apih5.mybatis.pojo.ZjTzPolicyLocal" >
    <![CDATA[ 
        update zj_tz_policy_local
        set status_id =#{param2.statusId},
            status_name=#{param2.releaseName},
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and policy_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.policyId} 
     </foreach>
  </delete>
  <select id="selectZjTzHomeMacroPolicyLocal" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzPolicyLocal">
  	SELECT
  		<include refid="Base_Column_List" />,
		( SELECT item_name FROM base_code WHERE item_id = province_id AND del_flag = '0' ) AS province_name 
	FROM
		zj_tz_policy_local 
	WHERE
		del_flag = '0' and home_show = '1' and release_id = '1'
	LIMIT 4
  </select>
</mapper>
