<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjTzSafetyManagementOrganMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjTzSafetyManagementOrgan" >
    <id column="safety_organ_id" property="safetyOrganId" jdbcType="CHAR" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="subprojects_id" property="subprojectsId" jdbcType="VARCHAR" />
    <result column="subprojects_name" property="subprojectsName" jdbcType="VARCHAR" />
    <result column="safety_organ_title" property="safetyOrganTitle" jdbcType="VARCHAR" />
    <result column="safety_organ_content" property="safetyOrganContent" jdbcType="VARCHAR" />
    <result column="safety_organ_date" property="safetyOrganDate" jdbcType="TIMESTAMP" />
    <result column="safety_organ_user" property="safetyOrganUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    safety_organ_id, project_id, project_name, subprojects_id, subprojects_name, 
    safety_organ_title, safety_organ_content, safety_organ_date, safety_organ_user, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zj_tz_qhse_safety_management_organ
    where safety_organ_id = #{safetyOrganId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_tz_qhse_safety_management_organ
    where safety_organ_id = #{safetyOrganId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyManagementOrgan" >
    insert into zj_tz_qhse_safety_management_organ (safety_organ_id, project_id, project_name, 
      subprojects_id, subprojects_name, safety_organ_title, 
      safety_organ_content, safety_organ_date, safety_organ_user, 
      del_flag, create_time, create_user, 
      create_user_name, modify_time, modify_user, 
      modify_user_name
      )
    values (#{safetyOrganId,jdbcType=CHAR}, #{projectId,jdbcType=CHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{subprojectsId,jdbcType=VARCHAR}, #{subprojectsName,jdbcType=VARCHAR}, #{safetyOrganTitle,jdbcType=VARCHAR}, 
      #{safetyOrganContent,jdbcType=VARCHAR}, #{safetyOrganDate,jdbcType=TIMESTAMP}, #{safetyOrganUser,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
      #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyManagementOrgan" >
    insert into zj_tz_qhse_safety_management_organ
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="safetyOrganId != null" >
        safety_organ_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="subprojectsId != null" >
        subprojects_id,
      </if>
      <if test="subprojectsName != null" >
        subprojects_name,
      </if>
      <if test="safetyOrganTitle != null" >
        safety_organ_title,
      </if>
      <if test="safetyOrganContent != null" >
        safety_organ_content,
      </if>
      <if test="safetyOrganDate != null" >
        safety_organ_date,
      </if>
      <if test="safetyOrganUser != null" >
        safety_organ_user,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="safetyOrganId != null" >
        #{safetyOrganId,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsId != null" >
        #{subprojectsId,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsName != null" >
        #{subprojectsName,jdbcType=VARCHAR},
      </if>
      <if test="safetyOrganTitle != null" >
        #{safetyOrganTitle,jdbcType=VARCHAR},
      </if>
      <if test="safetyOrganContent != null" >
        #{safetyOrganContent,jdbcType=VARCHAR},
      </if>
      <if test="safetyOrganDate != null" >
        #{safetyOrganDate,jdbcType=TIMESTAMP},
      </if>
      <if test="safetyOrganUser != null" >
        #{safetyOrganUser,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyManagementOrgan" >
    update zj_tz_qhse_safety_management_organ
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=CHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsId != null" >
        subprojects_id = #{subprojectsId,jdbcType=VARCHAR},
      </if>
      <if test="subprojectsName != null" >
        subprojects_name = #{subprojectsName,jdbcType=VARCHAR},
      </if>
      <if test="safetyOrganTitle != null" >
        safety_organ_title = #{safetyOrganTitle,jdbcType=VARCHAR},
      </if>
      <if test="safetyOrganContent != null" >
        safety_organ_content = #{safetyOrganContent,jdbcType=VARCHAR},
      </if>
      <if test="safetyOrganDate != null" >
        safety_organ_date = #{safetyOrganDate,jdbcType=TIMESTAMP},
      </if>
      <if test="safetyOrganUser != null" >
        safety_organ_user = #{safetyOrganUser,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where safety_organ_id = #{safetyOrganId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyManagementOrgan" >
    update zj_tz_qhse_safety_management_organ
    set       project_id = #{projectId,jdbcType=CHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      subprojects_id = #{subprojectsId,jdbcType=VARCHAR},
      subprojects_name = #{subprojectsName,jdbcType=VARCHAR},
      safety_organ_title = #{safetyOrganTitle,jdbcType=VARCHAR},
      safety_organ_content = #{safetyOrganContent,jdbcType=VARCHAR},
      safety_organ_date = #{safetyOrganDate,jdbcType=TIMESTAMP},
      safety_organ_user = #{safetyOrganUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where safety_organ_id = #{safetyOrganId,jdbcType=CHAR}
  </update>
  <select id="selectByZjTzSafetyManagementOrganList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyManagementOrgan" >
    select 
    zj_tz_qhse_safety_management_organ.safety_organ_id, zj_tz_qhse_safety_management_organ.project_id, zj_tz_pro_manage.project_name, 
    zj_tz_qhse_safety_management_organ.subprojects_id, zj_tz_qhse_safety_management_organ.subprojects_name, zj_tz_qhse_safety_management_organ.safety_organ_title, 
    zj_tz_qhse_safety_management_organ.safety_organ_content, zj_tz_qhse_safety_management_organ.safety_organ_date, zj_tz_qhse_safety_management_organ.safety_organ_user, 
    zj_tz_qhse_safety_management_organ.del_flag, zj_tz_qhse_safety_management_organ.create_time, zj_tz_qhse_safety_management_organ.create_user, 
    zj_tz_qhse_safety_management_organ.create_user_name, zj_tz_qhse_safety_management_organ.modify_time, zj_tz_qhse_safety_management_organ.modify_user, 
    zj_tz_qhse_safety_management_organ.modify_user_name
    from zj_tz_qhse_safety_management_organ left join zj_tz_pro_manage on zj_tz_pro_manage.project_id = zj_tz_qhse_safety_management_organ.project_id and zj_tz_pro_manage.del_flag = '0'
    where zj_tz_qhse_safety_management_organ.del_flag = '0'
    <if test="projectId != null and projectId != ''" >
     and zj_tz_qhse_safety_management_organ.project_id = #{projectId,jdbcType=CHAR}
    </if>
    <if test="_parameter != null and _parameter.projectIdSql != null and _parameter.projectIdSql != ''">
     and zj_tz_qhse_safety_management_organ.project_id in (${projectIdSql})
    </if>     
    <if test="projectName != null and projectName != ''" >
     <!-- and project_name = #{projectName,jdbcType=VARCHAR} -->
     and zj_tz_pro_manage.project_name like CONCAT('%', #{projectName,jdbcType=VARCHAR}, '%')      
    </if>
    <if test="subprojectsId != null and subprojectsId != ''" >
     and zj_tz_qhse_safety_management_organ.subprojects_id = #{subprojectsId,jdbcType=VARCHAR}
    </if>
    <if test="subprojectsName != null and subprojectsName != ''" >
     and zj_tz_qhse_safety_management_organ.subprojects_name = #{subprojectsName,jdbcType=VARCHAR}
    </if>
    <if test="safetyOrganTitle != null and safetyOrganTitle != ''" >
     <!-- and safety_organ_title = #{safetyOrganTitle,jdbcType=VARCHAR} -->
     and zj_tz_qhse_safety_management_organ.safety_organ_title like CONCAT('%', #{safetyOrganTitle,jdbcType=VARCHAR}, '%') 
    </if>
    <if test="safetyOrganContent != null and safetyOrganContent != ''" >
     and zj_tz_qhse_safety_management_organ.safety_organ_content = #{safetyOrganContent,jdbcType=VARCHAR}
    </if>
    <if test="safetyOrganDate != null" >
     and zj_tz_qhse_safety_management_organ.safety_organ_date = #{safetyOrganDate,jdbcType=TIMESTAMP}
    </if>
    <if test="safetyOrganUser != null and safetyOrganUser != ''" >
     and zj_tz_qhse_safety_management_organ.safety_organ_user = #{safetyOrganUser,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and zj_tz_qhse_safety_management_organ.create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and zj_tz_qhse_safety_management_organ.modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY zj_tz_qhse_safety_management_organ.modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZjTzSafetyManagementOrgan" parameterType="com.apih5.mybatis.pojo.ZjTzSafetyManagementOrgan" >
    <![CDATA[ 
        update zj_tz_qhse_safety_management_organ
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and safety_organ_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.safetyOrganId} 
     </foreach>
  </delete>
</mapper>
