#map{
    width:48%;
    height: 74%;
    position: absolute;
    left:26.5%; 
    margin-top:4%;
}

#Broadcast .nav { 
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    text-align: right;
    color: white;
    padding-right: 10px;  
}
#Broadcast .con{
    height: 100%;
    padding: 10px 0px;
}
#ranking{
    /* height: 55%; */
    text-align: left; 
    padding:15px;
    box-sizing: border-box;
}
#ranking .title{
    height: 5%;  
    padding:0px 10px; 
    font-size: 100%; 
    box-sizing: border-box;
    /* margin-left:10px; */
}
#ranking ul{
    width:100%;
    height: 90%; 
    overflow-y: scroll; 
    margin-top:10px;
    scrollbar-arrow-color: #f4ae21;
    /**/
    /*三角箭头的颜色*/
    scrollbar-face-color: #075e92;
    /**/
    /*立体滚动条的颜色*/
    scrollbar-3dlight-color: #368fc3;
    /**/
    /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #368fc3;
    /**/
    /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #368fc3;
    /**/
    /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #368fc3;
    /**/
    /*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #368fc3;
    /**/
    /*立体滚动条背景颜色*/
    scrollbar-base-color: #368fc3;
}
#ranking ul li{ 
    margin:7px;
    padding:10px; 
    list-style: none; 
    /* border-bottom:1px solid #075e92;  */
    background: url('http://weixin.fheb.cn:99/woaMapCdn/one_blank_item.png');
    background-repeat: no-repeat;
    background-size: 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://weixin.fheb.cn:99/woaMapCdn/one_blank_item.png', sizingMethod='scale');
}

#ranking ul li .row{ 
    width: 100%; 
    margin-top:0px;
}

#ranking ul li .row div{ 
    color:rgb(155,169,192);
}
#ranking ul li  .r_con{
    padding-left: 10px;
    margin-bottom:8px;
    /* display: block; */
}
 
#ranking ul li .row .row_right{
    text-align: right; 
}
#ranking ul li .row .status{
    /* color:rgb(0,247,222); */
}
#ranking ul li .row .r_tit{
    color:rgb(0,247,222);
}

/* 标注的列表内容 */
.marker_project_list_ul{
    /* border:1px solid red; */
    width:100%;
    box-sizing: border-box;
    /* background: #075e92; */
    height: 200px;
    overflow-y:scroll;
    margin:10px 0;
}
.marker_project_list_ul li{ 
    margin:7px;
    padding:10px; 
    list-style: none;  
    background: url('http://weixin.fheb.cn:99/woaMapCdn/one_blank_item.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://weixin.fheb.cn:99/woaMapCdn/one_blank_item.png', sizingMethod='scale');
    cursor: pointer;
}


.marker_project_list_ul  li .row{ 
    width: 100%; 
    margin-top:0px;
}

.marker_project_list_ul  li .row div{ 
    color:rgb(155,169,192);
}
.marker_project_list_ul  li  .r_con{
    padding-left: 10px;
    margin-bottom:8px;
    /* display: block; */
}
 
.marker_project_list_ul  li .row .row_right{
    text-align: right; 
}
.marker_project_list_ul  li .row .status{
    /* color:rgb(0,247,222); */
}
.marker_project_list_ul  li .row .r_tit{
    color:rgb(0,247,222);
}
 
.goBack{
    /* line-height: 2; */
    color:#0099FF;
    font-size: .9em;
    cursor: pointer; 
}

.goBack img{
    vertical-align: middle;
}


