*{
    margin:0;
    padding: 0;
}
body{
    background: #1CB2DE;
    overflow-x: hidden;
}
html{
    background: #1CB2DE;
}
.main{
    background: #1CB2DE;
    width:100%;
}
/* 头部样式 */
.head{
    height:120px;
    width:1250px;
    margin:0 auto;
    /* border:1px solid red; */
    box-sizing:border-box;
    line-height: 120px;
}
.head .logo{
    height:120px;
    margin-left:228px;
    display: inline-block;
    float: left;
}
.head .logo img{
    vertical-align: middle;
}
.head .code{
    display: inline-block;
    height:120px;
    float:right;
    margin-right:180px;
}
.head .code img{
    height:80%;
    vertical-align: middle;
}
.marquee{
    display: inline-block;
    width:300px;
    height:100%;
}

.body{
    /* border:1px solid red;     */
    box-sizing: border-box;
    height:450px;
    width:1250px;
    margin:0 auto;
    
}
.body .wutai{
    /* border:1px solid green; */
    box-sizing: border-box;
    width:750px;
    height:100%;
    display: inline-block;
    float: left;
    position: relative;
    top:-30px;
}
.wutaid{
    position: absolute;
    width:750px;
    height:500px;
    /* border:1px solid red; */
}
.wutaid img{
    /* width:600px; */
    position: absolute;
    height:100%;
    transform: scale(1,1.1) translateY(-35px);
    -webkit-transform: scale(1,1.1) translateY(-35px);
    -o-transform: scale(1,1.1) translateY(-35px);
    -moz-transform:scale(1,1.1) translateY(-35px);
    -ms-transform: scale(1,1.1) translateY(-35px);
    z-index: 1;
}
.taizi{
    width:100%;
    height:100%;
    position: absolute;
}
.start{
    position: absolute;
    z-index: 20;
}
.start img{
    transform: translateY(-30px) translateX(-15px) scaleX(1.2);
    -webkit-transform: translateY(-30px) translateX(-15px) scaleX(1.2);
    -moz-transform: translateY(-30px) translateX(-15px) scaleX(1.2);
    -o-transform: translateY(-30px) translateX(-15px) scaleX(1.2);
    -ms-transform: translateY(-30px) translateX(-15px) scaleX(1.2);
    position: absolute;
}
.xiangzi{
    width:100%;
    height:110%;
    position: absolute;
     left:-80px; 
     z-index: 10;
}
/* 为了把箱子放大  箱子不用拉长就直接吧这段代码删除 和上面的 left:80 */
.xiangzi img{
    /* border:1px solid green; */
    width:900px;
    height:95%;
}
.infor{
    width:450px;
    height:120px;
    /* border:1px solid red; */
    position: absolute;
    bottom:10px;
    left:0;
    right:0;
    margin: auto;
    z-index: 80;
}
.infor .sum-person{
    text-align: center;
    padding-top:20px;
    font-weight: 500;
}
.infor .crot{
    text-align: center;
    /* margin-top:10px; */
    font-size:18px;
   
}
.infor .crot select{
    width:80px;
    border-radius:5px;
    height: 30px;
}
.select-num{
    margin-left:10px;
}
.infor .crot .btn{
    background:rgb(222, 62, 46);
    display: inline-block;
    margin-top:8px;
    padding:7px 18px;
    border-radius:5px;
    cursor: pointer;
    margin-left:10px;
    color:white;
    font-size:17px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px 0px, rgb(164, 27, 13) 0px -4px 0px 0px inset;
}
.screen{
    width: 450px;
    height:80px;
    /* border:1px solid red; */
    position: absolute;
    left:0;
    bottom:150px;
    right:0;
    margin:auto;
    font-size: 20px;
    color: rgb(255, 232, 34);
    text-align: center;
    font-family: 微软雅黑;
    z-index: 20;
    top:100px;
}
.screen p{
    width:100%;
    display: table;
}  
.screen-top{
    font-size:26px;
    padding-bottom: 10px;
} 
.screen p span{
    text-align: left;
    padding-left:10px;
    /* border:1px solid red; */
    display: table-cell;
    width:33.3333%;
    font-size:16px;
}
.screen .screen-top span{
    font-size:26px;
} 

.body .list{
    /* border:1px solid green; */
    box-sizing: border-box;
    width:430px;
    height:110%;
    padding-bottom:0px;
    display: inline-block;
    float: left;
    text-align: center;
    position: relative;
    background:url("../img/table-glassBg.png") no-repeat;
    background-size:430px 100%;
    background-position: center;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}
.list #list_ul{
    height:70%;
    width:380px;
    margin:0 auto;
    padding-left:5px;
    overflow-y: scroll;
    overflow-x:hidden;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
#list_ul::-webkit-scrollbar  
{  
    width: 10px;  
    height: 16px;  
    border-radius: 5px;  
    background-color: #F5F5F5;  
}  
#list_ul::-ms-scrollbar  
{  
    width: 10px;  
    height: 16px;  
    border-radius: 5px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
#list_ul::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 5px;  
    background-color: rgba(222, 62, 46,0.3);  
} 
#list_ul::-ms-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 5px;  
    background-color: rgba(222, 62, 46,0.3);  
}   
  
/*定义滑块 内阴影+圆角*/  
#list_ul::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: rgb(222, 62, 46);  
} 
#list_ul::-ms-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: rgb(222, 62, 46);  
} 

.list ul li{
    list-style: none;
    transition:1s;
}
.list .list-top{
    color: rgb(255, 232, 34);
    font-size:25px;
    width:350px;
    margin:0 auto;
    margin-top:80px;
    display: table;
    text-align: left;
    border-bottom:1px solid rgb(255, 232, 34);
    padding-bottom:10px;
}
.list .list-top span{
    display: table-cell;
    /* width:33.3333%; */
    padding-left:20px;
    text-align: left;
}

.list-con{
    color: rgb(255, 232, 34);
    font-size:19px;
    width:350px;
    margin:0 auto;
    margin-top:8px;
    display: table;
    text-align: center;
    /* padding-left:25px; */
}
.list .list-con span{
    display: table-cell;
    width:30%;
    font-size:16px;
    padding-left:20px;
    text-align: left;
    padding: 0;
    margin:0;
}
.list .list-con span:nth-of-type(1){
    width:40%;
}
/* 底部 */
.footer{
    width:100%;
    height:80px;
    /* border:1px solid red; */
    /* position: relative; */
    position: fixed;
    bottom: 0;
}

.footer .jiantou{
    width:70px;
    height:30px;
    display: inline-block;
    /* border:1px solid red; */
    position: absolute;
    z-index: 99;
    left:0;right:0;bottom:0;
    margin:auto;
    cursor: pointer;
}

/* 全屏按钮 */
.footer .full-screen{
    text-align: center;
    color:white;
    width:70px;
    height:60px;
    display: inline-block;
    /* border:1px solid red; */
    position: absolute;
    right:200px;bottom:0;
    cursor: pointer;
}
/* 导出按钮 */
.derive{
    text-align: center;
    color:white;
    width:70px;
    height:60px;
    display: inline-block;
    /* border:1px solid red; */
    position: absolute;
    right:300px;bottom:0;
    cursor: pointer;
}
.derive img{
    width:30px;
    height:30px;
    border-radius: 10px;
}

.tit{
    background:#BC3637;
    width:300px;
    height:60px;
    position: absolute;
    top:20px;
    left:0;
    right:0;
    margin:auto;
    font-size:32px;
    letter-spacing: 13px;
    font-weight: 700;
    line-height: 60px;
    color:rgb(255, 232, 34);
}
/* 当前时间 */
.new-date{
    color:rgb(255, 232, 34);
    font-size:35px;
    color:white;
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
}
#select-num{
    width:100px;
    line-height: 20px;
}

