<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxBuProjectTypeCheckMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxBuProjectTypeCheck" >
    <id column="zx_bu_projectTypeCheck_id" property="zxBuProjectTypeCheckId" jdbcType="CHAR" />
    <result column="parentID" property="parentID" jdbcType="VARCHAR" />
    <result column="treeNode" property="treeNode" jdbcType="VARCHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="checkType" property="checkType" jdbcType="INTEGER" />
    <result column="checkNo" property="checkNo" jdbcType="VARCHAR" />
    <result column="checkName" property="checkName" jdbcType="VARCHAR" />
    <result column="operate1" property="operate1" jdbcType="VARCHAR" />
    <result column="rate1" property="rate1" jdbcType="DECIMAL" />
    <result column="operate2" property="operate2" jdbcType="VARCHAR" />
    <result column="rate2" property="rate2" jdbcType="DECIMAL" />
    <result column="dispRate" property="dispRate" jdbcType="VARCHAR" />
    <result column="isLeaf" property="isLeaf" jdbcType="INTEGER" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="combProp" property="combProp" jdbcType="VARCHAR" />
    <result column="pp1" property="pp1" jdbcType="VARCHAR" />
    <result column="pp2" property="pp2" jdbcType="VARCHAR" />
    <result column="pp3" property="pp3" jdbcType="VARCHAR" />
    <result column="pp4" property="pp4" jdbcType="VARCHAR" />
    <result column="pp5" property="pp5" jdbcType="VARCHAR" />
    <result column="pp6" property="pp6" jdbcType="VARCHAR" />
    <result column="pp7" property="pp7" jdbcType="VARCHAR" />
    <result column="pp8" property="pp8" jdbcType="VARCHAR" />
    <result column="pp9" property="pp9" jdbcType="VARCHAR" />
    <result column="pp10" property="pp10" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zx_bu_projectTypeCheck_id, parentID, treeNode, orgID, checkType, 
    checkNo, checkName, operate1, rate1, operate2, 
    rate2, dispRate, isLeaf, editTime, combProp, 
    pp1, pp2, pp3, pp4, pp5, 
    pp6, pp7, pp8, pp9, pp10, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_bu_projectTypeCheck
    where del_flag = '0' and zx_bu_projectTypeCheck_id = #{zxBuProjectTypeCheckId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_bu_projectTypeCheck
    where zx_bu_projectTypeCheck_id = #{zxBuProjectTypeCheckId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxBuProjectTypeCheck" >
    insert into zx_bu_projectTypeCheck (
    zx_bu_projectTypeCheck_id, parentID, treeNode, orgID, checkType, 
    checkNo, checkName, operate1, rate1, operate2, 
    rate2, dispRate, isLeaf, editTime, combProp, 
    pp1, pp2, pp3, pp4, pp5, 
    pp6, pp7, pp8, pp9, pp10, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
      )
    values (
      #{zxBuProjectTypeCheckId,jdbcType=CHAR}, #{parentID,jdbcType=VARCHAR}, #{treeNode,jdbcType=VARCHAR}, #{orgID,jdbcType=VARCHAR}, #{checkType,jdbcType=INTEGER}, 
    #{checkNo,jdbcType=VARCHAR}, #{checkName,jdbcType=VARCHAR}, #{operate1,jdbcType=VARCHAR}, #{rate1,jdbcType=DECIMAL}, #{operate2,jdbcType=VARCHAR}, 
    #{rate2,jdbcType=DECIMAL}, #{dispRate,jdbcType=VARCHAR}, #{isLeaf,jdbcType=INTEGER}, #{editTime,jdbcType=TIMESTAMP}, #{combProp,jdbcType=VARCHAR}, 
    #{pp1,jdbcType=VARCHAR}, #{pp2,jdbcType=VARCHAR}, #{pp3,jdbcType=VARCHAR}, #{pp4,jdbcType=VARCHAR}, #{pp5,jdbcType=VARCHAR}, 
    #{pp6,jdbcType=VARCHAR}, #{pp7,jdbcType=VARCHAR}, #{pp8,jdbcType=VARCHAR}, #{pp9,jdbcType=VARCHAR}, #{pp10,jdbcType=VARCHAR}, 
    #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
    #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxBuProjectTypeCheck" >
    insert into zx_bu_projectTypeCheck
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxBuProjectTypeCheckId != null" >
        zx_bu_projectTypeCheck_id,
      </if>
      <if test="parentID != null" >
        parentID,
      </if>
      <if test="treeNode != null" >
        treeNode,
      </if>
      <if test="orgID != null" >
        orgID,
      </if>
      <if test="checkType != null" >
        checkType,
      </if>
      <if test="checkNo != null" >
        checkNo,
      </if>
      <if test="checkName != null" >
        checkName,
      </if>
      <if test="operate1 != null" >
        operate1,
      </if>
      <if test="rate1 != null" >
        rate1,
      </if>
      <if test="operate2 != null" >
        operate2,
      </if>
      <if test="rate2 != null" >
        rate2,
      </if>
      <if test="dispRate != null" >
        dispRate,
      </if>
      <if test="isLeaf != null" >
        isLeaf,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="combProp != null" >
        combProp,
      </if>
      <if test="pp1 != null" >
        pp1,
      </if>
      <if test="pp2 != null" >
        pp2,
      </if>
      <if test="pp3 != null" >
        pp3,
      </if>
      <if test="pp4 != null" >
        pp4,
      </if>
      <if test="pp5 != null" >
        pp5,
      </if>
      <if test="pp6 != null" >
        pp6,
      </if>
      <if test="pp7 != null" >
        pp7,
      </if>
      <if test="pp8 != null" >
        pp8,
      </if>
      <if test="pp9 != null" >
        pp9,
      </if>
      <if test="pp10 != null" >
        pp10,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxBuProjectTypeCheckId != null" >
        #{zxBuProjectTypeCheckId,jdbcType=CHAR},
      </if>
      <if test="parentID != null" >
        #{parentID,jdbcType=VARCHAR},
      </if>
      <if test="treeNode != null" >
        #{treeNode,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="checkType != null" >
        #{checkType,jdbcType=INTEGER},
      </if>
      <if test="checkNo != null" >
        #{checkNo,jdbcType=VARCHAR},
      </if>
      <if test="checkName != null" >
        #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="operate1 != null" >
        #{operate1,jdbcType=VARCHAR},
      </if>
      <if test="rate1 != null" >
        #{rate1,jdbcType=DECIMAL},
      </if>
      <if test="operate2 != null" >
        #{operate2,jdbcType=VARCHAR},
      </if>
      <if test="rate2 != null" >
        #{rate2,jdbcType=DECIMAL},
      </if>
      <if test="dispRate != null" >
        #{dispRate,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null" >
        #{isLeaf,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="combProp != null" >
        #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp3 != null" >
        #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="pp4 != null" >
        #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxBuProjectTypeCheck" >
    update zx_bu_projectTypeCheck
    <set >
      <if test="parentID != null" >
        parentID = #{parentID,jdbcType=VARCHAR},
      </if>
      <if test="treeNode != null" >
        treeNode = #{treeNode,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        orgID = #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="checkType != null" >
        checkType = #{checkType,jdbcType=INTEGER},
      </if>
      <if test="checkNo != null" >
        checkNo = #{checkNo,jdbcType=VARCHAR},
      </if>
      <if test="checkName != null" >
        checkName = #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="operate1 != null" >
        operate1 = #{operate1,jdbcType=VARCHAR},
      </if>
      <if test="rate1 != null" >
        rate1 = #{rate1,jdbcType=DECIMAL},
      </if>
      <if test="operate2 != null" >
        operate2 = #{operate2,jdbcType=VARCHAR},
      </if>
      <if test="rate2 != null" >
        rate2 = #{rate2,jdbcType=DECIMAL},
      </if>
      <if test="dispRate != null" >
        dispRate = #{dispRate,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null" >
        isLeaf = #{isLeaf,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="combProp != null" >
        combProp = #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        pp1 = #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        pp2 = #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp3 != null" >
        pp3 = #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="pp4 != null" >
        pp4 = #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        pp5 = #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        pp6 = #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        pp7 = #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        pp8 = #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        pp9 = #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        pp10 = #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zx_bu_projectTypeCheck_id = #{zxBuProjectTypeCheckId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxBuProjectTypeCheck" >
    update zx_bu_projectTypeCheck set 
      parentID = #{parentID,jdbcType=VARCHAR},
      treeNode = #{treeNode,jdbcType=VARCHAR},
      orgID = #{orgID,jdbcType=VARCHAR},
      checkType = #{checkType,jdbcType=INTEGER},
      checkNo = #{checkNo,jdbcType=VARCHAR},
      checkName = #{checkName,jdbcType=VARCHAR},
      operate1 = #{operate1,jdbcType=VARCHAR},
      rate1 = #{rate1,jdbcType=DECIMAL},
      operate2 = #{operate2,jdbcType=VARCHAR},
      rate2 = #{rate2,jdbcType=DECIMAL},
      dispRate = #{dispRate,jdbcType=VARCHAR},
      isLeaf = #{isLeaf,jdbcType=INTEGER},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      combProp = #{combProp,jdbcType=VARCHAR},
      pp1 = #{pp1,jdbcType=VARCHAR},
      pp2 = #{pp2,jdbcType=VARCHAR},
      pp3 = #{pp3,jdbcType=VARCHAR},
      pp4 = #{pp4,jdbcType=VARCHAR},
      pp5 = #{pp5,jdbcType=VARCHAR},
      pp6 = #{pp6,jdbcType=VARCHAR},
      pp7 = #{pp7,jdbcType=VARCHAR},
      pp8 = #{pp8,jdbcType=VARCHAR},
      pp9 = #{pp9,jdbcType=VARCHAR},
      pp10 = #{pp10,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zx_bu_projectTypeCheck_id = #{zxBuProjectTypeCheckId,jdbcType=CHAR}
  </update>
  <select id="selectByZxBuProjectTypeCheckList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxBuProjectTypeCheck" >
    select 
    <include refid="Base_Column_List" />
    from zx_bu_projectTypeCheck
    where del_flag = '0'
    <if test="zxBuProjectTypeCheckId != null and zxBuProjectTypeCheckId != ''" >
     and zx_bu_projectTypeCheck_id = #{zxBuProjectTypeCheckId,jdbcType=CHAR}
    </if>
    <if test="parentID != null and parentID != ''" >
     and parentID = #{parentID,jdbcType=VARCHAR}
    </if>
    <if test="treeNode != null and treeNode != ''" >
     and treeNode = #{treeNode,jdbcType=VARCHAR}
    </if>
    <if test="orgID != null and orgID != ''" >
     and orgID = #{orgID,jdbcType=VARCHAR}
    </if>
    <if test="checkType != null and checkType != ''" >
     and checkType = #{checkType,jdbcType=INTEGER}
    </if>
    <if test="checkNo != null and checkNo != ''" >
     and checkNo = #{checkNo,jdbcType=VARCHAR}
    </if>
    <if test="checkName != null and checkName != ''" >
     and checkName = #{checkName,jdbcType=VARCHAR}
    </if>
    <if test="operate1 != null and operate1 != ''" >
     and operate1 = #{operate1,jdbcType=VARCHAR}
    </if>
    <if test="rate1 != null and rate1 != ''" >
     and rate1 = #{rate1,jdbcType=DECIMAL}
    </if>
    <if test="operate2 != null and operate2 != ''" >
     and operate2 = #{operate2,jdbcType=VARCHAR}
    </if>
    <if test="rate2 != null and rate2 != ''" >
     and rate2 = #{rate2,jdbcType=DECIMAL}
    </if>
    <if test="dispRate != null and dispRate != ''" >
     and dispRate = #{dispRate,jdbcType=VARCHAR}
    </if>
    <if test="isLeaf != null and isLeaf != ''" >
     and isLeaf = #{isLeaf,jdbcType=INTEGER}
    </if>
    <if test="editTime != null and editTime != ''" >
     and editTime = #{editTime,jdbcType=TIMESTAMP}
    </if>
    <if test="combProp != null and combProp != ''" >
     and combProp = #{combProp,jdbcType=VARCHAR}
    </if>
    <if test="pp1 != null and pp1 != ''" >
     and pp1 = #{pp1,jdbcType=VARCHAR}
    </if>
    <if test="pp2 != null and pp2 != ''" >
     and pp2 = #{pp2,jdbcType=VARCHAR}
    </if>
    <if test="pp3 != null and pp3 != ''" >
     and pp3 = #{pp3,jdbcType=VARCHAR}
    </if>
    <if test="pp4 != null and pp4 != ''" >
     and pp4 = #{pp4,jdbcType=VARCHAR}
    </if>
    <if test="pp5 != null and pp5 != ''" >
     and pp5 = #{pp5,jdbcType=VARCHAR}
    </if>
    <if test="pp6 != null and pp6 != ''" >
     and pp6 = #{pp6,jdbcType=VARCHAR}
    </if>
    <if test="pp7 != null and pp7 != ''" >
     and pp7 = #{pp7,jdbcType=VARCHAR}
    </if>
    <if test="pp8 != null and pp8 != ''" >
     and pp8 = #{pp8,jdbcType=VARCHAR}
    </if>
    <if test="pp9 != null and pp9 != ''" >
     and pp9 = #{pp9,jdbcType=VARCHAR}
    </if>
    <if test="pp10 != null and pp10 != ''" >
     and pp10 = #{pp10,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY treeNode asc
  </select>
  <delete id="batchDeleteUpdateZxBuProjectTypeCheck" parameterType="com.apih5.mybatis.pojo.ZxBuProjectTypeCheck" >
    <![CDATA[ 
        update zx_bu_projectTypeCheck
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zx_bu_projectTypeCheck_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxBuProjectTypeCheckId} 
     </foreach>
  </delete>
  <select id="getZxBuProjectTypeCheckProjectType" parameterType="com.apih5.mybatis.pojo.ZxBuProjectTypeCheck" resultMap="BaseResultMap">
    <![CDATA[
      select checkName
      from zx_bu_projecttypecheck
      where checkType = 1
      and IF(operate1 IS NULL or operate1='',true,(case operate1 when '1' then #{rate1} >= rate1
      when '2' then #{rate1} > rate1
      when '3' then #{rate1} = rate1
      when '4' then #{rate1} < rate1
      when '5' then #{rate1} <= rate1
      end))
      and IF(operate2 IS NULL or operate2='',true,(case operate2 when '1' then #{rate2} >= rate2
      when '2' then #{rate2} > rate2
      when '3' then #{rate2} = rate2
      when '4' then #{rate2} < rate2
      when '5' then #{rate2} <= rate2
      end))
      and parentID in ('check0101','check0102')
      order by checkNo asc
    ]]>
  </select>
  <update id="updateZxBuProjectTypeCheck" parameterType="com.apih5.mybatis.pojo.ZxBuProjectTypeCheck" >
    update zx_bu_projectTypeCheck set
      isLeaf = #{isLeaf,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zx_bu_projectTypeCheck_id = #{zxBuProjectTypeCheckId,jdbcType=CHAR}
  </update>

</mapper>
