<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxBuBudgetBookMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxBuBudgetBook" >
    <id column="zx_bu_BudgetBook_id" property="zxBuBudgetBookId" jdbcType="CHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="workBookID" property="workBookID" jdbcType="VARCHAR" />
    <result column="reportOrgID" property="reportOrgID" jdbcType="VARCHAR" />
    <result column="reportOrgName" property="reportOrgName" jdbcType="VARCHAR" />
    <result column="reporter" property="reporter" jdbcType="VARCHAR" />
    <result column="reportDate" property="reportDate" jdbcType="TIMESTAMP" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="auditDate" property="auditDate" jdbcType="TIMESTAMP" />
    <result column="budgetType" property="budgetType" jdbcType="INTEGER" />
    <result column="budgetLevel" property="budgetLevel" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="systemType" property="systemType" jdbcType="VARCHAR" />
    <result column="combProp" property="combProp" jdbcType="VARCHAR" />
    <result column="pp1" property="pp1" jdbcType="VARCHAR" />
    <result column="pp2" property="pp2" jdbcType="VARCHAR" />
    <result column="pp3" property="pp3" jdbcType="VARCHAR" />
    <result column="pp4" property="pp4" jdbcType="VARCHAR" />
    <result column="pp5" property="pp5" jdbcType="VARCHAR" />
    <result column="pp6" property="pp6" jdbcType="VARCHAR" />
    <result column="pp7" property="pp7" jdbcType="VARCHAR" />
    <result column="pp8" property="pp8" jdbcType="VARCHAR" />
    <result column="pp9" property="pp9" jdbcType="VARCHAR" />
    <result column="pp10" property="pp10" jdbcType="VARCHAR" />
    <result column="isHistory" property="isHistory" jdbcType="VARCHAR" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="period" property="period" jdbcType="VARCHAR" />
    <result column="projFea" property="projFea" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="isFirst" property="isFirst" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zx_bu_BudgetBook_id, orgID, workBookID, reportOrgID, reportOrgName, 
    reporter, reportDate, auditor, auditDate, budgetType, 
    budgetLevel, status, systemType, combProp, pp1, 
    pp2, pp3, pp4, pp5, pp6, 
    pp7, pp8, pp9, pp10, isHistory, 
    editTime, period, projFea, area, isFirst, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_bu_BudgetBook
    where del_flag = '0' and zx_bu_BudgetBook_id = #{zxBuBudgetBookId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_bu_BudgetBook
    where zx_bu_BudgetBook_id = #{zxBuBudgetBookId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxBuBudgetBook" >
    insert into zx_bu_BudgetBook (
    zx_bu_BudgetBook_id, orgID, workBookID, reportOrgID, reportOrgName, 
    reporter, reportDate, auditor, auditDate, budgetType, 
    budgetLevel, status, systemType, combProp, pp1, 
    pp2, pp3, pp4, pp5, pp6, 
    pp7, pp8, pp9, pp10, isHistory, 
    editTime, period, projFea, area, isFirst, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
      )
    values (
      #{zxBuBudgetBookId,jdbcType=CHAR}, #{orgID,jdbcType=VARCHAR}, #{workBookID,jdbcType=VARCHAR}, #{reportOrgID,jdbcType=VARCHAR}, #{reportOrgName,jdbcType=VARCHAR}, 
    #{reporter,jdbcType=VARCHAR}, #{reportDate,jdbcType=TIMESTAMP}, #{auditor,jdbcType=VARCHAR}, #{auditDate,jdbcType=TIMESTAMP}, #{budgetType,jdbcType=INTEGER}, 
    #{budgetLevel,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{systemType,jdbcType=VARCHAR}, #{combProp,jdbcType=VARCHAR}, #{pp1,jdbcType=VARCHAR}, 
    #{pp2,jdbcType=VARCHAR}, #{pp3,jdbcType=VARCHAR}, #{pp4,jdbcType=VARCHAR}, #{pp5,jdbcType=VARCHAR}, #{pp6,jdbcType=VARCHAR}, 
    #{pp7,jdbcType=VARCHAR}, #{pp8,jdbcType=VARCHAR}, #{pp9,jdbcType=VARCHAR}, #{pp10,jdbcType=VARCHAR}, #{isHistory,jdbcType=VARCHAR}, 
    #{editTime,jdbcType=TIMESTAMP}, #{period,jdbcType=VARCHAR}, #{projFea,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{isFirst,jdbcType=VARCHAR}, 
    #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
    #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxBuBudgetBook" >
    insert into zx_bu_BudgetBook
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxBuBudgetBookId != null" >
        zx_bu_BudgetBook_id,
      </if>
      <if test="orgID != null" >
        orgID,
      </if>
      <if test="workBookID != null" >
        workBookID,
      </if>
      <if test="reportOrgID != null" >
        reportOrgID,
      </if>
      <if test="reportOrgName != null" >
        reportOrgName,
      </if>
      <if test="reporter != null" >
        reporter,
      </if>
      <if test="reportDate != null" >
        reportDate,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="auditDate != null" >
        auditDate,
      </if>
      <if test="budgetType != null" >
        budgetType,
      </if>
      <if test="budgetLevel != null" >
        budgetLevel,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="systemType != null" >
        systemType,
      </if>
      <if test="combProp != null" >
        combProp,
      </if>
      <if test="pp1 != null" >
        pp1,
      </if>
      <if test="pp2 != null" >
        pp2,
      </if>
      <if test="pp3 != null" >
        pp3,
      </if>
      <if test="pp4 != null" >
        pp4,
      </if>
      <if test="pp5 != null" >
        pp5,
      </if>
      <if test="pp6 != null" >
        pp6,
      </if>
      <if test="pp7 != null" >
        pp7,
      </if>
      <if test="pp8 != null" >
        pp8,
      </if>
      <if test="pp9 != null" >
        pp9,
      </if>
      <if test="pp10 != null" >
        pp10,
      </if>
      <if test="isHistory != null" >
        isHistory,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="period != null" >
        period,
      </if>
      <if test="projFea != null" >
        projFea,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="isFirst != null" >
        isFirst,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxBuBudgetBookId != null" >
        #{zxBuBudgetBookId,jdbcType=CHAR},
      </if>
      <if test="orgID != null" >
        #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="workBookID != null" >
        #{workBookID,jdbcType=VARCHAR},
      </if>
      <if test="reportOrgID != null" >
        #{reportOrgID,jdbcType=VARCHAR},
      </if>
      <if test="reportOrgName != null" >
        #{reportOrgName,jdbcType=VARCHAR},
      </if>
      <if test="reporter != null" >
        #{reporter,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        #{reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="budgetType != null" >
        #{budgetType,jdbcType=INTEGER},
      </if>
      <if test="budgetLevel != null" >
        #{budgetLevel,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="systemType != null" >
        #{systemType,jdbcType=VARCHAR},
      </if>
      <if test="combProp != null" >
        #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp3 != null" >
        #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="pp4 != null" >
        #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="isHistory != null" >
        #{isHistory,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="period != null" >
        #{period,jdbcType=VARCHAR},
      </if>
      <if test="projFea != null" >
        #{projFea,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="isFirst != null" >
        #{isFirst,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxBuBudgetBook" >
    update zx_bu_BudgetBook
    <set >
      <if test="orgID != null" >
        orgID = #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="workBookID != null" >
        workBookID = #{workBookID,jdbcType=VARCHAR},
      </if>
      <if test="reportOrgID != null" >
        reportOrgID = #{reportOrgID,jdbcType=VARCHAR},
      </if>
      <if test="reportOrgName != null" >
        reportOrgName = #{reportOrgName,jdbcType=VARCHAR},
      </if>
      <if test="reporter != null" >
        reporter = #{reporter,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        reportDate = #{reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null" >
        auditDate = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="budgetType != null" >
        budgetType = #{budgetType,jdbcType=INTEGER},
      </if>
      <if test="budgetLevel != null" >
        budgetLevel = #{budgetLevel,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="systemType != null" >
        systemType = #{systemType,jdbcType=VARCHAR},
      </if>
      <if test="combProp != null" >
        combProp = #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        pp1 = #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        pp2 = #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp3 != null" >
        pp3 = #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="pp4 != null" >
        pp4 = #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        pp5 = #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        pp6 = #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        pp7 = #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        pp8 = #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        pp9 = #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        pp10 = #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="isHistory != null" >
        isHistory = #{isHistory,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="period != null" >
        period = #{period,jdbcType=VARCHAR},
      </if>
      <if test="projFea != null" >
        projFea = #{projFea,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="isFirst != null" >
        isFirst = #{isFirst,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zx_bu_BudgetBook_id = #{zxBuBudgetBookId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxBuBudgetBook" >
    update zx_bu_BudgetBook set 
      orgID = #{orgID,jdbcType=VARCHAR},
      workBookID = #{workBookID,jdbcType=VARCHAR},
      reportOrgID = #{reportOrgID,jdbcType=VARCHAR},
      reportOrgName = #{reportOrgName,jdbcType=VARCHAR},
      reporter = #{reporter,jdbcType=VARCHAR},
      reportDate = #{reportDate,jdbcType=TIMESTAMP},
      auditor = #{auditor,jdbcType=VARCHAR},
      auditDate = #{auditDate,jdbcType=TIMESTAMP},
      budgetType = #{budgetType,jdbcType=INTEGER},
      budgetLevel = #{budgetLevel,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      systemType = #{systemType,jdbcType=VARCHAR},
      combProp = #{combProp,jdbcType=VARCHAR},
      pp1 = #{pp1,jdbcType=VARCHAR},
      pp2 = #{pp2,jdbcType=VARCHAR},
      pp3 = #{pp3,jdbcType=VARCHAR},
      pp4 = #{pp4,jdbcType=VARCHAR},
      pp5 = #{pp5,jdbcType=VARCHAR},
      pp6 = #{pp6,jdbcType=VARCHAR},
      pp7 = #{pp7,jdbcType=VARCHAR},
      pp8 = #{pp8,jdbcType=VARCHAR},
      pp9 = #{pp9,jdbcType=VARCHAR},
      pp10 = #{pp10,jdbcType=VARCHAR},
      isHistory = #{isHistory,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      period = #{period,jdbcType=VARCHAR},
      projFea = #{projFea,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      isFirst = #{isFirst,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zx_bu_BudgetBook_id = #{zxBuBudgetBookId,jdbcType=CHAR}
  </update>
  <select id="selectByZxBuBudgetBookList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxBuBudgetBook" >
    select 
    <include refid="Base_Column_List" />
    from zx_bu_BudgetBook
    where del_flag = '0'
    <if test="zxBuBudgetBookId != null and zxBuBudgetBookId != ''" >
     and zx_bu_BudgetBook_id = #{zxBuBudgetBookId,jdbcType=CHAR}
    </if>
    <if test="orgID != null and orgID != ''" >
     and orgID = #{orgID,jdbcType=VARCHAR}
    </if>
    <if test="workBookID != null and workBookID != ''" >
     and workBookID = #{workBookID,jdbcType=VARCHAR}
    </if>
    <if test="reportOrgID != null and reportOrgID != ''" >
     and reportOrgID = #{reportOrgID,jdbcType=VARCHAR}
    </if>
    <if test="reportOrgName != null and reportOrgName != ''" >
     and reportOrgName = #{reportOrgName,jdbcType=VARCHAR}
    </if>
    <if test="reporter != null and reporter != ''" >
     and reporter = #{reporter,jdbcType=VARCHAR}
    </if>
    <if test="reportDate != null and reportDate != ''" >
     and reportDate = #{reportDate,jdbcType=TIMESTAMP}
    </if>
    <if test="auditor != null and auditor != ''" >
     and auditor = #{auditor,jdbcType=VARCHAR}
    </if>
    <if test="auditDate != null and auditDate != ''" >
     and auditDate = #{auditDate,jdbcType=TIMESTAMP}
    </if>
    <if test="budgetType != null and budgetType != ''" >
     and budgetType = #{budgetType,jdbcType=INTEGER}
    </if>
    <if test="budgetLevel != null and budgetLevel != ''" >
     and budgetLevel = #{budgetLevel,jdbcType=INTEGER}
    </if>
    <if test="status != null and status != ''" >
     and status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="systemType != null and systemType != ''" >
     and systemType = #{systemType,jdbcType=VARCHAR}
    </if>
    <if test="combProp != null and combProp != ''" >
     and combProp = #{combProp,jdbcType=VARCHAR}
    </if>
    <if test="pp1 != null and pp1 != ''" >
     and pp1 = #{pp1,jdbcType=VARCHAR}
    </if>
    <if test="pp2 != null and pp2 != ''" >
     and pp2 = #{pp2,jdbcType=VARCHAR}
    </if>
    <if test="pp3 != null and pp3 != ''" >
     and pp3 = #{pp3,jdbcType=VARCHAR}
    </if>
    <if test="pp4 != null and pp4 != ''" >
     and pp4 = #{pp4,jdbcType=VARCHAR}
    </if>
    <if test="pp5 != null and pp5 != ''" >
     and pp5 = #{pp5,jdbcType=VARCHAR}
    </if>
    <if test="pp6 != null and pp6 != ''" >
     and pp6 = #{pp6,jdbcType=VARCHAR}
    </if>
    <if test="pp7 != null and pp7 != ''" >
     and pp7 = #{pp7,jdbcType=VARCHAR}
    </if>
    <if test="pp8 != null and pp8 != ''" >
     and pp8 = #{pp8,jdbcType=VARCHAR}
    </if>
    <if test="pp9 != null and pp9 != ''" >
     and pp9 = #{pp9,jdbcType=VARCHAR}
    </if>
    <if test="pp10 != null and pp10 != ''" >
     and pp10 = #{pp10,jdbcType=VARCHAR}
    </if>
    <if test="isHistory != null and isHistory != ''" >
     and isHistory = #{isHistory,jdbcType=VARCHAR}
    </if>
    <if test="editTime != null and editTime != ''" >
     and editTime = #{editTime,jdbcType=TIMESTAMP}
    </if>
    <if test="period != null and period != ''" >
     and period = #{period,jdbcType=VARCHAR}
    </if>
    <if test="projFea != null and projFea != ''" >
     and projFea = #{projFea,jdbcType=VARCHAR}
    </if>
    <if test="area != null and area != ''" >
     and area = #{area,jdbcType=VARCHAR}
    </if>
    <if test="isFirst != null and isFirst != ''" >
     and isFirst = #{isFirst,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxBuBudgetBook" parameterType="com.apih5.mybatis.pojo.ZxBuBudgetBook" >
    <![CDATA[ 
        update zx_bu_BudgetBook
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zx_bu_BudgetBook_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxBuBudgetBookId} 
     </foreach>
  </delete>
  <!-- ↓↓↓扩展↓↓↓ -->
</mapper>
