<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxCrCustomerNewMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxCrCustomerNew" >
    <id column="zx_cr_CustomerNew_id" property="zxCrCustomerNewId" jdbcType="CHAR" />
    <result column="customerName" property="customerName" jdbcType="VARCHAR" />
    <result column="customerNo" property="customerNo" jdbcType="VARCHAR" />
    <result column="corparation" property="corparation" jdbcType="VARCHAR" />
    <result column="orgCertificate" property="orgCertificate" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="homePage" property="homePage" jdbcType="VARCHAR" />
    <result column="services" property="services" jdbcType="VARCHAR" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="regDate" property="regDate" jdbcType="TIMESTAMP" />
    <result column="regMoney" property="regMoney" jdbcType="DECIMAL" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="VARCHAR" />
    <result column="projectId" property="projectId" jdbcType="VARCHAR" />
    <result column="projectName" property="projectName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="inOrgName" property="inOrgName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zx_cr_CustomerNew_id, customerName, customerNo, corparation, orgCertificate, 
    province, district, address, telephone, fax, 
    email, homePage, services, editTime, regDate, 
    regMoney, companyName, companyId, projectId, projectName, 
    type, remarks, sort, del_flag, create_time, 
    create_user, create_user_name, modify_time, modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_cr_CustomerNew
    where del_flag = '0' and zx_cr_CustomerNew_id = #{zxCrCustomerNewId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_cr_CustomerNew
    where zx_cr_CustomerNew_id = #{zxCrCustomerNewId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxCrCustomerNew" >
    insert into zx_cr_CustomerNew (
    zx_cr_CustomerNew_id, customerName, customerNo, corparation, orgCertificate, 
    province, district, address, telephone, fax, 
    email, homePage, services, editTime, regDate, 
    regMoney, companyName, companyId, projectId, projectName, 
    type, remarks, sort, del_flag, create_time, 
    create_user, create_user_name, modify_time, modify_user, modify_user_name
      )
    values (
      #{zxCrCustomerNewId,jdbcType=CHAR}, #{customerName,jdbcType=VARCHAR}, #{customerNo,jdbcType=VARCHAR}, #{corparation,jdbcType=VARCHAR}, #{orgCertificate,jdbcType=VARCHAR}, 
    #{province,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, 
    #{email,jdbcType=VARCHAR}, #{homePage,jdbcType=VARCHAR}, #{services,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{regDate,jdbcType=TIMESTAMP}, 
    #{regMoney,jdbcType=DECIMAL}, #{companyName,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
    #{type,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
    #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxCrCustomerNew" >
    insert into zx_cr_CustomerNew
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxCrCustomerNewId != null" >
        zx_cr_CustomerNew_id,
      </if>
      <if test="customerName != null" >
        customerName,
      </if>
      <if test="customerNo != null" >
        customerNo,
      </if>
      <if test="corparation != null" >
        corparation,
      </if>
      <if test="orgCertificate != null" >
        orgCertificate,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="homePage != null" >
        homePage,
      </if>
      <if test="services != null" >
        services,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="regDate != null" >
        regDate,
      </if>
      <if test="regMoney != null" >
        regMoney,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="projectId != null" >
        projectId,
      </if>
      <if test="projectName != null" >
        projectName,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxCrCustomerNewId != null" >
        #{zxCrCustomerNewId,jdbcType=CHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null" >
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="corparation != null" >
        #{corparation,jdbcType=VARCHAR},
      </if>
      <if test="orgCertificate != null" >
        #{orgCertificate,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="homePage != null" >
        #{homePage,jdbcType=VARCHAR},
      </if>
      <if test="services != null" >
        #{services,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regDate != null" >
        #{regDate,jdbcType=TIMESTAMP},
      </if>
      <if test="regMoney != null" >
        #{regMoney,jdbcType=DECIMAL},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxCrCustomerNew" >
    update zx_cr_CustomerNew
    <set >
      <if test="customerName != null" >
        customerName = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null" >
        customerNo = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="corparation != null" >
        corparation = #{corparation,jdbcType=VARCHAR},
      </if>
      <if test="orgCertificate != null" >
        orgCertificate = #{orgCertificate,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="homePage != null" >
        homePage = #{homePage,jdbcType=VARCHAR},
      </if>
      <if test="services != null" >
        services = #{services,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regDate != null" >
        regDate = #{regDate,jdbcType=TIMESTAMP},
      </if>
      <if test="regMoney != null" >
        regMoney = #{regMoney,jdbcType=DECIMAL},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        projectId = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        projectName = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zx_cr_CustomerNew_id = #{zxCrCustomerNewId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxCrCustomerNew" >
    update zx_cr_CustomerNew set 
      customerName = #{customerName,jdbcType=VARCHAR},
      customerNo = #{customerNo,jdbcType=VARCHAR},
      corparation = #{corparation,jdbcType=VARCHAR},
      orgCertificate = #{orgCertificate,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      homePage = #{homePage,jdbcType=VARCHAR},
      services = #{services,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      regDate = #{regDate,jdbcType=TIMESTAMP},
      regMoney = #{regMoney,jdbcType=DECIMAL},
      companyName = #{companyName,jdbcType=VARCHAR},
      companyId = #{companyId,jdbcType=VARCHAR},
      projectId = #{projectId,jdbcType=VARCHAR},
      projectName = #{projectName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zx_cr_CustomerNew_id = #{zxCrCustomerNewId,jdbcType=CHAR}
  </update>
  <select id="selectByZxCrCustomerNewList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxCrCustomerNew" >
    select 
    <include refid="Base_Column_List" />
    from zx_cr_CustomerNew
    where del_flag = '0'
    <if test="zxCrCustomerNewId != null and zxCrCustomerNewId != ''" >
     and zx_cr_CustomerNew_id = #{zxCrCustomerNewId,jdbcType=CHAR}
    </if>
    <if test="customerName != null and customerName != ''" >
      and customerName like CONCAT('%',CONCAT(#{customerName,jdbcType=VARCHAR},'%'))
    </if>
    <if test="customerNo != null and customerNo != ''" >
     and customerNo = #{customerNo,jdbcType=VARCHAR}
    </if>
    <if test="corparation != null and corparation != ''" >
     and corparation = #{corparation,jdbcType=VARCHAR}
    </if>
    <if test="orgCertificate != null and orgCertificate != ''" >
     and orgCertificate = #{orgCertificate,jdbcType=VARCHAR}
    </if>
    <if test="province != null and province != ''" >
     and province = #{province,jdbcType=VARCHAR}
    </if>
    <if test="district != null and district != ''" >
     and district = #{district,jdbcType=VARCHAR}
    </if>
    <if test="address != null and address != ''" >
     and address = #{address,jdbcType=VARCHAR}
    </if>
    <if test="telephone != null and telephone != ''" >
     and telephone = #{telephone,jdbcType=VARCHAR}
    </if>
    <if test="fax != null and fax != ''" >
     and fax = #{fax,jdbcType=VARCHAR}
    </if>
    <if test="email != null and email != ''" >
     and email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="homePage != null and homePage != ''" >
     and homePage = #{homePage,jdbcType=VARCHAR}
    </if>
    <if test="services != null and services != ''" >
     and services = #{services,jdbcType=VARCHAR}
    </if>
    <if test="editTime != null and editTime != ''" >
     and editTime = #{editTime,jdbcType=TIMESTAMP}
    </if>
    <if test="regDate != null and regDate != ''" >
     and regDate = #{regDate,jdbcType=TIMESTAMP}
    </if>
    <if test="regMoney != null and regMoney != ''" >
     and regMoney = #{regMoney,jdbcType=DECIMAL}
    </if>
    <if test="companyName != null and companyName != ''" >
     and companyName = #{companyName,jdbcType=VARCHAR}
    </if>
    <if test="companyId != null and companyId != ''" >
     and companyId = #{companyId,jdbcType=VARCHAR}
    </if>
    <if test="projectId != null and projectId != ''" >
     and projectId = #{projectId,jdbcType=VARCHAR}
    </if>
    <if test="projectName != null and projectName != ''" >
     and projectName = #{projectName,jdbcType=VARCHAR}
    </if>
    <if test="type != null and type != ''" >
     and type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>

    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxCrCustomerNew" parameterType="com.apih5.mybatis.pojo.ZxCrCustomerNew" >
    <![CDATA[ 
        update zx_cr_CustomerNew
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zx_cr_CustomerNew_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxCrCustomerNewId} 
     </foreach>
  </delete>
  <!-- ↓↓↓扩展↓↓↓ -->
</mapper>
