<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxCtSuppliesContrReplenishAgreementMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxCtSuppliesContrReplenishAgreement" >
    <id column="replenish_agreement_id" property="replenishAgreementId" jdbcType="CHAR" />
    <result column="secondName" property="secondName" jdbcType="VARCHAR" />
    <result column="secondID" property="secondID" jdbcType="VARCHAR" />
    <result column="materialSource" property="materialSource" jdbcType="VARCHAR" />
    <result column="taxRate" property="taxRate" jdbcType="VARCHAR" />
    <result column="isFlagZhb" property="isFlagZhb" jdbcType="VARCHAR" />
    <result column="isFlag" property="isFlag" jdbcType="VARCHAR" />
    <result column="isDeduct" property="isDeduct" jdbcType="VARCHAR" />
    <result column="upAlterContractSumTax" property="upAlterContractSumTax" jdbcType="DECIMAL" />
    <result column="upAlterContractSumNoTax" property="upAlterContractSumNoTax" jdbcType="DECIMAL" />
    <result column="upAlterContractSum" property="upAlterContractSum" jdbcType="DECIMAL" />
    <result column="pp8" property="pp8" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="instProcessId" property="instProcessId" jdbcType="VARCHAR" />
    <result column="startDate" property="startDate" jdbcType="TIMESTAMP" />
    <result column="endDate" property="endDate" jdbcType="TIMESTAMP" />
    <result column="firstName" property="firstName" jdbcType="VARCHAR" />
    <result column="firstID" property="firstID" jdbcType="VARCHAR" />
    <result column="contractCostTax" property="contractCostTax" jdbcType="DECIMAL" />
    <result column="agent" property="agent" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="pp6" property="pp6" jdbcType="VARCHAR" />
    <result column="contractName" property="contractName" jdbcType="VARCHAR" />
    <result column="contractType" property="contractType" jdbcType="VARCHAR" />
    <result column="code7" property="code7" jdbcType="VARCHAR" />
    <result column="csTimeLimit" property="csTimeLimit" jdbcType="VARCHAR" />
    <result column="contractCost" property="contractCost" jdbcType="DECIMAL" />
    <result column="workitemID" property="workitemID" jdbcType="VARCHAR" />
    <result column="sendToZhbID" property="sendToZhbID" jdbcType="VARCHAR" />
    <result column="sendToJuID" property="sendToJuID" jdbcType="VARCHAR" />
    <result column="beginPer" property="beginPer" jdbcType="VARCHAR" />
    <result column="contractCostNoTax" property="contractCostNoTax" jdbcType="DECIMAL" />
    <result column="pp3" property="pp3" jdbcType="VARCHAR" />
    <result column="contractNo" property="contractNo" jdbcType="VARCHAR" />
    <result column="alterContractSumTax" property="alterContractSumTax" jdbcType="DECIMAL" />
    <result column="alterContractSum" property="alterContractSum" jdbcType="DECIMAL" />
    <result column="alterContractSumNoTax" property="alterContractSumNoTax" jdbcType="DECIMAL" />
    <result column="pp4Tax" property="pp4Tax" jdbcType="DECIMAL" />
    <result column="pp4" property="pp4" jdbcType="VARCHAR" />
    <result column="pp4NoTax" property="pp4NoTax" jdbcType="DECIMAL" />
    <result column="pp9" property="pp9" jdbcType="VARCHAR" />
    <result column="pp7" property="pp7" jdbcType="VARCHAR" />
    <result column="pp5" property="pp5" jdbcType="VARCHAR" />
    <result column="pp2" property="pp2" jdbcType="VARCHAR" />
    <result column="pp10" property="pp10" jdbcType="VARCHAR" />
    <result column="pp1" property="pp1" jdbcType="VARCHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="comID" property="comID" jdbcType="VARCHAR" />
    <result column="combProp" property="combProp" jdbcType="VARCHAR" />
    <result column="opinion_field1" property="opinionField1" jdbcType="VARCHAR" />
    <result column="opinion_field2" property="opinionField2" jdbcType="VARCHAR" />
    <result column="opinion_field3" property="opinionField3" jdbcType="VARCHAR" />
    <result column="opinion_field4" property="opinionField4" jdbcType="VARCHAR" />
    <result column="opinion_field5" property="opinionField5" jdbcType="VARCHAR" />
    <result column="opinion_field6" property="opinionField6" jdbcType="VARCHAR" />
    <result column="opinion_field7" property="opinionField7" jdbcType="VARCHAR" />
    <result column="opinion_field8" property="opinionField8" jdbcType="VARCHAR" />
    <result column="opinion_field9" property="opinionField9" jdbcType="VARCHAR" />
    <result column="opinion_field10" property="opinionField10" jdbcType="VARCHAR" />
    <result column="apih5_flow_id" property="apih5FlowId" jdbcType="VARCHAR" />
    <result column="work_id" property="workId" jdbcType="CHAR" />
    <result column="apih5_flow_status" property="apih5FlowStatus" jdbcType="CHAR" />
    <result column="apih5_flow_node_status" property="apih5FlowNodeStatus" jdbcType="CHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    replenish_agreement_id, secondName, secondID, materialSource, taxRate, 
    isFlagZhb, isFlag, isDeduct, upAlterContractSumTax, upAlterContractSumNoTax, 
    upAlterContractSum, pp8, status, instProcessId, startDate, 
    endDate, firstName, firstID, contractCostTax, agent, 
    content, pp6, contractName, contractType, code7, 
    csTimeLimit, contractCost, workitemID, sendToZhbID, sendToJuID, 
    beginPer, contractCostNoTax, pp3, contractNo, alterContractSumTax, 
    alterContractSum, alterContractSumNoTax, pp4Tax, pp4, pp4NoTax, 
    pp9, pp7, pp5, pp2, pp10, 
    pp1, orgID, comID, combProp, opinion_field1, 
    opinion_field2, opinion_field3, opinion_field4, opinion_field5, opinion_field6, 
    opinion_field7, opinion_field8, opinion_field9, opinion_field10, apih5_flow_id, 
    work_id, apih5_flow_status, apih5_flow_node_status, company_id, remarks, 
    sort, del_flag, create_time, create_user, create_user_name, 
    modify_time, modify_user, modify_user_name
  </sql>
  <select id="getZxCtReplenishAgreementNoByCode" resultType="String" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesContrReplenishAgreement" >
    select 
    contractNo
    from
	( SELECT pp6, contractNo FROM  
    zx_ct_supplies_contr_replenish_agreement
    where del_flag = '0'
    <if test="pp6 != null and pp6 != ''" >
     and pp6 = #{pp6,jdbcType=VARCHAR}
    </if>
    ORDER BY create_time DESC LIMIT 0, 10000000000) t     
	GROUP BY pp6		    
  </select>   
  <select id="getDetailByWorkId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_ct_supplies_contr_replenish_agreement
    where del_flag = '0' and work_id = #{workId,jdbcType=CHAR}
  </select>  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_ct_supplies_contr_replenish_agreement
    where del_flag = '0' and replenish_agreement_id = #{replenishAgreementId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_ct_supplies_contr_replenish_agreement
    where replenish_agreement_id = #{replenishAgreementId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesContrReplenishAgreement" >
    insert into zx_ct_supplies_contr_replenish_agreement (
    replenish_agreement_id, secondName, secondID, materialSource, taxRate, 
    isFlagZhb, isFlag, isDeduct, upAlterContractSumTax, upAlterContractSumNoTax, 
    upAlterContractSum, pp8, status, instProcessId, startDate, 
    endDate, firstName, firstID, contractCostTax, agent, 
    content, pp6, contractName, contractType, code7, 
    csTimeLimit, contractCost, workitemID, sendToZhbID, sendToJuID, 
    beginPer, contractCostNoTax, pp3, contractNo, alterContractSumTax, 
    alterContractSum, alterContractSumNoTax, pp4Tax, pp4, pp4NoTax, 
    pp9, pp7, pp5, pp2, pp10, 
    pp1, orgID, comID, combProp, opinion_field1, 
    opinion_field2, opinion_field3, opinion_field4, opinion_field5, opinion_field6, 
    opinion_field7, opinion_field8, opinion_field9, opinion_field10, apih5_flow_id, 
    work_id, apih5_flow_status, apih5_flow_node_status, company_id, remarks, 
    sort, del_flag, create_time, create_user, create_user_name, 
    modify_time, modify_user, modify_user_name
      )
    values (
      #{replenishAgreementId,jdbcType=CHAR}, #{secondName,jdbcType=VARCHAR}, #{secondID,jdbcType=VARCHAR}, #{materialSource,jdbcType=VARCHAR}, #{taxRate,jdbcType=VARCHAR}, 
    #{isFlagZhb,jdbcType=VARCHAR}, #{isFlag,jdbcType=VARCHAR}, #{isDeduct,jdbcType=VARCHAR}, #{upAlterContractSumTax,jdbcType=DECIMAL}, #{upAlterContractSumNoTax,jdbcType=DECIMAL}, 
    #{upAlterContractSum,jdbcType=DECIMAL}, #{pp8,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{instProcessId,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP}, 
    #{endDate,jdbcType=TIMESTAMP}, #{firstName,jdbcType=VARCHAR}, #{firstID,jdbcType=VARCHAR}, #{contractCostTax,jdbcType=DECIMAL}, #{agent,jdbcType=VARCHAR}, 
    #{content,jdbcType=VARCHAR}, #{pp6,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR}, #{contractType,jdbcType=VARCHAR}, #{code7,jdbcType=VARCHAR}, 
    #{csTimeLimit,jdbcType=VARCHAR}, #{contractCost,jdbcType=DECIMAL}, #{workitemID,jdbcType=VARCHAR}, #{sendToZhbID,jdbcType=VARCHAR}, #{sendToJuID,jdbcType=VARCHAR}, 
    #{beginPer,jdbcType=VARCHAR}, #{contractCostNoTax,jdbcType=DECIMAL}, #{pp3,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, #{alterContractSumTax,jdbcType=DECIMAL}, 
    #{alterContractSum,jdbcType=DECIMAL}, #{alterContractSumNoTax,jdbcType=DECIMAL}, #{pp4Tax,jdbcType=DECIMAL}, #{pp4,jdbcType=VARCHAR}, #{pp4NoTax,jdbcType=DECIMAL}, 
    #{pp9,jdbcType=VARCHAR}, #{pp7,jdbcType=VARCHAR}, #{pp5,jdbcType=VARCHAR}, #{pp2,jdbcType=VARCHAR}, #{pp10,jdbcType=VARCHAR}, 
    #{pp1,jdbcType=VARCHAR}, #{orgID,jdbcType=VARCHAR}, #{comID,jdbcType=VARCHAR}, #{combProp,jdbcType=VARCHAR}, #{opinionField1,jdbcType=VARCHAR}, 
    #{opinionField2,jdbcType=VARCHAR}, #{opinionField3,jdbcType=VARCHAR}, #{opinionField4,jdbcType=VARCHAR}, #{opinionField5,jdbcType=VARCHAR}, #{opinionField6,jdbcType=VARCHAR}, 
    #{opinionField7,jdbcType=VARCHAR}, #{opinionField8,jdbcType=VARCHAR}, #{opinionField9,jdbcType=VARCHAR}, #{opinionField10,jdbcType=VARCHAR}, #{apih5FlowId,jdbcType=VARCHAR}, 
    #{workId,jdbcType=CHAR}, #{apih5FlowStatus,jdbcType=CHAR}, #{apih5FlowNodeStatus,jdbcType=CHAR}, #{companyId,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
    #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, 
    #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesContrReplenishAgreement" >
    insert into zx_ct_supplies_contr_replenish_agreement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="replenishAgreementId != null" >
        replenish_agreement_id,
      </if>
      <if test="secondName != null" >
        secondName,
      </if>
      <if test="secondID != null" >
        secondID,
      </if>
      <if test="materialSource != null" >
        materialSource,
      </if>
      <if test="taxRate != null" >
        taxRate,
      </if>
      <if test="isFlagZhb != null" >
        isFlagZhb,
      </if>
      <if test="isFlag != null" >
        isFlag,
      </if>
      <if test="isDeduct != null" >
        isDeduct,
      </if>
      <if test="upAlterContractSumTax != null" >
        upAlterContractSumTax,
      </if>
      <if test="upAlterContractSumNoTax != null" >
        upAlterContractSumNoTax,
      </if>
      <if test="upAlterContractSum != null" >
        upAlterContractSum,
      </if>
      <if test="pp8 != null" >
        pp8,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="instProcessId != null" >
        instProcessId,
      </if>
      <if test="startDate != null" >
        startDate,
      </if>
      <if test="endDate != null" >
        endDate,
      </if>
      <if test="firstName != null" >
        firstName,
      </if>
      <if test="firstID != null" >
        firstID,
      </if>
      <if test="contractCostTax != null" >
        contractCostTax,
      </if>
      <if test="agent != null" >
        agent,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="pp6 != null" >
        pp6,
      </if>
      <if test="contractName != null" >
        contractName,
      </if>
      <if test="contractType != null" >
        contractType,
      </if>
      <if test="code7 != null" >
        code7,
      </if>
      <if test="csTimeLimit != null" >
        csTimeLimit,
      </if>
      <if test="contractCost != null" >
        contractCost,
      </if>
      <if test="workitemID != null" >
        workitemID,
      </if>
      <if test="sendToZhbID != null" >
        sendToZhbID,
      </if>
      <if test="sendToJuID != null" >
        sendToJuID,
      </if>
      <if test="beginPer != null" >
        beginPer,
      </if>
      <if test="contractCostNoTax != null" >
        contractCostNoTax,
      </if>
      <if test="pp3 != null" >
        pp3,
      </if>
      <if test="contractNo != null" >
        contractNo,
      </if>
      <if test="alterContractSumTax != null" >
        alterContractSumTax,
      </if>
      <if test="alterContractSum != null" >
        alterContractSum,
      </if>
      <if test="alterContractSumNoTax != null" >
        alterContractSumNoTax,
      </if>
      <if test="pp4Tax != null" >
        pp4Tax,
      </if>
      <if test="pp4 != null" >
        pp4,
      </if>
      <if test="pp4NoTax != null" >
        pp4NoTax,
      </if>
      <if test="pp9 != null" >
        pp9,
      </if>
      <if test="pp7 != null" >
        pp7,
      </if>
      <if test="pp5 != null" >
        pp5,
      </if>
      <if test="pp2 != null" >
        pp2,
      </if>
      <if test="pp10 != null" >
        pp10,
      </if>
      <if test="pp1 != null" >
        pp1,
      </if>
      <if test="orgID != null" >
        orgID,
      </if>
      <if test="comID != null" >
        comID,
      </if>
      <if test="combProp != null" >
        combProp,
      </if>
      <if test="opinionField1 != null" >
        opinion_field1,
      </if>
      <if test="opinionField2 != null" >
        opinion_field2,
      </if>
      <if test="opinionField3 != null" >
        opinion_field3,
      </if>
      <if test="opinionField4 != null" >
        opinion_field4,
      </if>
      <if test="opinionField5 != null" >
        opinion_field5,
      </if>
      <if test="opinionField6 != null" >
        opinion_field6,
      </if>
      <if test="opinionField7 != null" >
        opinion_field7,
      </if>
      <if test="opinionField8 != null" >
        opinion_field8,
      </if>
      <if test="opinionField9 != null" >
        opinion_field9,
      </if>
      <if test="opinionField10 != null" >
        opinion_field10,
      </if>
      <if test="apih5FlowId != null" >
        apih5_flow_id,
      </if>
      <if test="workId != null" >
        work_id,
      </if>
      <if test="apih5FlowStatus != null" >
        apih5_flow_status,
      </if>
      <if test="apih5FlowNodeStatus != null" >
        apih5_flow_node_status,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="replenishAgreementId != null" >
        #{replenishAgreementId,jdbcType=CHAR},
      </if>
      <if test="secondName != null" >
        #{secondName,jdbcType=VARCHAR},
      </if>
      <if test="secondID != null" >
        #{secondID,jdbcType=VARCHAR},
      </if>
      <if test="materialSource != null" >
        #{materialSource,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="isFlagZhb != null" >
        #{isFlagZhb,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null" >
        #{isFlag,jdbcType=VARCHAR},
      </if>
      <if test="isDeduct != null" >
        #{isDeduct,jdbcType=VARCHAR},
      </if>
      <if test="upAlterContractSumTax != null" >
        #{upAlterContractSumTax,jdbcType=DECIMAL},
      </if>
      <if test="upAlterContractSumNoTax != null" >
        #{upAlterContractSumNoTax,jdbcType=DECIMAL},
      </if>
      <if test="upAlterContractSum != null" >
        #{upAlterContractSum,jdbcType=DECIMAL},
      </if>
      <if test="pp8 != null" >
        #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="instProcessId != null" >
        #{instProcessId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="firstName != null" >
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="firstID != null" >
        #{firstID,jdbcType=VARCHAR},
      </if>
      <if test="contractCostTax != null" >
        #{contractCostTax,jdbcType=DECIMAL},
      </if>
      <if test="agent != null" >
        #{agent,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="contractName != null" >
        #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="code7 != null" >
        #{code7,jdbcType=VARCHAR},
      </if>
      <if test="csTimeLimit != null" >
        #{csTimeLimit,jdbcType=VARCHAR},
      </if>
      <if test="contractCost != null" >
        #{contractCost,jdbcType=DECIMAL},
      </if>
      <if test="workitemID != null" >
        #{workitemID,jdbcType=VARCHAR},
      </if>
      <if test="sendToZhbID != null" >
        #{sendToZhbID,jdbcType=VARCHAR},
      </if>
      <if test="sendToJuID != null" >
        #{sendToJuID,jdbcType=VARCHAR},
      </if>
      <if test="beginPer != null" >
        #{beginPer,jdbcType=VARCHAR},
      </if>
      <if test="contractCostNoTax != null" >
        #{contractCostNoTax,jdbcType=DECIMAL},
      </if>
      <if test="pp3 != null" >
        #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null" >
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="alterContractSumTax != null" >
        #{alterContractSumTax,jdbcType=DECIMAL},
      </if>
      <if test="alterContractSum != null" >
        #{alterContractSum,jdbcType=DECIMAL},
      </if>
      <if test="alterContractSumNoTax != null" >
        #{alterContractSumNoTax,jdbcType=DECIMAL},
      </if>
      <if test="pp4Tax != null" >
        #{pp4Tax,jdbcType=DECIMAL},
      </if>
      <if test="pp4 != null" >
        #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp4NoTax != null" >
        #{pp4NoTax,jdbcType=DECIMAL},
      </if>
      <if test="pp9 != null" >
        #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="comID != null" >
        #{comID,jdbcType=VARCHAR},
      </if>
      <if test="combProp != null" >
        #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="opinionField1 != null" >
        #{opinionField1,jdbcType=VARCHAR},
      </if>
      <if test="opinionField2 != null" >
        #{opinionField2,jdbcType=VARCHAR},
      </if>
      <if test="opinionField3 != null" >
        #{opinionField3,jdbcType=VARCHAR},
      </if>
      <if test="opinionField4 != null" >
        #{opinionField4,jdbcType=VARCHAR},
      </if>
      <if test="opinionField5 != null" >
        #{opinionField5,jdbcType=VARCHAR},
      </if>
      <if test="opinionField6 != null" >
        #{opinionField6,jdbcType=VARCHAR},
      </if>
      <if test="opinionField7 != null" >
        #{opinionField7,jdbcType=VARCHAR},
      </if>
      <if test="opinionField8 != null" >
        #{opinionField8,jdbcType=VARCHAR},
      </if>
      <if test="opinionField9 != null" >
        #{opinionField9,jdbcType=VARCHAR},
      </if>
      <if test="opinionField10 != null" >
        #{opinionField10,jdbcType=VARCHAR},
      </if>
      <if test="apih5FlowId != null" >
        #{apih5FlowId,jdbcType=VARCHAR},
      </if>
      <if test="workId != null" >
        #{workId,jdbcType=CHAR},
      </if>
      <if test="apih5FlowStatus != null" >
        #{apih5FlowStatus,jdbcType=CHAR},
      </if>
      <if test="apih5FlowNodeStatus != null" >
        #{apih5FlowNodeStatus,jdbcType=CHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesContrReplenishAgreement" >
    update zx_ct_supplies_contr_replenish_agreement
    <set >
      <if test="secondName != null" >
        secondName = #{secondName,jdbcType=VARCHAR},
      </if>
      <if test="secondID != null" >
        secondID = #{secondID,jdbcType=VARCHAR},
      </if>
      <if test="materialSource != null" >
        materialSource = #{materialSource,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        taxRate = #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="isFlagZhb != null" >
        isFlagZhb = #{isFlagZhb,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null" >
        isFlag = #{isFlag,jdbcType=VARCHAR},
      </if>
      <if test="isDeduct != null" >
        isDeduct = #{isDeduct,jdbcType=VARCHAR},
      </if>
      <if test="upAlterContractSumTax != null" >
        upAlterContractSumTax = #{upAlterContractSumTax,jdbcType=DECIMAL},
      </if>
      <if test="upAlterContractSumNoTax != null" >
        upAlterContractSumNoTax = #{upAlterContractSumNoTax,jdbcType=DECIMAL},
      </if>
      <if test="upAlterContractSum != null" >
        upAlterContractSum = #{upAlterContractSum,jdbcType=DECIMAL},
      </if>
      <if test="pp8 != null" >
        pp8 = #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="instProcessId != null" >
        instProcessId = #{instProcessId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        startDate = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        endDate = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="firstName != null" >
        firstName = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="firstID != null" >
        firstID = #{firstID,jdbcType=VARCHAR},
      </if>
      <if test="contractCostTax != null" >
        contractCostTax = #{contractCostTax,jdbcType=DECIMAL},
      </if>
      <if test="agent != null" >
        agent = #{agent,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        pp6 = #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="contractName != null" >
        contractName = #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        contractType = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="code7 != null" >
        code7 = #{code7,jdbcType=VARCHAR},
      </if>
      <if test="csTimeLimit != null" >
        csTimeLimit = #{csTimeLimit,jdbcType=VARCHAR},
      </if>
      <if test="contractCost != null" >
        contractCost = #{contractCost,jdbcType=DECIMAL},
      </if>
      <if test="workitemID != null" >
        workitemID = #{workitemID,jdbcType=VARCHAR},
      </if>
      <if test="sendToZhbID != null" >
        sendToZhbID = #{sendToZhbID,jdbcType=VARCHAR},
      </if>
      <if test="sendToJuID != null" >
        sendToJuID = #{sendToJuID,jdbcType=VARCHAR},
      </if>
      <if test="beginPer != null" >
        beginPer = #{beginPer,jdbcType=VARCHAR},
      </if>
      <if test="contractCostNoTax != null" >
        contractCostNoTax = #{contractCostNoTax,jdbcType=DECIMAL},
      </if>
      <if test="pp3 != null" >
        pp3 = #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null" >
        contractNo = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="alterContractSumTax != null" >
        alterContractSumTax = #{alterContractSumTax,jdbcType=DECIMAL},
      </if>
      <if test="alterContractSum != null" >
        alterContractSum = #{alterContractSum,jdbcType=DECIMAL},
      </if>
      <if test="alterContractSumNoTax != null" >
        alterContractSumNoTax = #{alterContractSumNoTax,jdbcType=DECIMAL},
      </if>
      <if test="pp4Tax != null" >
        pp4Tax = #{pp4Tax,jdbcType=DECIMAL},
      </if>
      <if test="pp4 != null" >
        pp4 = #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp4NoTax != null" >
        pp4NoTax = #{pp4NoTax,jdbcType=DECIMAL},
      </if>
      <if test="pp9 != null" >
        pp9 = #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        pp7 = #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        pp5 = #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        pp2 = #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        pp10 = #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        pp1 = #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        orgID = #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="comID != null" >
        comID = #{comID,jdbcType=VARCHAR},
      </if>
      <if test="combProp != null" >
        combProp = #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="opinionField1 != null" >
        opinion_field1 = #{opinionField1,jdbcType=VARCHAR},
      </if>
      <if test="opinionField2 != null" >
        opinion_field2 = #{opinionField2,jdbcType=VARCHAR},
      </if>
      <if test="opinionField3 != null" >
        opinion_field3 = #{opinionField3,jdbcType=VARCHAR},
      </if>
      <if test="opinionField4 != null" >
        opinion_field4 = #{opinionField4,jdbcType=VARCHAR},
      </if>
      <if test="opinionField5 != null" >
        opinion_field5 = #{opinionField5,jdbcType=VARCHAR},
      </if>
      <if test="opinionField6 != null" >
        opinion_field6 = #{opinionField6,jdbcType=VARCHAR},
      </if>
      <if test="opinionField7 != null" >
        opinion_field7 = #{opinionField7,jdbcType=VARCHAR},
      </if>
      <if test="opinionField8 != null" >
        opinion_field8 = #{opinionField8,jdbcType=VARCHAR},
      </if>
      <if test="opinionField9 != null" >
        opinion_field9 = #{opinionField9,jdbcType=VARCHAR},
      </if>
      <if test="opinionField10 != null" >
        opinion_field10 = #{opinionField10,jdbcType=VARCHAR},
      </if>
      <if test="apih5FlowId != null" >
        apih5_flow_id = #{apih5FlowId,jdbcType=VARCHAR},
      </if>
      <if test="workId != null" >
        work_id = #{workId,jdbcType=CHAR},
      </if>
      <if test="apih5FlowStatus != null" >
        apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR},
      </if>
      <if test="apih5FlowNodeStatus != null" >
        apih5_flow_node_status = #{apih5FlowNodeStatus,jdbcType=CHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where replenish_agreement_id = #{replenishAgreementId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesContrReplenishAgreement" >
    update zx_ct_supplies_contr_replenish_agreement set 
      secondName = #{secondName,jdbcType=VARCHAR},
      secondID = #{secondID,jdbcType=VARCHAR},
      materialSource = #{materialSource,jdbcType=VARCHAR},
      taxRate = #{taxRate,jdbcType=VARCHAR},
      isFlagZhb = #{isFlagZhb,jdbcType=VARCHAR},
      isFlag = #{isFlag,jdbcType=VARCHAR},
      isDeduct = #{isDeduct,jdbcType=VARCHAR},
      upAlterContractSumTax = #{upAlterContractSumTax,jdbcType=DECIMAL},
      upAlterContractSumNoTax = #{upAlterContractSumNoTax,jdbcType=DECIMAL},
      upAlterContractSum = #{upAlterContractSum,jdbcType=DECIMAL},
      pp8 = #{pp8,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      instProcessId = #{instProcessId,jdbcType=VARCHAR},
      startDate = #{startDate,jdbcType=TIMESTAMP},
      endDate = #{endDate,jdbcType=TIMESTAMP},
      firstName = #{firstName,jdbcType=VARCHAR},
      firstID = #{firstID,jdbcType=VARCHAR},
      contractCostTax = #{contractCostTax,jdbcType=DECIMAL},
      agent = #{agent,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      pp6 = #{pp6,jdbcType=VARCHAR},
      contractName = #{contractName,jdbcType=VARCHAR},
      contractType = #{contractType,jdbcType=VARCHAR},
      code7 = #{code7,jdbcType=VARCHAR},
      csTimeLimit = #{csTimeLimit,jdbcType=VARCHAR},
      contractCost = #{contractCost,jdbcType=DECIMAL},
      workitemID = #{workitemID,jdbcType=VARCHAR},
      sendToZhbID = #{sendToZhbID,jdbcType=VARCHAR},
      sendToJuID = #{sendToJuID,jdbcType=VARCHAR},
      beginPer = #{beginPer,jdbcType=VARCHAR},
      contractCostNoTax = #{contractCostNoTax,jdbcType=DECIMAL},
      pp3 = #{pp3,jdbcType=VARCHAR},
      contractNo = #{contractNo,jdbcType=VARCHAR},
      alterContractSumTax = #{alterContractSumTax,jdbcType=DECIMAL},
      alterContractSum = #{alterContractSum,jdbcType=DECIMAL},
      alterContractSumNoTax = #{alterContractSumNoTax,jdbcType=DECIMAL},
      pp4Tax = #{pp4Tax,jdbcType=DECIMAL},
      pp4 = #{pp4,jdbcType=VARCHAR},
      pp4NoTax = #{pp4NoTax,jdbcType=DECIMAL},
      pp9 = #{pp9,jdbcType=VARCHAR},
      pp7 = #{pp7,jdbcType=VARCHAR},
      pp5 = #{pp5,jdbcType=VARCHAR},
      pp2 = #{pp2,jdbcType=VARCHAR},
      pp10 = #{pp10,jdbcType=VARCHAR},
      pp1 = #{pp1,jdbcType=VARCHAR},
      orgID = #{orgID,jdbcType=VARCHAR},
      comID = #{comID,jdbcType=VARCHAR},
      combProp = #{combProp,jdbcType=VARCHAR},
      opinion_field1 = #{opinionField1,jdbcType=VARCHAR},
      opinion_field2 = #{opinionField2,jdbcType=VARCHAR},
      opinion_field3 = #{opinionField3,jdbcType=VARCHAR},
      opinion_field4 = #{opinionField4,jdbcType=VARCHAR},
      opinion_field5 = #{opinionField5,jdbcType=VARCHAR},
      opinion_field6 = #{opinionField6,jdbcType=VARCHAR},
      opinion_field7 = #{opinionField7,jdbcType=VARCHAR},
      opinion_field8 = #{opinionField8,jdbcType=VARCHAR},
      opinion_field9 = #{opinionField9,jdbcType=VARCHAR},
      opinion_field10 = #{opinionField10,jdbcType=VARCHAR},
      apih5_flow_id = #{apih5FlowId,jdbcType=VARCHAR},
      work_id = #{workId,jdbcType=CHAR},
      apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR},
      apih5_flow_node_status = #{apih5FlowNodeStatus,jdbcType=CHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where replenish_agreement_id = #{replenishAgreementId,jdbcType=CHAR}
  </update>
  <select id="selectByZxCtSuppliesContrReplenishAgreementList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesContrReplenishAgreement" >
    select 
    <include refid="Base_Column_List" />
    from zx_ct_supplies_contr_replenish_agreement
    where del_flag = '0'
    <if test="replenishAgreementId != null and replenishAgreementId != ''" >
     and replenish_agreement_id = #{replenishAgreementId,jdbcType=CHAR}
    </if>
    <if test="secondName != null and secondName != ''" >
     and secondName = #{secondName,jdbcType=VARCHAR}
    </if>
    <if test="secondID != null and secondID != ''" >
     and secondID = #{secondID,jdbcType=VARCHAR}
    </if>
    <if test="materialSource != null and materialSource != ''" >
     and materialSource = #{materialSource,jdbcType=VARCHAR}
    </if>
    <if test="taxRate != null and taxRate != ''" >
     and taxRate = #{taxRate,jdbcType=VARCHAR}
    </if>
    <if test="isFlagZhb != null and isFlagZhb != ''" >
     and isFlagZhb = #{isFlagZhb,jdbcType=VARCHAR}
    </if>
    <if test="isFlag != null and isFlag != ''" >
     and isFlag = #{isFlag,jdbcType=VARCHAR}
    </if>
    <if test="isDeduct != null and isDeduct != ''" >
     and isDeduct = #{isDeduct,jdbcType=VARCHAR}
    </if>
    <if test="upAlterContractSumTax != null and upAlterContractSumTax != ''" >
     and upAlterContractSumTax = #{upAlterContractSumTax,jdbcType=DECIMAL}
    </if>
    <if test="upAlterContractSumNoTax != null and upAlterContractSumNoTax != ''" >
     and upAlterContractSumNoTax = #{upAlterContractSumNoTax,jdbcType=DECIMAL}
    </if>
    <if test="upAlterContractSum != null and upAlterContractSum != ''" >
     and upAlterContractSum = #{upAlterContractSum,jdbcType=DECIMAL}
    </if>
    <if test="pp8 != null and pp8 != ''" >
     and pp8 = #{pp8,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status != ''" >
     and status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="instProcessId != null and instProcessId != ''" >
     and instProcessId = #{instProcessId,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null and startDate != ''" >
     and startDate = #{startDate,jdbcType=TIMESTAMP}
    </if>
    <if test="endDate != null and endDate != ''" >
     and endDate = #{endDate,jdbcType=TIMESTAMP}
    </if>
    <if test="firstName != null and firstName != ''" >
     and firstName = #{firstName,jdbcType=VARCHAR}
    </if>
    <if test="firstID != null and firstID != ''" >
     and firstID = #{firstID,jdbcType=VARCHAR}
    </if>
    <if test="contractCostTax != null and contractCostTax != ''" >
     and contractCostTax = #{contractCostTax,jdbcType=DECIMAL}
    </if>
    <if test="agent != null and agent != ''" >
     and agent = #{agent,jdbcType=VARCHAR}
    </if>
    <if test="content != null and content != ''" >
     and content = #{content,jdbcType=VARCHAR}
    </if>
    <if test="pp6 != null and pp6 != ''" >
     and pp6 = #{pp6,jdbcType=VARCHAR}
    </if>
    <if test="contractName != null and contractName != ''" >
     and contractName = #{contractName,jdbcType=VARCHAR}
    </if>
    <if test="contractType != null and contractType != ''" >
     and contractType = #{contractType,jdbcType=VARCHAR}
    </if>
    <if test="code7 != null and code7 != ''" >
     and code7 = #{code7,jdbcType=VARCHAR}
    </if>
    <if test="csTimeLimit != null and csTimeLimit != ''" >
     and csTimeLimit = #{csTimeLimit,jdbcType=VARCHAR}
    </if>
    <if test="contractCost != null and contractCost != ''" >
     and contractCost = #{contractCost,jdbcType=DECIMAL}
    </if>
    <if test="workitemID != null and workitemID != ''" >
     and workitemID = #{workitemID,jdbcType=VARCHAR}
    </if>
    <if test="sendToZhbID != null and sendToZhbID != ''" >
     and sendToZhbID = #{sendToZhbID,jdbcType=VARCHAR}
    </if>
    <if test="sendToJuID != null and sendToJuID != ''" >
     and sendToJuID = #{sendToJuID,jdbcType=VARCHAR}
    </if>
    <if test="beginPer != null and beginPer != ''" >
     and beginPer = #{beginPer,jdbcType=VARCHAR}
    </if>
    <if test="contractCostNoTax != null and contractCostNoTax != ''" >
     and contractCostNoTax = #{contractCostNoTax,jdbcType=DECIMAL}
    </if>
    <if test="pp3 != null and pp3 != ''" >
     and pp3 = #{pp3,jdbcType=VARCHAR}
    </if>
    <if test="contractNo != null and contractNo != ''" >
     and contractNo = #{contractNo,jdbcType=VARCHAR}
    </if>
    <if test="alterContractSumTax != null and alterContractSumTax != ''" >
     and alterContractSumTax = #{alterContractSumTax,jdbcType=DECIMAL}
    </if>
    <if test="alterContractSum != null and alterContractSum != ''" >
     and alterContractSum = #{alterContractSum,jdbcType=DECIMAL}
    </if>
    <if test="alterContractSumNoTax != null and alterContractSumNoTax != ''" >
     and alterContractSumNoTax = #{alterContractSumNoTax,jdbcType=DECIMAL}
    </if>
    <if test="pp4Tax != null and pp4Tax != ''" >
     and pp4Tax = #{pp4Tax,jdbcType=DECIMAL}
    </if>
    <if test="pp4 != null and pp4 != ''" >
     and pp4 = #{pp4,jdbcType=VARCHAR}
    </if>
    <if test="pp4NoTax != null and pp4NoTax != ''" >
     and pp4NoTax = #{pp4NoTax,jdbcType=DECIMAL}
    </if>
    <if test="pp9 != null and pp9 != ''" >
     and pp9 = #{pp9,jdbcType=VARCHAR}
    </if>
    <if test="pp7 != null and pp7 != ''" >
     and pp7 = #{pp7,jdbcType=VARCHAR}
    </if>
    <if test="pp5 != null and pp5 != ''" >
     and pp5 = #{pp5,jdbcType=VARCHAR}
    </if>
    <if test="pp2 != null and pp2 != ''" >
     and pp2 = #{pp2,jdbcType=VARCHAR}
    </if>
    <if test="pp10 != null and pp10 != ''" >
     and pp10 = #{pp10,jdbcType=VARCHAR}
    </if>
    <if test="pp1 != null and pp1 != ''" >
     and pp1 = #{pp1,jdbcType=VARCHAR}
    </if>
    <if test="orgID != null and orgID != ''" >
     and orgID = #{orgID,jdbcType=VARCHAR}
    </if>
    <if test="comID != null and comID != ''" >
     and comID = #{comID,jdbcType=VARCHAR}
    </if>
    <if test="combProp != null and combProp != ''" >
     and combProp = #{combProp,jdbcType=VARCHAR}
    </if>
    <if test="opinionField1 != null and opinionField1 != ''" >
     and opinion_field1 = #{opinionField1,jdbcType=VARCHAR}
    </if>
    <if test="opinionField2 != null and opinionField2 != ''" >
     and opinion_field2 = #{opinionField2,jdbcType=VARCHAR}
    </if>
    <if test="opinionField3 != null and opinionField3 != ''" >
     and opinion_field3 = #{opinionField3,jdbcType=VARCHAR}
    </if>
    <if test="opinionField4 != null and opinionField4 != ''" >
     and opinion_field4 = #{opinionField4,jdbcType=VARCHAR}
    </if>
    <if test="opinionField5 != null and opinionField5 != ''" >
     and opinion_field5 = #{opinionField5,jdbcType=VARCHAR}
    </if>
    <if test="opinionField6 != null and opinionField6 != ''" >
     and opinion_field6 = #{opinionField6,jdbcType=VARCHAR}
    </if>
    <if test="opinionField7 != null and opinionField7 != ''" >
     and opinion_field7 = #{opinionField7,jdbcType=VARCHAR}
    </if>
    <if test="opinionField8 != null and opinionField8 != ''" >
     and opinion_field8 = #{opinionField8,jdbcType=VARCHAR}
    </if>
    <if test="opinionField9 != null and opinionField9 != ''" >
     and opinion_field9 = #{opinionField9,jdbcType=VARCHAR}
    </if>
    <if test="opinionField10 != null and opinionField10 != ''" >
     and opinion_field10 = #{opinionField10,jdbcType=VARCHAR}
    </if>
    <if test="apih5FlowId != null and apih5FlowId != ''" >
     and apih5_flow_id = #{apih5FlowId,jdbcType=VARCHAR}
    </if>
    <if test="workId != null and workId != ''" >
     and work_id = #{workId,jdbcType=CHAR}
    </if>
    <if test="apih5FlowStatus != null and apih5FlowStatus != ''" >
     and apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR}
    </if>
    <if test="apih5FlowNodeStatus != null and apih5FlowNodeStatus != ''" >
     and apih5_flow_node_status = #{apih5FlowNodeStatus,jdbcType=CHAR}
    </if>
    <if test="companyId != null and companyId != ''" >
     and company_id = #{companyId,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxCtSuppliesContrReplenishAgreement" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesContrReplenishAgreement" >
    <![CDATA[ 
        update zx_ct_supplies_contr_replenish_agreement
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and replenish_agreement_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.replenishAgreementId} 
     </foreach>
  </delete>
</mapper>
