<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxCtAlterMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxCtAlter" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="workBookID" property="workBookID" jdbcType="VARCHAR" />
    <result column="alterLevel" property="alterLevel" jdbcType="VARCHAR" />
    <result column="proposer" property="proposer" jdbcType="VARCHAR" />
    <result column="alterContent" property="alterContent" jdbcType="VARCHAR" />
    <result column="alterReason" property="alterReason" jdbcType="VARCHAR" />
    <result column="happenDate" property="happenDate" jdbcType="TIMESTAMP" />
    <result column="applyAmount" property="applyAmount" jdbcType="DECIMAL" />
    <result column="applyDate" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="applyNo" property="applyNo" jdbcType="VARCHAR" />
    <result column="applyDelay" property="applyDelay" jdbcType="VARCHAR" />
    <result column="replyAmount" property="replyAmount" jdbcType="DECIMAL" />
    <result column="replyDate" property="replyDate" jdbcType="TIMESTAMP" />
    <result column="replyNo" property="replyNo" jdbcType="VARCHAR" />
    <result column="replyDelay" property="replyDelay" jdbcType="VARCHAR" />
    <result column="replyStatus" property="replyStatus" jdbcType="VARCHAR" />
    <result column="recorder" property="recorder" jdbcType="VARCHAR" />
    <result column="recordDate" property="recordDate" jdbcType="TIMESTAMP" />
    <result column="takeEffectDate" property="takeEffectDate" jdbcType="TIMESTAMP" />
    <result column="takeEffectMan" property="takeEffectMan" jdbcType="VARCHAR" />
    <result column="auditStatus" property="auditStatus" jdbcType="VARCHAR" />
    <result column="companyHelp" property="companyHelp" jdbcType="VARCHAR" />
    <result column="combProp" property="combProp" jdbcType="VARCHAR" />
    <result column="confirmatAmountOfResidentSupervision" property="confirmatAmountOfResidentSupervision" jdbcType="DECIMAL" />
    <result column="confirmatDateOfResidentSupervisor" property="confirmatDateOfResidentSupervisor" jdbcType="TIMESTAMP" />
    <result column="amountConfirmedByDirectorOffice" property="amountConfirmedByDirectorOffice" jdbcType="DECIMAL" />
    <result column="dateConfirmedByDirectorOffice" property="dateConfirmedByDirectorOffice" jdbcType="TIMESTAMP" />
    <result column="pp5" property="pp5" jdbcType="VARCHAR" />
    <result column="pp6" property="pp6" jdbcType="VARCHAR" />
    <result column="pp7" property="pp7" jdbcType="VARCHAR" />
    <result column="pp8" property="pp8" jdbcType="VARCHAR" />
    <result column="pp9" property="pp9" jdbcType="VARCHAR" />
    <result column="pp10" property="pp10" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, workBookID, alterLevel, proposer, alterContent, 
    alterReason, happenDate, applyAmount, applyDate, applyNo, 
    applyDelay, replyAmount, replyDate, replyNo, replyDelay, 
    replyStatus, recorder, recordDate, takeEffectDate, takeEffectMan, 
    auditStatus, companyHelp, combProp, confirmatAmountOfResidentSupervision, confirmatDateOfResidentSupervisor, 
    amountConfirmedByDirectorOffice, dateConfirmedByDirectorOffice, pp5, pp6, pp7, 
    pp8, pp9, pp10, remarks, sort, 
    del_flag, create_time, create_user, create_user_name, modify_time, 
    modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_ct_Alter
    where del_flag = '0' and id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_ct_Alter
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxCtAlter" >
    insert into zx_ct_Alter (
    id, workBookID, alterLevel, proposer, alterContent, 
    alterReason, happenDate, applyAmount, applyDate, applyNo, 
    applyDelay, replyAmount, replyDate, replyNo, replyDelay, 
    replyStatus, recorder, recordDate, takeEffectDate, takeEffectMan, 
    auditStatus, companyHelp, combProp, confirmatAmountOfResidentSupervision, confirmatDateOfResidentSupervisor, 
    amountConfirmedByDirectorOffice, dateConfirmedByDirectorOffice, pp5, pp6, pp7, 
    pp8, pp9, pp10, remarks, sort, 
    del_flag, create_time, create_user, create_user_name, modify_time, 
    modify_user, modify_user_name
      )
    values (
      #{id,jdbcType=CHAR}, #{workBookID,jdbcType=VARCHAR}, #{alterLevel,jdbcType=VARCHAR}, #{proposer,jdbcType=VARCHAR}, #{alterContent,jdbcType=VARCHAR}, 
    #{alterReason,jdbcType=VARCHAR}, #{happenDate,jdbcType=TIMESTAMP}, #{applyAmount,jdbcType=DECIMAL}, #{applyDate,jdbcType=TIMESTAMP}, #{applyNo,jdbcType=VARCHAR}, 
    #{applyDelay,jdbcType=VARCHAR}, #{replyAmount,jdbcType=DECIMAL}, #{replyDate,jdbcType=TIMESTAMP}, #{replyNo,jdbcType=VARCHAR}, #{replyDelay,jdbcType=VARCHAR}, 
    #{replyStatus,jdbcType=VARCHAR}, #{recorder,jdbcType=VARCHAR}, #{recordDate,jdbcType=TIMESTAMP}, #{takeEffectDate,jdbcType=TIMESTAMP}, #{takeEffectMan,jdbcType=VARCHAR}, 
    #{auditStatus,jdbcType=VARCHAR}, #{companyHelp,jdbcType=VARCHAR}, #{combProp,jdbcType=VARCHAR}, #{confirmatAmountOfResidentSupervision,jdbcType=DECIMAL}, #{confirmatDateOfResidentSupervisor,jdbcType=TIMESTAMP}, 
    #{amountConfirmedByDirectorOffice,jdbcType=DECIMAL}, #{dateConfirmedByDirectorOffice,jdbcType=TIMESTAMP}, #{pp5,jdbcType=VARCHAR}, #{pp6,jdbcType=VARCHAR}, #{pp7,jdbcType=VARCHAR}, 
    #{pp8,jdbcType=VARCHAR}, #{pp9,jdbcType=VARCHAR}, #{pp10,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
    #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
    #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxCtAlter" >
    insert into zx_ct_Alter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="workBookID != null" >
        workBookID,
      </if>
      <if test="alterLevel != null" >
        alterLevel,
      </if>
      <if test="proposer != null" >
        proposer,
      </if>
      <if test="alterContent != null" >
        alterContent,
      </if>
      <if test="alterReason != null" >
        alterReason,
      </if>
      <if test="happenDate != null" >
        happenDate,
      </if>
      <if test="applyAmount != null" >
        applyAmount,
      </if>
      <if test="applyDate != null" >
        applyDate,
      </if>
      <if test="applyNo != null" >
        applyNo,
      </if>
      <if test="applyDelay != null" >
        applyDelay,
      </if>
      <if test="replyAmount != null" >
        replyAmount,
      </if>
      <if test="replyDate != null" >
        replyDate,
      </if>
      <if test="replyNo != null" >
        replyNo,
      </if>
      <if test="replyDelay != null" >
        replyDelay,
      </if>
      <if test="replyStatus != null" >
        replyStatus,
      </if>
      <if test="recorder != null" >
        recorder,
      </if>
      <if test="recordDate != null" >
        recordDate,
      </if>
      <if test="takeEffectDate != null" >
        takeEffectDate,
      </if>
      <if test="takeEffectMan != null" >
        takeEffectMan,
      </if>
      <if test="auditStatus != null" >
        auditStatus,
      </if>
      <if test="companyHelp != null" >
        companyHelp,
      </if>
      <if test="combProp != null" >
        combProp,
      </if>
      <if test="confirmatAmountOfResidentSupervision != null" >
        confirmatAmountOfResidentSupervision,
      </if>
      <if test="confirmatDateOfResidentSupervisor != null" >
        confirmatDateOfResidentSupervisor,
      </if>
      <if test="amountConfirmedByDirectorOffice != null" >
        amountConfirmedByDirectorOffice,
      </if>
      <if test="dateConfirmedByDirectorOffice != null" >
        dateConfirmedByDirectorOffice,
      </if>
      <if test="pp5 != null" >
        pp5,
      </if>
      <if test="pp6 != null" >
        pp6,
      </if>
      <if test="pp7 != null" >
        pp7,
      </if>
      <if test="pp8 != null" >
        pp8,
      </if>
      <if test="pp9 != null" >
        pp9,
      </if>
      <if test="pp10 != null" >
        pp10,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="workBookID != null" >
        #{workBookID,jdbcType=VARCHAR},
      </if>
      <if test="alterLevel != null" >
        #{alterLevel,jdbcType=VARCHAR},
      </if>
      <if test="proposer != null" >
        #{proposer,jdbcType=VARCHAR},
      </if>
      <if test="alterContent != null" >
        #{alterContent,jdbcType=VARCHAR},
      </if>
      <if test="alterReason != null" >
        #{alterReason,jdbcType=VARCHAR},
      </if>
      <if test="happenDate != null" >
        #{happenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyAmount != null" >
        #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyNo != null" >
        #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="applyDelay != null" >
        #{applyDelay,jdbcType=VARCHAR},
      </if>
      <if test="replyAmount != null" >
        #{replyAmount,jdbcType=DECIMAL},
      </if>
      <if test="replyDate != null" >
        #{replyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="replyNo != null" >
        #{replyNo,jdbcType=VARCHAR},
      </if>
      <if test="replyDelay != null" >
        #{replyDelay,jdbcType=VARCHAR},
      </if>
      <if test="replyStatus != null" >
        #{replyStatus,jdbcType=VARCHAR},
      </if>
      <if test="recorder != null" >
        #{recorder,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null" >
        #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="takeEffectDate != null" >
        #{takeEffectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="takeEffectMan != null" >
        #{takeEffectMan,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="companyHelp != null" >
        #{companyHelp,jdbcType=VARCHAR},
      </if>
      <if test="combProp != null" >
        #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="confirmatAmountOfResidentSupervision != null" >
        #{confirmatAmountOfResidentSupervision,jdbcType=DECIMAL},
      </if>
      <if test="confirmatDateOfResidentSupervisor != null" >
        #{confirmatDateOfResidentSupervisor,jdbcType=TIMESTAMP},
      </if>
      <if test="amountConfirmedByDirectorOffice != null" >
        #{amountConfirmedByDirectorOffice,jdbcType=DECIMAL},
      </if>
      <if test="dateConfirmedByDirectorOffice != null" >
        #{dateConfirmedByDirectorOffice,jdbcType=TIMESTAMP},
      </if>
      <if test="pp5 != null" >
        #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxCtAlter" >
    update zx_ct_Alter
    <set >
      <if test="workBookID != null" >
        workBookID = #{workBookID,jdbcType=VARCHAR},
      </if>
      <if test="alterLevel != null" >
        alterLevel = #{alterLevel,jdbcType=VARCHAR},
      </if>
      <if test="proposer != null" >
        proposer = #{proposer,jdbcType=VARCHAR},
      </if>
      <if test="alterContent != null" >
        alterContent = #{alterContent,jdbcType=VARCHAR},
      </if>
      <if test="alterReason != null" >
        alterReason = #{alterReason,jdbcType=VARCHAR},
      </if>
      <if test="happenDate != null" >
        happenDate = #{happenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyAmount != null" >
        applyAmount = #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="applyDate != null" >
        applyDate = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyNo != null" >
        applyNo = #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="applyDelay != null" >
        applyDelay = #{applyDelay,jdbcType=VARCHAR},
      </if>
      <if test="replyAmount != null" >
        replyAmount = #{replyAmount,jdbcType=DECIMAL},
      </if>
      <if test="replyDate != null" >
        replyDate = #{replyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="replyNo != null" >
        replyNo = #{replyNo,jdbcType=VARCHAR},
      </if>
      <if test="replyDelay != null" >
        replyDelay = #{replyDelay,jdbcType=VARCHAR},
      </if>
      <if test="replyStatus != null" >
        replyStatus = #{replyStatus,jdbcType=VARCHAR},
      </if>
      <if test="recorder != null" >
        recorder = #{recorder,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null" >
        recordDate = #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="takeEffectDate != null" >
        takeEffectDate = #{takeEffectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="takeEffectMan != null" >
        takeEffectMan = #{takeEffectMan,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        auditStatus = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="companyHelp != null" >
        companyHelp = #{companyHelp,jdbcType=VARCHAR},
      </if>
      <if test="combProp != null" >
        combProp = #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="confirmatAmountOfResidentSupervision != null" >
        confirmatAmountOfResidentSupervision = #{confirmatAmountOfResidentSupervision,jdbcType=DECIMAL},
      </if>
      <if test="confirmatDateOfResidentSupervisor != null" >
        confirmatDateOfResidentSupervisor = #{confirmatDateOfResidentSupervisor,jdbcType=TIMESTAMP},
      </if>
      <if test="amountConfirmedByDirectorOffice != null" >
        amountConfirmedByDirectorOffice = #{amountConfirmedByDirectorOffice,jdbcType=DECIMAL},
      </if>
      <if test="dateConfirmedByDirectorOffice != null" >
        dateConfirmedByDirectorOffice = #{dateConfirmedByDirectorOffice,jdbcType=TIMESTAMP},
      </if>
      <if test="pp5 != null" >
        pp5 = #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        pp6 = #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        pp7 = #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        pp8 = #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        pp9 = #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        pp10 = #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxCtAlter" >
    update zx_ct_Alter set 
      workBookID = #{workBookID,jdbcType=VARCHAR},
      alterLevel = #{alterLevel,jdbcType=VARCHAR},
      proposer = #{proposer,jdbcType=VARCHAR},
      alterContent = #{alterContent,jdbcType=VARCHAR},
      alterReason = #{alterReason,jdbcType=VARCHAR},
      happenDate = #{happenDate,jdbcType=TIMESTAMP},
      applyAmount = #{applyAmount,jdbcType=DECIMAL},
      applyDate = #{applyDate,jdbcType=TIMESTAMP},
      applyNo = #{applyNo,jdbcType=VARCHAR},
      applyDelay = #{applyDelay,jdbcType=VARCHAR},
      replyAmount = #{replyAmount,jdbcType=DECIMAL},
      replyDate = #{replyDate,jdbcType=TIMESTAMP},
      replyNo = #{replyNo,jdbcType=VARCHAR},
      replyDelay = #{replyDelay,jdbcType=VARCHAR},
      replyStatus = #{replyStatus,jdbcType=VARCHAR},
      recorder = #{recorder,jdbcType=VARCHAR},
      recordDate = #{recordDate,jdbcType=TIMESTAMP},
      takeEffectDate = #{takeEffectDate,jdbcType=TIMESTAMP},
      takeEffectMan = #{takeEffectMan,jdbcType=VARCHAR},
      auditStatus = #{auditStatus,jdbcType=VARCHAR},
      companyHelp = #{companyHelp,jdbcType=VARCHAR},
      combProp = #{combProp,jdbcType=VARCHAR},
      confirmatAmountOfResidentSupervision = #{confirmatAmountOfResidentSupervision,jdbcType=DECIMAL},
      confirmatDateOfResidentSupervisor = #{confirmatDateOfResidentSupervisor,jdbcType=TIMESTAMP},
      amountConfirmedByDirectorOffice = #{amountConfirmedByDirectorOffice,jdbcType=DECIMAL},
      dateConfirmedByDirectorOffice = #{dateConfirmedByDirectorOffice,jdbcType=TIMESTAMP},
      pp5 = #{pp5,jdbcType=VARCHAR},
      pp6 = #{pp6,jdbcType=VARCHAR},
      pp7 = #{pp7,jdbcType=VARCHAR},
      pp8 = #{pp8,jdbcType=VARCHAR},
      pp9 = #{pp9,jdbcType=VARCHAR},
      pp10 = #{pp10,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByZxCtAlterList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxCtAlter" >
    select 
    <include refid="Base_Column_List" />
    from zx_ct_Alter
    where del_flag = '0'
    <if test="id != null and id != ''" >
     and id = #{id,jdbcType=CHAR}
    </if>
    <if test="workBookID != null and workBookID != ''" >
     and workBookID = #{workBookID,jdbcType=VARCHAR}
    </if>
    <if test="alterLevel != null and alterLevel != ''" >
     and alterLevel = #{alterLevel,jdbcType=VARCHAR}
    </if>
    <if test="proposer != null and proposer != ''" >
     and proposer LIKE CONCAT('', #{proposer,jdbcType=VARCHAR}, '%') 
    </if>
    <if test="alterContent != null and alterContent != ''" >
     and alterContent = #{alterContent,jdbcType=VARCHAR}
    </if>
    <if test="alterReason != null and alterReason != ''" >
     and alterReason = #{alterReason,jdbcType=VARCHAR}
    </if>
    <if test="happenDate != null and happenDate != ''" >
     and happenDate = #{happenDate,jdbcType=TIMESTAMP}
    </if>
    <if test="applyAmount != null and applyAmount != ''" >
     and applyAmount = #{applyAmount,jdbcType=DECIMAL}
    </if>
    <if test="applyDate != null and applyDate != ''" >
     and applyDate = #{applyDate,jdbcType=TIMESTAMP}
    </if>
    <if test="applyNo != null and applyNo != ''" >
     and applyNo LIKE CONCAT('', #{applyNo,jdbcType=VARCHAR}, '%') 
    </if>
    <if test="applyDelay != null and applyDelay != ''" >
     and applyDelay = #{applyDelay,jdbcType=VARCHAR}
    </if>
    <if test="replyAmount != null and replyAmount != ''" >
     and replyAmount = #{replyAmount,jdbcType=DECIMAL}
    </if>
    <if test="replyDate != null and replyDate != ''" >
     and replyDate = #{replyDate,jdbcType=TIMESTAMP}
    </if>
    <if test="replyNo != null and replyNo != ''" >
     and replyNo = #{replyNo,jdbcType=VARCHAR}
    </if>
    <if test="replyDelay != null and replyDelay != ''" >
     and replyDelay = #{replyDelay,jdbcType=VARCHAR}
    </if>
    <if test="replyStatus != null and replyStatus != ''" >
     and replyStatus = #{replyStatus,jdbcType=VARCHAR}
    </if>
    <if test="recorder != null and recorder != ''" >
     and recorder = #{recorder,jdbcType=VARCHAR}
    </if>
    <if test="recordDate != null and recordDate != ''" >
     and recordDate = #{recordDate,jdbcType=TIMESTAMP}
    </if>
    <if test="takeEffectDate != null and takeEffectDate != ''" >
     and takeEffectDate = #{takeEffectDate,jdbcType=TIMESTAMP}
    </if>
    <if test="takeEffectMan != null and takeEffectMan != ''" >
     and takeEffectMan = #{takeEffectMan,jdbcType=VARCHAR}
    </if>
    <if test="auditStatus != null and auditStatus != ''" >
     and auditStatus = #{auditStatus,jdbcType=VARCHAR}
    </if>
    <if test="companyHelp != null and companyHelp != ''" >
     and companyHelp = #{companyHelp,jdbcType=VARCHAR}
    </if>
    <if test="combProp != null and combProp != ''" >
     and combProp = #{combProp,jdbcType=VARCHAR}
    </if>
    <if test="confirmatAmountOfResidentSupervision != null and confirmatAmountOfResidentSupervision != ''" >
     and confirmatAmountOfResidentSupervision = #{confirmatAmountOfResidentSupervision,jdbcType=DECIMAL}
    </if>
    <if test="confirmatDateOfResidentSupervisor != null and confirmatDateOfResidentSupervisor != ''" >
     and confirmatDateOfResidentSupervisor = #{confirmatDateOfResidentSupervisor,jdbcType=TIMESTAMP}
    </if>
    <if test="amountConfirmedByDirectorOffice != null and amountConfirmedByDirectorOffice != ''" >
     and amountConfirmedByDirectorOffice = #{amountConfirmedByDirectorOffice,jdbcType=DECIMAL}
    </if>
    <if test="dateConfirmedByDirectorOffice != null and dateConfirmedByDirectorOffice != ''" >
     and dateConfirmedByDirectorOffice = #{dateConfirmedByDirectorOffice,jdbcType=TIMESTAMP}
    </if>
    <if test="pp5 != null and pp5 != ''" >
     and pp5 = #{pp5,jdbcType=VARCHAR}
    </if>
    <if test="pp6 != null and pp6 != ''" >
     and pp6 = #{pp6,jdbcType=VARCHAR}
    </if>
    <if test="pp7 != null and pp7 != ''" >
     and pp7 = #{pp7,jdbcType=VARCHAR}
    </if>
    <if test="pp8 != null and pp8 != ''" >
     and pp8 = #{pp8,jdbcType=VARCHAR}
    </if>
    <if test="pp9 != null and pp9 != ''" >
     and pp9 = #{pp9,jdbcType=VARCHAR}
    </if>
    <if test="pp10 != null and pp10 != ''" >
     and pp10 = #{pp10,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxCtAlter" parameterType="com.apih5.mybatis.pojo.ZxCtAlter" >
    <![CDATA[ 
        update zx_ct_Alter
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.id} 
     </foreach>
  </delete>
</mapper>
