<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxCtSuppliesShopPaySettlementMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxCtSuppliesShopPaySettlement" >
    <id column="zx_ct_supplies_shop_pay_settlement_id" property="zxCtSuppliesShopPaySettlementId" jdbcType="CHAR" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="billID" property="billID" jdbcType="VARCHAR" />
    <result column="comOrders" property="comOrders" jdbcType="VARCHAR" />
    <result column="comName" property="comName" jdbcType="VARCHAR" />
    <result column="comID" property="comID" jdbcType="VARCHAR" />
    <result column="upTransportAmt" property="upTransportAmt" jdbcType="DECIMAL" />
    <result column="upOtherAmt" property="upOtherAmt" jdbcType="DECIMAL" />
    <result column="upAmt" property="upAmt" jdbcType="DECIMAL" />
    <result column="upFineAmt" property="upFineAmt" jdbcType="DECIMAL" />
    <result column="upPadTariffAmt" property="upPadTariffAmt" jdbcType="DECIMAL" />
    <result column="totalAmt" property="totalAmt" jdbcType="DECIMAL" />
    <result column="period" property="period" jdbcType="VARCHAR" />
    <result column="contractID" property="contractID" jdbcType="VARCHAR" />
    <result column="thisAmtTax" property="thisAmtTax" jdbcType="DECIMAL" />
    <result column="thisAmt" property="thisAmt" jdbcType="DECIMAL" />
    <result column="thisAmtNoTax" property="thisAmtNoTax" jdbcType="DECIMAL" />
    <result column="transportAmt" property="transportAmt" jdbcType="DECIMAL" />
    <result column="otherAmt" property="otherAmt" jdbcType="DECIMAL" />
    <result column="fineAmt" property="fineAmt" jdbcType="DECIMAL" />
    <result column="padTariffAmt" property="padTariffAmt" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zx_ct_supplies_shop_pay_settlement_id, editTime, orgName, orgID, billID, 
    comOrders, comName, comID, upTransportAmt, upOtherAmt, 
    upAmt, upFineAmt, upPadTariffAmt, totalAmt, period, 
    contractID, thisAmtTax, thisAmt, thisAmtNoTax, transportAmt, 
    otherAmt, fineAmt, padTariffAmt, remarks, sort, 
    del_flag, create_time, create_user, create_user_name, modify_time, 
    modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_ct_supplies_shop_pay_settlement
    where del_flag = '0' and zx_ct_supplies_shop_pay_settlement_id = #{zxCtSuppliesShopPaySettlementId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_ct_supplies_shop_pay_settlement
    where zx_ct_supplies_shop_pay_settlement_id = #{zxCtSuppliesShopPaySettlementId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesShopPaySettlement" >
    insert into zx_ct_supplies_shop_pay_settlement (
    zx_ct_supplies_shop_pay_settlement_id, editTime, orgName, orgID, billID, 
    comOrders, comName, comID, upTransportAmt, upOtherAmt, 
    upAmt, upFineAmt, upPadTariffAmt, totalAmt, period, 
    contractID, thisAmtTax, thisAmt, thisAmtNoTax, transportAmt, 
    otherAmt, fineAmt, padTariffAmt, remarks, sort, 
    del_flag, create_time, create_user, create_user_name, modify_time, 
    modify_user, modify_user_name
      )
    values (
      #{zxCtSuppliesShopPaySettlementId,jdbcType=CHAR}, #{editTime,jdbcType=TIMESTAMP}, #{orgName,jdbcType=VARCHAR}, #{orgID,jdbcType=VARCHAR}, #{billID,jdbcType=VARCHAR}, 
    #{comOrders,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR}, #{comID,jdbcType=VARCHAR}, #{upTransportAmt,jdbcType=DECIMAL}, #{upOtherAmt,jdbcType=DECIMAL}, 
    #{upAmt,jdbcType=DECIMAL}, #{upFineAmt,jdbcType=DECIMAL}, #{upPadTariffAmt,jdbcType=DECIMAL}, #{totalAmt,jdbcType=DECIMAL}, #{period,jdbcType=VARCHAR}, 
    #{contractID,jdbcType=VARCHAR}, #{thisAmtTax,jdbcType=DECIMAL}, #{thisAmt,jdbcType=DECIMAL}, #{thisAmtNoTax,jdbcType=DECIMAL}, #{transportAmt,jdbcType=DECIMAL}, 
    #{otherAmt,jdbcType=DECIMAL}, #{fineAmt,jdbcType=DECIMAL}, #{padTariffAmt,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
    #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
    #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesShopPaySettlement" >
    insert into zx_ct_supplies_shop_pay_settlement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxCtSuppliesShopPaySettlementId != null" >
        zx_ct_supplies_shop_pay_settlement_id,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="orgName != null" >
        orgName,
      </if>
      <if test="orgID != null" >
        orgID,
      </if>
      <if test="billID != null" >
        billID,
      </if>
      <if test="comOrders != null" >
        comOrders,
      </if>
      <if test="comName != null" >
        comName,
      </if>
      <if test="comID != null" >
        comID,
      </if>
      <if test="upTransportAmt != null" >
        upTransportAmt,
      </if>
      <if test="upOtherAmt != null" >
        upOtherAmt,
      </if>
      <if test="upAmt != null" >
        upAmt,
      </if>
      <if test="upFineAmt != null" >
        upFineAmt,
      </if>
      <if test="upPadTariffAmt != null" >
        upPadTariffAmt,
      </if>
      <if test="totalAmt != null" >
        totalAmt,
      </if>
      <if test="period != null" >
        period,
      </if>
      <if test="contractID != null" >
        contractID,
      </if>
      <if test="thisAmtTax != null" >
        thisAmtTax,
      </if>
      <if test="thisAmt != null" >
        thisAmt,
      </if>
      <if test="thisAmtNoTax != null" >
        thisAmtNoTax,
      </if>
      <if test="transportAmt != null" >
        transportAmt,
      </if>
      <if test="otherAmt != null" >
        otherAmt,
      </if>
      <if test="fineAmt != null" >
        fineAmt,
      </if>
      <if test="padTariffAmt != null" >
        padTariffAmt,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxCtSuppliesShopPaySettlementId != null" >
        #{zxCtSuppliesShopPaySettlementId,jdbcType=CHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="billID != null" >
        #{billID,jdbcType=VARCHAR},
      </if>
      <if test="comOrders != null" >
        #{comOrders,jdbcType=VARCHAR},
      </if>
      <if test="comName != null" >
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comID != null" >
        #{comID,jdbcType=VARCHAR},
      </if>
      <if test="upTransportAmt != null" >
        #{upTransportAmt,jdbcType=DECIMAL},
      </if>
      <if test="upOtherAmt != null" >
        #{upOtherAmt,jdbcType=DECIMAL},
      </if>
      <if test="upAmt != null" >
        #{upAmt,jdbcType=DECIMAL},
      </if>
      <if test="upFineAmt != null" >
        #{upFineAmt,jdbcType=DECIMAL},
      </if>
      <if test="upPadTariffAmt != null" >
        #{upPadTariffAmt,jdbcType=DECIMAL},
      </if>
      <if test="totalAmt != null" >
        #{totalAmt,jdbcType=DECIMAL},
      </if>
      <if test="period != null" >
        #{period,jdbcType=VARCHAR},
      </if>
      <if test="contractID != null" >
        #{contractID,jdbcType=VARCHAR},
      </if>
      <if test="thisAmtTax != null" >
        #{thisAmtTax,jdbcType=DECIMAL},
      </if>
      <if test="thisAmt != null" >
        #{thisAmt,jdbcType=DECIMAL},
      </if>
      <if test="thisAmtNoTax != null" >
        #{thisAmtNoTax,jdbcType=DECIMAL},
      </if>
      <if test="transportAmt != null" >
        #{transportAmt,jdbcType=DECIMAL},
      </if>
      <if test="otherAmt != null" >
        #{otherAmt,jdbcType=DECIMAL},
      </if>
      <if test="fineAmt != null" >
        #{fineAmt,jdbcType=DECIMAL},
      </if>
      <if test="padTariffAmt != null" >
        #{padTariffAmt,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesShopPaySettlement" >
    update zx_ct_supplies_shop_pay_settlement
    <set >
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgName != null" >
        orgName = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        orgID = #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="billID != null" >
        billID = #{billID,jdbcType=VARCHAR},
      </if>
      <if test="comOrders != null" >
        comOrders = #{comOrders,jdbcType=VARCHAR},
      </if>
      <if test="comName != null" >
        comName = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comID != null" >
        comID = #{comID,jdbcType=VARCHAR},
      </if>
      <if test="upTransportAmt != null" >
        upTransportAmt = #{upTransportAmt,jdbcType=DECIMAL},
      </if>
      <if test="upOtherAmt != null" >
        upOtherAmt = #{upOtherAmt,jdbcType=DECIMAL},
      </if>
      <if test="upAmt != null" >
        upAmt = #{upAmt,jdbcType=DECIMAL},
      </if>
      <if test="upFineAmt != null" >
        upFineAmt = #{upFineAmt,jdbcType=DECIMAL},
      </if>
      <if test="upPadTariffAmt != null" >
        upPadTariffAmt = #{upPadTariffAmt,jdbcType=DECIMAL},
      </if>
      <if test="totalAmt != null" >
        totalAmt = #{totalAmt,jdbcType=DECIMAL},
      </if>
      <if test="period != null" >
        period = #{period,jdbcType=VARCHAR},
      </if>
      <if test="contractID != null" >
        contractID = #{contractID,jdbcType=VARCHAR},
      </if>
      <if test="thisAmtTax != null" >
        thisAmtTax = #{thisAmtTax,jdbcType=DECIMAL},
      </if>
      <if test="thisAmt != null" >
        thisAmt = #{thisAmt,jdbcType=DECIMAL},
      </if>
      <if test="thisAmtNoTax != null" >
        thisAmtNoTax = #{thisAmtNoTax,jdbcType=DECIMAL},
      </if>
      <if test="transportAmt != null" >
        transportAmt = #{transportAmt,jdbcType=DECIMAL},
      </if>
      <if test="otherAmt != null" >
        otherAmt = #{otherAmt,jdbcType=DECIMAL},
      </if>
      <if test="fineAmt != null" >
        fineAmt = #{fineAmt,jdbcType=DECIMAL},
      </if>
      <if test="padTariffAmt != null" >
        padTariffAmt = #{padTariffAmt,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zx_ct_supplies_shop_pay_settlement_id = #{zxCtSuppliesShopPaySettlementId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesShopPaySettlement" >
    update zx_ct_supplies_shop_pay_settlement set 
      editTime = #{editTime,jdbcType=TIMESTAMP},
      orgName = #{orgName,jdbcType=VARCHAR},
      orgID = #{orgID,jdbcType=VARCHAR},
      billID = #{billID,jdbcType=VARCHAR},
      comOrders = #{comOrders,jdbcType=VARCHAR},
      comName = #{comName,jdbcType=VARCHAR},
      comID = #{comID,jdbcType=VARCHAR},
      upTransportAmt = #{upTransportAmt,jdbcType=DECIMAL},
      upOtherAmt = #{upOtherAmt,jdbcType=DECIMAL},
      upAmt = #{upAmt,jdbcType=DECIMAL},
      upFineAmt = #{upFineAmt,jdbcType=DECIMAL},
      upPadTariffAmt = #{upPadTariffAmt,jdbcType=DECIMAL},
      totalAmt = #{totalAmt,jdbcType=DECIMAL},
      period = #{period,jdbcType=VARCHAR},
      contractID = #{contractID,jdbcType=VARCHAR},
      thisAmtTax = #{thisAmtTax,jdbcType=DECIMAL},
      thisAmt = #{thisAmt,jdbcType=DECIMAL},
      thisAmtNoTax = #{thisAmtNoTax,jdbcType=DECIMAL},
      transportAmt = #{transportAmt,jdbcType=DECIMAL},
      otherAmt = #{otherAmt,jdbcType=DECIMAL},
      fineAmt = #{fineAmt,jdbcType=DECIMAL},
      padTariffAmt = #{padTariffAmt,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zx_ct_supplies_shop_pay_settlement_id = #{zxCtSuppliesShopPaySettlementId,jdbcType=CHAR}
  </update>
  <select id="selectByZxCtSuppliesShopPaySettlementList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesShopPaySettlement" >
    select 
    <include refid="Base_Column_List" />
    from zx_ct_supplies_shop_pay_settlement
    where del_flag = '0'
    <if test="zxCtSuppliesShopPaySettlementId != null and zxCtSuppliesShopPaySettlementId != ''" >
     and zx_ct_supplies_shop_pay_settlement_id = #{zxCtSuppliesShopPaySettlementId,jdbcType=CHAR}
    </if>
    <if test="editTime != null and editTime != ''" >
     and editTime = #{editTime,jdbcType=TIMESTAMP}
    </if>
    <if test="orgName != null and orgName != ''" >
     and orgName = #{orgName,jdbcType=VARCHAR}
    </if>
    <if test="orgID != null and orgID != ''" >
     and orgID = #{orgID,jdbcType=VARCHAR}
    </if>
    <if test="billID != null and billID != ''" >
     and billID = #{billID,jdbcType=VARCHAR}
    </if>
    <if test="comOrders != null and comOrders != ''" >
     and comOrders = #{comOrders,jdbcType=VARCHAR}
    </if>
    <if test="comName != null and comName != ''" >
     and comName = #{comName,jdbcType=VARCHAR}
    </if>
    <if test="comID != null and comID != ''" >
     and comID = #{comID,jdbcType=VARCHAR}
    </if>
    <if test="upTransportAmt != null and upTransportAmt != ''" >
     and upTransportAmt = #{upTransportAmt,jdbcType=DECIMAL}
    </if>
    <if test="upOtherAmt != null and upOtherAmt != ''" >
     and upOtherAmt = #{upOtherAmt,jdbcType=DECIMAL}
    </if>
    <if test="upAmt != null and upAmt != ''" >
     and upAmt = #{upAmt,jdbcType=DECIMAL}
    </if>
    <if test="upFineAmt != null and upFineAmt != ''" >
     and upFineAmt = #{upFineAmt,jdbcType=DECIMAL}
    </if>
    <if test="upPadTariffAmt != null and upPadTariffAmt != ''" >
     and upPadTariffAmt = #{upPadTariffAmt,jdbcType=DECIMAL}
    </if>
    <if test="totalAmt != null and totalAmt != ''" >
     and totalAmt = #{totalAmt,jdbcType=DECIMAL}
    </if>
    <if test="period != null and period != ''" >
     and period = #{period,jdbcType=VARCHAR}
    </if>
    <if test="contractID != null and contractID != ''" >
     and contractID = #{contractID,jdbcType=VARCHAR}
    </if>
    <if test="thisAmtTax != null and thisAmtTax != ''" >
     and thisAmtTax = #{thisAmtTax,jdbcType=DECIMAL}
    </if>
    <if test="thisAmt != null and thisAmt != ''" >
     and thisAmt = #{thisAmt,jdbcType=DECIMAL}
    </if>
    <if test="thisAmtNoTax != null and thisAmtNoTax != ''" >
     and thisAmtNoTax = #{thisAmtNoTax,jdbcType=DECIMAL}
    </if>
    <if test="transportAmt != null and transportAmt != ''" >
     and transportAmt = #{transportAmt,jdbcType=DECIMAL}
    </if>
    <if test="otherAmt != null and otherAmt != ''" >
     and otherAmt = #{otherAmt,jdbcType=DECIMAL}
    </if>
    <if test="fineAmt != null and fineAmt != ''" >
     and fineAmt = #{fineAmt,jdbcType=DECIMAL}
    </if>
    <if test="padTariffAmt != null and padTariffAmt != ''" >
     and padTariffAmt = #{padTariffAmt,jdbcType=DECIMAL}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxCtSuppliesShopPaySettlement" parameterType="com.apih5.mybatis.pojo.ZxCtSuppliesShopPaySettlement" >
    <![CDATA[ 
        update zx_ct_supplies_shop_pay_settlement
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zx_ct_supplies_shop_pay_settlement_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxCtSuppliesShopPaySettlementId} 
     </foreach>
  </delete>
</mapper>
