<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxEqCooEquipItemMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxEqCooEquipItem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="masID" property="masID" jdbcType="VARCHAR" />
    <result column="equipName" property="equipName" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="power" property="power" jdbcType="VARCHAR" />
    <result column="outfactory" property="outfactory" jdbcType="VARCHAR" />
    <result column="outfactoryDate" property="outfactoryDate" jdbcType="TIMESTAMP" />
    <result column="orginalValue" property="orginalValue" jdbcType="DECIMAL" />
    <result column="leftValue" property="leftValue" jdbcType="DECIMAL" />
    <result column="oldrate" property="oldrate" jdbcType="VARCHAR" />
    <result column="beginDate" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="endDate" property="endDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="equipNo" property="equipNo" jdbcType="VARCHAR" />
    <result column="equipID" property="equipID" jdbcType="VARCHAR" />
    <result column="acceptance" property="acceptance" jdbcType="VARCHAR" />
    <result column="isSepcial" property="isSepcial" jdbcType="VARCHAR" />
    <result column="inspReport" property="inspReport" jdbcType="VARCHAR" />
    <result column="inspCert" property="inspCert" jdbcType="VARCHAR" />
    <result column="opCert" property="opCert" jdbcType="VARCHAR" />
    <result column="isOut" property="isOut" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, masID, equipName, spec, model, 
    power, outfactory, outfactoryDate, orginalValue, leftValue, 
    oldrate, beginDate, endDate, remark, editTime, 
    equipNo, equipID, acceptance, isSepcial, inspReport, 
    inspCert, opCert, isOut, del_flag, create_time, 
    create_user, create_user_name, modify_time, modify_user, modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_eq_CooEquipItem
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_eq_CooEquipItem
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxEqCooEquipItem" >
    insert into zx_eq_CooEquipItem (id, masID, equipName, 
      spec, model, power, 
      outfactory, outfactoryDate, orginalValue, 
      leftValue, oldrate, beginDate, 
      endDate, remark, editTime, 
      equipNo, equipID, acceptance, 
      isSepcial, inspReport, inspCert, 
      opCert, isOut, del_flag, 
      create_time, create_user, create_user_name, 
      modify_time, modify_user, modify_user_name
      )
    values (#{id,jdbcType=VARCHAR}, #{masID,jdbcType=VARCHAR}, #{equipName,jdbcType=VARCHAR}, 
      #{spec,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR}, 
      #{outfactory,jdbcType=VARCHAR}, #{outfactoryDate,jdbcType=TIMESTAMP}, #{orginalValue,jdbcType=DECIMAL}, 
      #{leftValue,jdbcType=DECIMAL}, #{oldrate,jdbcType=VARCHAR}, #{beginDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, 
      #{equipNo,jdbcType=VARCHAR}, #{equipID,jdbcType=VARCHAR}, #{acceptance,jdbcType=VARCHAR}, 
      #{isSepcial,jdbcType=VARCHAR}, #{inspReport,jdbcType=VARCHAR}, #{inspCert,jdbcType=VARCHAR}, 
      #{opCert,jdbcType=VARCHAR}, #{isOut,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxEqCooEquipItem" >
    insert into zx_eq_CooEquipItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="masID != null" >
        masID,
      </if>
      <if test="equipName != null" >
        equipName,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="power != null" >
        power,
      </if>
      <if test="outfactory != null" >
        outfactory,
      </if>
      <if test="outfactoryDate != null" >
        outfactoryDate,
      </if>
      <if test="orginalValue != null" >
        orginalValue,
      </if>
      <if test="leftValue != null" >
        leftValue,
      </if>
      <if test="oldrate != null" >
        oldrate,
      </if>
      <if test="beginDate != null" >
        beginDate,
      </if>
      <if test="endDate != null" >
        endDate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="equipNo != null" >
        equipNo,
      </if>
      <if test="equipID != null" >
        equipID,
      </if>
      <if test="acceptance != null" >
        acceptance,
      </if>
      <if test="isSepcial != null" >
        isSepcial,
      </if>
      <if test="inspReport != null" >
        inspReport,
      </if>
      <if test="inspCert != null" >
        inspCert,
      </if>
      <if test="opCert != null" >
        opCert,
      </if>
      <if test="isOut != null" >
        isOut,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="masID != null" >
        #{masID,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null" >
        #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        #{power,jdbcType=VARCHAR},
      </if>
      <if test="outfactory != null" >
        #{outfactory,jdbcType=VARCHAR},
      </if>
      <if test="outfactoryDate != null" >
        #{outfactoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orginalValue != null" >
        #{orginalValue,jdbcType=DECIMAL},
      </if>
      <if test="leftValue != null" >
        #{leftValue,jdbcType=DECIMAL},
      </if>
      <if test="oldrate != null" >
        #{oldrate,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="equipNo != null" >
        #{equipNo,jdbcType=VARCHAR},
      </if>
      <if test="equipID != null" >
        #{equipID,jdbcType=VARCHAR},
      </if>
      <if test="acceptance != null" >
        #{acceptance,jdbcType=VARCHAR},
      </if>
      <if test="isSepcial != null" >
        #{isSepcial,jdbcType=VARCHAR},
      </if>
      <if test="inspReport != null" >
        #{inspReport,jdbcType=VARCHAR},
      </if>
      <if test="inspCert != null" >
        #{inspCert,jdbcType=VARCHAR},
      </if>
      <if test="opCert != null" >
        #{opCert,jdbcType=VARCHAR},
      </if>
      <if test="isOut != null" >
        #{isOut,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxEqCooEquipItem" >
    update zx_eq_CooEquipItem
    <set >
      <if test="masID != null" >
        masID = #{masID,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null" >
        equipName = #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=VARCHAR},
      </if>
      <if test="outfactory != null" >
        outfactory = #{outfactory,jdbcType=VARCHAR},
      </if>
      <if test="outfactoryDate != null" >
        outfactoryDate = #{outfactoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orginalValue != null" >
        orginalValue = #{orginalValue,jdbcType=DECIMAL},
      </if>
      <if test="leftValue != null" >
        leftValue = #{leftValue,jdbcType=DECIMAL},
      </if>
      <if test="oldrate != null" >
        oldrate = #{oldrate,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null" >
        beginDate = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        endDate = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="equipNo != null" >
        equipNo = #{equipNo,jdbcType=VARCHAR},
      </if>
      <if test="equipID != null" >
        equipID = #{equipID,jdbcType=VARCHAR},
      </if>
      <if test="acceptance != null" >
        acceptance = #{acceptance,jdbcType=VARCHAR},
      </if>
      <if test="isSepcial != null" >
        isSepcial = #{isSepcial,jdbcType=VARCHAR},
      </if>
      <if test="inspReport != null" >
        inspReport = #{inspReport,jdbcType=VARCHAR},
      </if>
      <if test="inspCert != null" >
        inspCert = #{inspCert,jdbcType=VARCHAR},
      </if>
      <if test="opCert != null" >
        opCert = #{opCert,jdbcType=VARCHAR},
      </if>
      <if test="isOut != null" >
        isOut = #{isOut,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxEqCooEquipItem" >
    update zx_eq_CooEquipItem
    set       masID = #{masID,jdbcType=VARCHAR},
      equipName = #{equipName,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      power = #{power,jdbcType=VARCHAR},
      outfactory = #{outfactory,jdbcType=VARCHAR},
      outfactoryDate = #{outfactoryDate,jdbcType=TIMESTAMP},
      orginalValue = #{orginalValue,jdbcType=DECIMAL},
      leftValue = #{leftValue,jdbcType=DECIMAL},
      oldrate = #{oldrate,jdbcType=VARCHAR},
      beginDate = #{beginDate,jdbcType=TIMESTAMP},
      endDate = #{endDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      equipNo = #{equipNo,jdbcType=VARCHAR},
      equipID = #{equipID,jdbcType=VARCHAR},
      acceptance = #{acceptance,jdbcType=VARCHAR},
      isSepcial = #{isSepcial,jdbcType=VARCHAR},
      inspReport = #{inspReport,jdbcType=VARCHAR},
      inspCert = #{inspCert,jdbcType=VARCHAR},
      opCert = #{opCert,jdbcType=VARCHAR},
      isOut = #{isOut,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByZxEqCooEquipItemList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxEqCooEquipItem" >
    select 
    <include refid="Base_Column_List" />
    from zx_eq_CooEquipItem
    where del_flag = '0'
    <if test="id != null and id != ''" >
     and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="masID != null and masID != ''" >
     and masID = #{masID,jdbcType=VARCHAR}
    </if>
    <if test="equipName != null and equipName != ''" >
     and equipName = #{equipName,jdbcType=VARCHAR}
    </if>
    <if test="spec != null and spec != ''" >
     and spec = #{spec,jdbcType=VARCHAR}
    </if>
    <if test="model != null and model != ''" >
     and model = #{model,jdbcType=VARCHAR}
    </if>
    <if test="power != null and power != ''" >
     and power = #{power,jdbcType=VARCHAR}
    </if>
    <if test="outfactory != null and outfactory != ''" >
     and outfactory = #{outfactory,jdbcType=VARCHAR}
    </if>
    <if test="outfactoryDate != null and outfactoryDate != ''" >
     and outfactoryDate = #{outfactoryDate,jdbcType=TIMESTAMP}
    </if>
    <if test="orginalValue != null and orginalValue != ''" >
     and orginalValue = #{orginalValue,jdbcType=DECIMAL}
    </if>
    <if test="leftValue != null and leftValue != ''" >
     and leftValue = #{leftValue,jdbcType=DECIMAL}
    </if>
    <if test="oldrate != null and oldrate != ''" >
     and oldrate = #{oldrate,jdbcType=VARCHAR}
    </if>
    <if test="beginDate != null and beginDate != ''" >
     and beginDate = #{beginDate,jdbcType=TIMESTAMP}
    </if>
    <if test="endDate != null and endDate != ''" >
     and endDate = #{endDate,jdbcType=TIMESTAMP}
    </if>
    <if test="remark != null and remark != ''" >
     and remark = #{remark,jdbcType=VARCHAR}
    </if>
    <if test="editTime != null and editTime != ''" >
     and editTime = #{editTime,jdbcType=TIMESTAMP}
    </if>
    <if test="equipNo != null and equipNo != ''" >
     and equipNo = #{equipNo,jdbcType=VARCHAR}
    </if>
    <if test="equipID != null and equipID != ''" >
     and equipID = #{equipID,jdbcType=VARCHAR}
    </if>
    <if test="acceptance != null and acceptance != ''" >
     and acceptance = #{acceptance,jdbcType=VARCHAR}
    </if>
    <if test="isSepcial != null and isSepcial != ''" >
     and isSepcial = #{isSepcial,jdbcType=VARCHAR}
    </if>
    <if test="inspReport != null and inspReport != ''" >
     and inspReport = #{inspReport,jdbcType=VARCHAR}
    </if>
    <if test="inspCert != null and inspCert != ''" >
     and inspCert = #{inspCert,jdbcType=VARCHAR}
    </if>
    <if test="opCert != null and opCert != ''" >
     and opCert = #{opCert,jdbcType=VARCHAR}
    </if>
    <if test="isOut != null and isOut != ''" >
     and isOut = #{isOut,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxEqCooEquipItem" parameterType="com.apih5.mybatis.pojo.ZxEqCooEquipItem" >
    <![CDATA[ 
        update zx_eq_CooEquipItem
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.id} 
     </foreach>
  </delete>
</mapper>
