<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxEqRentOutEqRecordMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxEqRentOutEqRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="billNo" property="billNo" jdbcType="VARCHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="rentOrgID" property="rentOrgID" jdbcType="VARCHAR" />
    <result column="rentOrgName" property="rentOrgName" jdbcType="VARCHAR" />
    <result column="eqName" property="eqName" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="busDate" property="busDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="outerEquipID" property="outerEquipID" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, billNo, orgID, orgName, rentOrgID, 
    rentOrgName, eqName, spec, busDate, remark, 
    outerEquipID, status, company_id, company_name, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_eq_RentOutEqRecord
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_eq_RentOutEqRecord
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxEqRentOutEqRecord" >
    insert into zx_eq_RentOutEqRecord (id, billNo, orgID, 
      orgName, rentOrgID, rentOrgName, 
      eqName, spec, busDate, 
      remark, outerEquipID, status, 
      company_id, company_name, del_flag, 
      create_time, create_user, create_user_name, 
      modify_time, modify_user, modify_user_name
      )
    values (#{id,jdbcType=VARCHAR}, #{billNo,jdbcType=VARCHAR}, #{orgID,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{rentOrgID,jdbcType=VARCHAR}, #{rentOrgName,jdbcType=VARCHAR}, 
      #{eqName,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{busDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{outerEquipID,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxEqRentOutEqRecord" >
    insert into zx_eq_RentOutEqRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billNo != null" >
        billNo,
      </if>
      <if test="orgID != null" >
        orgID,
      </if>
      <if test="orgName != null" >
        orgName,
      </if>
      <if test="rentOrgID != null" >
        rentOrgID,
      </if>
      <if test="rentOrgName != null" >
        rentOrgName,
      </if>
      <if test="eqName != null" >
        eqName,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="busDate != null" >
        busDate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="outerEquipID != null" >
        outerEquipID,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="rentOrgID != null" >
        #{rentOrgID,jdbcType=VARCHAR},
      </if>
      <if test="rentOrgName != null" >
        #{rentOrgName,jdbcType=VARCHAR},
      </if>
      <if test="eqName != null" >
        #{eqName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="busDate != null" >
        #{busDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="outerEquipID != null" >
        #{outerEquipID,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxEqRentOutEqRecord" >
    update zx_eq_RentOutEqRecord
    <set >
      <if test="billNo != null" >
        billNo = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        orgID = #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        orgName = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="rentOrgID != null" >
        rentOrgID = #{rentOrgID,jdbcType=VARCHAR},
      </if>
      <if test="rentOrgName != null" >
        rentOrgName = #{rentOrgName,jdbcType=VARCHAR},
      </if>
      <if test="eqName != null" >
        eqName = #{eqName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="busDate != null" >
        busDate = #{busDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="outerEquipID != null" >
        outerEquipID = #{outerEquipID,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxEqRentOutEqRecord" >
    update zx_eq_RentOutEqRecord
    set       billNo = #{billNo,jdbcType=VARCHAR},
      orgID = #{orgID,jdbcType=VARCHAR},
      orgName = #{orgName,jdbcType=VARCHAR},
      rentOrgID = #{rentOrgID,jdbcType=VARCHAR},
      rentOrgName = #{rentOrgName,jdbcType=VARCHAR},
      eqName = #{eqName,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      busDate = #{busDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      outerEquipID = #{outerEquipID,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByZxEqRentOutEqRecordList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxEqRentOutEqRecord" >
    select 
    <include refid="Base_Column_List" />
    from zx_eq_RentOutEqRecord
    where del_flag = '0'
    <if test="id != null and id != ''" >
     and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="billNo != null and billNo != ''" >
     and billNo = #{billNo,jdbcType=VARCHAR}
    </if>
    <if test="orgID != null and orgID != ''" >
     and orgID = #{orgID,jdbcType=VARCHAR}
    </if>
    <if test="orgName != null and orgName != ''" >
     and orgName = #{orgName,jdbcType=VARCHAR}
    </if>
    <if test="rentOrgID != null and rentOrgID != ''" >
     and rentOrgID = #{rentOrgID,jdbcType=VARCHAR}
    </if>
    <if test="rentOrgName != null and rentOrgName != ''" >
     and rentOrgName = #{rentOrgName,jdbcType=VARCHAR}
    </if>
    <if test="eqName != null and eqName != ''" >
     and eqName = #{eqName,jdbcType=VARCHAR}
    </if>
    <if test="spec != null and spec != ''" >
     and spec = #{spec,jdbcType=VARCHAR}
    </if>
    <if test="busDate != null and busDate != ''" >
     and busDate = #{busDate,jdbcType=TIMESTAMP}
    </if>
    <if test="remark != null and remark != ''" >
     and remark = #{remark,jdbcType=VARCHAR}
    </if>
    <if test="outerEquipID != null and outerEquipID != ''" >
     and outerEquipID = #{outerEquipID,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status != ''" >
     and status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="companyId != null and companyId != ''" >
     and company_id = #{companyId,jdbcType=VARCHAR}
    </if>
    <if test="companyName != null and companyName != ''" >
     and company_name = #{companyName,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxEqRentOutEqRecord" parameterType="com.apih5.mybatis.pojo.ZxEqRentOutEqRecord" >
    <![CDATA[ 
        update zx_eq_RentOutEqRecord
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.id} 
     </foreach>
  </delete>
</mapper>
