<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxEqPurRecordMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxEqPurRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="abcType" property="abcType" jdbcType="VARCHAR" />
    <result column="equip_man_no" property="equipManNo" jdbcType="VARCHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="contractID" property="contractID" jdbcType="VARCHAR" />
    <result column="supplieID" property="supplieID" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="purDate" property="purDate" jdbcType="TIMESTAMP" />
    <result column="purPlace" property="purPlace" jdbcType="VARCHAR" />
    <result column="useProjID" property="useProjID" jdbcType="VARCHAR" />
    <result column="uesProject" property="uesProject" jdbcType="VARCHAR" />
    <result column="financeNo" property="financeNo" jdbcType="VARCHAR" />
    <result column="resCatalog" property="resCatalog" jdbcType="VARCHAR" />
    <result column="resCatalogID" property="resCatalogID" jdbcType="VARCHAR" />
    <result column="equipno" property="equipno" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="factory" property="factory" jdbcType="VARCHAR" />
    <result column="outfactoryDate" property="outfactoryDate" jdbcType="TIMESTAMP" />
    <result column="oldrate" property="oldrate" jdbcType="VARCHAR" />
    <result column="mainFactory" property="mainFactory" jdbcType="VARCHAR" />
    <result column="mainspec" property="mainspec" jdbcType="VARCHAR" />
    <result column="mainpower" property="mainpower" jdbcType="DECIMAL" />
    <result column="mainserial" property="mainserial" jdbcType="VARCHAR" />
    <result column="mainoutfactory" property="mainoutfactory" jdbcType="TIMESTAMP" />
    <result column="viceFactory" property="viceFactory" jdbcType="VARCHAR" />
    <result column="vicespec" property="vicespec" jdbcType="VARCHAR" />
    <result column="vicepower" property="vicepower" jdbcType="DECIMAL" />
    <result column="viceserial" property="viceserial" jdbcType="VARCHAR" />
    <result column="viceoutfactory" property="viceoutfactory" jdbcType="TIMESTAMP" />
    <result column="downfactory" property="downfactory" jdbcType="VARCHAR" />
    <result column="downspec" property="downspec" jdbcType="VARCHAR" />
    <result column="downserial" property="downserial" jdbcType="VARCHAR" />
    <result column="downoutfactory" property="downoutfactory" jdbcType="TIMESTAMP" />
    <result column="orginalvalue" property="orginalvalue" jdbcType="DECIMAL" />
    <result column="vicevalue" property="vicevalue" jdbcType="DECIMAL" />
    <result column="tranvalue" property="tranvalue" jdbcType="DECIMAL" />
    <result column="totalvalue" property="totalvalue" jdbcType="DECIMAL" />
    <result column="passNo" property="passNo" jdbcType="VARCHAR" />
    <result column="isimported" property="isimported" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="outFactorySerial" property="outFactorySerial" jdbcType="VARCHAR" />
    <result column="planNo" property="planNo" jdbcType="VARCHAR" />
    <result column="acceptNO" property="acceptNO" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="heightlong" property="heightlong" jdbcType="VARCHAR" />
    <result column="locality" property="locality" jdbcType="VARCHAR" />
    <result column="isMadeinChina" property="isMadeinChina" jdbcType="VARCHAR" />
    <result column="acceptanceDate" property="acceptanceDate" jdbcType="TIMESTAMP" />
    <result column="isWorkEquip" property="isWorkEquip" jdbcType="VARCHAR" />
    <result column="mainPowerStr" property="mainPowerStr" jdbcType="VARCHAR" />
    <result column="vicePowerStr" property="vicePowerStr" jdbcType="VARCHAR" />
    <result column="power" property="power" jdbcType="DECIMAL" />
    <result column="depreciation" property="depreciation" jdbcType="VARCHAR" />
    <result column="equipnoSecond" property="equipnoSecond" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, abcType, equip_man_no, orgID, orgName, 
    contractID, supplieID, source, purDate, purPlace, 
    useProjID, uesProject, financeNo, resCatalog, resCatalogID, 
    equipno, spec, model, factory, outfactoryDate, 
    oldrate, mainFactory, mainspec, mainpower, mainserial, 
    mainoutfactory, viceFactory, vicespec, vicepower, viceserial, 
    viceoutfactory, downfactory, downspec, downserial, downoutfactory, 
    orginalvalue, vicevalue, tranvalue, totalvalue, passNo, 
    isimported, remark, outFactorySerial, planNo, acceptNO, 
    weight, heightlong, locality, isMadeinChina, acceptanceDate, 
    isWorkEquip, mainPowerStr, vicePowerStr, power, depreciation, 
    equipnoSecond, area, company_id, company_name, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_eq_PurRecord
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_eq_PurRecord
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxEqPurRecord" >
    insert into zx_eq_PurRecord (id, abcType, equip_man_no, 
      orgID, orgName, contractID, 
      supplieID, source, purDate, 
      purPlace, useProjID, uesProject, 
      financeNo, resCatalog, resCatalogID, 
      equipno, spec, model, 
      factory, outfactoryDate, oldrate, 
      mainFactory, mainspec, mainpower, 
      mainserial, mainoutfactory, viceFactory, 
      vicespec, vicepower, viceserial, 
      viceoutfactory, downfactory, downspec, 
      downserial, downoutfactory, orginalvalue, 
      vicevalue, tranvalue, totalvalue, 
      passNo, isimported, remark, 
      outFactorySerial, planNo, acceptNO, 
      weight, heightlong, locality, 
      isMadeinChina, acceptanceDate, isWorkEquip, 
      mainPowerStr, vicePowerStr, power, 
      depreciation, equipnoSecond, area, 
      company_id, company_name, del_flag, 
      create_time, create_user, create_user_name, 
      modify_time, modify_user, modify_user_name
      )
    values (#{id,jdbcType=VARCHAR}, #{abcType,jdbcType=VARCHAR}, #{equipManNo,jdbcType=VARCHAR}, 
      #{orgID,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{contractID,jdbcType=VARCHAR}, 
      #{supplieID,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{purDate,jdbcType=TIMESTAMP}, 
      #{purPlace,jdbcType=VARCHAR}, #{useProjID,jdbcType=VARCHAR}, #{uesProject,jdbcType=VARCHAR}, 
      #{financeNo,jdbcType=VARCHAR}, #{resCatalog,jdbcType=VARCHAR}, #{resCatalogID,jdbcType=VARCHAR}, 
      #{equipno,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{factory,jdbcType=VARCHAR}, #{outfactoryDate,jdbcType=TIMESTAMP}, #{oldrate,jdbcType=VARCHAR}, 
      #{mainFactory,jdbcType=VARCHAR}, #{mainspec,jdbcType=VARCHAR}, #{mainpower,jdbcType=DECIMAL}, 
      #{mainserial,jdbcType=VARCHAR}, #{mainoutfactory,jdbcType=TIMESTAMP}, #{viceFactory,jdbcType=VARCHAR}, 
      #{vicespec,jdbcType=VARCHAR}, #{vicepower,jdbcType=DECIMAL}, #{viceserial,jdbcType=VARCHAR}, 
      #{viceoutfactory,jdbcType=TIMESTAMP}, #{downfactory,jdbcType=VARCHAR}, #{downspec,jdbcType=VARCHAR}, 
      #{downserial,jdbcType=VARCHAR}, #{downoutfactory,jdbcType=TIMESTAMP}, #{orginalvalue,jdbcType=DECIMAL}, 
      #{vicevalue,jdbcType=DECIMAL}, #{tranvalue,jdbcType=DECIMAL}, #{totalvalue,jdbcType=DECIMAL}, 
      #{passNo,jdbcType=VARCHAR}, #{isimported,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{outFactorySerial,jdbcType=VARCHAR}, #{planNo,jdbcType=VARCHAR}, #{acceptNO,jdbcType=VARCHAR}, 
      #{weight,jdbcType=VARCHAR}, #{heightlong,jdbcType=VARCHAR}, #{locality,jdbcType=VARCHAR}, 
      #{isMadeinChina,jdbcType=VARCHAR}, #{acceptanceDate,jdbcType=TIMESTAMP}, #{isWorkEquip,jdbcType=VARCHAR}, 
      #{mainPowerStr,jdbcType=VARCHAR}, #{vicePowerStr,jdbcType=VARCHAR}, #{power,jdbcType=DECIMAL}, 
      #{depreciation,jdbcType=VARCHAR}, #{equipnoSecond,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxEqPurRecord" >
    insert into zx_eq_PurRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="abcType != null" >
        abcType,
      </if>
      <if test="equipManNo != null" >
        equip_man_no,
      </if>
      <if test="orgID != null" >
        orgID,
      </if>
      <if test="orgName != null" >
        orgName,
      </if>
      <if test="contractID != null" >
        contractID,
      </if>
      <if test="supplieID != null" >
        supplieID,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="purDate != null" >
        purDate,
      </if>
      <if test="purPlace != null" >
        purPlace,
      </if>
      <if test="useProjID != null" >
        useProjID,
      </if>
      <if test="uesProject != null" >
        uesProject,
      </if>
      <if test="financeNo != null" >
        financeNo,
      </if>
      <if test="resCatalog != null" >
        resCatalog,
      </if>
      <if test="resCatalogID != null" >
        resCatalogID,
      </if>
      <if test="equipno != null" >
        equipno,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="factory != null" >
        factory,
      </if>
      <if test="outfactoryDate != null" >
        outfactoryDate,
      </if>
      <if test="oldrate != null" >
        oldrate,
      </if>
      <if test="mainFactory != null" >
        mainFactory,
      </if>
      <if test="mainspec != null" >
        mainspec,
      </if>
      <if test="mainpower != null" >
        mainpower,
      </if>
      <if test="mainserial != null" >
        mainserial,
      </if>
      <if test="mainoutfactory != null" >
        mainoutfactory,
      </if>
      <if test="viceFactory != null" >
        viceFactory,
      </if>
      <if test="vicespec != null" >
        vicespec,
      </if>
      <if test="vicepower != null" >
        vicepower,
      </if>
      <if test="viceserial != null" >
        viceserial,
      </if>
      <if test="viceoutfactory != null" >
        viceoutfactory,
      </if>
      <if test="downfactory != null" >
        downfactory,
      </if>
      <if test="downspec != null" >
        downspec,
      </if>
      <if test="downserial != null" >
        downserial,
      </if>
      <if test="downoutfactory != null" >
        downoutfactory,
      </if>
      <if test="orginalvalue != null" >
        orginalvalue,
      </if>
      <if test="vicevalue != null" >
        vicevalue,
      </if>
      <if test="tranvalue != null" >
        tranvalue,
      </if>
      <if test="totalvalue != null" >
        totalvalue,
      </if>
      <if test="passNo != null" >
        passNo,
      </if>
      <if test="isimported != null" >
        isimported,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="outFactorySerial != null" >
        outFactorySerial,
      </if>
      <if test="planNo != null" >
        planNo,
      </if>
      <if test="acceptNO != null" >
        acceptNO,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="heightlong != null" >
        heightlong,
      </if>
      <if test="locality != null" >
        locality,
      </if>
      <if test="isMadeinChina != null" >
        isMadeinChina,
      </if>
      <if test="acceptanceDate != null" >
        acceptanceDate,
      </if>
      <if test="isWorkEquip != null" >
        isWorkEquip,
      </if>
      <if test="mainPowerStr != null" >
        mainPowerStr,
      </if>
      <if test="vicePowerStr != null" >
        vicePowerStr,
      </if>
      <if test="power != null" >
        power,
      </if>
      <if test="depreciation != null" >
        depreciation,
      </if>
      <if test="equipnoSecond != null" >
        equipnoSecond,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="abcType != null" >
        #{abcType,jdbcType=VARCHAR},
      </if>
      <if test="equipManNo != null" >
        #{equipManNo,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="contractID != null" >
        #{contractID,jdbcType=VARCHAR},
      </if>
      <if test="supplieID != null" >
        #{supplieID,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="purDate != null" >
        #{purDate,jdbcType=TIMESTAMP},
      </if>
      <if test="purPlace != null" >
        #{purPlace,jdbcType=VARCHAR},
      </if>
      <if test="useProjID != null" >
        #{useProjID,jdbcType=VARCHAR},
      </if>
      <if test="uesProject != null" >
        #{uesProject,jdbcType=VARCHAR},
      </if>
      <if test="financeNo != null" >
        #{financeNo,jdbcType=VARCHAR},
      </if>
      <if test="resCatalog != null" >
        #{resCatalog,jdbcType=VARCHAR},
      </if>
      <if test="resCatalogID != null" >
        #{resCatalogID,jdbcType=VARCHAR},
      </if>
      <if test="equipno != null" >
        #{equipno,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="outfactoryDate != null" >
        #{outfactoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="oldrate != null" >
        #{oldrate,jdbcType=VARCHAR},
      </if>
      <if test="mainFactory != null" >
        #{mainFactory,jdbcType=VARCHAR},
      </if>
      <if test="mainspec != null" >
        #{mainspec,jdbcType=VARCHAR},
      </if>
      <if test="mainpower != null" >
        #{mainpower,jdbcType=DECIMAL},
      </if>
      <if test="mainserial != null" >
        #{mainserial,jdbcType=VARCHAR},
      </if>
      <if test="mainoutfactory != null" >
        #{mainoutfactory,jdbcType=TIMESTAMP},
      </if>
      <if test="viceFactory != null" >
        #{viceFactory,jdbcType=VARCHAR},
      </if>
      <if test="vicespec != null" >
        #{vicespec,jdbcType=VARCHAR},
      </if>
      <if test="vicepower != null" >
        #{vicepower,jdbcType=DECIMAL},
      </if>
      <if test="viceserial != null" >
        #{viceserial,jdbcType=VARCHAR},
      </if>
      <if test="viceoutfactory != null" >
        #{viceoutfactory,jdbcType=TIMESTAMP},
      </if>
      <if test="downfactory != null" >
        #{downfactory,jdbcType=VARCHAR},
      </if>
      <if test="downspec != null" >
        #{downspec,jdbcType=VARCHAR},
      </if>
      <if test="downserial != null" >
        #{downserial,jdbcType=VARCHAR},
      </if>
      <if test="downoutfactory != null" >
        #{downoutfactory,jdbcType=TIMESTAMP},
      </if>
      <if test="orginalvalue != null" >
        #{orginalvalue,jdbcType=DECIMAL},
      </if>
      <if test="vicevalue != null" >
        #{vicevalue,jdbcType=DECIMAL},
      </if>
      <if test="tranvalue != null" >
        #{tranvalue,jdbcType=DECIMAL},
      </if>
      <if test="totalvalue != null" >
        #{totalvalue,jdbcType=DECIMAL},
      </if>
      <if test="passNo != null" >
        #{passNo,jdbcType=VARCHAR},
      </if>
      <if test="isimported != null" >
        #{isimported,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="outFactorySerial != null" >
        #{outFactorySerial,jdbcType=VARCHAR},
      </if>
      <if test="planNo != null" >
        #{planNo,jdbcType=VARCHAR},
      </if>
      <if test="acceptNO != null" >
        #{acceptNO,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="heightlong != null" >
        #{heightlong,jdbcType=VARCHAR},
      </if>
      <if test="locality != null" >
        #{locality,jdbcType=VARCHAR},
      </if>
      <if test="isMadeinChina != null" >
        #{isMadeinChina,jdbcType=VARCHAR},
      </if>
      <if test="acceptanceDate != null" >
        #{acceptanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isWorkEquip != null" >
        #{isWorkEquip,jdbcType=VARCHAR},
      </if>
      <if test="mainPowerStr != null" >
        #{mainPowerStr,jdbcType=VARCHAR},
      </if>
      <if test="vicePowerStr != null" >
        #{vicePowerStr,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        #{power,jdbcType=DECIMAL},
      </if>
      <if test="depreciation != null" >
        #{depreciation,jdbcType=VARCHAR},
      </if>
      <if test="equipnoSecond != null" >
        #{equipnoSecond,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxEqPurRecord" >
    update zx_eq_PurRecord
    <set >
      <if test="abcType != null" >
        abcType = #{abcType,jdbcType=VARCHAR},
      </if>
      <if test="equipManNo != null" >
        equip_man_no = #{equipManNo,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        orgID = #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        orgName = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="contractID != null" >
        contractID = #{contractID,jdbcType=VARCHAR},
      </if>
      <if test="supplieID != null" >
        supplieID = #{supplieID,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="purDate != null" >
        purDate = #{purDate,jdbcType=TIMESTAMP},
      </if>
      <if test="purPlace != null" >
        purPlace = #{purPlace,jdbcType=VARCHAR},
      </if>
      <if test="useProjID != null" >
        useProjID = #{useProjID,jdbcType=VARCHAR},
      </if>
      <if test="uesProject != null" >
        uesProject = #{uesProject,jdbcType=VARCHAR},
      </if>
      <if test="financeNo != null" >
        financeNo = #{financeNo,jdbcType=VARCHAR},
      </if>
      <if test="resCatalog != null" >
        resCatalog = #{resCatalog,jdbcType=VARCHAR},
      </if>
      <if test="resCatalogID != null" >
        resCatalogID = #{resCatalogID,jdbcType=VARCHAR},
      </if>
      <if test="equipno != null" >
        equipno = #{equipno,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="factory != null" >
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="outfactoryDate != null" >
        outfactoryDate = #{outfactoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="oldrate != null" >
        oldrate = #{oldrate,jdbcType=VARCHAR},
      </if>
      <if test="mainFactory != null" >
        mainFactory = #{mainFactory,jdbcType=VARCHAR},
      </if>
      <if test="mainspec != null" >
        mainspec = #{mainspec,jdbcType=VARCHAR},
      </if>
      <if test="mainpower != null" >
        mainpower = #{mainpower,jdbcType=DECIMAL},
      </if>
      <if test="mainserial != null" >
        mainserial = #{mainserial,jdbcType=VARCHAR},
      </if>
      <if test="mainoutfactory != null" >
        mainoutfactory = #{mainoutfactory,jdbcType=TIMESTAMP},
      </if>
      <if test="viceFactory != null" >
        viceFactory = #{viceFactory,jdbcType=VARCHAR},
      </if>
      <if test="vicespec != null" >
        vicespec = #{vicespec,jdbcType=VARCHAR},
      </if>
      <if test="vicepower != null" >
        vicepower = #{vicepower,jdbcType=DECIMAL},
      </if>
      <if test="viceserial != null" >
        viceserial = #{viceserial,jdbcType=VARCHAR},
      </if>
      <if test="viceoutfactory != null" >
        viceoutfactory = #{viceoutfactory,jdbcType=TIMESTAMP},
      </if>
      <if test="downfactory != null" >
        downfactory = #{downfactory,jdbcType=VARCHAR},
      </if>
      <if test="downspec != null" >
        downspec = #{downspec,jdbcType=VARCHAR},
      </if>
      <if test="downserial != null" >
        downserial = #{downserial,jdbcType=VARCHAR},
      </if>
      <if test="downoutfactory != null" >
        downoutfactory = #{downoutfactory,jdbcType=TIMESTAMP},
      </if>
      <if test="orginalvalue != null" >
        orginalvalue = #{orginalvalue,jdbcType=DECIMAL},
      </if>
      <if test="vicevalue != null" >
        vicevalue = #{vicevalue,jdbcType=DECIMAL},
      </if>
      <if test="tranvalue != null" >
        tranvalue = #{tranvalue,jdbcType=DECIMAL},
      </if>
      <if test="totalvalue != null" >
        totalvalue = #{totalvalue,jdbcType=DECIMAL},
      </if>
      <if test="passNo != null" >
        passNo = #{passNo,jdbcType=VARCHAR},
      </if>
      <if test="isimported != null" >
        isimported = #{isimported,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="outFactorySerial != null" >
        outFactorySerial = #{outFactorySerial,jdbcType=VARCHAR},
      </if>
      <if test="planNo != null" >
        planNo = #{planNo,jdbcType=VARCHAR},
      </if>
      <if test="acceptNO != null" >
        acceptNO = #{acceptNO,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="heightlong != null" >
        heightlong = #{heightlong,jdbcType=VARCHAR},
      </if>
      <if test="locality != null" >
        locality = #{locality,jdbcType=VARCHAR},
      </if>
      <if test="isMadeinChina != null" >
        isMadeinChina = #{isMadeinChina,jdbcType=VARCHAR},
      </if>
      <if test="acceptanceDate != null" >
        acceptanceDate = #{acceptanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isWorkEquip != null" >
        isWorkEquip = #{isWorkEquip,jdbcType=VARCHAR},
      </if>
      <if test="mainPowerStr != null" >
        mainPowerStr = #{mainPowerStr,jdbcType=VARCHAR},
      </if>
      <if test="vicePowerStr != null" >
        vicePowerStr = #{vicePowerStr,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=DECIMAL},
      </if>
      <if test="depreciation != null" >
        depreciation = #{depreciation,jdbcType=VARCHAR},
      </if>
      <if test="equipnoSecond != null" >
        equipnoSecond = #{equipnoSecond,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxEqPurRecord" >
    update zx_eq_PurRecord
    set       abcType = #{abcType,jdbcType=VARCHAR},
      equip_man_no = #{equipManNo,jdbcType=VARCHAR},
      orgID = #{orgID,jdbcType=VARCHAR},
      orgName = #{orgName,jdbcType=VARCHAR},
      contractID = #{contractID,jdbcType=VARCHAR},
      supplieID = #{supplieID,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      purDate = #{purDate,jdbcType=TIMESTAMP},
      purPlace = #{purPlace,jdbcType=VARCHAR},
      useProjID = #{useProjID,jdbcType=VARCHAR},
      uesProject = #{uesProject,jdbcType=VARCHAR},
      financeNo = #{financeNo,jdbcType=VARCHAR},
      resCatalog = #{resCatalog,jdbcType=VARCHAR},
      resCatalogID = #{resCatalogID,jdbcType=VARCHAR},
      equipno = #{equipno,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      factory = #{factory,jdbcType=VARCHAR},
      outfactoryDate = #{outfactoryDate,jdbcType=TIMESTAMP},
      oldrate = #{oldrate,jdbcType=VARCHAR},
      mainFactory = #{mainFactory,jdbcType=VARCHAR},
      mainspec = #{mainspec,jdbcType=VARCHAR},
      mainpower = #{mainpower,jdbcType=DECIMAL},
      mainserial = #{mainserial,jdbcType=VARCHAR},
      mainoutfactory = #{mainoutfactory,jdbcType=TIMESTAMP},
      viceFactory = #{viceFactory,jdbcType=VARCHAR},
      vicespec = #{vicespec,jdbcType=VARCHAR},
      vicepower = #{vicepower,jdbcType=DECIMAL},
      viceserial = #{viceserial,jdbcType=VARCHAR},
      viceoutfactory = #{viceoutfactory,jdbcType=TIMESTAMP},
      downfactory = #{downfactory,jdbcType=VARCHAR},
      downspec = #{downspec,jdbcType=VARCHAR},
      downserial = #{downserial,jdbcType=VARCHAR},
      downoutfactory = #{downoutfactory,jdbcType=TIMESTAMP},
      orginalvalue = #{orginalvalue,jdbcType=DECIMAL},
      vicevalue = #{vicevalue,jdbcType=DECIMAL},
      tranvalue = #{tranvalue,jdbcType=DECIMAL},
      totalvalue = #{totalvalue,jdbcType=DECIMAL},
      passNo = #{passNo,jdbcType=VARCHAR},
      isimported = #{isimported,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      outFactorySerial = #{outFactorySerial,jdbcType=VARCHAR},
      planNo = #{planNo,jdbcType=VARCHAR},
      acceptNO = #{acceptNO,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      heightlong = #{heightlong,jdbcType=VARCHAR},
      locality = #{locality,jdbcType=VARCHAR},
      isMadeinChina = #{isMadeinChina,jdbcType=VARCHAR},
      acceptanceDate = #{acceptanceDate,jdbcType=TIMESTAMP},
      isWorkEquip = #{isWorkEquip,jdbcType=VARCHAR},
      mainPowerStr = #{mainPowerStr,jdbcType=VARCHAR},
      vicePowerStr = #{vicePowerStr,jdbcType=VARCHAR},
      power = #{power,jdbcType=DECIMAL},
      depreciation = #{depreciation,jdbcType=VARCHAR},
      equipnoSecond = #{equipnoSecond,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByZxEqPurRecordList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxEqPurRecord" >
    select 
    <include refid="Base_Column_List" />
    from zx_eq_PurRecord
    where del_flag = '0'
    <if test="id != null and id != ''" >
     and id = #{id,jdbcType=}
    </if>
    <if test="abcType != null and abcType != ''" >
     and abcType = #{abcType,jdbcType=VARCHAR}
    </if>
    <if test="equipManNo != null and equipManNo != ''" >
     and equip_man_no = #{equipManNo,jdbcType=VARCHAR}
    </if>
    <if test="orgID != null and orgID != ''" >
     and orgID = #{orgID,jdbcType=VARCHAR}
    </if>
    <if test="orgName != null and orgName != ''" >
     and orgName = #{orgName,jdbcType=VARCHAR}
    </if>
    <if test="contractID != null and contractID != ''" >
     and contractID = #{contractID,jdbcType=VARCHAR}
    </if>
    <if test="supplieID != null and supplieID != ''" >
     and supplieID = #{supplieID,jdbcType=VARCHAR}
    </if>
    <if test="source != null and source != ''" >
     and source = #{source,jdbcType=VARCHAR}
    </if>
    <if test="purDate != null and purDate != ''" >
     and purDate = #{purDate,jdbcType=TIMESTAMP}
    </if>
    <if test="purPlace != null and purPlace != ''" >
     and purPlace = #{purPlace,jdbcType=VARCHAR}
    </if>
    <if test="useProjID != null and useProjID != ''" >
     and useProjID = #{useProjID,jdbcType=VARCHAR}
    </if>
    <if test="uesProject != null and uesProject != ''" >
     and uesProject = #{uesProject,jdbcType=VARCHAR}
    </if>
    <if test="financeNo != null and financeNo != ''" >
     and financeNo = #{financeNo,jdbcType=VARCHAR}
    </if>
    <if test="resCatalog != null and resCatalog != ''" >
     and resCatalog = #{resCatalog,jdbcType=VARCHAR}
    </if>
    <if test="resCatalogID != null and resCatalogID != ''" >
     and resCatalogID = #{resCatalogID,jdbcType=VARCHAR}
    </if>
    <if test="equipno != null and equipno != ''" >
     and equipno = #{equipno,jdbcType=VARCHAR}
    </if>
    <if test="spec != null and spec != ''" >
     and spec = #{spec,jdbcType=VARCHAR}
    </if>
    <if test="model != null and model != ''" >
     and model = #{model,jdbcType=VARCHAR}
    </if>
    <if test="factory != null and factory != ''" >
     and factory = #{factory,jdbcType=VARCHAR}
    </if>
    <if test="outfactoryDate != null and outfactoryDate != ''" >
     and outfactoryDate = #{outfactoryDate,jdbcType=TIMESTAMP}
    </if>
    <if test="oldrate != null and oldrate != ''" >
     and oldrate = #{oldrate,jdbcType=VARCHAR}
    </if>
    <if test="mainFactory != null and mainFactory != ''" >
     and mainFactory = #{mainFactory,jdbcType=VARCHAR}
    </if>
    <if test="mainspec != null and mainspec != ''" >
     and mainspec = #{mainspec,jdbcType=VARCHAR}
    </if>
    <if test="mainpower != null and mainpower != ''" >
     and mainpower = #{mainpower,jdbcType=DECIMAL}
    </if>
    <if test="mainserial != null and mainserial != ''" >
     and mainserial = #{mainserial,jdbcType=VARCHAR}
    </if>
    <if test="mainoutfactory != null and mainoutfactory != ''" >
     and mainoutfactory = #{mainoutfactory,jdbcType=TIMESTAMP}
    </if>
    <if test="viceFactory != null and viceFactory != ''" >
     and viceFactory = #{viceFactory,jdbcType=VARCHAR}
    </if>
    <if test="vicespec != null and vicespec != ''" >
     and vicespec = #{vicespec,jdbcType=VARCHAR}
    </if>
    <if test="vicepower != null and vicepower != ''" >
     and vicepower = #{vicepower,jdbcType=DECIMAL}
    </if>
    <if test="viceserial != null and viceserial != ''" >
     and viceserial = #{viceserial,jdbcType=VARCHAR}
    </if>
    <if test="viceoutfactory != null and viceoutfactory != ''" >
     and viceoutfactory = #{viceoutfactory,jdbcType=TIMESTAMP}
    </if>
    <if test="downfactory != null and downfactory != ''" >
     and downfactory = #{downfactory,jdbcType=VARCHAR}
    </if>
    <if test="downspec != null and downspec != ''" >
     and downspec = #{downspec,jdbcType=VARCHAR}
    </if>
    <if test="downserial != null and downserial != ''" >
     and downserial = #{downserial,jdbcType=VARCHAR}
    </if>
    <if test="downoutfactory != null and downoutfactory != ''" >
     and downoutfactory = #{downoutfactory,jdbcType=TIMESTAMP}
    </if>
    <if test="orginalvalue != null and orginalvalue != ''" >
     and orginalvalue = #{orginalvalue,jdbcType=DECIMAL}
    </if>
    <if test="vicevalue != null and vicevalue != ''" >
     and vicevalue = #{vicevalue,jdbcType=DECIMAL}
    </if>
    <if test="tranvalue != null and tranvalue != ''" >
     and tranvalue = #{tranvalue,jdbcType=DECIMAL}
    </if>
    <if test="totalvalue != null and totalvalue != ''" >
     and totalvalue = #{totalvalue,jdbcType=DECIMAL}
    </if>
    <if test="passNo != null and passNo != ''" >
     and passNo = #{passNo,jdbcType=VARCHAR}
    </if>
    <if test="isimported != null and isimported != ''" >
     and isimported = #{isimported,jdbcType=VARCHAR}
    </if>
    <if test="remark != null and remark != ''" >
     and remark = #{remark,jdbcType=VARCHAR}
    </if>
    <if test="outFactorySerial != null and outFactorySerial != ''" >
     and outFactorySerial = #{outFactorySerial,jdbcType=VARCHAR}
    </if>
    <if test="planNo != null and planNo != ''" >
     and planNo = #{planNo,jdbcType=VARCHAR}
    </if>
    <if test="acceptNO != null and acceptNO != ''" >
     and acceptNO = #{acceptNO,jdbcType=VARCHAR}
    </if>
    <if test="weight != null and weight != ''" >
     and weight = #{weight,jdbcType=VARCHAR}
    </if>
    <if test="heightlong != null and heightlong != ''" >
     and heightlong = #{heightlong,jdbcType=VARCHAR}
    </if>
    <if test="locality != null and locality != ''" >
     and locality = #{locality,jdbcType=VARCHAR}
    </if>
    <if test="isMadeinChina != null and isMadeinChina != ''" >
     and isMadeinChina = #{isMadeinChina,jdbcType=VARCHAR}
    </if>
    <if test="acceptanceDate != null and acceptanceDate != ''" >
     and acceptanceDate = #{acceptanceDate,jdbcType=TIMESTAMP}
    </if>
    <if test="isWorkEquip != null and isWorkEquip != ''" >
     and isWorkEquip = #{isWorkEquip,jdbcType=VARCHAR}
    </if>
    <if test="mainPowerStr != null and mainPowerStr != ''" >
     and mainPowerStr = #{mainPowerStr,jdbcType=VARCHAR}
    </if>
    <if test="vicePowerStr != null and vicePowerStr != ''" >
     and vicePowerStr = #{vicePowerStr,jdbcType=VARCHAR}
    </if>
    <if test="power != null and power != ''" >
     and power = #{power,jdbcType=DECIMAL}
    </if>
    <if test="depreciation != null and depreciation != ''" >
     and depreciation = #{depreciation,jdbcType=VARCHAR}
    </if>
    <if test="equipnoSecond != null and equipnoSecond != ''" >
     and equipnoSecond = #{equipnoSecond,jdbcType=VARCHAR}
    </if>
    <if test="area != null and area != ''" >
     and area = #{area,jdbcType=VARCHAR}
    </if>
    <if test="companyId != null and companyId != ''" >
     and company_id = #{companyId,jdbcType=VARCHAR}
    </if>
    <if test="companyName != null and companyName != ''" >
     and company_name = #{companyName,jdbcType=VARCHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxEqPurRecord" parameterType="com.apih5.mybatis.pojo.ZxEqPurRecord" >
    <![CDATA[ 
        update zx_eq_PurRecord
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.id} 
     </foreach>
  </delete>
</mapper>
