<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxGcsgCcCoAlterMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxGcsgCcCoAlter" >
    <id column="cc_co_alter_id" property="ccCoAlterId" jdbcType="CHAR" />
    <result column="cc_co_book_id" property="ccCoBookId" jdbcType="VARCHAR" />
    <result column="alterLevel" property="alterLevel" jdbcType="VARCHAR" />
    <result column="proposer" property="proposer" jdbcType="VARCHAR" />
    <result column="alterContent" property="alterContent" jdbcType="VARCHAR" />
    <result column="alterReason" property="alterReason" jdbcType="VARCHAR" />
    <result column="happenDate" property="happenDate" jdbcType="TIMESTAMP" />
    <result column="applyAmount" property="applyAmount" jdbcType="DECIMAL" />
    <result column="applyDate" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="applyNo" property="applyNo" jdbcType="VARCHAR" />
    <result column="applyDelay" property="applyDelay" jdbcType="VARCHAR" />
    <result column="replyAmount" property="replyAmount" jdbcType="DECIMAL" />
    <result column="replyDate" property="replyDate" jdbcType="TIMESTAMP" />
    <result column="replyNo" property="replyNo" jdbcType="VARCHAR" />
    <result column="replyDelay" property="replyDelay" jdbcType="VARCHAR" />
    <result column="replyStatus" property="replyStatus" jdbcType="VARCHAR" />
    <result column="recorder" property="recorder" jdbcType="VARCHAR" />
    <result column="recordDate" property="recordDate" jdbcType="TIMESTAMP" />
    <result column="takeEffectDate" property="takeEffectDate" jdbcType="TIMESTAMP" />
    <result column="takeEffectMan" property="takeEffectMan" jdbcType="VARCHAR" />
    <result column="auditStatus" property="auditStatus" jdbcType="VARCHAR" />
    <result column="combProp" property="combProp" jdbcType="VARCHAR" />
    <result column="pp1" property="pp1" jdbcType="VARCHAR" />
    <result column="pp2" property="pp2" jdbcType="VARCHAR" />
    <result column="pp3" property="pp3" jdbcType="VARCHAR" />
    <result column="pp4" property="pp4" jdbcType="VARCHAR" />
    <result column="pp5" property="pp5" jdbcType="VARCHAR" />
    <result column="pp6" property="pp6" jdbcType="VARCHAR" />
    <result column="pp7" property="pp7" jdbcType="VARCHAR" />
    <result column="pp8" property="pp8" jdbcType="VARCHAR" />
    <result column="pp9" property="pp9" jdbcType="VARCHAR" />
    <result column="pp10" property="pp10" jdbcType="VARCHAR" />
    <result column="approval_unit" property="approvalUnit" jdbcType="VARCHAR" />
    <result column="original_tax_amount" property="originalTaxAmount" jdbcType="DECIMAL" />
    <result column="ct_contr_apply_id" property="ctContrApplyId" jdbcType="VARCHAR" />
    <result column="ip_contract_id" property="ipContractId" jdbcType="VARCHAR" />
    <result column="ct_contract_id" property="ctContractId" jdbcType="VARCHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="applyAmountNoTax" property="applyAmountNoTax" jdbcType="DECIMAL" />
    <result column="applyAmountTax" property="applyAmountTax" jdbcType="DECIMAL" />
    <result column="replyAmountNoTax" property="replyAmountNoTax" jdbcType="DECIMAL" />
    <result column="replyAmountTax" property="replyAmountTax" jdbcType="DECIMAL" />
    <result column="pp2NoTax" property="pp2NoTax" jdbcType="DECIMAL" />
    <result column="pp2Tax" property="pp2Tax" jdbcType="DECIMAL" />
    <result column="opinion_field1" property="opinionField1" jdbcType="VARCHAR" />
    <result column="opinion_field2" property="opinionField2" jdbcType="VARCHAR" />
    <result column="opinion_field3" property="opinionField3" jdbcType="VARCHAR" />
    <result column="opinion_field4" property="opinionField4" jdbcType="VARCHAR" />
    <result column="opinion_field5" property="opinionField5" jdbcType="VARCHAR" />
    <result column="opinion_field6" property="opinionField6" jdbcType="VARCHAR" />
    <result column="opinion_field7" property="opinionField7" jdbcType="VARCHAR" />
    <result column="opinion_field8" property="opinionField8" jdbcType="VARCHAR" />
    <result column="opinion_field9" property="opinionField9" jdbcType="VARCHAR" />
    <result column="opinion_field10" property="opinionField10" jdbcType="VARCHAR" />
    <result column="apih5_flow_id" property="apih5FlowId" jdbcType="CHAR" />
    <result column="work_id" property="workId" jdbcType="CHAR" />
    <result column="apih5_flow_status" property="apih5FlowStatus" jdbcType="CHAR" />
    <result column="apih5_flow_node_status" property="apih5FlowNodeStatus" jdbcType="CHAR" />
    <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cc_co_alter_id, cc_co_book_id, alterLevel, proposer, alterContent, 
    alterReason, happenDate, applyAmount, applyDate, applyNo, 
    applyDelay, replyAmount, replyDate, replyNo, replyDelay, 
    replyStatus, recorder, recordDate, takeEffectDate, takeEffectMan, 
    auditStatus, combProp, pp1, pp2, pp3, 
    pp4, pp5, pp6, pp7, pp8, 
    pp9, pp10, approval_unit, original_tax_amount, ct_contr_apply_id, 
    ip_contract_id, ct_contract_id, orgID, editTime, applyAmountNoTax, 
    applyAmountTax, replyAmountNoTax, replyAmountTax, pp2NoTax, pp2Tax, 
    opinion_field1, opinion_field2, opinion_field3, opinion_field4, opinion_field5, 
    opinion_field6, opinion_field7, opinion_field8, opinion_field9, opinion_field10, 
    apih5_flow_id, work_id, apih5_flow_status, apih5_flow_node_status, contract_name, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_gcsg_cc_co_alter
    where del_flag = '0' and cc_co_alter_id = #{ccCoAlterId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_gcsg_cc_co_alter
    where cc_co_alter_id = #{ccCoAlterId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxGcsgCcCoAlter" >
    insert into zx_gcsg_cc_co_alter (
    cc_co_alter_id, cc_co_book_id, alterLevel, proposer, alterContent, 
    alterReason, happenDate, applyAmount, applyDate, applyNo, 
    applyDelay, replyAmount, replyDate, replyNo, replyDelay, 
    replyStatus, recorder, recordDate, takeEffectDate, takeEffectMan, 
    auditStatus, combProp, pp1, pp2, pp3, 
    pp4, pp5, pp6, pp7, pp8, 
    pp9, pp10, approval_unit, original_tax_amount, ct_contr_apply_id, 
    ip_contract_id, ct_contract_id, orgID, editTime, applyAmountNoTax, 
    applyAmountTax, replyAmountNoTax, replyAmountTax, pp2NoTax, pp2Tax, 
    opinion_field1, opinion_field2, opinion_field3, opinion_field4, opinion_field5, 
    opinion_field6, opinion_field7, opinion_field8, opinion_field9, opinion_field10, 
    apih5_flow_id, work_id, apih5_flow_status, apih5_flow_node_status, contract_name, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
      )
    values (
      #{ccCoAlterId,jdbcType=CHAR}, #{ccCoBookId,jdbcType=VARCHAR}, #{alterLevel,jdbcType=VARCHAR}, #{proposer,jdbcType=VARCHAR}, #{alterContent,jdbcType=VARCHAR}, 
    #{alterReason,jdbcType=VARCHAR}, #{happenDate,jdbcType=TIMESTAMP}, #{applyAmount,jdbcType=DECIMAL}, #{applyDate,jdbcType=TIMESTAMP}, #{applyNo,jdbcType=VARCHAR}, 
    #{applyDelay,jdbcType=VARCHAR}, #{replyAmount,jdbcType=DECIMAL}, #{replyDate,jdbcType=TIMESTAMP}, #{replyNo,jdbcType=VARCHAR}, #{replyDelay,jdbcType=VARCHAR}, 
    #{replyStatus,jdbcType=VARCHAR}, #{recorder,jdbcType=VARCHAR}, #{recordDate,jdbcType=TIMESTAMP}, #{takeEffectDate,jdbcType=TIMESTAMP}, #{takeEffectMan,jdbcType=VARCHAR}, 
    #{auditStatus,jdbcType=VARCHAR}, #{combProp,jdbcType=VARCHAR}, #{pp1,jdbcType=VARCHAR}, #{pp2,jdbcType=VARCHAR}, #{pp3,jdbcType=VARCHAR}, 
    #{pp4,jdbcType=VARCHAR}, #{pp5,jdbcType=VARCHAR}, #{pp6,jdbcType=VARCHAR}, #{pp7,jdbcType=VARCHAR}, #{pp8,jdbcType=VARCHAR}, 
    #{pp9,jdbcType=VARCHAR}, #{pp10,jdbcType=VARCHAR}, #{approvalUnit,jdbcType=VARCHAR}, #{originalTaxAmount,jdbcType=DECIMAL}, #{ctContrApplyId,jdbcType=VARCHAR}, 
    #{ipContractId,jdbcType=VARCHAR}, #{ctContractId,jdbcType=VARCHAR}, #{orgID,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{applyAmountNoTax,jdbcType=DECIMAL}, 
    #{applyAmountTax,jdbcType=DECIMAL}, #{replyAmountNoTax,jdbcType=DECIMAL}, #{replyAmountTax,jdbcType=DECIMAL}, #{pp2NoTax,jdbcType=DECIMAL}, #{pp2Tax,jdbcType=DECIMAL}, 
    #{opinionField1,jdbcType=VARCHAR}, #{opinionField2,jdbcType=VARCHAR}, #{opinionField3,jdbcType=VARCHAR}, #{opinionField4,jdbcType=VARCHAR}, #{opinionField5,jdbcType=VARCHAR}, 
    #{opinionField6,jdbcType=VARCHAR}, #{opinionField7,jdbcType=VARCHAR}, #{opinionField8,jdbcType=VARCHAR}, #{opinionField9,jdbcType=VARCHAR}, #{opinionField10,jdbcType=VARCHAR}, 
    #{apih5FlowId,jdbcType=CHAR}, #{workId,jdbcType=CHAR}, #{apih5FlowStatus,jdbcType=CHAR}, #{apih5FlowNodeStatus,jdbcType=CHAR}, #{contractName,jdbcType=VARCHAR}, 
    #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
    #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxGcsgCcCoAlter" >
    insert into zx_gcsg_cc_co_alter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ccCoAlterId != null" >
        cc_co_alter_id,
      </if>
      <if test="ccCoBookId != null" >
        cc_co_book_id,
      </if>
      <if test="alterLevel != null" >
        alterLevel,
      </if>
      <if test="proposer != null" >
        proposer,
      </if>
      <if test="alterContent != null" >
        alterContent,
      </if>
      <if test="alterReason != null" >
        alterReason,
      </if>
      <if test="happenDate != null" >
        happenDate,
      </if>
      <if test="applyAmount != null" >
        applyAmount,
      </if>
      <if test="applyDate != null" >
        applyDate,
      </if>
      <if test="applyNo != null" >
        applyNo,
      </if>
      <if test="applyDelay != null" >
        applyDelay,
      </if>
      <if test="replyAmount != null" >
        replyAmount,
      </if>
      <if test="replyDate != null" >
        replyDate,
      </if>
      <if test="replyNo != null" >
        replyNo,
      </if>
      <if test="replyDelay != null" >
        replyDelay,
      </if>
      <if test="replyStatus != null" >
        replyStatus,
      </if>
      <if test="recorder != null" >
        recorder,
      </if>
      <if test="recordDate != null" >
        recordDate,
      </if>
      <if test="takeEffectDate != null" >
        takeEffectDate,
      </if>
      <if test="takeEffectMan != null" >
        takeEffectMan,
      </if>
      <if test="auditStatus != null" >
        auditStatus,
      </if>
      <if test="combProp != null" >
        combProp,
      </if>
      <if test="pp1 != null" >
        pp1,
      </if>
      <if test="pp2 != null" >
        pp2,
      </if>
      <if test="pp3 != null" >
        pp3,
      </if>
      <if test="pp4 != null" >
        pp4,
      </if>
      <if test="pp5 != null" >
        pp5,
      </if>
      <if test="pp6 != null" >
        pp6,
      </if>
      <if test="pp7 != null" >
        pp7,
      </if>
      <if test="pp8 != null" >
        pp8,
      </if>
      <if test="pp9 != null" >
        pp9,
      </if>
      <if test="pp10 != null" >
        pp10,
      </if>
      <if test="approvalUnit != null" >
        approval_unit,
      </if>
      <if test="originalTaxAmount != null" >
        original_tax_amount,
      </if>
      <if test="ctContrApplyId != null" >
        ct_contr_apply_id,
      </if>
      <if test="ipContractId != null" >
        ip_contract_id,
      </if>
      <if test="ctContractId != null" >
        ct_contract_id,
      </if>
      <if test="orgID != null" >
        orgID,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="applyAmountNoTax != null" >
        applyAmountNoTax,
      </if>
      <if test="applyAmountTax != null" >
        applyAmountTax,
      </if>
      <if test="replyAmountNoTax != null" >
        replyAmountNoTax,
      </if>
      <if test="replyAmountTax != null" >
        replyAmountTax,
      </if>
      <if test="pp2NoTax != null" >
        pp2NoTax,
      </if>
      <if test="pp2Tax != null" >
        pp2Tax,
      </if>
      <if test="opinionField1 != null" >
        opinion_field1,
      </if>
      <if test="opinionField2 != null" >
        opinion_field2,
      </if>
      <if test="opinionField3 != null" >
        opinion_field3,
      </if>
      <if test="opinionField4 != null" >
        opinion_field4,
      </if>
      <if test="opinionField5 != null" >
        opinion_field5,
      </if>
      <if test="opinionField6 != null" >
        opinion_field6,
      </if>
      <if test="opinionField7 != null" >
        opinion_field7,
      </if>
      <if test="opinionField8 != null" >
        opinion_field8,
      </if>
      <if test="opinionField9 != null" >
        opinion_field9,
      </if>
      <if test="opinionField10 != null" >
        opinion_field10,
      </if>
      <if test="apih5FlowId != null" >
        apih5_flow_id,
      </if>
      <if test="workId != null" >
        work_id,
      </if>
      <if test="apih5FlowStatus != null" >
        apih5_flow_status,
      </if>
      <if test="apih5FlowNodeStatus != null" >
        apih5_flow_node_status,
      </if>
      <if test="contractName != null" >
        contract_name,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ccCoAlterId != null" >
        #{ccCoAlterId,jdbcType=CHAR},
      </if>
      <if test="ccCoBookId != null" >
        #{ccCoBookId,jdbcType=VARCHAR},
      </if>
      <if test="alterLevel != null" >
        #{alterLevel,jdbcType=VARCHAR},
      </if>
      <if test="proposer != null" >
        #{proposer,jdbcType=VARCHAR},
      </if>
      <if test="alterContent != null" >
        #{alterContent,jdbcType=VARCHAR},
      </if>
      <if test="alterReason != null" >
        #{alterReason,jdbcType=VARCHAR},
      </if>
      <if test="happenDate != null" >
        #{happenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyAmount != null" >
        #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyNo != null" >
        #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="applyDelay != null" >
        #{applyDelay,jdbcType=VARCHAR},
      </if>
      <if test="replyAmount != null" >
        #{replyAmount,jdbcType=DECIMAL},
      </if>
      <if test="replyDate != null" >
        #{replyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="replyNo != null" >
        #{replyNo,jdbcType=VARCHAR},
      </if>
      <if test="replyDelay != null" >
        #{replyDelay,jdbcType=VARCHAR},
      </if>
      <if test="replyStatus != null" >
        #{replyStatus,jdbcType=VARCHAR},
      </if>
      <if test="recorder != null" >
        #{recorder,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null" >
        #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="takeEffectDate != null" >
        #{takeEffectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="takeEffectMan != null" >
        #{takeEffectMan,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="combProp != null" >
        #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp3 != null" >
        #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="pp4 != null" >
        #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="approvalUnit != null" >
        #{approvalUnit,jdbcType=VARCHAR},
      </if>
      <if test="originalTaxAmount != null" >
        #{originalTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="ctContrApplyId != null" >
        #{ctContrApplyId,jdbcType=VARCHAR},
      </if>
      <if test="ipContractId != null" >
        #{ipContractId,jdbcType=VARCHAR},
      </if>
      <if test="ctContractId != null" >
        #{ctContractId,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyAmountNoTax != null" >
        #{applyAmountNoTax,jdbcType=DECIMAL},
      </if>
      <if test="applyAmountTax != null" >
        #{applyAmountTax,jdbcType=DECIMAL},
      </if>
      <if test="replyAmountNoTax != null" >
        #{replyAmountNoTax,jdbcType=DECIMAL},
      </if>
      <if test="replyAmountTax != null" >
        #{replyAmountTax,jdbcType=DECIMAL},
      </if>
      <if test="pp2NoTax != null" >
        #{pp2NoTax,jdbcType=DECIMAL},
      </if>
      <if test="pp2Tax != null" >
        #{pp2Tax,jdbcType=DECIMAL},
      </if>
      <if test="opinionField1 != null" >
        #{opinionField1,jdbcType=VARCHAR},
      </if>
      <if test="opinionField2 != null" >
        #{opinionField2,jdbcType=VARCHAR},
      </if>
      <if test="opinionField3 != null" >
        #{opinionField3,jdbcType=VARCHAR},
      </if>
      <if test="opinionField4 != null" >
        #{opinionField4,jdbcType=VARCHAR},
      </if>
      <if test="opinionField5 != null" >
        #{opinionField5,jdbcType=VARCHAR},
      </if>
      <if test="opinionField6 != null" >
        #{opinionField6,jdbcType=VARCHAR},
      </if>
      <if test="opinionField7 != null" >
        #{opinionField7,jdbcType=VARCHAR},
      </if>
      <if test="opinionField8 != null" >
        #{opinionField8,jdbcType=VARCHAR},
      </if>
      <if test="opinionField9 != null" >
        #{opinionField9,jdbcType=VARCHAR},
      </if>
      <if test="opinionField10 != null" >
        #{opinionField10,jdbcType=VARCHAR},
      </if>
      <if test="apih5FlowId != null" >
        #{apih5FlowId,jdbcType=CHAR},
      </if>
      <if test="workId != null" >
        #{workId,jdbcType=CHAR},
      </if>
      <if test="apih5FlowStatus != null" >
        #{apih5FlowStatus,jdbcType=CHAR},
      </if>
      <if test="apih5FlowNodeStatus != null" >
        #{apih5FlowNodeStatus,jdbcType=CHAR},
      </if>
      <if test="contractName != null" >
        #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxGcsgCcCoAlter" >
    update zx_gcsg_cc_co_alter
    <set >
      <if test="ccCoBookId != null" >
        cc_co_book_id = #{ccCoBookId,jdbcType=VARCHAR},
      </if>
      <if test="alterLevel != null" >
        alterLevel = #{alterLevel,jdbcType=VARCHAR},
      </if>
      <if test="proposer != null" >
        proposer = #{proposer,jdbcType=VARCHAR},
      </if>
      <if test="alterContent != null" >
        alterContent = #{alterContent,jdbcType=VARCHAR},
      </if>
      <if test="alterReason != null" >
        alterReason = #{alterReason,jdbcType=VARCHAR},
      </if>
      <if test="happenDate != null" >
        happenDate = #{happenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyAmount != null" >
        applyAmount = #{applyAmount,jdbcType=DECIMAL},
      </if>
      <if test="applyDate != null" >
        applyDate = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyNo != null" >
        applyNo = #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="applyDelay != null" >
        applyDelay = #{applyDelay,jdbcType=VARCHAR},
      </if>
      <if test="replyAmount != null" >
        replyAmount = #{replyAmount,jdbcType=DECIMAL},
      </if>
      <if test="replyDate != null" >
        replyDate = #{replyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="replyNo != null" >
        replyNo = #{replyNo,jdbcType=VARCHAR},
      </if>
      <if test="replyDelay != null" >
        replyDelay = #{replyDelay,jdbcType=VARCHAR},
      </if>
      <if test="replyStatus != null" >
        replyStatus = #{replyStatus,jdbcType=VARCHAR},
      </if>
      <if test="recorder != null" >
        recorder = #{recorder,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null" >
        recordDate = #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="takeEffectDate != null" >
        takeEffectDate = #{takeEffectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="takeEffectMan != null" >
        takeEffectMan = #{takeEffectMan,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        auditStatus = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="combProp != null" >
        combProp = #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        pp1 = #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        pp2 = #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp3 != null" >
        pp3 = #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="pp4 != null" >
        pp4 = #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        pp5 = #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        pp6 = #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        pp7 = #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        pp8 = #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        pp9 = #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        pp10 = #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="approvalUnit != null" >
        approval_unit = #{approvalUnit,jdbcType=VARCHAR},
      </if>
      <if test="originalTaxAmount != null" >
        original_tax_amount = #{originalTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="ctContrApplyId != null" >
        ct_contr_apply_id = #{ctContrApplyId,jdbcType=VARCHAR},
      </if>
      <if test="ipContractId != null" >
        ip_contract_id = #{ipContractId,jdbcType=VARCHAR},
      </if>
      <if test="ctContractId != null" >
        ct_contract_id = #{ctContractId,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        orgID = #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyAmountNoTax != null" >
        applyAmountNoTax = #{applyAmountNoTax,jdbcType=DECIMAL},
      </if>
      <if test="applyAmountTax != null" >
        applyAmountTax = #{applyAmountTax,jdbcType=DECIMAL},
      </if>
      <if test="replyAmountNoTax != null" >
        replyAmountNoTax = #{replyAmountNoTax,jdbcType=DECIMAL},
      </if>
      <if test="replyAmountTax != null" >
        replyAmountTax = #{replyAmountTax,jdbcType=DECIMAL},
      </if>
      <if test="pp2NoTax != null" >
        pp2NoTax = #{pp2NoTax,jdbcType=DECIMAL},
      </if>
      <if test="pp2Tax != null" >
        pp2Tax = #{pp2Tax,jdbcType=DECIMAL},
      </if>
      <if test="opinionField1 != null" >
        opinion_field1 = #{opinionField1,jdbcType=VARCHAR},
      </if>
      <if test="opinionField2 != null" >
        opinion_field2 = #{opinionField2,jdbcType=VARCHAR},
      </if>
      <if test="opinionField3 != null" >
        opinion_field3 = #{opinionField3,jdbcType=VARCHAR},
      </if>
      <if test="opinionField4 != null" >
        opinion_field4 = #{opinionField4,jdbcType=VARCHAR},
      </if>
      <if test="opinionField5 != null" >
        opinion_field5 = #{opinionField5,jdbcType=VARCHAR},
      </if>
      <if test="opinionField6 != null" >
        opinion_field6 = #{opinionField6,jdbcType=VARCHAR},
      </if>
      <if test="opinionField7 != null" >
        opinion_field7 = #{opinionField7,jdbcType=VARCHAR},
      </if>
      <if test="opinionField8 != null" >
        opinion_field8 = #{opinionField8,jdbcType=VARCHAR},
      </if>
      <if test="opinionField9 != null" >
        opinion_field9 = #{opinionField9,jdbcType=VARCHAR},
      </if>
      <if test="opinionField10 != null" >
        opinion_field10 = #{opinionField10,jdbcType=VARCHAR},
      </if>
      <if test="apih5FlowId != null" >
        apih5_flow_id = #{apih5FlowId,jdbcType=CHAR},
      </if>
      <if test="workId != null" >
        work_id = #{workId,jdbcType=CHAR},
      </if>
      <if test="apih5FlowStatus != null" >
        apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR},
      </if>
      <if test="apih5FlowNodeStatus != null" >
        apih5_flow_node_status = #{apih5FlowNodeStatus,jdbcType=CHAR},
      </if>
      <if test="contractName != null" >
        contract_name = #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where cc_co_alter_id = #{ccCoAlterId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxGcsgCcCoAlter" >
    update zx_gcsg_cc_co_alter set 
      cc_co_book_id = #{ccCoBookId,jdbcType=VARCHAR},
      alterLevel = #{alterLevel,jdbcType=VARCHAR},
      proposer = #{proposer,jdbcType=VARCHAR},
      alterContent = #{alterContent,jdbcType=VARCHAR},
      alterReason = #{alterReason,jdbcType=VARCHAR},
      happenDate = #{happenDate,jdbcType=TIMESTAMP},
      applyAmount = #{applyAmount,jdbcType=DECIMAL},
      applyDate = #{applyDate,jdbcType=TIMESTAMP},
      applyNo = #{applyNo,jdbcType=VARCHAR},
      applyDelay = #{applyDelay,jdbcType=VARCHAR},
      replyAmount = #{replyAmount,jdbcType=DECIMAL},
      replyDate = #{replyDate,jdbcType=TIMESTAMP},
      replyNo = #{replyNo,jdbcType=VARCHAR},
      replyDelay = #{replyDelay,jdbcType=VARCHAR},
      replyStatus = #{replyStatus,jdbcType=VARCHAR},
      recorder = #{recorder,jdbcType=VARCHAR},
      recordDate = #{recordDate,jdbcType=TIMESTAMP},
      takeEffectDate = #{takeEffectDate,jdbcType=TIMESTAMP},
      takeEffectMan = #{takeEffectMan,jdbcType=VARCHAR},
      auditStatus = #{auditStatus,jdbcType=VARCHAR},
      combProp = #{combProp,jdbcType=VARCHAR},
      pp1 = #{pp1,jdbcType=VARCHAR},
      pp2 = #{pp2,jdbcType=VARCHAR},
      pp3 = #{pp3,jdbcType=VARCHAR},
      pp4 = #{pp4,jdbcType=VARCHAR},
      pp5 = #{pp5,jdbcType=VARCHAR},
      pp6 = #{pp6,jdbcType=VARCHAR},
      pp7 = #{pp7,jdbcType=VARCHAR},
      pp8 = #{pp8,jdbcType=VARCHAR},
      pp9 = #{pp9,jdbcType=VARCHAR},
      pp10 = #{pp10,jdbcType=VARCHAR},
      approval_unit = #{approvalUnit,jdbcType=VARCHAR},
      original_tax_amount = #{originalTaxAmount,jdbcType=DECIMAL},
      ct_contr_apply_id = #{ctContrApplyId,jdbcType=VARCHAR},
      ip_contract_id = #{ipContractId,jdbcType=VARCHAR},
      ct_contract_id = #{ctContractId,jdbcType=VARCHAR},
      orgID = #{orgID,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      applyAmountNoTax = #{applyAmountNoTax,jdbcType=DECIMAL},
      applyAmountTax = #{applyAmountTax,jdbcType=DECIMAL},
      replyAmountNoTax = #{replyAmountNoTax,jdbcType=DECIMAL},
      replyAmountTax = #{replyAmountTax,jdbcType=DECIMAL},
      pp2NoTax = #{pp2NoTax,jdbcType=DECIMAL},
      pp2Tax = #{pp2Tax,jdbcType=DECIMAL},
      opinion_field1 = #{opinionField1,jdbcType=VARCHAR},
      opinion_field2 = #{opinionField2,jdbcType=VARCHAR},
      opinion_field3 = #{opinionField3,jdbcType=VARCHAR},
      opinion_field4 = #{opinionField4,jdbcType=VARCHAR},
      opinion_field5 = #{opinionField5,jdbcType=VARCHAR},
      opinion_field6 = #{opinionField6,jdbcType=VARCHAR},
      opinion_field7 = #{opinionField7,jdbcType=VARCHAR},
      opinion_field8 = #{opinionField8,jdbcType=VARCHAR},
      opinion_field9 = #{opinionField9,jdbcType=VARCHAR},
      opinion_field10 = #{opinionField10,jdbcType=VARCHAR},
      apih5_flow_id = #{apih5FlowId,jdbcType=CHAR},
      work_id = #{workId,jdbcType=CHAR},
      apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR},
      apih5_flow_node_status = #{apih5FlowNodeStatus,jdbcType=CHAR},
      contract_name = #{contractName,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where cc_co_alter_id = #{ccCoAlterId,jdbcType=CHAR}
  </update>
  <select id="selectByZxGcsgCcCoAlterList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxGcsgCcCoAlter" >
    select 
    <include refid="Base_Column_List" />
    from zx_gcsg_cc_co_alter
    where del_flag = '0'
    <if test="ccCoAlterId != null and ccCoAlterId != ''" >
     and cc_co_alter_id = #{ccCoAlterId,jdbcType=CHAR}
    </if>
    <if test="ccCoBookId != null and ccCoBookId != ''" >
     and cc_co_book_id = #{ccCoBookId,jdbcType=VARCHAR}
    </if>
    <if test="alterLevel != null and alterLevel != ''" >
     and alterLevel = #{alterLevel,jdbcType=VARCHAR}
    </if>
    <if test="proposer != null and proposer != ''" >
     and proposer = #{proposer,jdbcType=VARCHAR}
    </if>
    <if test="alterContent != null and alterContent != ''" >
     and alterContent = #{alterContent,jdbcType=VARCHAR}
    </if>
    <if test="alterReason != null and alterReason != ''" >
     and alterReason = #{alterReason,jdbcType=VARCHAR}
    </if>
    <if test="happenDate != null and happenDate != ''" >
     and happenDate = #{happenDate,jdbcType=TIMESTAMP}
    </if>
    <if test="applyAmount != null and applyAmount != ''" >
     and applyAmount = #{applyAmount,jdbcType=DECIMAL}
    </if>
    <if test="applyDate != null and applyDate != ''" >
     and applyDate = #{applyDate,jdbcType=TIMESTAMP}
    </if>
    <if test="applyNo != null and applyNo != ''" >
     and applyNo = #{applyNo,jdbcType=VARCHAR}
    </if>
    <if test="applyDelay != null and applyDelay != ''" >
     and applyDelay = #{applyDelay,jdbcType=VARCHAR}
    </if>
    <if test="replyAmount != null and replyAmount != ''" >
     and replyAmount = #{replyAmount,jdbcType=DECIMAL}
    </if>
    <if test="replyDate != null and replyDate != ''" >
     and replyDate = #{replyDate,jdbcType=TIMESTAMP}
    </if>
    <if test="replyNo != null and replyNo != ''" >
     and replyNo = #{replyNo,jdbcType=VARCHAR}
    </if>
    <if test="replyDelay != null and replyDelay != ''" >
     and replyDelay = #{replyDelay,jdbcType=VARCHAR}
    </if>
    <if test="replyStatus != null and replyStatus != ''" >
     and replyStatus = #{replyStatus,jdbcType=VARCHAR}
    </if>
    <if test="recorder != null and recorder != ''" >
     and recorder = #{recorder,jdbcType=VARCHAR}
    </if>
    <if test="recordDate != null and recordDate != ''" >
     and recordDate = #{recordDate,jdbcType=TIMESTAMP}
    </if>
    <if test="takeEffectDate != null and takeEffectDate != ''" >
     and takeEffectDate = #{takeEffectDate,jdbcType=TIMESTAMP}
    </if>
    <if test="takeEffectMan != null and takeEffectMan != ''" >
     and takeEffectMan = #{takeEffectMan,jdbcType=VARCHAR}
    </if>
    <if test="auditStatus != null and auditStatus != ''" >
     and auditStatus = #{auditStatus,jdbcType=VARCHAR}
    </if>
    <if test="combProp != null and combProp != ''" >
     and combProp = #{combProp,jdbcType=VARCHAR}
    </if>
    <if test="pp1 != null and pp1 != ''" >
     and pp1 = #{pp1,jdbcType=VARCHAR}
    </if>
    <if test="pp2 != null and pp2 != ''" >
     and pp2 = #{pp2,jdbcType=VARCHAR}
    </if>
    <if test="pp3 != null and pp3 != ''" >
     and pp3 = #{pp3,jdbcType=VARCHAR}
    </if>
    <if test="pp4 != null and pp4 != ''" >
     and pp4 = #{pp4,jdbcType=VARCHAR}
    </if>
    <if test="pp5 != null and pp5 != ''" >
     and pp5 = #{pp5,jdbcType=VARCHAR}
    </if>
    <if test="pp6 != null and pp6 != ''" >
     and pp6 = #{pp6,jdbcType=VARCHAR}
    </if>
    <if test="pp7 != null and pp7 != ''" >
     and pp7 = #{pp7,jdbcType=VARCHAR}
    </if>
    <if test="pp8 != null and pp8 != ''" >
     and pp8 = #{pp8,jdbcType=VARCHAR}
    </if>
    <if test="pp9 != null and pp9 != ''" >
     and pp9 = #{pp9,jdbcType=VARCHAR}
    </if>
    <if test="pp10 != null and pp10 != ''" >
     and pp10 = #{pp10,jdbcType=VARCHAR}
    </if>
    <if test="approvalUnit != null and approvalUnit != ''" >
     and approval_unit = #{approvalUnit,jdbcType=VARCHAR}
    </if>
    <if test="originalTaxAmount != null and originalTaxAmount != ''" >
     and original_tax_amount = #{originalTaxAmount,jdbcType=DECIMAL}
    </if>
    <if test="ctContrApplyId != null and ctContrApplyId != ''" >
     and ct_contr_apply_id = #{ctContrApplyId,jdbcType=VARCHAR}
    </if>
    <if test="ipContractId != null and ipContractId != ''" >
     and ip_contract_id = #{ipContractId,jdbcType=VARCHAR}
    </if>
    <if test="ctContractId != null and ctContractId != ''" >
     and ct_contract_id = #{ctContractId,jdbcType=VARCHAR}
    </if>
    <if test="orgID != null and orgID != ''" >
     and orgID = #{orgID,jdbcType=VARCHAR}
    </if>
    <if test="editTime != null and editTime != ''" >
     and editTime = #{editTime,jdbcType=TIMESTAMP}
    </if>
    <if test="applyAmountNoTax != null and applyAmountNoTax != ''" >
     and applyAmountNoTax = #{applyAmountNoTax,jdbcType=DECIMAL}
    </if>
    <if test="applyAmountTax != null and applyAmountTax != ''" >
     and applyAmountTax = #{applyAmountTax,jdbcType=DECIMAL}
    </if>
    <if test="replyAmountNoTax != null and replyAmountNoTax != ''" >
     and replyAmountNoTax = #{replyAmountNoTax,jdbcType=DECIMAL}
    </if>
    <if test="replyAmountTax != null and replyAmountTax != ''" >
     and replyAmountTax = #{replyAmountTax,jdbcType=DECIMAL}
    </if>
    <if test="pp2NoTax != null and pp2NoTax != ''" >
     and pp2NoTax = #{pp2NoTax,jdbcType=DECIMAL}
    </if>
    <if test="pp2Tax != null and pp2Tax != ''" >
     and pp2Tax = #{pp2Tax,jdbcType=DECIMAL}
    </if>
    <if test="opinionField1 != null and opinionField1 != ''" >
     and opinion_field1 = #{opinionField1,jdbcType=VARCHAR}
    </if>
    <if test="opinionField2 != null and opinionField2 != ''" >
     and opinion_field2 = #{opinionField2,jdbcType=VARCHAR}
    </if>
    <if test="opinionField3 != null and opinionField3 != ''" >
     and opinion_field3 = #{opinionField3,jdbcType=VARCHAR}
    </if>
    <if test="opinionField4 != null and opinionField4 != ''" >
     and opinion_field4 = #{opinionField4,jdbcType=VARCHAR}
    </if>
    <if test="opinionField5 != null and opinionField5 != ''" >
     and opinion_field5 = #{opinionField5,jdbcType=VARCHAR}
    </if>
    <if test="opinionField6 != null and opinionField6 != ''" >
     and opinion_field6 = #{opinionField6,jdbcType=VARCHAR}
    </if>
    <if test="opinionField7 != null and opinionField7 != ''" >
     and opinion_field7 = #{opinionField7,jdbcType=VARCHAR}
    </if>
    <if test="opinionField8 != null and opinionField8 != ''" >
     and opinion_field8 = #{opinionField8,jdbcType=VARCHAR}
    </if>
    <if test="opinionField9 != null and opinionField9 != ''" >
     and opinion_field9 = #{opinionField9,jdbcType=VARCHAR}
    </if>
    <if test="opinionField10 != null and opinionField10 != ''" >
     and opinion_field10 = #{opinionField10,jdbcType=VARCHAR}
    </if>
    <if test="apih5FlowId != null and apih5FlowId != ''" >
     and apih5_flow_id = #{apih5FlowId,jdbcType=CHAR}
    </if>
    <if test="workId != null and workId != ''" >
     and work_id = #{workId,jdbcType=CHAR}
    </if>
    <if test="apih5FlowStatus != null and apih5FlowStatus != ''" >
     and apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR}
    </if>
    <if test="apih5FlowNodeStatus != null and apih5FlowNodeStatus != ''" >
     and apih5_flow_node_status = #{apih5FlowNodeStatus,jdbcType=CHAR}
    </if>
    <if test="contractName != null and contractName != ''" >
     and contract_name = #{contractName,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxGcsgCcCoAlter" parameterType="com.apih5.mybatis.pojo.ZxGcsgCcCoAlter" >
    <![CDATA[ 
        update zx_gcsg_cc_co_alter
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and cc_co_alter_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.ccCoAlterId} 
     </foreach>
  </delete>
  <!-- ↓↓↓扩展↓↓↓ -->
</mapper>
