<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSaProjectPaySettleItemMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSaProjectPaySettleItem" >
    <id column="project_pay_settle_item_id" property="projectPaySettleItemId" jdbcType="VARCHAR" />
    <result column="project_pay_settle_id" property="projectPaySettleId" jdbcType="VARCHAR" />
    <result column="contractID" property="contractID" jdbcType="VARCHAR" />
    <result column="orderNum" property="orderNum" jdbcType="INTEGER" />
    <result column="payID" property="payID" jdbcType="VARCHAR" />
    <result column="payNo" property="payNo" jdbcType="VARCHAR" />
    <result column="payType" property="payType" jdbcType="VARCHAR" />
    <result column="payName" property="payName" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="thisAmt" property="thisAmt" jdbcType="DECIMAL" />
    <result column="upAmt" property="upAmt" jdbcType="DECIMAL" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="period" property="period" jdbcType="VARCHAR" />
    <result column="isFixed" property="isFixed" jdbcType="VARCHAR" />
    <result column="comID" property="comID" jdbcType="VARCHAR" />
    <result column="comName" property="comName" jdbcType="VARCHAR" />
    <result column="comOrders" property="comOrders" jdbcType="VARCHAR" />
    <result column="taxRate" property="taxRate" jdbcType="VARCHAR" />
    <result column="thisAmtNoTax" property="thisAmtNoTax" jdbcType="DECIMAL" />
    <result column="thisAmtTax" property="thisAmtTax" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    project_pay_settle_item_id, project_pay_settle_id, contractID, orderNum, payID, 
    payNo, payType, payName, unit, qty, 
    price, thisAmt, upAmt, editTime, period, 
    isFixed, comID, comName, comOrders, taxRate, 
    thisAmtNoTax, thisAmtTax, remark, sort, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sa_ProjectPaySettleItem
    where del_flag = '0' and project_pay_settle_item_id = #{projectPaySettleItemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sa_ProjectPaySettleItem
    where project_pay_settle_item_id = #{projectPaySettleItemId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSaProjectPaySettleItem" >
    insert into zx_sa_ProjectPaySettleItem (
    project_pay_settle_item_id, project_pay_settle_id, contractID, orderNum, payID, 
    payNo, payType, payName, unit, qty, 
    price, thisAmt, upAmt, editTime, period, 
    isFixed, comID, comName, comOrders, taxRate, 
    thisAmtNoTax, thisAmtTax, remark, sort, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name
      )
    values (
      #{projectPaySettleItemId,jdbcType=VARCHAR}, #{projectPaySettleId,jdbcType=VARCHAR}, #{contractID,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, #{payID,jdbcType=VARCHAR}, 
    #{payNo,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, #{payName,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{qty,jdbcType=DECIMAL}, 
    #{price,jdbcType=DECIMAL}, #{thisAmt,jdbcType=DECIMAL}, #{upAmt,jdbcType=DECIMAL}, #{editTime,jdbcType=TIMESTAMP}, #{period,jdbcType=VARCHAR}, 
    #{isFixed,jdbcType=VARCHAR}, #{comID,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR}, #{comOrders,jdbcType=VARCHAR}, #{taxRate,jdbcType=VARCHAR}, 
    #{thisAmtNoTax,jdbcType=DECIMAL}, #{thisAmtTax,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, 
    #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
    #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSaProjectPaySettleItem" >
    insert into zx_sa_ProjectPaySettleItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectPaySettleItemId != null" >
        project_pay_settle_item_id,
      </if>
      <if test="projectPaySettleId != null" >
        project_pay_settle_id,
      </if>
      <if test="contractID != null" >
        contractID,
      </if>
      <if test="orderNum != null" >
        orderNum,
      </if>
      <if test="payID != null" >
        payID,
      </if>
      <if test="payNo != null" >
        payNo,
      </if>
      <if test="payType != null" >
        payType,
      </if>
      <if test="payName != null" >
        payName,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="thisAmt != null" >
        thisAmt,
      </if>
      <if test="upAmt != null" >
        upAmt,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="period != null" >
        period,
      </if>
      <if test="isFixed != null" >
        isFixed,
      </if>
      <if test="comID != null" >
        comID,
      </if>
      <if test="comName != null" >
        comName,
      </if>
      <if test="comOrders != null" >
        comOrders,
      </if>
      <if test="taxRate != null" >
        taxRate,
      </if>
      <if test="thisAmtNoTax != null" >
        thisAmtNoTax,
      </if>
      <if test="thisAmtTax != null" >
        thisAmtTax,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectPaySettleItemId != null" >
        #{projectPaySettleItemId,jdbcType=VARCHAR},
      </if>
      <if test="projectPaySettleId != null" >
        #{projectPaySettleId,jdbcType=VARCHAR},
      </if>
      <if test="contractID != null" >
        #{contractID,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="payID != null" >
        #{payID,jdbcType=VARCHAR},
      </if>
      <if test="payNo != null" >
        #{payNo,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payName != null" >
        #{payName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="thisAmt != null" >
        #{thisAmt,jdbcType=DECIMAL},
      </if>
      <if test="upAmt != null" >
        #{upAmt,jdbcType=DECIMAL},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="period != null" >
        #{period,jdbcType=VARCHAR},
      </if>
      <if test="isFixed != null" >
        #{isFixed,jdbcType=VARCHAR},
      </if>
      <if test="comID != null" >
        #{comID,jdbcType=VARCHAR},
      </if>
      <if test="comName != null" >
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comOrders != null" >
        #{comOrders,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="thisAmtNoTax != null" >
        #{thisAmtNoTax,jdbcType=DECIMAL},
      </if>
      <if test="thisAmtTax != null" >
        #{thisAmtTax,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSaProjectPaySettleItem" >
    update zx_sa_ProjectPaySettleItem
    <set >
      <if test="projectPaySettleId != null" >
        project_pay_settle_id = #{projectPaySettleId,jdbcType=VARCHAR},
      </if>
      <if test="contractID != null" >
        contractID = #{contractID,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        orderNum = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="payID != null" >
        payID = #{payID,jdbcType=VARCHAR},
      </if>
      <if test="payNo != null" >
        payNo = #{payNo,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        payType = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payName != null" >
        payName = #{payName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="thisAmt != null" >
        thisAmt = #{thisAmt,jdbcType=DECIMAL},
      </if>
      <if test="upAmt != null" >
        upAmt = #{upAmt,jdbcType=DECIMAL},
      </if>
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="period != null" >
        period = #{period,jdbcType=VARCHAR},
      </if>
      <if test="isFixed != null" >
        isFixed = #{isFixed,jdbcType=VARCHAR},
      </if>
      <if test="comID != null" >
        comID = #{comID,jdbcType=VARCHAR},
      </if>
      <if test="comName != null" >
        comName = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comOrders != null" >
        comOrders = #{comOrders,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        taxRate = #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="thisAmtNoTax != null" >
        thisAmtNoTax = #{thisAmtNoTax,jdbcType=DECIMAL},
      </if>
      <if test="thisAmtTax != null" >
        thisAmtTax = #{thisAmtTax,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where project_pay_settle_item_id = #{projectPaySettleItemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSaProjectPaySettleItem" >
    update zx_sa_ProjectPaySettleItem set 
      project_pay_settle_id = #{projectPaySettleId,jdbcType=VARCHAR},
      contractID = #{contractID,jdbcType=VARCHAR},
      orderNum = #{orderNum,jdbcType=INTEGER},
      payID = #{payID,jdbcType=VARCHAR},
      payNo = #{payNo,jdbcType=VARCHAR},
      payType = #{payType,jdbcType=VARCHAR},
      payName = #{payName,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      thisAmt = #{thisAmt,jdbcType=DECIMAL},
      upAmt = #{upAmt,jdbcType=DECIMAL},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      period = #{period,jdbcType=VARCHAR},
      isFixed = #{isFixed,jdbcType=VARCHAR},
      comID = #{comID,jdbcType=VARCHAR},
      comName = #{comName,jdbcType=VARCHAR},
      comOrders = #{comOrders,jdbcType=VARCHAR},
      taxRate = #{taxRate,jdbcType=VARCHAR},
      thisAmtNoTax = #{thisAmtNoTax,jdbcType=DECIMAL},
      thisAmtTax = #{thisAmtTax,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where project_pay_settle_item_id = #{projectPaySettleItemId,jdbcType=VARCHAR}
  </update>
  <select id="selectByZxSaProjectPaySettleItemList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSaProjectPaySettleItem" >
    select 
    <include refid="Base_Column_List" />
    from zx_sa_ProjectPaySettleItem
    where del_flag = '0'
    <if test="projectPaySettleItemId != null and projectPaySettleItemId != ''" >
     and project_pay_settle_item_id = #{projectPaySettleItemId,jdbcType=VARCHAR}
    </if>
    <if test="projectPaySettleId != null and projectPaySettleId != ''" >
     and project_pay_settle_id = #{projectPaySettleId,jdbcType=VARCHAR}
    </if>
    <if test="contractID != null and contractID != ''" >
     and contractID = #{contractID,jdbcType=VARCHAR}
    </if>
    <if test="orderNum != null and orderNum != ''" >
     and orderNum = #{orderNum,jdbcType=INTEGER}
    </if>
    <if test="payID != null and payID != ''" >
     and payID = #{payID,jdbcType=VARCHAR}
    </if>
    <if test="payNo != null and payNo != ''" >
     and payNo = #{payNo,jdbcType=VARCHAR}
    </if>
    <if test="payType != null and payType != ''" >
     and payType = #{payType,jdbcType=VARCHAR}
    </if>
    <if test="payName != null and payName != ''" >
     and payName = #{payName,jdbcType=VARCHAR}
    </if>
    <if test="unit != null and unit != ''" >
     and unit = #{unit,jdbcType=VARCHAR}
    </if>
    <if test="qty != null and qty != ''" >
     and qty = #{qty,jdbcType=DECIMAL}
    </if>
    <if test="price != null and price != ''" >
     and price = #{price,jdbcType=DECIMAL}
    </if>
    <if test="thisAmt != null and thisAmt != ''" >
     and thisAmt = #{thisAmt,jdbcType=DECIMAL}
    </if>
    <if test="upAmt != null and upAmt != ''" >
     and upAmt = #{upAmt,jdbcType=DECIMAL}
    </if>
    <if test="editTime != null and editTime != ''" >
     and editTime = #{editTime,jdbcType=TIMESTAMP}
    </if>
    <if test="period != null and period != ''" >
     and period = #{period,jdbcType=VARCHAR}
    </if>
    <if test="isFixed != null and isFixed != ''" >
     and isFixed = #{isFixed,jdbcType=VARCHAR}
    </if>
    <if test="comID != null and comID != ''" >
     and comID = #{comID,jdbcType=VARCHAR}
    </if>
    <if test="comName != null and comName != ''" >
     and comName = #{comName,jdbcType=VARCHAR}
    </if>
    <if test="comOrders != null and comOrders != ''" >
     and comOrders = #{comOrders,jdbcType=VARCHAR}
    </if>
    <if test="taxRate != null and taxRate != ''" >
     and taxRate = #{taxRate,jdbcType=VARCHAR}
    </if>
    <if test="thisAmtNoTax != null and thisAmtNoTax != ''" >
     and thisAmtNoTax = #{thisAmtNoTax,jdbcType=DECIMAL}
    </if>
    <if test="thisAmtTax != null and thisAmtTax != ''" >
     and thisAmtTax = #{thisAmtTax,jdbcType=DECIMAL}
    </if>
    <if test="remark != null and remark != ''" >
     and remark = #{remark,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY create_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxSaProjectPaySettleItem" parameterType="com.apih5.mybatis.pojo.ZxSaProjectPaySettleItem" >
    <![CDATA[ 
        update zx_sa_ProjectPaySettleItem
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and project_pay_settle_item_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.projectPaySettleItemId} 
     </foreach>
  </delete>
  
	<delete id="deleteAllZxSaProjectPaySettleItem" parameterType="com.apih5.mybatis.pojo.ZxSaProjectPaySettleItem" >
        update zx_sa_ProjectPaySettleItem
        set del_flag = '1',
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            modify_user = #{modifyUser},
            modify_user_name = #{modifyUserName}
        where del_flag = '0' 
        and project_pay_settle_id = #{projectPaySettleId,jdbcType=VARCHAR}
	</delete>
  
	<select id="selectUpPaySettle" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSaProjectPaySettleItem" >
        SELECT
			IFNULL( SUM( qty * price ), 0 ) AS upAmt 
		FROM
			zx_sa_projectpaysettleitem 
		WHERE
			del_flag = '0' 
			AND contractID = #{contractID,jdbcType=VARCHAR} 
			AND period &lt; #{period,jdbcType=VARCHAR} 
			AND payType = #{payType,jdbcType=VARCHAR}
	</select>
  
	<select id="getYgzPaySettleItemList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSaProjectPaySettleItem" >
        SELECT
			zxpsi.workNo,
			zxpsi.workName,
			zxpsi.workType,
			zxpsi.unit AS oldUnit,  
			zsppsi.*
		FROM
			zx_sa_projectsetitem AS zxpsi LEFT JOIN zx_sa_projectpaysettleitem AS zsppsi 
			ON zxpsi.workType = zsppsi.payType
			AND zsppsi.period = #{period,jdbcType=VARCHAR}
			AND zsppsi.del_flag = '0'
		WHERE
			zxpsi.del_flag = '0' 
			AND zxpsi.contrType = 'enginner' 
			AND zxpsi.orgID = #{orgID,jdbcType=VARCHAR}
	</select>
	
	<select id="selectAlreadyDoneItemList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSaProjectPaySettleItem" >
		SELECT
			<include refid = "Base_Column_List"/> 
		FROM
			zx_sa_ProjectPaySettleItem 
		WHERE
			del_flag = '0'
		AND period &lt;= #{period,jdbcType=VARCHAR}
		AND contractID = #{contractID,jdbcType=VARCHAR} 
		ORDER BY payType , period DESC
	</select>
</mapper>
