<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSfSWAccidentItemMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSfSWAccidentItem" >
    <id column="zxSfSWAccidentItemId" property="zxSfSWAccidentItemId" jdbcType="CHAR" />
    <result column="a13" property="a13" jdbcType="DECIMAL" />
    <result column="a3" property="a3" jdbcType="DECIMAL" />
    <result column="a17" property="a17" jdbcType="DECIMAL" />
    <result column="a10" property="a10" jdbcType="DECIMAL" />
    <result column="a19" property="a19" jdbcType="DECIMAL" />
    <result column="a24" property="a24" jdbcType="DECIMAL" />
    <result column="a8" property="a8" jdbcType="DECIMAL" />
    <result column="a9" property="a9" jdbcType="DECIMAL" />
    <result column="a6" property="a6" jdbcType="DECIMAL" />
    <result column="a20" property="a20" jdbcType="DECIMAL" />
    <result column="swaID" property="swaID" jdbcType="VARCHAR" />
    <result column="a11" property="a11" jdbcType="DECIMAL" />
    <result column="a18" property="a18" jdbcType="DECIMAL" />
    <result column="a7" property="a7" jdbcType="DECIMAL" />
    <result column="a4" property="a4" jdbcType="DECIMAL" />
    <result column="a12" property="a12" jdbcType="DECIMAL" />
    <result column="a1" property="a1" jdbcType="VARCHAR" />
    <result column="a5" property="a5" jdbcType="DECIMAL" />
    <result column="a15" property="a15" jdbcType="DECIMAL" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="a14" property="a14" jdbcType="DECIMAL" />
    <result column="a2" property="a2" jdbcType="DECIMAL" />
    <result column="a23" property="a23" jdbcType="DECIMAL" />
    <result column="a21" property="a21" jdbcType="DECIMAL" />
    <result column="a22" property="a22" jdbcType="DECIMAL" />
    <result column="a16" property="a16" jdbcType="DECIMAL" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR"/>
    <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    zxSfSWAccidentItemId, a13, a3, a17, a10, 
    a19, a24, a8, a9, a6, 
    a20, swaID, a11, a18, a7, 
    a4, a12, a1, a5, a15, 
    notes, a14, a2, a23, a21, 
    a22, a16, sort, del_flag, create_time, 
    create_user, create_user_name, modify_time, modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sf_SWAccidentItem
    where del_flag = '0' and zxSfSWAccidentItemId = #{zxSfSWAccidentItemId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sf_SWAccidentItem
    where zxSfSWAccidentItemId = #{zxSfSWAccidentItemId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSfSWAccidentItem" >
    insert into zx_sf_SWAccidentItem (
    zxSfSWAccidentItemId, a13, a3, a17, a10, 
    a19, a24, a8, a9, a6, 
    a20, swaID, a11, a18, a7, 
    a4, a12, a1, a5, a15, 
    notes, a14, a2, a23, a21, 
    a22, a16, sort, del_flag, create_time, 
    create_user, create_user_name, modify_time, modify_user, modify_user_name
      )
    values (
      #{zxSfSWAccidentItemId,jdbcType=CHAR}, #{a13,jdbcType=DECIMAL}, #{a3,jdbcType=DECIMAL}, #{a17,jdbcType=DECIMAL}, #{a10,jdbcType=DECIMAL}, 
    #{a19,jdbcType=DECIMAL}, #{a24,jdbcType=DECIMAL}, #{a8,jdbcType=DECIMAL}, #{a9,jdbcType=DECIMAL}, #{a6,jdbcType=DECIMAL}, 
    #{a20,jdbcType=DECIMAL}, #{swaID,jdbcType=VARCHAR}, #{a11,jdbcType=DECIMAL}, #{a18,jdbcType=DECIMAL}, #{a7,jdbcType=DECIMAL}, 
    #{a4,jdbcType=DECIMAL}, #{a12,jdbcType=DECIMAL}, #{a1,jdbcType=VARCHAR}, #{a5,jdbcType=DECIMAL}, #{a15,jdbcType=DECIMAL}, 
    #{notes,jdbcType=VARCHAR}, #{a14,jdbcType=DECIMAL}, #{a2,jdbcType=DECIMAL}, #{a23,jdbcType=DECIMAL}, #{a21,jdbcType=DECIMAL}, 
    #{a22,jdbcType=DECIMAL}, #{a16,jdbcType=DECIMAL}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
    #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSfSWAccidentItem" >
    insert into zx_sf_SWAccidentItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxSfSWAccidentItemId != null" >
        zxSfSWAccidentItemId,
      </if>
      <if test="a13 != null" >
        a13,
      </if>
      <if test="a3 != null" >
        a3,
      </if>
      <if test="a17 != null" >
        a17,
      </if>
      <if test="a10 != null" >
        a10,
      </if>
      <if test="a19 != null" >
        a19,
      </if>
      <if test="a24 != null" >
        a24,
      </if>
      <if test="a8 != null" >
        a8,
      </if>
      <if test="a9 != null" >
        a9,
      </if>
      <if test="a6 != null" >
        a6,
      </if>
      <if test="a20 != null" >
        a20,
      </if>
      <if test="swaID != null" >
        swaID,
      </if>
      <if test="a11 != null" >
        a11,
      </if>
      <if test="a18 != null" >
        a18,
      </if>
      <if test="a7 != null" >
        a7,
      </if>
      <if test="a4 != null" >
        a4,
      </if>
      <if test="a12 != null" >
        a12,
      </if>
      <if test="a1 != null" >
        a1,
      </if>
      <if test="a5 != null" >
        a5,
      </if>
      <if test="a15 != null" >
        a15,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="a14 != null" >
        a14,
      </if>
      <if test="a2 != null" >
        a2,
      </if>
      <if test="a23 != null" >
        a23,
      </if>
      <if test="a21 != null" >
        a21,
      </if>
      <if test="a22 != null" >
        a22,
      </if>
      <if test="a16 != null" >
        a16,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxSfSWAccidentItemId != null" >
        #{zxSfSWAccidentItemId,jdbcType=CHAR},
      </if>
      <if test="a13 != null" >
        #{a13,jdbcType=DECIMAL},
      </if>
      <if test="a3 != null" >
        #{a3,jdbcType=DECIMAL},
      </if>
      <if test="a17 != null" >
        #{a17,jdbcType=DECIMAL},
      </if>
      <if test="a10 != null" >
        #{a10,jdbcType=DECIMAL},
      </if>
      <if test="a19 != null" >
        #{a19,jdbcType=DECIMAL},
      </if>
      <if test="a24 != null" >
        #{a24,jdbcType=DECIMAL},
      </if>
      <if test="a8 != null" >
        #{a8,jdbcType=DECIMAL},
      </if>
      <if test="a9 != null" >
        #{a9,jdbcType=DECIMAL},
      </if>
      <if test="a6 != null" >
        #{a6,jdbcType=DECIMAL},
      </if>
      <if test="a20 != null" >
        #{a20,jdbcType=DECIMAL},
      </if>
      <if test="swaID != null" >
        #{swaID,jdbcType=VARCHAR},
      </if>
      <if test="a11 != null" >
        #{a11,jdbcType=DECIMAL},
      </if>
      <if test="a18 != null" >
        #{a18,jdbcType=DECIMAL},
      </if>
      <if test="a7 != null" >
        #{a7,jdbcType=DECIMAL},
      </if>
      <if test="a4 != null" >
        #{a4,jdbcType=DECIMAL},
      </if>
      <if test="a12 != null" >
        #{a12,jdbcType=DECIMAL},
      </if>
      <if test="a1 != null" >
        #{a1,jdbcType=VARCHAR},
      </if>
      <if test="a5 != null" >
        #{a5,jdbcType=DECIMAL},
      </if>
      <if test="a15 != null" >
        #{a15,jdbcType=DECIMAL},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="a14 != null" >
        #{a14,jdbcType=DECIMAL},
      </if>
      <if test="a2 != null" >
        #{a2,jdbcType=DECIMAL},
      </if>
      <if test="a23 != null" >
        #{a23,jdbcType=DECIMAL},
      </if>
      <if test="a21 != null" >
        #{a21,jdbcType=DECIMAL},
      </if>
      <if test="a22 != null" >
        #{a22,jdbcType=DECIMAL},
      </if>
      <if test="a16 != null" >
        #{a16,jdbcType=DECIMAL},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSfSWAccidentItem" >
    update zx_sf_SWAccidentItem
    <set >
      <if test="a13 != null" >
        a13 = #{a13,jdbcType=DECIMAL},
      </if>
      <if test="a3 != null" >
        a3 = #{a3,jdbcType=DECIMAL},
      </if>
      <if test="a17 != null" >
        a17 = #{a17,jdbcType=DECIMAL},
      </if>
      <if test="a10 != null" >
        a10 = #{a10,jdbcType=DECIMAL},
      </if>
      <if test="a19 != null" >
        a19 = #{a19,jdbcType=DECIMAL},
      </if>
      <if test="a24 != null" >
        a24 = #{a24,jdbcType=DECIMAL},
      </if>
      <if test="a8 != null" >
        a8 = #{a8,jdbcType=DECIMAL},
      </if>
      <if test="a9 != null" >
        a9 = #{a9,jdbcType=DECIMAL},
      </if>
      <if test="a6 != null" >
        a6 = #{a6,jdbcType=DECIMAL},
      </if>
      <if test="a20 != null" >
        a20 = #{a20,jdbcType=DECIMAL},
      </if>
      <if test="swaID != null" >
        swaID = #{swaID,jdbcType=VARCHAR},
      </if>
      <if test="a11 != null" >
        a11 = #{a11,jdbcType=DECIMAL},
      </if>
      <if test="a18 != null" >
        a18 = #{a18,jdbcType=DECIMAL},
      </if>
      <if test="a7 != null" >
        a7 = #{a7,jdbcType=DECIMAL},
      </if>
      <if test="a4 != null" >
        a4 = #{a4,jdbcType=DECIMAL},
      </if>
      <if test="a12 != null" >
        a12 = #{a12,jdbcType=DECIMAL},
      </if>
      <if test="a1 != null" >
        a1 = #{a1,jdbcType=VARCHAR},
      </if>
      <if test="a5 != null" >
        a5 = #{a5,jdbcType=DECIMAL},
      </if>
      <if test="a15 != null" >
        a15 = #{a15,jdbcType=DECIMAL},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="a14 != null" >
        a14 = #{a14,jdbcType=DECIMAL},
      </if>
      <if test="a2 != null" >
        a2 = #{a2,jdbcType=DECIMAL},
      </if>
      <if test="a23 != null" >
        a23 = #{a23,jdbcType=DECIMAL},
      </if>
      <if test="a21 != null" >
        a21 = #{a21,jdbcType=DECIMAL},
      </if>
      <if test="a22 != null" >
        a22 = #{a22,jdbcType=DECIMAL},
      </if>
      <if test="a16 != null" >
        a16 = #{a16,jdbcType=DECIMAL},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zxSfSWAccidentItemId = #{zxSfSWAccidentItemId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSfSWAccidentItem" >
    update zx_sf_SWAccidentItem set 
      a13 = #{a13,jdbcType=DECIMAL},
      a3 = #{a3,jdbcType=DECIMAL},
      a17 = #{a17,jdbcType=DECIMAL},
      a10 = #{a10,jdbcType=DECIMAL},
      a19 = #{a19,jdbcType=DECIMAL},
      a24 = #{a24,jdbcType=DECIMAL},
      a8 = #{a8,jdbcType=DECIMAL},
      a9 = #{a9,jdbcType=DECIMAL},
      a6 = #{a6,jdbcType=DECIMAL},
      a20 = #{a20,jdbcType=DECIMAL},
      swaID = #{swaID,jdbcType=VARCHAR},
      a11 = #{a11,jdbcType=DECIMAL},
      a18 = #{a18,jdbcType=DECIMAL},
      a7 = #{a7,jdbcType=DECIMAL},
      a4 = #{a4,jdbcType=DECIMAL},
      a12 = #{a12,jdbcType=DECIMAL},
      a1 = #{a1,jdbcType=VARCHAR},
      a5 = #{a5,jdbcType=DECIMAL},
      a15 = #{a15,jdbcType=DECIMAL},
      notes = #{notes,jdbcType=VARCHAR},
      a14 = #{a14,jdbcType=DECIMAL},
      a2 = #{a2,jdbcType=DECIMAL},
      a23 = #{a23,jdbcType=DECIMAL},
      a21 = #{a21,jdbcType=DECIMAL},
      a22 = #{a22,jdbcType=DECIMAL},
      a16 = #{a16,jdbcType=DECIMAL},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zxSfSWAccidentItemId = #{zxSfSWAccidentItemId,jdbcType=CHAR}
  </update>
  <select id="selectByZxSfSWAccidentItemList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSfSWAccidentItem" >
    select 
    <include refid="Base_Column_List" />
    from zx_sf_SWAccidentItem
    where del_flag = '0'
    <if test="zxSfSWAccidentItemId != null and zxSfSWAccidentItemId != ''" >
     and zxSfSWAccidentItemId = #{zxSfSWAccidentItemId,jdbcType=CHAR}
    </if>
    <if test="a13 != null and a13 != ''" >
     and a13 = #{a13,jdbcType=DECIMAL}
    </if>
    <if test="a3 != null and a3 != ''" >
     and a3 = #{a3,jdbcType=DECIMAL}
    </if>
    <if test="a17 != null and a17 != ''" >
     and a17 = #{a17,jdbcType=DECIMAL}
    </if>
    <if test="a10 != null and a10 != ''" >
     and a10 = #{a10,jdbcType=DECIMAL}
    </if>
    <if test="a19 != null and a19 != ''" >
     and a19 = #{a19,jdbcType=DECIMAL}
    </if>
    <if test="a24 != null and a24 != ''" >
     and a24 = #{a24,jdbcType=DECIMAL}
    </if>
    <if test="a8 != null and a8 != ''" >
     and a8 = #{a8,jdbcType=DECIMAL}
    </if>
    <if test="a9 != null and a9 != ''" >
     and a9 = #{a9,jdbcType=DECIMAL}
    </if>
    <if test="a6 != null and a6 != ''" >
     and a6 = #{a6,jdbcType=DECIMAL}
    </if>
    <if test="a20 != null and a20 != ''" >
     and a20 = #{a20,jdbcType=DECIMAL}
    </if>
    <if test="swaID != null and swaID != ''" >
     and swaID = #{swaID,jdbcType=VARCHAR}
    </if>
    <if test="a11 != null and a11 != ''" >
     and a11 = #{a11,jdbcType=DECIMAL}
    </if>
    <if test="a18 != null and a18 != ''" >
     and a18 = #{a18,jdbcType=DECIMAL}
    </if>
    <if test="a7 != null and a7 != ''" >
     and a7 = #{a7,jdbcType=DECIMAL}
    </if>
    <if test="a4 != null and a4 != ''" >
     and a4 = #{a4,jdbcType=DECIMAL}
    </if>
    <if test="a12 != null and a12 != ''" >
     and a12 = #{a12,jdbcType=DECIMAL}
    </if>
    <if test="a1 != null and a1 != ''" >
     and a1 = #{a1,jdbcType=VARCHAR}
    </if>
    <if test="a5 != null and a5 != ''" >
     and a5 = #{a5,jdbcType=DECIMAL}
    </if>
    <if test="a15 != null and a15 != ''" >
     and a15 = #{a15,jdbcType=DECIMAL}
    </if>
    <if test="notes != null and notes != ''" >
     and notes = #{notes,jdbcType=VARCHAR}
    </if>
    <if test="a14 != null and a14 != ''" >
     and a14 = #{a14,jdbcType=DECIMAL}
    </if>
    <if test="a2 != null and a2 != ''" >
     and a2 = #{a2,jdbcType=DECIMAL}
    </if>
    <if test="a23 != null and a23 != ''" >
     and a23 = #{a23,jdbcType=DECIMAL}
    </if>
    <if test="a21 != null and a21 != ''" >
     and a21 = #{a21,jdbcType=DECIMAL}
    </if>
    <if test="a22 != null and a22 != ''" >
     and a22 = #{a22,jdbcType=DECIMAL}
    </if>
    <if test="a16 != null and a16 != ''" >
     and a16 = #{a16,jdbcType=DECIMAL}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxSfSWAccidentItem" parameterType="com.apih5.mybatis.pojo.ZxSfSWAccidentItem" >
    <![CDATA[ 
        update zx_sf_SWAccidentItem
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zxSfSWAccidentItemId in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxSfSWAccidentItemId} 
     </foreach>
  </delete>

  <select id="uReportForm" resultMap="BaseResultMap">
    SELECT
    a.zxSfSWAccidentItemId,
	a.a1,
	a.a2,
	a.a3,
	a.a4,
	a.a5,
	a.a6,
	a.a7,
	a.a8,
	a.a9,
	a.a10,
	a.a11,
	a.a12,
	a.a13,
	a.a14,
	a.a15,
	a.a16,
	a.a17,
	a.a18,
	a.a19,
	a.a20,
	a.a21,
	a.a22,
	a.a23,
	a.a24,
    b.orgID,
    b.orgName
FROM
	zx_sf_swaccidentitem a
	LEFT JOIN zx_sf_swaccident b ON a.swaID = b.zxSfSWAccidentId
	WHERE a.del_flag = '0'
    <if test="orgID != null and orgID != ''" >
      AND b.orgID=#{orgID}
    </if>

    <if test="period != null " >
      AND b.period= date_format(#{period},'%Y%m')
    </if>

  </select>

  <select id="uReportFormCom" resultMap="BaseResultMap">
    SELECT
    a.zxSfSWAccidentItemId,
    a.a1,
    a.a2,
    a.a3,
    a.a4,
    a.a5,
    a.a6,
    a.a7,
    a.a8,
    a.a9,
    a.a10,
    a.a11,
    a.a12,
    a.a13,
    a.a14,
    a.a15,
    a.a16,
    a.a17,
    a.a18,
    a.a19,
    a.a20,
    a.a21,
    a.a22,
    a.a23,
    a.a24,
    b.orgID,
    b.orgName,
    b.company_id,
    b.company_name
    FROM
    zx_sf_swaccidentitem a
    LEFT JOIN zx_sf_swaccident b ON a.swaID = b.zxSfSWAccidentId
    WHERE a.del_flag = '0'
    <if test="companyId != null and companyId != ''" >
      AND b.company_id=#{companyId}
    </if>

    <if test="period != null " >
      AND b.period= date_format(#{period},'%Y%m')
    </if>
  </select>
</mapper>
