<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSfPlanTargetMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSfPlanTarget" >
    <id column="zx_sf_plan_Target_id" property="zxSfPlanTargetId" jdbcType="CHAR" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="deadRate" property="deadRate" jdbcType="VARCHAR" />
    <result column="injuresRate" property="injuresRate" jdbcType="VARCHAR" />
    <result column="slightlyRate" property="slightlyRate" jdbcType="VARCHAR" />
    <result column="hidChageRate" property="hidChageRate" jdbcType="VARCHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="compName" property="compName" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zx_sf_plan_Target_id, orgName, deadRate, injuresRate, slightlyRate, 
    hidChageRate, orgID, editTime, compName, year, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sf_plan_Target
    where del_flag = '0' and zx_sf_plan_Target_id = #{zxSfPlanTargetId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sf_plan_Target
    where zx_sf_plan_Target_id = #{zxSfPlanTargetId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSfPlanTarget" >
    insert into zx_sf_plan_Target (
    zx_sf_plan_Target_id, orgName, deadRate, injuresRate, slightlyRate, 
    hidChageRate, orgID, editTime, compName, year, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
      )
    values (
      #{zxSfPlanTargetId,jdbcType=CHAR}, #{orgName,jdbcType=VARCHAR}, #{deadRate,jdbcType=VARCHAR}, #{injuresRate,jdbcType=VARCHAR}, #{slightlyRate,jdbcType=VARCHAR}, 
    #{hidChageRate,jdbcType=VARCHAR}, #{orgID,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{compName,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
    #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
    #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSfPlanTarget" >
    insert into zx_sf_plan_Target
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxSfPlanTargetId != null" >
        zx_sf_plan_Target_id,
      </if>
      <if test="orgName != null" >
        orgName,
      </if>
      <if test="deadRate != null" >
        deadRate,
      </if>
      <if test="injuresRate != null" >
        injuresRate,
      </if>
      <if test="slightlyRate != null" >
        slightlyRate,
      </if>
      <if test="hidChageRate != null" >
        hidChageRate,
      </if>
      <if test="orgID != null" >
        orgID,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="compName != null" >
        compName,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxSfPlanTargetId != null" >
        #{zxSfPlanTargetId,jdbcType=CHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deadRate != null" >
        #{deadRate,jdbcType=VARCHAR},
      </if>
      <if test="injuresRate != null" >
        #{injuresRate,jdbcType=VARCHAR},
      </if>
      <if test="slightlyRate != null" >
        #{slightlyRate,jdbcType=VARCHAR},
      </if>
      <if test="hidChageRate != null" >
        #{hidChageRate,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="compName != null" >
        #{compName,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSfPlanTarget" >
    update zx_sf_plan_Target
    <set >
      <if test="orgName != null" >
        orgName = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deadRate != null" >
        deadRate = #{deadRate,jdbcType=VARCHAR},
      </if>
      <if test="injuresRate != null" >
        injuresRate = #{injuresRate,jdbcType=VARCHAR},
      </if>
      <if test="slightlyRate != null" >
        slightlyRate = #{slightlyRate,jdbcType=VARCHAR},
      </if>
      <if test="hidChageRate != null" >
        hidChageRate = #{hidChageRate,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        orgID = #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="compName != null" >
        compName = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zx_sf_plan_Target_id = #{zxSfPlanTargetId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSfPlanTarget" >
    update zx_sf_plan_Target set 
      orgName = #{orgName,jdbcType=VARCHAR},
      deadRate = #{deadRate,jdbcType=VARCHAR},
      injuresRate = #{injuresRate,jdbcType=VARCHAR},
      slightlyRate = #{slightlyRate,jdbcType=VARCHAR},
      hidChageRate = #{hidChageRate,jdbcType=VARCHAR},
      orgID = #{orgID,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      compName = #{compName,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zx_sf_plan_Target_id = #{zxSfPlanTargetId,jdbcType=CHAR}
  </update>
  <select id="selectByZxSfPlanTargetList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSfPlanTarget" >
    select 
    <include refid="Base_Column_List" />
    from zx_sf_plan_Target
    where del_flag = '0'
    <if test="zxSfPlanTargetId != null and zxSfPlanTargetId != ''" >
     and zx_sf_plan_Target_id = #{zxSfPlanTargetId,jdbcType=CHAR}
    </if>
    <if test="orgName != null and orgName != ''" >
     and orgName = #{orgName,jdbcType=VARCHAR}
    </if>
    <if test="deadRate != null and deadRate != ''" >
     and deadRate = #{deadRate,jdbcType=VARCHAR}
    </if>
    <if test="injuresRate != null and injuresRate != ''" >
     and injuresRate = #{injuresRate,jdbcType=VARCHAR}
    </if>
    <if test="slightlyRate != null and slightlyRate != ''" >
     and slightlyRate = #{slightlyRate,jdbcType=VARCHAR}
    </if>
    <if test="hidChageRate != null and hidChageRate != ''" >
     and hidChageRate = #{hidChageRate,jdbcType=VARCHAR}
    </if>
    <if test="orgID != null and orgID != ''" >
     and orgID = #{orgID,jdbcType=VARCHAR}
    </if>
    <if test="editTime != null and editTime != ''" >
     and editTime = #{editTime,jdbcType=TIMESTAMP}
    </if>
    <if test="compName != null and compName != ''" >
     and compName = #{compName,jdbcType=VARCHAR}
    </if>
    <if test="year != null and year != ''" >
     and year = #{year,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxSfPlanTarget" parameterType="com.apih5.mybatis.pojo.ZxSfPlanTarget" >
    <![CDATA[ 
        update zx_sf_plan_Target
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zx_sf_plan_Target_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxSfPlanTargetId} 
     </foreach>
  </delete>
  <!-- ↓↓↓扩展↓↓↓ -->

  <select id="getJuInfo" resultMap="BaseResultMap">
    SELECT AVG(deadRate) as deadRate, AVG(injuresRate) as injuresRate,AVG(slightlyRate) as slightlyRate,AVG(hidChageRate) as hidChageRate FROM zx_ct_contract a left join zx_sf_plan_target b on a.orgID = b.orgID
  </select>

  <select id="getComInfoList" resultMap="BaseResultMap">
   SELECT AVG(deadRate) as deadRate, AVG(injuresRate) as injuresRate,AVG(slightlyRate) as slightlyRate,AVG(hidChageRate) as hidChageRate FROM zx_ct_contract a left join zx_sf_plan_target b on a.orgID = b.orgID GROUP BY  a.company_id
  </select>

  <select id="getComInfo" resultMap="BaseResultMap">
    SELECT IFNULL(AVG( b.deadRate ),0) AS deadRate,
	IFNULL(AVG( b.injuresRate ),0) AS injuresRate,
	IFNULL(AVG( b.slightlyRate ),0) AS slightlyRate,
	IFNULL(AVG( b.hidChageRate ),0) AS hidChageRate
	 FROM zx_ct_contract a left join zx_sf_plan_target b on a.orgID = b.orgID  WHERE a.company_id=#{record.companyId} GROUP BY  a.company_id
  </select>

  <select id="getGuiDang" resultMap="BaseResultMap">
    SELECT
	AVG( deadRate ) AS deadRate,
	AVG( injuresRate ) AS injuresRate,
	AVG( slightlyRate ) AS slightlyRate,
	AVG( hidChageRate ) AS hidChageRate
FROM
	zx_ct_contract a
	LEFT JOIN zx_sf_plan_target b ON a.orgID = b.orgID
	LEFT JOIN sys_project c ON a.orgID = c.department_id
WHERE
	a.company_id = #{record.companyId} and  DATE_FORMAT( c.doc_date, '%Y%m%d' ) &lt; #{today}
  </select>


  <select id="getJiaoGong" resultMap="BaseResultMap">
 SELECT
	AVG( deadRate ) AS deadRate,
	AVG( injuresRate ) AS injuresRate,
	AVG( slightlyRate ) AS slightlyRate,
	AVG( hidChageRate ) AS hidChageRate
FROM
	zx_ct_contract a
	LEFT JOIN zx_sf_plan_target b ON a.orgID = b.orgID
	LEFT JOIN sys_project c ON a.orgID = c.department_id
WHERE
	a.company_id = #{record.companyId} and  CASE WHEN ISNULL( c.doc_date ) THEN
                 DATE_FORMAT( c.delivery_date, '%Y%m%d' ) &lt;= #{today} ELSE ( DATE_FORMAT( c.delivery_date, '%Y%m%d' ) &lt;= #{today}
                 AND DATE_FORMAT( c.doc_date, '%Y%m%d' ) >#{today} ) END
  </select>

  <select id="getWanGong" resultMap="BaseResultMap">
    SELECT
	AVG( deadRate ) AS deadRate,
	AVG( injuresRate ) AS injuresRate,
	AVG( slightlyRate ) AS slightlyRate,
	AVG( hidChageRate ) AS hidChageRate
FROM
	zx_ct_contract a
	LEFT JOIN zx_sf_plan_target b ON a.orgID = b.orgID
	LEFT JOIN sys_project c ON a.orgID = c.department_id
WHERE
	a.company_id = #{record.companyId} and  CASE WHEN ISNULL( c.delivery_date ) THEN
                 ( CASE WHEN ISNULL( c.doc_date ) THEN DATE_FORMAT( c.main_end_date, '%Y%m%d' ) &lt;= #{today}
                 ELSE ( DATE_FORMAT( c.main_end_date, '%Y%m%d' )  &lt;= #{today} AND DATE_FORMAT( c.doc_date, '%Y%m%d' ) > #{today} )
                 END ) ELSE (DATE_FORMAT( c.main_end_date, '%Y%m%d' ) &lt;= #{today} AND DATE_FORMAT( c.delivery_date, '%Y%m%d' ) > #{today} )
                 END
  </select>

  <select id="getKaiGong" resultMap="BaseResultMap">
     SELECT
	AVG( deadRate ) AS deadRate,
	AVG( injuresRate ) AS injuresRate,
	AVG( slightlyRate ) AS slightlyRate,
	AVG( hidChageRate ) AS hidChageRate
FROM
	zx_ct_contract a
	LEFT JOIN zx_sf_plan_target b ON a.orgID = b.orgID
	LEFT JOIN sys_project c ON a.orgID = c.department_id
WHERE
	a.company_id = #{record.companyId} and  CASE WHEN ISNULL( c.main_end_date ) THEN
                 (CASE WHEN ISNULL( c.delivery_date ) THEN( CASE WHEN ISNULL( c.doc_date )
                 THEN DATE_FORMAT( c.actual_start_date, '%Y%m%d' ) &lt;= #{today}
                 ELSE ( DATE_FORMAT( c.actual_start_date, '%Y%m%d' ) &lt;= #{today}
                 AND DATE_FORMAT( c.doc_date, '%Y%m%d' ) > #{today} )
				END ) ELSE ( DATE_FORMAT( c.actual_start_date, '%Y%m%d' ) &lt;= #{today}
				AND DATE_FORMAT( c.delivery_date, '%Y%m%d' ) > #{today} )END )
				ELSE (DATE_FORMAT( c.actual_start_date, '%Y%m%d' ) &lt;= #{today}
				AND DATE_FORMAT( c.main_end_date, '%Y%m%d' ) > #{today} ) END
  </select>

  <select id="getGuiDangList" resultMap="BaseResultMap">
     SELECT
	AVG( deadRate ) AS deadRate,
	AVG( injuresRate ) AS injuresRate,
	AVG( slightlyRate ) AS slightlyRate,
	AVG( hidChageRate ) AS hidChageRate,
	b.orgID,b.orgName
FROM
	zx_ct_contract a
	LEFT JOIN zx_sf_plan_target b ON a.orgID = b.orgID
	LEFT JOIN sys_project c ON a.orgID = c.department_id
WHERE
	a.company_id = #{record.companyId} and  DATE_FORMAT( c.doc_date, '%Y%m%d' ) &lt; #{today}
	GROUP BY b.orgID,b.orgName
  </select>

  <select id="getJiaoGongList" resultMap="BaseResultMap">
     SELECT
	AVG( deadRate ) AS deadRate,
	AVG( injuresRate ) AS injuresRate,
	AVG( slightlyRate ) AS slightlyRate,
	AVG( hidChageRate ) AS hidChageRate,
	b.orgID,b.orgName
FROM
	zx_ct_contract a
	LEFT JOIN zx_sf_plan_target b ON a.orgID = b.orgID
	LEFT JOIN sys_project c ON a.orgID = c.department_id
WHERE
	a.company_id = #{record.companyId} and  CASE WHEN ISNULL( c.doc_date ) THEN
                 DATE_FORMAT( c.delivery_date, '%Y%m%d' ) &lt;= #{today} ELSE ( DATE_FORMAT( c.delivery_date, '%Y%m%d' ) &lt;= #{today}
                 AND DATE_FORMAT( c.doc_date, '%Y%m%d' ) >#{today} ) END
	GROUP BY b.orgID,b.orgName
  </select>

  <select id="getWanGongList" resultMap="BaseResultMap">
     SELECT
	AVG( deadRate ) AS deadRate,
	AVG( injuresRate ) AS injuresRate,
	AVG( slightlyRate ) AS slightlyRate,
	AVG( hidChageRate ) AS hidChageRate,
	b.orgID,b.orgName
FROM
	zx_ct_contract a
	LEFT JOIN zx_sf_plan_target b ON a.orgID = b.orgID
	LEFT JOIN sys_project c ON a.orgID = c.department_id
WHERE
	a.company_id = #{record.companyId} and CASE WHEN ISNULL( c.delivery_date ) THEN
                 ( CASE WHEN ISNULL( c.doc_date ) THEN DATE_FORMAT( c.main_end_date, '%Y%m%d' ) &lt;= #{today}
                 ELSE ( DATE_FORMAT( c.main_end_date, '%Y%m%d' )  &lt;= #{today} AND DATE_FORMAT( c.doc_date, '%Y%m%d' ) > #{today} )
                 END ) ELSE (DATE_FORMAT( c.main_end_date, '%Y%m%d' ) &lt;= #{today} AND DATE_FORMAT( c.delivery_date, '%Y%m%d' ) > #{today} )
                 END
  </select>

  <select id="getKaiGongList" resultMap="BaseResultMap">
     SELECT
	AVG( deadRate ) AS deadRate,
	AVG( injuresRate ) AS injuresRate,
	AVG( slightlyRate ) AS slightlyRate,
	AVG( hidChageRate ) AS hidChageRate,
	b.orgID,b.orgName
FROM
	zx_ct_contract a
	LEFT JOIN zx_sf_plan_target b ON a.orgID = b.orgID
	LEFT JOIN sys_project c ON a.orgID = c.department_id
WHERE
	a.company_id = #{record.companyId} and  CASE WHEN ISNULL( c.main_end_date ) THEN
                 (CASE WHEN ISNULL( c.delivery_date ) THEN( CASE WHEN ISNULL( c.doc_date )
                 THEN DATE_FORMAT( c.actual_start_date, '%Y%m%d' ) &lt;= #{today}
                 ELSE ( DATE_FORMAT( c.actual_start_date, '%Y%m%d' ) &lt;= #{today}
                 AND DATE_FORMAT( c.doc_date, '%Y%m%d' ) > #{today} )
				END ) ELSE ( DATE_FORMAT( c.actual_start_date, '%Y%m%d' ) &lt;= #{today}
				AND DATE_FORMAT( c.delivery_date, '%Y%m%d' ) > #{today} )END )
				ELSE (DATE_FORMAT( c.actual_start_date, '%Y%m%d' ) &lt;= #{today}
				AND DATE_FORMAT( c.main_end_date, '%Y%m%d' ) > #{today} ) END
  </select>


</mapper>
