<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSfJuExamMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSfJuExam" >
    <id column="zxSfJuExamId" property="zxSfJuExamId" jdbcType="CHAR" />
    <result column="examID" property="examID" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="unitManage" property="unitManage" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="examName" property="examName" jdbcType="VARCHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="examDate" property="examDate" jdbcType="TIMESTAMP" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="auditStatus" property="auditStatus" jdbcType="VARCHAR" />
    <result column="isCompany" property="isCompany" jdbcType="VARCHAR" />
    <result column="isGroup" property="isGroup" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zxSfJuExamId, examID, score, unitManage, creator, 
    examName, orgID, examDate, orgName, editTime, 
    auditStatus, isCompany, isGroup, companyId, companyName, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sf_juExam
    where del_flag = '0' and zxSfJuExamId = #{zxSfJuExamId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sf_juExam
    where zxSfJuExamId = #{zxSfJuExamId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSfJuExam" >
    insert into zx_sf_juExam (
    zxSfJuExamId, examID, score, unitManage, creator, 
    examName, orgID, examDate, orgName, editTime, 
    auditStatus, isCompany, isGroup, companyId, companyName, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
      )
    values (
      #{zxSfJuExamId,jdbcType=CHAR}, #{examID,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL}, #{unitManage,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
    #{examName,jdbcType=VARCHAR}, #{orgID,jdbcType=VARCHAR}, #{examDate,jdbcType=TIMESTAMP}, #{orgName,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, 
    #{auditStatus,jdbcType=VARCHAR}, #{isCompany,jdbcType=VARCHAR}, #{isGroup,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
    #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
    #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSfJuExam" >
    insert into zx_sf_juExam
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxSfJuExamId != null" >
        zxSfJuExamId,
      </if>
      <if test="examID != null" >
        examID,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="unitManage != null" >
        unitManage,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="examName != null" >
        examName,
      </if>
      <if test="orgID != null" >
        orgID,
      </if>
      <if test="examDate != null" >
        examDate,
      </if>
      <if test="orgName != null" >
        orgName,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="auditStatus != null" >
        auditStatus,
      </if>
      <if test="isCompany != null" >
        isCompany,
      </if>
      <if test="isGroup != null" >
        isGroup,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxSfJuExamId != null" >
        #{zxSfJuExamId,jdbcType=CHAR},
      </if>
      <if test="examID != null" >
        #{examID,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="unitManage != null" >
        #{unitManage,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="examName != null" >
        #{examName,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="examDate != null" >
        #{examDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="isCompany != null" >
        #{isCompany,jdbcType=VARCHAR},
      </if>
      <if test="isGroup != null" >
        #{isGroup,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSfJuExam" >
    update zx_sf_juExam
    <set >
      <if test="examID != null" >
        examID = #{examID,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="unitManage != null" >
        unitManage = #{unitManage,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="examName != null" >
        examName = #{examName,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        orgID = #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="examDate != null" >
        examDate = #{examDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orgName != null" >
        orgName = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        auditStatus = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="isCompany != null" >
        isCompany = #{isCompany,jdbcType=VARCHAR},
      </if>
      <if test="isGroup != null" >
        isGroup = #{isGroup,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zxSfJuExamId = #{zxSfJuExamId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSfJuExam" >
    update zx_sf_juExam set 
      examID = #{examID,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      unitManage = #{unitManage,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      examName = #{examName,jdbcType=VARCHAR},
      orgID = #{orgID,jdbcType=VARCHAR},
      examDate = #{examDate,jdbcType=TIMESTAMP},
      orgName = #{orgName,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      auditStatus = #{auditStatus,jdbcType=VARCHAR},
      isCompany = #{isCompany,jdbcType=VARCHAR},
      isGroup = #{isGroup,jdbcType=VARCHAR},
      companyId = #{companyId,jdbcType=VARCHAR},
      companyName = #{companyName,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zxSfJuExamId = #{zxSfJuExamId,jdbcType=CHAR}
  </update>
  <select id="selectByZxSfJuExamList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSfJuExam" >
    select 
    <include refid="Base_Column_List" />
    from zx_sf_juExam
    where del_flag = '0'
    <if test="zxSfJuExamId != null and zxSfJuExamId != ''" >
     and zxSfJuExamId = #{zxSfJuExamId,jdbcType=CHAR}
    </if>
    <if test="examID != null and examID != ''" >
     and examID = #{examID,jdbcType=VARCHAR}
    </if>
    <if test="score != null and score != ''" >
     and score = #{score,jdbcType=DECIMAL}
    </if>
    <if test="unitManage != null and unitManage != ''" >
     and unitManage = #{unitManage,jdbcType=VARCHAR}
    </if>
    <if test="creator != null and creator != ''" >
     and creator = #{creator,jdbcType=VARCHAR}
    </if>
    <if test="examName != null and examName != ''" >
     and examName = #{examName,jdbcType=VARCHAR}
    </if>
    <if test="orgID != null and orgID != ''" >
     and orgID = #{orgID,jdbcType=VARCHAR}
    </if>
    <if test="examDate != null and examDate != ''" >
     and examDate = #{examDate,jdbcType=TIMESTAMP}
    </if>
    <if test="orgName != null and orgName != ''" >
     and orgName = #{orgName,jdbcType=VARCHAR}
    </if>
    <if test="editTime != null and editTime != ''" >
     and editTime = #{editTime,jdbcType=TIMESTAMP}
    </if>
    <if test="auditStatus != null and auditStatus != ''" >
     and auditStatus = #{auditStatus,jdbcType=VARCHAR}
    </if>
    <if test="isCompany != null and isCompany != ''" >
     and isCompany = #{isCompany,jdbcType=VARCHAR}
    </if>
    <if test="isGroup != null and isGroup != ''" >
     and isGroup = #{isGroup,jdbcType=VARCHAR}
    </if>
    <if test="companyId != null and companyId != ''" >
     and companyId = #{companyId,jdbcType=VARCHAR}
    </if>
    <if test="companyName != null and companyName != ''" >
     and companyName = #{companyName,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxSfJuExam" parameterType="com.apih5.mybatis.pojo.ZxSfJuExam" >
    <![CDATA[ 
        update zx_sf_juExam
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zxSfJuExamId in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxSfJuExamId} 
     </foreach>
  </delete>
</mapper>
