<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSkHttreqPlanItemMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSkHttreqPlanItem" >
    <id column="zx_sk_httreqPlanItem_id" property="zxSkHttreqPlanItemId" jdbcType="CHAR" />
    <result column="ttReqPlanID" property="ttReqPlanID" jdbcType="VARCHAR" />
    <result column="ttReqPlanItemID" property="ttReqPlanItemID" jdbcType="VARCHAR" />
    <result column="oper" property="oper" jdbcType="VARCHAR" />
    <result column="opTime" property="opTime" jdbcType="TIMESTAMP" />
    <result column="sourceNum" property="sourceNum" jdbcType="DECIMAL" />
    <result column="changeNum" property="changeNum" jdbcType="DECIMAL" />
    <result column="op" property="op" jdbcType="VARCHAR" />
    <result column="combProp" property="combProp" jdbcType="VARCHAR" />
    <result column="pp1" property="pp1" jdbcType="VARCHAR" />
    <result column="pp2" property="pp2" jdbcType="VARCHAR" />
    <result column="pp3" property="pp3" jdbcType="VARCHAR" />
    <result column="pp4" property="pp4" jdbcType="VARCHAR" />
    <result column="pp5" property="pp5" jdbcType="VARCHAR" />
    <result column="pp6" property="pp6" jdbcType="VARCHAR" />
    <result column="pp7" property="pp7" jdbcType="VARCHAR" />
    <result column="pp8" property="pp8" jdbcType="VARCHAR" />
    <result column="pp9" property="pp9" jdbcType="VARCHAR" />
    <result column="pp10" property="pp10" jdbcType="VARCHAR" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zx_sk_httreqPlanItem_id, ttReqPlanID, ttReqPlanItemID, oper, opTime, 
    sourceNum, changeNum, op, combProp, pp1, 
    pp2, pp3, pp4, pp5, pp6, 
    pp7, pp8, pp9, pp10, editTime, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_httreqPlanItem
    where del_flag = '0' and zx_sk_httreqPlanItem_id = #{zxSkHttreqPlanItemId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sk_httreqPlanItem
    where zx_sk_httreqPlanItem_id = #{zxSkHttreqPlanItemId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSkHttreqPlanItem" >
    insert into zx_sk_httreqPlanItem (
    zx_sk_httreqPlanItem_id, ttReqPlanID, ttReqPlanItemID, oper, opTime, 
    sourceNum, changeNum, op, combProp, pp1, 
    pp2, pp3, pp4, pp5, pp6, 
    pp7, pp8, pp9, pp10, editTime, 
    remarks, sort, del_flag, create_time, create_user, 
    create_user_name, modify_time, modify_user, modify_user_name
      )
    values (
      #{zxSkHttreqPlanItemId,jdbcType=CHAR}, #{ttReqPlanID,jdbcType=VARCHAR}, #{ttReqPlanItemID,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{opTime,jdbcType=TIMESTAMP}, 
    #{sourceNum,jdbcType=DECIMAL}, #{changeNum,jdbcType=DECIMAL}, #{op,jdbcType=VARCHAR}, #{combProp,jdbcType=VARCHAR}, #{pp1,jdbcType=VARCHAR}, 
    #{pp2,jdbcType=VARCHAR}, #{pp3,jdbcType=VARCHAR}, #{pp4,jdbcType=VARCHAR}, #{pp5,jdbcType=VARCHAR}, #{pp6,jdbcType=VARCHAR}, 
    #{pp7,jdbcType=VARCHAR}, #{pp8,jdbcType=VARCHAR}, #{pp9,jdbcType=VARCHAR}, #{pp10,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, 
    #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
    #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSkHttreqPlanItem" >
    insert into zx_sk_httreqPlanItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxSkHttreqPlanItemId != null" >
        zx_sk_httreqPlanItem_id,
      </if>
      <if test="ttReqPlanID != null" >
        ttReqPlanID,
      </if>
      <if test="ttReqPlanItemID != null" >
        ttReqPlanItemID,
      </if>
      <if test="oper != null" >
        oper,
      </if>
      <if test="opTime != null" >
        opTime,
      </if>
      <if test="sourceNum != null" >
        sourceNum,
      </if>
      <if test="changeNum != null" >
        changeNum,
      </if>
      <if test="op != null" >
        op,
      </if>
      <if test="combProp != null" >
        combProp,
      </if>
      <if test="pp1 != null" >
        pp1,
      </if>
      <if test="pp2 != null" >
        pp2,
      </if>
      <if test="pp3 != null" >
        pp3,
      </if>
      <if test="pp4 != null" >
        pp4,
      </if>
      <if test="pp5 != null" >
        pp5,
      </if>
      <if test="pp6 != null" >
        pp6,
      </if>
      <if test="pp7 != null" >
        pp7,
      </if>
      <if test="pp8 != null" >
        pp8,
      </if>
      <if test="pp9 != null" >
        pp9,
      </if>
      <if test="pp10 != null" >
        pp10,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxSkHttreqPlanItemId != null" >
        #{zxSkHttreqPlanItemId,jdbcType=CHAR},
      </if>
      <if test="ttReqPlanID != null" >
        #{ttReqPlanID,jdbcType=VARCHAR},
      </if>
      <if test="ttReqPlanItemID != null" >
        #{ttReqPlanItemID,jdbcType=VARCHAR},
      </if>
      <if test="oper != null" >
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceNum != null" >
        #{sourceNum,jdbcType=DECIMAL},
      </if>
      <if test="changeNum != null" >
        #{changeNum,jdbcType=DECIMAL},
      </if>
      <if test="op != null" >
        #{op,jdbcType=VARCHAR},
      </if>
      <if test="combProp != null" >
        #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp3 != null" >
        #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="pp4 != null" >
        #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSkHttreqPlanItem" >
    update zx_sk_httreqPlanItem
    <set >
      <if test="ttReqPlanID != null" >
        ttReqPlanID = #{ttReqPlanID,jdbcType=VARCHAR},
      </if>
      <if test="ttReqPlanItemID != null" >
        ttReqPlanItemID = #{ttReqPlanItemID,jdbcType=VARCHAR},
      </if>
      <if test="oper != null" >
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        opTime = #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceNum != null" >
        sourceNum = #{sourceNum,jdbcType=DECIMAL},
      </if>
      <if test="changeNum != null" >
        changeNum = #{changeNum,jdbcType=DECIMAL},
      </if>
      <if test="op != null" >
        op = #{op,jdbcType=VARCHAR},
      </if>
      <if test="combProp != null" >
        combProp = #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        pp1 = #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        pp2 = #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp3 != null" >
        pp3 = #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="pp4 != null" >
        pp4 = #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        pp5 = #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        pp6 = #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        pp7 = #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        pp8 = #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        pp9 = #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        pp10 = #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zx_sk_httreqPlanItem_id = #{zxSkHttreqPlanItemId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSkHttreqPlanItem" >
    update zx_sk_httreqPlanItem set 
      ttReqPlanID = #{ttReqPlanID,jdbcType=VARCHAR},
      ttReqPlanItemID = #{ttReqPlanItemID,jdbcType=VARCHAR},
      oper = #{oper,jdbcType=VARCHAR},
      opTime = #{opTime,jdbcType=TIMESTAMP},
      sourceNum = #{sourceNum,jdbcType=DECIMAL},
      changeNum = #{changeNum,jdbcType=DECIMAL},
      op = #{op,jdbcType=VARCHAR},
      combProp = #{combProp,jdbcType=VARCHAR},
      pp1 = #{pp1,jdbcType=VARCHAR},
      pp2 = #{pp2,jdbcType=VARCHAR},
      pp3 = #{pp3,jdbcType=VARCHAR},
      pp4 = #{pp4,jdbcType=VARCHAR},
      pp5 = #{pp5,jdbcType=VARCHAR},
      pp6 = #{pp6,jdbcType=VARCHAR},
      pp7 = #{pp7,jdbcType=VARCHAR},
      pp8 = #{pp8,jdbcType=VARCHAR},
      pp9 = #{pp9,jdbcType=VARCHAR},
      pp10 = #{pp10,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zx_sk_httreqPlanItem_id = #{zxSkHttreqPlanItemId,jdbcType=CHAR}
  </update>
  <select id="selectByZxSkHttreqPlanItemList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSkHttreqPlanItem" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_httreqPlanItem
    where del_flag = '0'
    <if test="zxSkHttreqPlanItemId != null and zxSkHttreqPlanItemId != ''" >
     and zx_sk_httreqPlanItem_id = #{zxSkHttreqPlanItemId,jdbcType=CHAR}
    </if>
    <if test="ttReqPlanID != null and ttReqPlanID != ''" >
     and ttReqPlanID = #{ttReqPlanID,jdbcType=VARCHAR}
    </if>
    <if test="ttReqPlanItemID != null and ttReqPlanItemID != ''" >
     and ttReqPlanItemID = #{ttReqPlanItemID,jdbcType=VARCHAR}
    </if>
    <if test="oper != null and oper != ''" >
     and oper = #{oper,jdbcType=VARCHAR}
    </if>
    <if test="opTime != null and opTime != ''" >
     and opTime = #{opTime,jdbcType=TIMESTAMP}
    </if>
    <if test="sourceNum != null and sourceNum != ''" >
     and sourceNum = #{sourceNum,jdbcType=DECIMAL}
    </if>
    <if test="changeNum != null and changeNum != ''" >
     and changeNum = #{changeNum,jdbcType=DECIMAL}
    </if>
    <if test="op != null and op != ''" >
     and op = #{op,jdbcType=VARCHAR}
    </if>
    <if test="combProp != null and combProp != ''" >
     and combProp = #{combProp,jdbcType=VARCHAR}
    </if>
    <if test="pp1 != null and pp1 != ''" >
     and pp1 = #{pp1,jdbcType=VARCHAR}
    </if>
    <if test="pp2 != null and pp2 != ''" >
     and pp2 = #{pp2,jdbcType=VARCHAR}
    </if>
    <if test="pp3 != null and pp3 != ''" >
     and pp3 = #{pp3,jdbcType=VARCHAR}
    </if>
    <if test="pp4 != null and pp4 != ''" >
     and pp4 = #{pp4,jdbcType=VARCHAR}
    </if>
    <if test="pp5 != null and pp5 != ''" >
     and pp5 = #{pp5,jdbcType=VARCHAR}
    </if>
    <if test="pp6 != null and pp6 != ''" >
     and pp6 = #{pp6,jdbcType=VARCHAR}
    </if>
    <if test="pp7 != null and pp7 != ''" >
     and pp7 = #{pp7,jdbcType=VARCHAR}
    </if>
    <if test="pp8 != null and pp8 != ''" >
     and pp8 = #{pp8,jdbcType=VARCHAR}
    </if>
    <if test="pp9 != null and pp9 != ''" >
     and pp9 = #{pp9,jdbcType=VARCHAR}
    </if>
    <if test="pp10 != null and pp10 != ''" >
     and pp10 = #{pp10,jdbcType=VARCHAR}
    </if>
    <if test="editTime != null and editTime != ''" >
     and editTime = #{editTime,jdbcType=TIMESTAMP}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time asc
  </select>
  <delete id="batchDeleteUpdateZxSkHttreqPlanItem" parameterType="com.apih5.mybatis.pojo.ZxSkHttreqPlanItem" >
    <![CDATA[ 
        update zx_sk_httreqPlanItem
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zx_sk_httreqPlanItem_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxSkHttreqPlanItemId} 
     </foreach>
  </delete>
  <!-- ↓↓↓扩展↓↓↓ -->
</mapper>
