<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSkStockFeeItemMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSkStockFeeItem" >
    <id column="zx_sk_stockFeeItem_id" property="zxSkStockFeeItemId" jdbcType="CHAR" />
    <result column="mainID" property="mainID" jdbcType="VARCHAR" />
    <result column="workNo" property="workNo" jdbcType="VARCHAR" />
    <result column="workName" property="workName" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="workType" property="workType" jdbcType="VARCHAR" />
    <result column="treenode" property="treenode" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="contractSum" property="contractSum" jdbcType="DECIMAL" />
    <result column="systemType" property="systemType" jdbcType="VARCHAR" />
    <result column="viewType" property="viewType" jdbcType="VARCHAR" />
    <result column="planStartDate" property="planStartDate" jdbcType="TIMESTAMP" />
    <result column="planEndDate" property="planEndDate" jdbcType="TIMESTAMP" />
    <result column="actualStartDate" property="actualStartDate" jdbcType="TIMESTAMP" />
    <result column="actualEndDate" property="actualEndDate" jdbcType="TIMESTAMP" />
    <result column="combProp" property="combProp" jdbcType="VARCHAR" />
    <result column="pp1" property="pp1" jdbcType="VARCHAR" />
    <result column="pp2" property="pp2" jdbcType="VARCHAR" />
    <result column="pp3" property="pp3" jdbcType="VARCHAR" />
    <result column="pp4" property="pp4" jdbcType="VARCHAR" />
    <result column="pp5" property="pp5" jdbcType="VARCHAR" />
    <result column="pp6" property="pp6" jdbcType="VARCHAR" />
    <result column="pp7" property="pp7" jdbcType="VARCHAR" />
    <result column="pp8" property="pp8" jdbcType="VARCHAR" />
    <result column="pp9" property="pp9" jdbcType="VARCHAR" />
    <result column="pp10" property="pp10" jdbcType="VARCHAR" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="workTypeID" property="workTypeID" jdbcType="VARCHAR" />
    <result column="workID" property="workID" jdbcType="VARCHAR" />
    <result column="changeQty" property="changeQty" jdbcType="DECIMAL" />
    <result column="changePrice" property="changePrice" jdbcType="DECIMAL" />
    <result column="changeContractSum" property="changeContractSum" jdbcType="DECIMAL" />
    <result column="changeDate" property="changeDate" jdbcType="TIMESTAMP" />
    <result column="rentUnit" property="rentUnit" jdbcType="VARCHAR" />
    <result column="alterRentStartDate" property="alterRentStartDate" jdbcType="TIMESTAMP" />
    <result column="alterRentEndDate" property="alterRentEndDate" jdbcType="TIMESTAMP" />
    <result column="alterTrrm" property="alterTrrm" jdbcType="DECIMAL" />
    <result column="alterPrice" property="alterPrice" jdbcType="DECIMAL" />
    <result column="alterAmt" property="alterAmt" jdbcType="DECIMAL" />
    <result column="contrTrrm" property="contrTrrm" jdbcType="DECIMAL" />
    <result column="isNetPrice" property="isNetPrice" jdbcType="VARCHAR" />
    <result column="requestEdit" property="requestEdit" jdbcType="VARCHAR" />
    <result column="editUserID" property="editUserID" jdbcType="VARCHAR" />
    <result column="editUserName" property="editUserName" jdbcType="VARCHAR" />
    <result column="editDate" property="editDate" jdbcType="VARCHAR" />
    <result column="priceNoTax" property="priceNoTax" jdbcType="DECIMAL" />
    <result column="contractSumNoTax" property="contractSumNoTax" jdbcType="DECIMAL" />
    <result column="changePriceNoTax" property="changePriceNoTax" jdbcType="DECIMAL" />
    <result column="changeContractSumNoTax" property="changeContractSumNoTax" jdbcType="DECIMAL" />
    <result column="alterPriceNoPrice" property="alterPriceNoPrice" jdbcType="DECIMAL" />
    <result column="alterAmtNoTax" property="alterAmtNoTax" jdbcType="DECIMAL" />
    <result column="alterAmtTax" property="alterAmtTax" jdbcType="DECIMAL" />
    <result column="alterPriceNoTax" property="alterPriceNoTax" jdbcType="DECIMAL" />
    <result column="contractID" property="contractID" jdbcType="VARCHAR" />
    <result column="taxRate" property="taxRate" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zx_sk_stockFeeItem_id, mainID, workNo, workName, spec, 
    unit, workType, treenode, qty, price, 
    contractSum, systemType, viewType, planStartDate, planEndDate, 
    actualStartDate, actualEndDate, combProp, pp1, pp2, 
    pp3, pp4, pp5, pp6, pp7, 
    pp8, pp9, pp10, editTime, workTypeID, 
    workID, changeQty, changePrice, changeContractSum, changeDate, 
    rentUnit, alterRentStartDate, alterRentEndDate, alterTrrm, alterPrice, 
    alterAmt, contrTrrm, isNetPrice, requestEdit, editUserID, 
    editUserName, editDate, priceNoTax, contractSumNoTax, changePriceNoTax, 
    changeContractSumNoTax, alterPriceNoPrice, alterAmtNoTax, alterAmtTax, alterPriceNoTax, 
    contractID, taxRate, remarks, sort, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_stockFeeItem
    where del_flag = '0' and zx_sk_stockFeeItem_id = #{zxSkStockFeeItemId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sk_stockFeeItem
    where zx_sk_stockFeeItem_id = #{zxSkStockFeeItemId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSkStockFeeItem" >
    insert into zx_sk_stockFeeItem (
    zx_sk_stockFeeItem_id, mainID, workNo, workName, spec, 
    unit, workType, treenode, qty, price, 
    contractSum, systemType, viewType, planStartDate, planEndDate, 
    actualStartDate, actualEndDate, combProp, pp1, pp2, 
    pp3, pp4, pp5, pp6, pp7, 
    pp8, pp9, pp10, editTime, workTypeID, 
    workID, changeQty, changePrice, changeContractSum, changeDate, 
    rentUnit, alterRentStartDate, alterRentEndDate, alterTrrm, alterPrice, 
    alterAmt, contrTrrm, isNetPrice, requestEdit, editUserID, 
    editUserName, editDate, priceNoTax, contractSumNoTax, changePriceNoTax, 
    changeContractSumNoTax, alterPriceNoPrice, alterAmtNoTax, alterAmtTax, alterPriceNoTax, 
    contractID, taxRate, remarks, sort, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name
      )
    values (
      #{zxSkStockFeeItemId,jdbcType=CHAR}, #{mainID,jdbcType=VARCHAR}, #{workNo,jdbcType=VARCHAR}, #{workName,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, 
    #{unit,jdbcType=VARCHAR}, #{workType,jdbcType=VARCHAR}, #{treenode,jdbcType=VARCHAR}, #{qty,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
    #{contractSum,jdbcType=DECIMAL}, #{systemType,jdbcType=VARCHAR}, #{viewType,jdbcType=VARCHAR}, #{planStartDate,jdbcType=TIMESTAMP}, #{planEndDate,jdbcType=TIMESTAMP}, 
    #{actualStartDate,jdbcType=TIMESTAMP}, #{actualEndDate,jdbcType=TIMESTAMP}, #{combProp,jdbcType=VARCHAR}, #{pp1,jdbcType=VARCHAR}, #{pp2,jdbcType=VARCHAR}, 
    #{pp3,jdbcType=VARCHAR}, #{pp4,jdbcType=VARCHAR}, #{pp5,jdbcType=VARCHAR}, #{pp6,jdbcType=VARCHAR}, #{pp7,jdbcType=VARCHAR}, 
    #{pp8,jdbcType=VARCHAR}, #{pp9,jdbcType=VARCHAR}, #{pp10,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{workTypeID,jdbcType=VARCHAR}, 
    #{workID,jdbcType=VARCHAR}, #{changeQty,jdbcType=DECIMAL}, #{changePrice,jdbcType=DECIMAL}, #{changeContractSum,jdbcType=DECIMAL}, #{changeDate,jdbcType=TIMESTAMP}, 
    #{rentUnit,jdbcType=VARCHAR}, #{alterRentStartDate,jdbcType=TIMESTAMP}, #{alterRentEndDate,jdbcType=TIMESTAMP}, #{alterTrrm,jdbcType=DECIMAL}, #{alterPrice,jdbcType=DECIMAL}, 
    #{alterAmt,jdbcType=DECIMAL}, #{contrTrrm,jdbcType=DECIMAL}, #{isNetPrice,jdbcType=VARCHAR}, #{requestEdit,jdbcType=VARCHAR}, #{editUserID,jdbcType=VARCHAR}, 
    #{editUserName,jdbcType=VARCHAR}, #{editDate,jdbcType=VARCHAR}, #{priceNoTax,jdbcType=DECIMAL}, #{contractSumNoTax,jdbcType=DECIMAL}, #{changePriceNoTax,jdbcType=DECIMAL}, 
    #{changeContractSumNoTax,jdbcType=DECIMAL}, #{alterPriceNoPrice,jdbcType=DECIMAL}, #{alterAmtNoTax,jdbcType=DECIMAL}, #{alterAmtTax,jdbcType=DECIMAL}, #{alterPriceNoTax,jdbcType=DECIMAL}, 
    #{contractID,jdbcType=VARCHAR}, #{taxRate,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, 
    #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
    #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSkStockFeeItem" >
    insert into zx_sk_stockFeeItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxSkStockFeeItemId != null" >
        zx_sk_stockFeeItem_id,
      </if>
      <if test="mainID != null" >
        mainID,
      </if>
      <if test="workNo != null" >
        workNo,
      </if>
      <if test="workName != null" >
        workName,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="workType != null" >
        workType,
      </if>
      <if test="treenode != null" >
        treenode,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="contractSum != null" >
        contractSum,
      </if>
      <if test="systemType != null" >
        systemType,
      </if>
      <if test="viewType != null" >
        viewType,
      </if>
      <if test="planStartDate != null" >
        planStartDate,
      </if>
      <if test="planEndDate != null" >
        planEndDate,
      </if>
      <if test="actualStartDate != null" >
        actualStartDate,
      </if>
      <if test="actualEndDate != null" >
        actualEndDate,
      </if>
      <if test="combProp != null" >
        combProp,
      </if>
      <if test="pp1 != null" >
        pp1,
      </if>
      <if test="pp2 != null" >
        pp2,
      </if>
      <if test="pp3 != null" >
        pp3,
      </if>
      <if test="pp4 != null" >
        pp4,
      </if>
      <if test="pp5 != null" >
        pp5,
      </if>
      <if test="pp6 != null" >
        pp6,
      </if>
      <if test="pp7 != null" >
        pp7,
      </if>
      <if test="pp8 != null" >
        pp8,
      </if>
      <if test="pp9 != null" >
        pp9,
      </if>
      <if test="pp10 != null" >
        pp10,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="workTypeID != null" >
        workTypeID,
      </if>
      <if test="workID != null" >
        workID,
      </if>
      <if test="changeQty != null" >
        changeQty,
      </if>
      <if test="changePrice != null" >
        changePrice,
      </if>
      <if test="changeContractSum != null" >
        changeContractSum,
      </if>
      <if test="changeDate != null" >
        changeDate,
      </if>
      <if test="rentUnit != null" >
        rentUnit,
      </if>
      <if test="alterRentStartDate != null" >
        alterRentStartDate,
      </if>
      <if test="alterRentEndDate != null" >
        alterRentEndDate,
      </if>
      <if test="alterTrrm != null" >
        alterTrrm,
      </if>
      <if test="alterPrice != null" >
        alterPrice,
      </if>
      <if test="alterAmt != null" >
        alterAmt,
      </if>
      <if test="contrTrrm != null" >
        contrTrrm,
      </if>
      <if test="isNetPrice != null" >
        isNetPrice,
      </if>
      <if test="requestEdit != null" >
        requestEdit,
      </if>
      <if test="editUserID != null" >
        editUserID,
      </if>
      <if test="editUserName != null" >
        editUserName,
      </if>
      <if test="editDate != null" >
        editDate,
      </if>
      <if test="priceNoTax != null" >
        priceNoTax,
      </if>
      <if test="contractSumNoTax != null" >
        contractSumNoTax,
      </if>
      <if test="changePriceNoTax != null" >
        changePriceNoTax,
      </if>
      <if test="changeContractSumNoTax != null" >
        changeContractSumNoTax,
      </if>
      <if test="alterPriceNoPrice != null" >
        alterPriceNoPrice,
      </if>
      <if test="alterAmtNoTax != null" >
        alterAmtNoTax,
      </if>
      <if test="alterAmtTax != null" >
        alterAmtTax,
      </if>
      <if test="alterPriceNoTax != null" >
        alterPriceNoTax,
      </if>
      <if test="contractID != null" >
        contractID,
      </if>
      <if test="taxRate != null" >
        taxRate,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxSkStockFeeItemId != null" >
        #{zxSkStockFeeItemId,jdbcType=CHAR},
      </if>
      <if test="mainID != null" >
        #{mainID,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null" >
        #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="workName != null" >
        #{workName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        #{workType,jdbcType=VARCHAR},
      </if>
      <if test="treenode != null" >
        #{treenode,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="contractSum != null" >
        #{contractSum,jdbcType=DECIMAL},
      </if>
      <if test="systemType != null" >
        #{systemType,jdbcType=VARCHAR},
      </if>
      <if test="viewType != null" >
        #{viewType,jdbcType=VARCHAR},
      </if>
      <if test="planStartDate != null" >
        #{planStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndDate != null" >
        #{planEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartDate != null" >
        #{actualStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndDate != null" >
        #{actualEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="combProp != null" >
        #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp3 != null" >
        #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="pp4 != null" >
        #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workTypeID != null" >
        #{workTypeID,jdbcType=VARCHAR},
      </if>
      <if test="workID != null" >
        #{workID,jdbcType=VARCHAR},
      </if>
      <if test="changeQty != null" >
        #{changeQty,jdbcType=DECIMAL},
      </if>
      <if test="changePrice != null" >
        #{changePrice,jdbcType=DECIMAL},
      </if>
      <if test="changeContractSum != null" >
        #{changeContractSum,jdbcType=DECIMAL},
      </if>
      <if test="changeDate != null" >
        #{changeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rentUnit != null" >
        #{rentUnit,jdbcType=VARCHAR},
      </if>
      <if test="alterRentStartDate != null" >
        #{alterRentStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="alterRentEndDate != null" >
        #{alterRentEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="alterTrrm != null" >
        #{alterTrrm,jdbcType=DECIMAL},
      </if>
      <if test="alterPrice != null" >
        #{alterPrice,jdbcType=DECIMAL},
      </if>
      <if test="alterAmt != null" >
        #{alterAmt,jdbcType=DECIMAL},
      </if>
      <if test="contrTrrm != null" >
        #{contrTrrm,jdbcType=DECIMAL},
      </if>
      <if test="isNetPrice != null" >
        #{isNetPrice,jdbcType=VARCHAR},
      </if>
      <if test="requestEdit != null" >
        #{requestEdit,jdbcType=VARCHAR},
      </if>
      <if test="editUserID != null" >
        #{editUserID,jdbcType=VARCHAR},
      </if>
      <if test="editUserName != null" >
        #{editUserName,jdbcType=VARCHAR},
      </if>
      <if test="editDate != null" >
        #{editDate,jdbcType=VARCHAR},
      </if>
      <if test="priceNoTax != null" >
        #{priceNoTax,jdbcType=DECIMAL},
      </if>
      <if test="contractSumNoTax != null" >
        #{contractSumNoTax,jdbcType=DECIMAL},
      </if>
      <if test="changePriceNoTax != null" >
        #{changePriceNoTax,jdbcType=DECIMAL},
      </if>
      <if test="changeContractSumNoTax != null" >
        #{changeContractSumNoTax,jdbcType=DECIMAL},
      </if>
      <if test="alterPriceNoPrice != null" >
        #{alterPriceNoPrice,jdbcType=DECIMAL},
      </if>
      <if test="alterAmtNoTax != null" >
        #{alterAmtNoTax,jdbcType=DECIMAL},
      </if>
      <if test="alterAmtTax != null" >
        #{alterAmtTax,jdbcType=DECIMAL},
      </if>
      <if test="alterPriceNoTax != null" >
        #{alterPriceNoTax,jdbcType=DECIMAL},
      </if>
      <if test="contractID != null" >
        #{contractID,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSkStockFeeItem" >
    update zx_sk_stockFeeItem
    <set >
      <if test="mainID != null" >
        mainID = #{mainID,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null" >
        workNo = #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="workName != null" >
        workName = #{workName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        workType = #{workType,jdbcType=VARCHAR},
      </if>
      <if test="treenode != null" >
        treenode = #{treenode,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="contractSum != null" >
        contractSum = #{contractSum,jdbcType=DECIMAL},
      </if>
      <if test="systemType != null" >
        systemType = #{systemType,jdbcType=VARCHAR},
      </if>
      <if test="viewType != null" >
        viewType = #{viewType,jdbcType=VARCHAR},
      </if>
      <if test="planStartDate != null" >
        planStartDate = #{planStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndDate != null" >
        planEndDate = #{planEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartDate != null" >
        actualStartDate = #{actualStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndDate != null" >
        actualEndDate = #{actualEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="combProp != null" >
        combProp = #{combProp,jdbcType=VARCHAR},
      </if>
      <if test="pp1 != null" >
        pp1 = #{pp1,jdbcType=VARCHAR},
      </if>
      <if test="pp2 != null" >
        pp2 = #{pp2,jdbcType=VARCHAR},
      </if>
      <if test="pp3 != null" >
        pp3 = #{pp3,jdbcType=VARCHAR},
      </if>
      <if test="pp4 != null" >
        pp4 = #{pp4,jdbcType=VARCHAR},
      </if>
      <if test="pp5 != null" >
        pp5 = #{pp5,jdbcType=VARCHAR},
      </if>
      <if test="pp6 != null" >
        pp6 = #{pp6,jdbcType=VARCHAR},
      </if>
      <if test="pp7 != null" >
        pp7 = #{pp7,jdbcType=VARCHAR},
      </if>
      <if test="pp8 != null" >
        pp8 = #{pp8,jdbcType=VARCHAR},
      </if>
      <if test="pp9 != null" >
        pp9 = #{pp9,jdbcType=VARCHAR},
      </if>
      <if test="pp10 != null" >
        pp10 = #{pp10,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workTypeID != null" >
        workTypeID = #{workTypeID,jdbcType=VARCHAR},
      </if>
      <if test="workID != null" >
        workID = #{workID,jdbcType=VARCHAR},
      </if>
      <if test="changeQty != null" >
        changeQty = #{changeQty,jdbcType=DECIMAL},
      </if>
      <if test="changePrice != null" >
        changePrice = #{changePrice,jdbcType=DECIMAL},
      </if>
      <if test="changeContractSum != null" >
        changeContractSum = #{changeContractSum,jdbcType=DECIMAL},
      </if>
      <if test="changeDate != null" >
        changeDate = #{changeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rentUnit != null" >
        rentUnit = #{rentUnit,jdbcType=VARCHAR},
      </if>
      <if test="alterRentStartDate != null" >
        alterRentStartDate = #{alterRentStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="alterRentEndDate != null" >
        alterRentEndDate = #{alterRentEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="alterTrrm != null" >
        alterTrrm = #{alterTrrm,jdbcType=DECIMAL},
      </if>
      <if test="alterPrice != null" >
        alterPrice = #{alterPrice,jdbcType=DECIMAL},
      </if>
      <if test="alterAmt != null" >
        alterAmt = #{alterAmt,jdbcType=DECIMAL},
      </if>
      <if test="contrTrrm != null" >
        contrTrrm = #{contrTrrm,jdbcType=DECIMAL},
      </if>
      <if test="isNetPrice != null" >
        isNetPrice = #{isNetPrice,jdbcType=VARCHAR},
      </if>
      <if test="requestEdit != null" >
        requestEdit = #{requestEdit,jdbcType=VARCHAR},
      </if>
      <if test="editUserID != null" >
        editUserID = #{editUserID,jdbcType=VARCHAR},
      </if>
      <if test="editUserName != null" >
        editUserName = #{editUserName,jdbcType=VARCHAR},
      </if>
      <if test="editDate != null" >
        editDate = #{editDate,jdbcType=VARCHAR},
      </if>
      <if test="priceNoTax != null" >
        priceNoTax = #{priceNoTax,jdbcType=DECIMAL},
      </if>
      <if test="contractSumNoTax != null" >
        contractSumNoTax = #{contractSumNoTax,jdbcType=DECIMAL},
      </if>
      <if test="changePriceNoTax != null" >
        changePriceNoTax = #{changePriceNoTax,jdbcType=DECIMAL},
      </if>
      <if test="changeContractSumNoTax != null" >
        changeContractSumNoTax = #{changeContractSumNoTax,jdbcType=DECIMAL},
      </if>
      <if test="alterPriceNoPrice != null" >
        alterPriceNoPrice = #{alterPriceNoPrice,jdbcType=DECIMAL},
      </if>
      <if test="alterAmtNoTax != null" >
        alterAmtNoTax = #{alterAmtNoTax,jdbcType=DECIMAL},
      </if>
      <if test="alterAmtTax != null" >
        alterAmtTax = #{alterAmtTax,jdbcType=DECIMAL},
      </if>
      <if test="alterPriceNoTax != null" >
        alterPriceNoTax = #{alterPriceNoTax,jdbcType=DECIMAL},
      </if>
      <if test="contractID != null" >
        contractID = #{contractID,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        taxRate = #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zx_sk_stockFeeItem_id = #{zxSkStockFeeItemId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSkStockFeeItem" >
    update zx_sk_stockFeeItem set 
      mainID = #{mainID,jdbcType=VARCHAR},
      workNo = #{workNo,jdbcType=VARCHAR},
      workName = #{workName,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      workType = #{workType,jdbcType=VARCHAR},
      treenode = #{treenode,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      contractSum = #{contractSum,jdbcType=DECIMAL},
      systemType = #{systemType,jdbcType=VARCHAR},
      viewType = #{viewType,jdbcType=VARCHAR},
      planStartDate = #{planStartDate,jdbcType=TIMESTAMP},
      planEndDate = #{planEndDate,jdbcType=TIMESTAMP},
      actualStartDate = #{actualStartDate,jdbcType=TIMESTAMP},
      actualEndDate = #{actualEndDate,jdbcType=TIMESTAMP},
      combProp = #{combProp,jdbcType=VARCHAR},
      pp1 = #{pp1,jdbcType=VARCHAR},
      pp2 = #{pp2,jdbcType=VARCHAR},
      pp3 = #{pp3,jdbcType=VARCHAR},
      pp4 = #{pp4,jdbcType=VARCHAR},
      pp5 = #{pp5,jdbcType=VARCHAR},
      pp6 = #{pp6,jdbcType=VARCHAR},
      pp7 = #{pp7,jdbcType=VARCHAR},
      pp8 = #{pp8,jdbcType=VARCHAR},
      pp9 = #{pp9,jdbcType=VARCHAR},
      pp10 = #{pp10,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      workTypeID = #{workTypeID,jdbcType=VARCHAR},
      workID = #{workID,jdbcType=VARCHAR},
      changeQty = #{changeQty,jdbcType=DECIMAL},
      changePrice = #{changePrice,jdbcType=DECIMAL},
      changeContractSum = #{changeContractSum,jdbcType=DECIMAL},
      changeDate = #{changeDate,jdbcType=TIMESTAMP},
      rentUnit = #{rentUnit,jdbcType=VARCHAR},
      alterRentStartDate = #{alterRentStartDate,jdbcType=TIMESTAMP},
      alterRentEndDate = #{alterRentEndDate,jdbcType=TIMESTAMP},
      alterTrrm = #{alterTrrm,jdbcType=DECIMAL},
      alterPrice = #{alterPrice,jdbcType=DECIMAL},
      alterAmt = #{alterAmt,jdbcType=DECIMAL},
      contrTrrm = #{contrTrrm,jdbcType=DECIMAL},
      isNetPrice = #{isNetPrice,jdbcType=VARCHAR},
      requestEdit = #{requestEdit,jdbcType=VARCHAR},
      editUserID = #{editUserID,jdbcType=VARCHAR},
      editUserName = #{editUserName,jdbcType=VARCHAR},
      editDate = #{editDate,jdbcType=VARCHAR},
      priceNoTax = #{priceNoTax,jdbcType=DECIMAL},
      contractSumNoTax = #{contractSumNoTax,jdbcType=DECIMAL},
      changePriceNoTax = #{changePriceNoTax,jdbcType=DECIMAL},
      changeContractSumNoTax = #{changeContractSumNoTax,jdbcType=DECIMAL},
      alterPriceNoPrice = #{alterPriceNoPrice,jdbcType=DECIMAL},
      alterAmtNoTax = #{alterAmtNoTax,jdbcType=DECIMAL},
      alterAmtTax = #{alterAmtTax,jdbcType=DECIMAL},
      alterPriceNoTax = #{alterPriceNoTax,jdbcType=DECIMAL},
      contractID = #{contractID,jdbcType=VARCHAR},
      taxRate = #{taxRate,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zx_sk_stockFeeItem_id = #{zxSkStockFeeItemId,jdbcType=CHAR}
  </update>
  <select id="selectByZxSkStockFeeItemList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSkStockFeeItem" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_stockFeeItem
    where del_flag = '0'
    <if test="zxSkStockFeeItemId != null and zxSkStockFeeItemId != ''" >
     and zx_sk_stockFeeItem_id = #{zxSkStockFeeItemId,jdbcType=CHAR}
    </if>
    <if test="mainID != null and mainID != ''" >
     and mainID = #{mainID,jdbcType=VARCHAR}
    </if>
    <if test="workNo != null and workNo != ''" >
     and workNo = #{workNo,jdbcType=VARCHAR}
    </if>
    <if test="workName != null and workName != ''" >
     and workName = #{workName,jdbcType=VARCHAR}
    </if>
    <if test="spec != null and spec != ''" >
     and spec = #{spec,jdbcType=VARCHAR}
    </if>
    <if test="unit != null and unit != ''" >
     and unit = #{unit,jdbcType=VARCHAR}
    </if>
    <if test="workType != null and workType != ''" >
     and workType = #{workType,jdbcType=VARCHAR}
    </if>
    <if test="treenode != null and treenode != ''" >
     and treenode = #{treenode,jdbcType=VARCHAR}
    </if>
    <if test="qty != null and qty != ''" >
     and qty = #{qty,jdbcType=DECIMAL}
    </if>
    <if test="price != null and price != ''" >
     and price = #{price,jdbcType=DECIMAL}
    </if>
    <if test="contractSum != null and contractSum != ''" >
     and contractSum = #{contractSum,jdbcType=DECIMAL}
    </if>
    <if test="systemType != null and systemType != ''" >
     and systemType = #{systemType,jdbcType=VARCHAR}
    </if>
    <if test="viewType != null and viewType != ''" >
     and viewType = #{viewType,jdbcType=VARCHAR}
    </if>
    <if test="planStartDate != null and planStartDate != ''" >
     and planStartDate = #{planStartDate,jdbcType=TIMESTAMP}
    </if>
    <if test="planEndDate != null and planEndDate != ''" >
     and planEndDate = #{planEndDate,jdbcType=TIMESTAMP}
    </if>
    <if test="actualStartDate != null and actualStartDate != ''" >
     and actualStartDate = #{actualStartDate,jdbcType=TIMESTAMP}
    </if>
    <if test="actualEndDate != null and actualEndDate != ''" >
     and actualEndDate = #{actualEndDate,jdbcType=TIMESTAMP}
    </if>
    <if test="combProp != null and combProp != ''" >
     and combProp = #{combProp,jdbcType=VARCHAR}
    </if>
    <if test="pp1 != null and pp1 != ''" >
     and pp1 = #{pp1,jdbcType=VARCHAR}
    </if>
    <if test="pp2 != null and pp2 != ''" >
     and pp2 = #{pp2,jdbcType=VARCHAR}
    </if>
    <if test="pp3 != null and pp3 != ''" >
     and pp3 = #{pp3,jdbcType=VARCHAR}
    </if>
    <if test="pp4 != null and pp4 != ''" >
     and pp4 = #{pp4,jdbcType=VARCHAR}
    </if>
    <if test="pp5 != null and pp5 != ''" >
     and pp5 = #{pp5,jdbcType=VARCHAR}
    </if>
    <if test="pp6 != null and pp6 != ''" >
     and pp6 = #{pp6,jdbcType=VARCHAR}
    </if>
    <if test="pp7 != null and pp7 != ''" >
     and pp7 = #{pp7,jdbcType=VARCHAR}
    </if>
    <if test="pp8 != null and pp8 != ''" >
     and pp8 = #{pp8,jdbcType=VARCHAR}
    </if>
    <if test="pp9 != null and pp9 != ''" >
     and pp9 = #{pp9,jdbcType=VARCHAR}
    </if>
    <if test="pp10 != null and pp10 != ''" >
     and pp10 = #{pp10,jdbcType=VARCHAR}
    </if>
    <if test="editTime != null and editTime != ''" >
     and editTime = #{editTime,jdbcType=TIMESTAMP}
    </if>
    <if test="workTypeID != null and workTypeID != ''" >
     and workTypeID = #{workTypeID,jdbcType=VARCHAR}
    </if>
    <if test="workID != null and workID != ''" >
     and workID = #{workID,jdbcType=VARCHAR}
    </if>
    <if test="changeQty != null and changeQty != ''" >
     and changeQty = #{changeQty,jdbcType=DECIMAL}
    </if>
    <if test="changePrice != null and changePrice != ''" >
     and changePrice = #{changePrice,jdbcType=DECIMAL}
    </if>
    <if test="changeContractSum != null and changeContractSum != ''" >
     and changeContractSum = #{changeContractSum,jdbcType=DECIMAL}
    </if>
    <if test="changeDate != null and changeDate != ''" >
     and changeDate = #{changeDate,jdbcType=TIMESTAMP}
    </if>
    <if test="rentUnit != null and rentUnit != ''" >
     and rentUnit = #{rentUnit,jdbcType=VARCHAR}
    </if>
    <if test="alterRentStartDate != null and alterRentStartDate != ''" >
     and alterRentStartDate = #{alterRentStartDate,jdbcType=TIMESTAMP}
    </if>
    <if test="alterRentEndDate != null and alterRentEndDate != ''" >
     and alterRentEndDate = #{alterRentEndDate,jdbcType=TIMESTAMP}
    </if>
    <if test="alterTrrm != null and alterTrrm != ''" >
     and alterTrrm = #{alterTrrm,jdbcType=DECIMAL}
    </if>
    <if test="alterPrice != null and alterPrice != ''" >
     and alterPrice = #{alterPrice,jdbcType=DECIMAL}
    </if>
    <if test="alterAmt != null and alterAmt != ''" >
     and alterAmt = #{alterAmt,jdbcType=DECIMAL}
    </if>
    <if test="contrTrrm != null and contrTrrm != ''" >
     and contrTrrm = #{contrTrrm,jdbcType=DECIMAL}
    </if>
    <if test="isNetPrice != null and isNetPrice != ''" >
     and isNetPrice = #{isNetPrice,jdbcType=VARCHAR}
    </if>
    <if test="requestEdit != null and requestEdit != ''" >
     and requestEdit = #{requestEdit,jdbcType=VARCHAR}
    </if>
    <if test="editUserID != null and editUserID != ''" >
     and editUserID = #{editUserID,jdbcType=VARCHAR}
    </if>
    <if test="editUserName != null and editUserName != ''" >
     and editUserName = #{editUserName,jdbcType=VARCHAR}
    </if>
    <if test="editDate != null and editDate != ''" >
     and editDate = #{editDate,jdbcType=VARCHAR}
    </if>
    <if test="priceNoTax != null and priceNoTax != ''" >
     and priceNoTax = #{priceNoTax,jdbcType=DECIMAL}
    </if>
    <if test="contractSumNoTax != null and contractSumNoTax != ''" >
     and contractSumNoTax = #{contractSumNoTax,jdbcType=DECIMAL}
    </if>
    <if test="changePriceNoTax != null and changePriceNoTax != ''" >
     and changePriceNoTax = #{changePriceNoTax,jdbcType=DECIMAL}
    </if>
    <if test="changeContractSumNoTax != null and changeContractSumNoTax != ''" >
     and changeContractSumNoTax = #{changeContractSumNoTax,jdbcType=DECIMAL}
    </if>
    <if test="alterPriceNoPrice != null and alterPriceNoPrice != ''" >
     and alterPriceNoPrice = #{alterPriceNoPrice,jdbcType=DECIMAL}
    </if>
    <if test="alterAmtNoTax != null and alterAmtNoTax != ''" >
     and alterAmtNoTax = #{alterAmtNoTax,jdbcType=DECIMAL}
    </if>
    <if test="alterAmtTax != null and alterAmtTax != ''" >
     and alterAmtTax = #{alterAmtTax,jdbcType=DECIMAL}
    </if>
    <if test="alterPriceNoTax != null and alterPriceNoTax != ''" >
     and alterPriceNoTax = #{alterPriceNoTax,jdbcType=DECIMAL}
    </if>
    <if test="contractID != null and contractID != ''" >
     and contractID = #{contractID,jdbcType=VARCHAR}
    </if>
    <if test="taxRate != null and taxRate != ''" >
     and taxRate = #{taxRate,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxSkStockFeeItem" parameterType="com.apih5.mybatis.pojo.ZxSkStockFeeItem" >
    <![CDATA[ 
        update zx_sk_stockFeeItem
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zx_sk_stockFeeItem_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxSkStockFeeItemId} 
     </foreach>
  </delete>
  <!-- ↓↓↓扩展↓↓↓ -->
</mapper>
