<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSkWornOutMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSkWornOut" >
    <id column="zx_sk_wornOut_id" property="zxSkWornOutId" jdbcType="CHAR" />
    <result column="billNo" property="billNo" jdbcType="VARCHAR" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="applyOrgName" property="applyOrgName" jdbcType="VARCHAR" />
    <result column="applyOrgID" property="applyOrgID" jdbcType="VARCHAR" />
    <result column="purchaseAmt" property="purchaseAmt" jdbcType="DECIMAL" />
    <result column="approval" property="approval" jdbcType="VARCHAR" />
    <result column="beginPer" property="beginPer" jdbcType="VARCHAR" />
    <result column="auditStatus" property="auditStatus" jdbcType="VARCHAR" />
    <result column="instProcessId" property="instProcessId" jdbcType="VARCHAR" />
    <result column="workitemID" property="workitemID" jdbcType="VARCHAR" />
    <result column="isFlag" property="isFlag" jdbcType="VARCHAR" />
    <result column="isFlagZhb" property="isFlagZhb" jdbcType="VARCHAR" />
    <result column="sendToJuID" property="sendToJuID" jdbcType="VARCHAR" />
    <result column="sendToZhbID" property="sendToZhbID" jdbcType="VARCHAR" />
    <result column="flowBeginDate" property="flowBeginDate" jdbcType="TIMESTAMP" />
    <result column="flowEndDate" property="flowEndDate" jdbcType="TIMESTAMP" />
    <result column="isReport" property="isReport" jdbcType="VARCHAR" />
    <result column="isReportZhb" property="isReportZhb" jdbcType="VARCHAR" />
    <result column="appInsHistID" property="appInsHistID" jdbcType="VARCHAR" />
    <result column="appInsHistIDZhb" property="appInsHistIDZhb" jdbcType="VARCHAR" />
    <result column="comID" property="comID" jdbcType="VARCHAR" />
    <result column="comName" property="comName" jdbcType="VARCHAR" />
    <result column="comOrders" property="comOrders" jdbcType="VARCHAR" />
    <result column="reportDate" property="reportDate" jdbcType="TIMESTAMP" />
    <result column="work_id" property="workId" jdbcType="CHAR" />
    <result column="apih5_flow_status" property="apih5FlowStatus" jdbcType="CHAR" />
    <result column="opinion_field1" property="opinionField1" jdbcType="VARCHAR" />
    <result column="opinion_field2" property="opinionField2" jdbcType="VARCHAR" />
    <result column="opinion_field3" property="opinionField3" jdbcType="VARCHAR" />
    <result column="opinion_field4" property="opinionField4" jdbcType="VARCHAR" />
    <result column="opinion_field5" property="opinionField5" jdbcType="VARCHAR" />
    <result column="opinion_field6" property="opinionField6" jdbcType="VARCHAR" />
    <result column="opinion_field7" property="opinionField7" jdbcType="VARCHAR" />
    <result column="opinion_field8" property="opinionField8" jdbcType="VARCHAR" />
    <result column="opinion_field9" property="opinionField9" jdbcType="VARCHAR" />
    <result column="opinion_field10" property="opinionField10" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zx_sk_wornOut_id, billNo, orgName, orgID, applyOrgName, 
    applyOrgID, purchaseAmt, approval, beginPer, auditStatus, 
    instProcessId, workitemID, isFlag, isFlagZhb, sendToJuID, 
    sendToZhbID, flowBeginDate, flowEndDate, isReport, isReportZhb, 
    appInsHistID, appInsHistIDZhb, comID, comName, comOrders, 
    reportDate, work_id, apih5_flow_status, opinion_field1, opinion_field2, 
    opinion_field3, opinion_field4, opinion_field5, opinion_field6, opinion_field7, 
    opinion_field8, opinion_field9, opinion_field10, remarks, sort, 
    del_flag, create_time, create_user, create_user_name, modify_time, 
    modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_wornOut
    where del_flag = '0' and zx_sk_wornOut_id = #{zxSkWornOutId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sk_wornOut
    where zx_sk_wornOut_id = #{zxSkWornOutId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSkWornOut" >
    insert into zx_sk_wornOut (
    zx_sk_wornOut_id, billNo, orgName, orgID, applyOrgName, 
    applyOrgID, purchaseAmt, approval, beginPer, auditStatus, 
    instProcessId, workitemID, isFlag, isFlagZhb, sendToJuID, 
    sendToZhbID, flowBeginDate, flowEndDate, isReport, isReportZhb, 
    appInsHistID, appInsHistIDZhb, comID, comName, comOrders, 
    reportDate, work_id, apih5_flow_status, opinion_field1, opinion_field2, 
    opinion_field3, opinion_field4, opinion_field5, opinion_field6, opinion_field7, 
    opinion_field8, opinion_field9, opinion_field10, remarks, sort, 
    del_flag, create_time, create_user, create_user_name, modify_time, 
    modify_user, modify_user_name
      )
    values (
      #{zxSkWornOutId,jdbcType=CHAR}, #{billNo,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{orgID,jdbcType=VARCHAR}, #{applyOrgName,jdbcType=VARCHAR}, 
    #{applyOrgID,jdbcType=VARCHAR}, #{purchaseAmt,jdbcType=DECIMAL}, #{approval,jdbcType=VARCHAR}, #{beginPer,jdbcType=VARCHAR}, #{auditStatus,jdbcType=VARCHAR}, 
    #{instProcessId,jdbcType=VARCHAR}, #{workitemID,jdbcType=VARCHAR}, #{isFlag,jdbcType=VARCHAR}, #{isFlagZhb,jdbcType=VARCHAR}, #{sendToJuID,jdbcType=VARCHAR}, 
    #{sendToZhbID,jdbcType=VARCHAR}, #{flowBeginDate,jdbcType=TIMESTAMP}, #{flowEndDate,jdbcType=TIMESTAMP}, #{isReport,jdbcType=VARCHAR}, #{isReportZhb,jdbcType=VARCHAR}, 
    #{appInsHistID,jdbcType=VARCHAR}, #{appInsHistIDZhb,jdbcType=VARCHAR}, #{comID,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR}, #{comOrders,jdbcType=VARCHAR}, 
    #{reportDate,jdbcType=TIMESTAMP}, #{workId,jdbcType=CHAR}, #{apih5FlowStatus,jdbcType=CHAR}, #{opinionField1,jdbcType=VARCHAR}, #{opinionField2,jdbcType=VARCHAR}, 
    #{opinionField3,jdbcType=VARCHAR}, #{opinionField4,jdbcType=VARCHAR}, #{opinionField5,jdbcType=VARCHAR}, #{opinionField6,jdbcType=VARCHAR}, #{opinionField7,jdbcType=VARCHAR}, 
    #{opinionField8,jdbcType=VARCHAR}, #{opinionField9,jdbcType=VARCHAR}, #{opinionField10,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
    #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
    #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSkWornOut" >
    insert into zx_sk_wornOut
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxSkWornOutId != null" >
        zx_sk_wornOut_id,
      </if>
      <if test="billNo != null" >
        billNo,
      </if>
      <if test="orgName != null" >
        orgName,
      </if>
      <if test="orgID != null" >
        orgID,
      </if>
      <if test="applyOrgName != null" >
        applyOrgName,
      </if>
      <if test="applyOrgID != null" >
        applyOrgID,
      </if>
      <if test="purchaseAmt != null" >
        purchaseAmt,
      </if>
      <if test="approval != null" >
        approval,
      </if>
      <if test="beginPer != null" >
        beginPer,
      </if>
      <if test="auditStatus != null" >
        auditStatus,
      </if>
      <if test="instProcessId != null" >
        instProcessId,
      </if>
      <if test="workitemID != null" >
        workitemID,
      </if>
      <if test="isFlag != null" >
        isFlag,
      </if>
      <if test="isFlagZhb != null" >
        isFlagZhb,
      </if>
      <if test="sendToJuID != null" >
        sendToJuID,
      </if>
      <if test="sendToZhbID != null" >
        sendToZhbID,
      </if>
      <if test="flowBeginDate != null" >
        flowBeginDate,
      </if>
      <if test="flowEndDate != null" >
        flowEndDate,
      </if>
      <if test="isReport != null" >
        isReport,
      </if>
      <if test="isReportZhb != null" >
        isReportZhb,
      </if>
      <if test="appInsHistID != null" >
        appInsHistID,
      </if>
      <if test="appInsHistIDZhb != null" >
        appInsHistIDZhb,
      </if>
      <if test="comID != null" >
        comID,
      </if>
      <if test="comName != null" >
        comName,
      </if>
      <if test="comOrders != null" >
        comOrders,
      </if>
      <if test="reportDate != null" >
        reportDate,
      </if>
      <if test="workId != null" >
        work_id,
      </if>
      <if test="apih5FlowStatus != null" >
        apih5_flow_status,
      </if>
      <if test="opinionField1 != null" >
        opinion_field1,
      </if>
      <if test="opinionField2 != null" >
        opinion_field2,
      </if>
      <if test="opinionField3 != null" >
        opinion_field3,
      </if>
      <if test="opinionField4 != null" >
        opinion_field4,
      </if>
      <if test="opinionField5 != null" >
        opinion_field5,
      </if>
      <if test="opinionField6 != null" >
        opinion_field6,
      </if>
      <if test="opinionField7 != null" >
        opinion_field7,
      </if>
      <if test="opinionField8 != null" >
        opinion_field8,
      </if>
      <if test="opinionField9 != null" >
        opinion_field9,
      </if>
      <if test="opinionField10 != null" >
        opinion_field10,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxSkWornOutId != null" >
        #{zxSkWornOutId,jdbcType=CHAR},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null" >
        #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgID != null" >
        #{applyOrgID,jdbcType=VARCHAR},
      </if>
      <if test="purchaseAmt != null" >
        #{purchaseAmt,jdbcType=DECIMAL},
      </if>
      <if test="approval != null" >
        #{approval,jdbcType=VARCHAR},
      </if>
      <if test="beginPer != null" >
        #{beginPer,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="instProcessId != null" >
        #{instProcessId,jdbcType=VARCHAR},
      </if>
      <if test="workitemID != null" >
        #{workitemID,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null" >
        #{isFlag,jdbcType=VARCHAR},
      </if>
      <if test="isFlagZhb != null" >
        #{isFlagZhb,jdbcType=VARCHAR},
      </if>
      <if test="sendToJuID != null" >
        #{sendToJuID,jdbcType=VARCHAR},
      </if>
      <if test="sendToZhbID != null" >
        #{sendToZhbID,jdbcType=VARCHAR},
      </if>
      <if test="flowBeginDate != null" >
        #{flowBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flowEndDate != null" >
        #{flowEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isReport != null" >
        #{isReport,jdbcType=VARCHAR},
      </if>
      <if test="isReportZhb != null" >
        #{isReportZhb,jdbcType=VARCHAR},
      </if>
      <if test="appInsHistID != null" >
        #{appInsHistID,jdbcType=VARCHAR},
      </if>
      <if test="appInsHistIDZhb != null" >
        #{appInsHistIDZhb,jdbcType=VARCHAR},
      </if>
      <if test="comID != null" >
        #{comID,jdbcType=VARCHAR},
      </if>
      <if test="comName != null" >
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comOrders != null" >
        #{comOrders,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        #{reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="workId != null" >
        #{workId,jdbcType=CHAR},
      </if>
      <if test="apih5FlowStatus != null" >
        #{apih5FlowStatus,jdbcType=CHAR},
      </if>
      <if test="opinionField1 != null" >
        #{opinionField1,jdbcType=VARCHAR},
      </if>
      <if test="opinionField2 != null" >
        #{opinionField2,jdbcType=VARCHAR},
      </if>
      <if test="opinionField3 != null" >
        #{opinionField3,jdbcType=VARCHAR},
      </if>
      <if test="opinionField4 != null" >
        #{opinionField4,jdbcType=VARCHAR},
      </if>
      <if test="opinionField5 != null" >
        #{opinionField5,jdbcType=VARCHAR},
      </if>
      <if test="opinionField6 != null" >
        #{opinionField6,jdbcType=VARCHAR},
      </if>
      <if test="opinionField7 != null" >
        #{opinionField7,jdbcType=VARCHAR},
      </if>
      <if test="opinionField8 != null" >
        #{opinionField8,jdbcType=VARCHAR},
      </if>
      <if test="opinionField9 != null" >
        #{opinionField9,jdbcType=VARCHAR},
      </if>
      <if test="opinionField10 != null" >
        #{opinionField10,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSkWornOut" >
    update zx_sk_wornOut
    <set >
      <if test="billNo != null" >
        billNo = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        orgName = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgID != null" >
        orgID = #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null" >
        applyOrgName = #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgID != null" >
        applyOrgID = #{applyOrgID,jdbcType=VARCHAR},
      </if>
      <if test="purchaseAmt != null" >
        purchaseAmt = #{purchaseAmt,jdbcType=DECIMAL},
      </if>
      <if test="approval != null" >
        approval = #{approval,jdbcType=VARCHAR},
      </if>
      <if test="beginPer != null" >
        beginPer = #{beginPer,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        auditStatus = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="instProcessId != null" >
        instProcessId = #{instProcessId,jdbcType=VARCHAR},
      </if>
      <if test="workitemID != null" >
        workitemID = #{workitemID,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null" >
        isFlag = #{isFlag,jdbcType=VARCHAR},
      </if>
      <if test="isFlagZhb != null" >
        isFlagZhb = #{isFlagZhb,jdbcType=VARCHAR},
      </if>
      <if test="sendToJuID != null" >
        sendToJuID = #{sendToJuID,jdbcType=VARCHAR},
      </if>
      <if test="sendToZhbID != null" >
        sendToZhbID = #{sendToZhbID,jdbcType=VARCHAR},
      </if>
      <if test="flowBeginDate != null" >
        flowBeginDate = #{flowBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flowEndDate != null" >
        flowEndDate = #{flowEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isReport != null" >
        isReport = #{isReport,jdbcType=VARCHAR},
      </if>
      <if test="isReportZhb != null" >
        isReportZhb = #{isReportZhb,jdbcType=VARCHAR},
      </if>
      <if test="appInsHistID != null" >
        appInsHistID = #{appInsHistID,jdbcType=VARCHAR},
      </if>
      <if test="appInsHistIDZhb != null" >
        appInsHistIDZhb = #{appInsHistIDZhb,jdbcType=VARCHAR},
      </if>
      <if test="comID != null" >
        comID = #{comID,jdbcType=VARCHAR},
      </if>
      <if test="comName != null" >
        comName = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comOrders != null" >
        comOrders = #{comOrders,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        reportDate = #{reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="workId != null" >
        work_id = #{workId,jdbcType=CHAR},
      </if>
      <if test="apih5FlowStatus != null" >
        apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR},
      </if>
      <if test="opinionField1 != null" >
        opinion_field1 = #{opinionField1,jdbcType=VARCHAR},
      </if>
      <if test="opinionField2 != null" >
        opinion_field2 = #{opinionField2,jdbcType=VARCHAR},
      </if>
      <if test="opinionField3 != null" >
        opinion_field3 = #{opinionField3,jdbcType=VARCHAR},
      </if>
      <if test="opinionField4 != null" >
        opinion_field4 = #{opinionField4,jdbcType=VARCHAR},
      </if>
      <if test="opinionField5 != null" >
        opinion_field5 = #{opinionField5,jdbcType=VARCHAR},
      </if>
      <if test="opinionField6 != null" >
        opinion_field6 = #{opinionField6,jdbcType=VARCHAR},
      </if>
      <if test="opinionField7 != null" >
        opinion_field7 = #{opinionField7,jdbcType=VARCHAR},
      </if>
      <if test="opinionField8 != null" >
        opinion_field8 = #{opinionField8,jdbcType=VARCHAR},
      </if>
      <if test="opinionField9 != null" >
        opinion_field9 = #{opinionField9,jdbcType=VARCHAR},
      </if>
      <if test="opinionField10 != null" >
        opinion_field10 = #{opinionField10,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zx_sk_wornOut_id = #{zxSkWornOutId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSkWornOut" >
    update zx_sk_wornOut set 
      billNo = #{billNo,jdbcType=VARCHAR},
      orgName = #{orgName,jdbcType=VARCHAR},
      orgID = #{orgID,jdbcType=VARCHAR},
      applyOrgName = #{applyOrgName,jdbcType=VARCHAR},
      applyOrgID = #{applyOrgID,jdbcType=VARCHAR},
      purchaseAmt = #{purchaseAmt,jdbcType=DECIMAL},
      approval = #{approval,jdbcType=VARCHAR},
      beginPer = #{beginPer,jdbcType=VARCHAR},
      auditStatus = #{auditStatus,jdbcType=VARCHAR},
      instProcessId = #{instProcessId,jdbcType=VARCHAR},
      workitemID = #{workitemID,jdbcType=VARCHAR},
      isFlag = #{isFlag,jdbcType=VARCHAR},
      isFlagZhb = #{isFlagZhb,jdbcType=VARCHAR},
      sendToJuID = #{sendToJuID,jdbcType=VARCHAR},
      sendToZhbID = #{sendToZhbID,jdbcType=VARCHAR},
      flowBeginDate = #{flowBeginDate,jdbcType=TIMESTAMP},
      flowEndDate = #{flowEndDate,jdbcType=TIMESTAMP},
      isReport = #{isReport,jdbcType=VARCHAR},
      isReportZhb = #{isReportZhb,jdbcType=VARCHAR},
      appInsHistID = #{appInsHistID,jdbcType=VARCHAR},
      appInsHistIDZhb = #{appInsHistIDZhb,jdbcType=VARCHAR},
      comID = #{comID,jdbcType=VARCHAR},
      comName = #{comName,jdbcType=VARCHAR},
      comOrders = #{comOrders,jdbcType=VARCHAR},
      reportDate = #{reportDate,jdbcType=TIMESTAMP},
      work_id = #{workId,jdbcType=CHAR},
      apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR},
      opinion_field1 = #{opinionField1,jdbcType=VARCHAR},
      opinion_field2 = #{opinionField2,jdbcType=VARCHAR},
      opinion_field3 = #{opinionField3,jdbcType=VARCHAR},
      opinion_field4 = #{opinionField4,jdbcType=VARCHAR},
      opinion_field5 = #{opinionField5,jdbcType=VARCHAR},
      opinion_field6 = #{opinionField6,jdbcType=VARCHAR},
      opinion_field7 = #{opinionField7,jdbcType=VARCHAR},
      opinion_field8 = #{opinionField8,jdbcType=VARCHAR},
      opinion_field9 = #{opinionField9,jdbcType=VARCHAR},
      opinion_field10 = #{opinionField10,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zx_sk_wornOut_id = #{zxSkWornOutId,jdbcType=CHAR}
  </update>
  <select id="selectByZxSkWornOutList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSkWornOut" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_wornOut
    where del_flag = '0'
    <if test="zxSkWornOutId != null and zxSkWornOutId != ''" >
     and zx_sk_wornOut_id = #{zxSkWornOutId,jdbcType=CHAR}
    </if>
    <if test="billNo != null and billNo != ''" >
      and billNo like CONCAT('%',CONCAT(#{billNo,jdbcType=VARCHAR},'%'))
    </if>
    <if test="orgName != null and orgName != ''" >
     and orgName = #{orgName,jdbcType=VARCHAR}
    </if>
    <if test="orgID != null and orgID != ''" >
     and orgID = #{orgID,jdbcType=VARCHAR}
    </if>
    <if test="applyOrgName != null and applyOrgName != ''" >
     and applyOrgName = #{applyOrgName,jdbcType=VARCHAR}
    </if>
    <if test="applyOrgID != null and applyOrgID != ''" >
     and applyOrgID = #{applyOrgID,jdbcType=VARCHAR}
    </if>
    <if test="purchaseAmt != null and purchaseAmt != ''" >
     and purchaseAmt = #{purchaseAmt,jdbcType=DECIMAL}
    </if>
    <if test="approval != null and approval != ''" >
     and approval = #{approval,jdbcType=VARCHAR}
    </if>
    <if test="beginPer != null and beginPer != ''" >
     and beginPer = #{beginPer,jdbcType=VARCHAR}
    </if>
    <if test="auditStatus != null and auditStatus != ''" >
     and auditStatus = #{auditStatus,jdbcType=VARCHAR}
    </if>
    <if test="instProcessId != null and instProcessId != ''" >
     and instProcessId = #{instProcessId,jdbcType=VARCHAR}
    </if>
    <if test="workitemID != null and workitemID != ''" >
     and workitemID = #{workitemID,jdbcType=VARCHAR}
    </if>
    <if test="isFlag != null and isFlag != ''" >
     and isFlag = #{isFlag,jdbcType=VARCHAR}
    </if>
    <if test="isFlagZhb != null and isFlagZhb != ''" >
     and isFlagZhb = #{isFlagZhb,jdbcType=VARCHAR}
    </if>
    <if test="sendToJuID != null and sendToJuID != ''" >
     and sendToJuID = #{sendToJuID,jdbcType=VARCHAR}
    </if>
    <if test="sendToZhbID != null and sendToZhbID != ''" >
     and sendToZhbID = #{sendToZhbID,jdbcType=VARCHAR}
    </if>
    <if test="flowBeginDate != null and flowBeginDate != ''" >
     and flowBeginDate = #{flowBeginDate,jdbcType=TIMESTAMP}
    </if>
    <if test="flowEndDate != null and flowEndDate != ''" >
     and flowEndDate = #{flowEndDate,jdbcType=TIMESTAMP}
    </if>
    <if test="isReport != null and isReport != ''" >
     and isReport = #{isReport,jdbcType=VARCHAR}
    </if>
    <if test="isReportZhb != null and isReportZhb != ''" >
     and isReportZhb = #{isReportZhb,jdbcType=VARCHAR}
    </if>
    <if test="appInsHistID != null and appInsHistID != ''" >
     and appInsHistID = #{appInsHistID,jdbcType=VARCHAR}
    </if>
    <if test="appInsHistIDZhb != null and appInsHistIDZhb != ''" >
     and appInsHistIDZhb = #{appInsHistIDZhb,jdbcType=VARCHAR}
    </if>
    <if test="comID != null and comID != ''" >
     and comID = #{comID,jdbcType=VARCHAR}
    </if>
    <if test="comName != null and comName != ''" >
     and comName = #{comName,jdbcType=VARCHAR}
    </if>
    <if test="comOrders != null and comOrders != ''" >
     and comOrders = #{comOrders,jdbcType=VARCHAR}
    </if>
    <if test="reportDate != null and reportDate != ''" >
     and reportDate = #{reportDate,jdbcType=TIMESTAMP}
    </if>
    <if test="workId != null and workId != ''" >
     and work_id = #{workId,jdbcType=CHAR}
    </if>
    <if test="apih5FlowStatus != null and apih5FlowStatus != ''" >
     and apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR}
    </if>
    <if test="opinionField1 != null and opinionField1 != ''" >
     and opinion_field1 = #{opinionField1,jdbcType=VARCHAR}
    </if>
    <if test="opinionField2 != null and opinionField2 != ''" >
     and opinion_field2 = #{opinionField2,jdbcType=VARCHAR}
    </if>
    <if test="opinionField3 != null and opinionField3 != ''" >
     and opinion_field3 = #{opinionField3,jdbcType=VARCHAR}
    </if>
    <if test="opinionField4 != null and opinionField4 != ''" >
     and opinion_field4 = #{opinionField4,jdbcType=VARCHAR}
    </if>
    <if test="opinionField5 != null and opinionField5 != ''" >
     and opinion_field5 = #{opinionField5,jdbcType=VARCHAR}
    </if>
    <if test="opinionField6 != null and opinionField6 != ''" >
     and opinion_field6 = #{opinionField6,jdbcType=VARCHAR}
    </if>
    <if test="opinionField7 != null and opinionField7 != ''" >
     and opinion_field7 = #{opinionField7,jdbcType=VARCHAR}
    </if>
    <if test="opinionField8 != null and opinionField8 != ''" >
     and opinion_field8 = #{opinionField8,jdbcType=VARCHAR}
    </if>
    <if test="opinionField9 != null and opinionField9 != ''" >
     and opinion_field9 = #{opinionField9,jdbcType=VARCHAR}
    </if>
    <if test="opinionField10 != null and opinionField10 != ''" >
     and opinion_field10 = #{opinionField10,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxSkWornOut" parameterType="com.apih5.mybatis.pojo.ZxSkWornOut" >
    <![CDATA[ 
        update zx_sk_wornOut
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zx_sk_wornOut_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxSkWornOutId} 
     </foreach>
  </delete>
  <select id="getZxSkWornOutCount" parameterType="java.lang.String" resultType="int">
    select count(*) from zx_sk_wornOut where orgID = #{orgId}
  </select>
</mapper>
