<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSkTurnoverCheckItemMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSkTurnoverCheckItem" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="billID" property="billID" jdbcType="VARCHAR" />
    <result column="batchNo" property="batchNo" jdbcType="VARCHAR" />
    <result column="resID" property="resID" jdbcType="VARCHAR" />
    <result column="resCode" property="resCode" jdbcType="VARCHAR" />
    <result column="resName" property="resName" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="resUnit" property="resUnit" jdbcType="VARCHAR" />
    <result column="stockTransItemID" property="stockTransItemID" jdbcType="VARCHAR" />
    <result column="stockTransID" property="stockTransID" jdbcType="VARCHAR" />
    <result column="stockTransBillNo" property="stockTransBillNo" jdbcType="VARCHAR" />
    <result column="inQty" property="inQty" jdbcType="DECIMAL" />
    <result column="inPrice" property="inPrice" jdbcType="DECIMAL" />
    <result column="inAmt" property="inAmt" jdbcType="DECIMAL" />
    <result column="feeSum" property="feeSum" jdbcType="DECIMAL" />
    <result column="remainAmt" property="remainAmt" jdbcType="DECIMAL" />
    <result column="feePrice" property="feePrice" jdbcType="DECIMAL" />
    <result column="unCheckQty" property="unCheckQty" jdbcType="DECIMAL" />
    <result column="taxRate" property="taxRate" jdbcType="VARCHAR" />
    <result column="isDeduct" property="isDeduct" jdbcType="VARCHAR" />
    <result column="inPriceNoTax" property="inPriceNoTax" jdbcType="DECIMAL" />
    <result column="inPriceTax" property="inPriceTax" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, billID, batchNo, resID, resCode, 
    resName, spec, resUnit, stockTransItemID, stockTransID, 
    stockTransBillNo, inQty, inPrice, inAmt, feeSum, 
    remainAmt, feePrice, unCheckQty, taxRate, isDeduct, 
    inPriceNoTax, inPriceTax, remarks, sort, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_turnoverCheckItem
    where del_flag = '0' and id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sk_turnoverCheckItem
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverCheckItem" >
    insert into zx_sk_turnoverCheckItem (
    id, billID, batchNo, resID, resCode, 
    resName, spec, resUnit, stockTransItemID, stockTransID, 
    stockTransBillNo, inQty, inPrice, inAmt, feeSum, 
    remainAmt, feePrice, unCheckQty, taxRate, isDeduct, 
    inPriceNoTax, inPriceTax, remarks, sort, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name
      )
    values (
      #{id,jdbcType=CHAR}, #{billID,jdbcType=VARCHAR}, #{batchNo,jdbcType=VARCHAR}, #{resID,jdbcType=VARCHAR}, #{resCode,jdbcType=VARCHAR}, 
    #{resName,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{resUnit,jdbcType=VARCHAR}, #{stockTransItemID,jdbcType=VARCHAR}, #{stockTransID,jdbcType=VARCHAR}, 
    #{stockTransBillNo,jdbcType=VARCHAR}, #{inQty,jdbcType=DECIMAL}, #{inPrice,jdbcType=DECIMAL}, #{inAmt,jdbcType=DECIMAL}, #{feeSum,jdbcType=DECIMAL}, 
    #{remainAmt,jdbcType=DECIMAL}, #{feePrice,jdbcType=DECIMAL}, #{unCheckQty,jdbcType=DECIMAL}, #{taxRate,jdbcType=VARCHAR}, #{isDeduct,jdbcType=VARCHAR}, 
    #{inPriceNoTax,jdbcType=DECIMAL}, #{inPriceTax,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, 
    #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
    #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverCheckItem" >
    insert into zx_sk_turnoverCheckItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billID != null" >
        billID,
      </if>
      <if test="batchNo != null" >
        batchNo,
      </if>
      <if test="resID != null" >
        resID,
      </if>
      <if test="resCode != null" >
        resCode,
      </if>
      <if test="resName != null" >
        resName,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="resUnit != null" >
        resUnit,
      </if>
      <if test="stockTransItemID != null" >
        stockTransItemID,
      </if>
      <if test="stockTransID != null" >
        stockTransID,
      </if>
      <if test="stockTransBillNo != null" >
        stockTransBillNo,
      </if>
      <if test="inQty != null" >
        inQty,
      </if>
      <if test="inPrice != null" >
        inPrice,
      </if>
      <if test="inAmt != null" >
        inAmt,
      </if>
      <if test="feeSum != null" >
        feeSum,
      </if>
      <if test="remainAmt != null" >
        remainAmt,
      </if>
      <if test="feePrice != null" >
        feePrice,
      </if>
      <if test="unCheckQty != null" >
        unCheckQty,
      </if>
      <if test="taxRate != null" >
        taxRate,
      </if>
      <if test="isDeduct != null" >
        isDeduct,
      </if>
      <if test="inPriceNoTax != null" >
        inPriceNoTax,
      </if>
      <if test="inPriceTax != null" >
        inPriceTax,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="billID != null" >
        #{billID,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="resID != null" >
        #{resID,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null" >
        #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resName != null" >
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="resUnit != null" >
        #{resUnit,jdbcType=VARCHAR},
      </if>
      <if test="stockTransItemID != null" >
        #{stockTransItemID,jdbcType=VARCHAR},
      </if>
      <if test="stockTransID != null" >
        #{stockTransID,jdbcType=VARCHAR},
      </if>
      <if test="stockTransBillNo != null" >
        #{stockTransBillNo,jdbcType=VARCHAR},
      </if>
      <if test="inQty != null" >
        #{inQty,jdbcType=DECIMAL},
      </if>
      <if test="inPrice != null" >
        #{inPrice,jdbcType=DECIMAL},
      </if>
      <if test="inAmt != null" >
        #{inAmt,jdbcType=DECIMAL},
      </if>
      <if test="feeSum != null" >
        #{feeSum,jdbcType=DECIMAL},
      </if>
      <if test="remainAmt != null" >
        #{remainAmt,jdbcType=DECIMAL},
      </if>
      <if test="feePrice != null" >
        #{feePrice,jdbcType=DECIMAL},
      </if>
      <if test="unCheckQty != null" >
        #{unCheckQty,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="isDeduct != null" >
        #{isDeduct,jdbcType=VARCHAR},
      </if>
      <if test="inPriceNoTax != null" >
        #{inPriceNoTax,jdbcType=DECIMAL},
      </if>
      <if test="inPriceTax != null" >
        #{inPriceTax,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverCheckItem" >
    update zx_sk_turnoverCheckItem
    <set >
      <if test="billID != null" >
        billID = #{billID,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        batchNo = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="resID != null" >
        resID = #{resID,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null" >
        resCode = #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resName != null" >
        resName = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="resUnit != null" >
        resUnit = #{resUnit,jdbcType=VARCHAR},
      </if>
      <if test="stockTransItemID != null" >
        stockTransItemID = #{stockTransItemID,jdbcType=VARCHAR},
      </if>
      <if test="stockTransID != null" >
        stockTransID = #{stockTransID,jdbcType=VARCHAR},
      </if>
      <if test="stockTransBillNo != null" >
        stockTransBillNo = #{stockTransBillNo,jdbcType=VARCHAR},
      </if>
      <if test="inQty != null" >
        inQty = #{inQty,jdbcType=DECIMAL},
      </if>
      <if test="inPrice != null" >
        inPrice = #{inPrice,jdbcType=DECIMAL},
      </if>
      <if test="inAmt != null" >
        inAmt = #{inAmt,jdbcType=DECIMAL},
      </if>
      <if test="feeSum != null" >
        feeSum = #{feeSum,jdbcType=DECIMAL},
      </if>
      <if test="remainAmt != null" >
        remainAmt = #{remainAmt,jdbcType=DECIMAL},
      </if>
      <if test="feePrice != null" >
        feePrice = #{feePrice,jdbcType=DECIMAL},
      </if>
      <if test="unCheckQty != null" >
        unCheckQty = #{unCheckQty,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        taxRate = #{taxRate,jdbcType=VARCHAR},
      </if>
      <if test="isDeduct != null" >
        isDeduct = #{isDeduct,jdbcType=VARCHAR},
      </if>
      <if test="inPriceNoTax != null" >
        inPriceNoTax = #{inPriceNoTax,jdbcType=DECIMAL},
      </if>
      <if test="inPriceTax != null" >
        inPriceTax = #{inPriceTax,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverCheckItem" >
    update zx_sk_turnoverCheckItem set 
      billID = #{billID,jdbcType=VARCHAR},
      batchNo = #{batchNo,jdbcType=VARCHAR},
      resID = #{resID,jdbcType=VARCHAR},
      resCode = #{resCode,jdbcType=VARCHAR},
      resName = #{resName,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      resUnit = #{resUnit,jdbcType=VARCHAR},
      stockTransItemID = #{stockTransItemID,jdbcType=VARCHAR},
      stockTransID = #{stockTransID,jdbcType=VARCHAR},
      stockTransBillNo = #{stockTransBillNo,jdbcType=VARCHAR},
      inQty = #{inQty,jdbcType=DECIMAL},
      inPrice = #{inPrice,jdbcType=DECIMAL},
      inAmt = #{inAmt,jdbcType=DECIMAL},
      feeSum = #{feeSum,jdbcType=DECIMAL},
      remainAmt = #{remainAmt,jdbcType=DECIMAL},
      feePrice = #{feePrice,jdbcType=DECIMAL},
      unCheckQty = #{unCheckQty,jdbcType=DECIMAL},
      taxRate = #{taxRate,jdbcType=VARCHAR},
      isDeduct = #{isDeduct,jdbcType=VARCHAR},
      inPriceNoTax = #{inPriceNoTax,jdbcType=DECIMAL},
      inPriceTax = #{inPriceTax,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByZxSkTurnoverCheckItemList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverCheckItem" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_turnoverCheckItem
    where del_flag = '0'
    <if test="id != null and id != ''" >
     and id = #{id,jdbcType=CHAR}
    </if>
    <if test="billID != null and billID != ''" >
     and billID = #{billID,jdbcType=VARCHAR}
    </if>
    <if test="batchNo != null and batchNo != ''" >
     and batchNo = #{batchNo,jdbcType=VARCHAR}
    </if>
    <if test="resID != null and resID != ''" >
     and resID = #{resID,jdbcType=VARCHAR}
    </if>
    <if test="resCode != null and resCode != ''" >
     and resCode = #{resCode,jdbcType=VARCHAR}
    </if>
    <if test="resName != null and resName != ''" >
     and resName = #{resName,jdbcType=VARCHAR}
    </if>
    <if test="spec != null and spec != ''" >
     and spec = #{spec,jdbcType=VARCHAR}
    </if>
    <if test="resUnit != null and resUnit != ''" >
     and resUnit = #{resUnit,jdbcType=VARCHAR}
    </if>
    <if test="stockTransItemID != null and stockTransItemID != ''" >
     and stockTransItemID = #{stockTransItemID,jdbcType=VARCHAR}
    </if>
    <if test="stockTransID != null and stockTransID != ''" >
     and stockTransID = #{stockTransID,jdbcType=VARCHAR}
    </if>
    <if test="stockTransBillNo != null and stockTransBillNo != ''" >
     and stockTransBillNo = #{stockTransBillNo,jdbcType=VARCHAR}
    </if>
    <if test="inQty != null and inQty != ''" >
     and inQty = #{inQty,jdbcType=DECIMAL}
    </if>
    <if test="inPrice != null and inPrice != ''" >
     and inPrice = #{inPrice,jdbcType=DECIMAL}
    </if>
    <if test="inAmt != null and inAmt != ''" >
     and inAmt = #{inAmt,jdbcType=DECIMAL}
    </if>
    <if test="feeSum != null and feeSum != ''" >
     and feeSum = #{feeSum,jdbcType=DECIMAL}
    </if>
    <if test="remainAmt != null and remainAmt != ''" >
     and remainAmt = #{remainAmt,jdbcType=DECIMAL}
    </if>
    <if test="feePrice != null and feePrice != ''" >
     and feePrice = #{feePrice,jdbcType=DECIMAL}
    </if>
    <if test="unCheckQty != null and unCheckQty != ''" >
     and unCheckQty = #{unCheckQty,jdbcType=DECIMAL}
    </if>
    <if test="taxRate != null and taxRate != ''" >
     and taxRate = #{taxRate,jdbcType=VARCHAR}
    </if>
    <if test="isDeduct != null and isDeduct != ''" >
     and isDeduct = #{isDeduct,jdbcType=VARCHAR}
    </if>
    <if test="inPriceNoTax != null and inPriceNoTax != ''" >
     and inPriceNoTax = #{inPriceNoTax,jdbcType=DECIMAL}
    </if>
    <if test="inPriceTax != null and inPriceTax != ''" >
     and inPriceTax = #{inPriceTax,jdbcType=DECIMAL}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxSkTurnoverCheckItem" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverCheckItem" >
    <![CDATA[ 
        update zx_sk_turnoverCheckItem
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.id} 
     </foreach>
  </delete>
  <select id="getZxSkTurnoverCheckReceiveInQty" parameterType="java.lang.String" resultType="com.apih5.mybatis.pojo.ZxSkTurnoverInItem">
    select
      zx_sk_turnoverinitem.inQty - sum(IF(a.inQty IS NULL,0.00,a.inQty)) as oldQty,
      zx_sk_turnoverinitem.feeSum as oldFeeSum
      from zx_sk_turnoverin
              inner join zx_sk_turnoverinitem
                  on zx_sk_turnoverin.id = zx_sk_turnoverinitem.billID
              left join
										(select inQty,batchNo from zx_sk_turnoverCheckItem
												left join zx_sk_turnoverCheck
													on zx_sk_turnoverCheckItem.billID = zx_sk_turnoverCheck.id
                      where zx_sk_turnoverCheckItem.del_flag = 0
                      and zx_sk_turnoverCheck.del_flag = 0
                      and zx_sk_turnoverCheck.billStatus = 1
                      and zx_sk_turnoverCheckItem.id = #{batchNo}
											) as a
                        on zx_sk_turnoverinitem.id = a.batchNo
      where
          zx_sk_turnoverin.del_flag = 0
          and zx_sk_turnoverinitem.del_flag = 0
          and zx_sk_turnoverin.status = 1
          and zx_sk_turnoverinitem.precollecte = 1
					and zx_sk_turnoverinitem.id = #{batchNo}
          GROUP BY 	zx_sk_turnoverinitem.id
  </select>
</mapper>
