<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSkResourceOutMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSkResourceOut" >
    <id column="zxSkResourceOutId" property="zxSkResourceOutId" jdbcType="CHAR" />
    <result column="outType" property="outType" jdbcType="VARCHAR" />
    <result column="busDate" property="busDate" jdbcType="VARCHAR" />
    <result column="inOrgName" property="inOrgName" jdbcType="VARCHAR" />
    <result column="resourceName" property="resourceName" jdbcType="VARCHAR" />
    <result column="resCode" property="resCode" jdbcType="VARCHAR" />
    <result column="resName" property="resName" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="resUnit" property="resUnit" jdbcType="VARCHAR" />
    <result column="outQty" property="outQty" jdbcType="DECIMAL" />
    <result column="stdPrice" property="stdPrice" jdbcType="DECIMAL" />
    <result column="outAmt" property="outAmt" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="inOrgName" property="inOrgName" jdbcType="VARCHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="appOrgID" property="appOrgID" jdbcType="VARCHAR" />
    <result column="beginDate" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="endDate" property="endDate" jdbcType="TIMESTAMP" />
    <result column="resTypeID" property="resTypeID" jdbcType="VARCHAR" />
    <result column="resID" property="resID" jdbcType="VARCHAR" />
    <result column="outType" property="outType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zxSkResourceOutId, outType, busDate, inOrgName, resourceName, 
    resCode, resName, spec, resUnit, outQty, 
    stdPrice, outAmt, remarks, sort, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_resourceOut
    where del_flag = '0' and zxSkResourceOutId = #{zxSkResourceOutId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sk_resourceOut
    where zxSkResourceOutId = #{zxSkResourceOutId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSkResourceOut" >
    insert into zx_sk_resourceOut (
    zxSkResourceOutId, outType, busDate, inOrgName, resourceName, 
    resCode, resName, spec, resUnit, outQty, 
    stdPrice, outAmt, remarks, sort, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name
      )
    values (
      #{zxSkResourceOutId,jdbcType=CHAR}, #{outType,jdbcType=VARCHAR}, #{busDate,jdbcType=VARCHAR}, #{inOrgName,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, 
    #{resCode,jdbcType=VARCHAR}, #{resName,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{resUnit,jdbcType=VARCHAR}, #{outQty,jdbcType=DECIMAL}, 
    #{stdPrice,jdbcType=DECIMAL}, #{outAmt,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, 
    #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
    #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSkResourceOut" >
    insert into zx_sk_resourceOut
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxSkResourceOutId != null" >
        zxSkResourceOutId,
      </if>
      <if test="outType != null" >
        outType,
      </if>
      <if test="busDate != null" >
        busDate,
      </if>
      <if test="inOrgName != null" >
        inOrgName,
      </if>
      <if test="resourceName != null" >
        resourceName,
      </if>
      <if test="resCode != null" >
        resCode,
      </if>
      <if test="resName != null" >
        resName,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="resUnit != null" >
        resUnit,
      </if>
      <if test="outQty != null" >
        outQty,
      </if>
      <if test="stdPrice != null" >
        stdPrice,
      </if>
      <if test="outAmt != null" >
        outAmt,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxSkResourceOutId != null" >
        #{zxSkResourceOutId,jdbcType=CHAR},
      </if>
      <if test="outType != null" >
        #{outType,jdbcType=VARCHAR},
      </if>
      <if test="busDate != null" >
        #{busDate,jdbcType=VARCHAR},
      </if>
      <if test="inOrgName != null" >
        #{inOrgName,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null" >
        #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resName != null" >
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="resUnit != null" >
        #{resUnit,jdbcType=VARCHAR},
      </if>
      <if test="outQty != null" >
        #{outQty,jdbcType=DECIMAL},
      </if>
      <if test="stdPrice != null" >
        #{stdPrice,jdbcType=DECIMAL},
      </if>
      <if test="outAmt != null" >
        #{outAmt,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSkResourceOut" >
    update zx_sk_resourceOut
    <set >
      <if test="outType != null" >
        outType = #{outType,jdbcType=VARCHAR},
      </if>
      <if test="busDate != null" >
        busDate = #{busDate,jdbcType=VARCHAR},
      </if>
      <if test="inOrgName != null" >
        inOrgName = #{inOrgName,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        resourceName = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null" >
        resCode = #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resName != null" >
        resName = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="resUnit != null" >
        resUnit = #{resUnit,jdbcType=VARCHAR},
      </if>
      <if test="outQty != null" >
        outQty = #{outQty,jdbcType=DECIMAL},
      </if>
      <if test="stdPrice != null" >
        stdPrice = #{stdPrice,jdbcType=DECIMAL},
      </if>
      <if test="outAmt != null" >
        outAmt = #{outAmt,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zxSkResourceOutId = #{zxSkResourceOutId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSkResourceOut" >
    update zx_sk_resourceOut set 
      outType = #{outType,jdbcType=VARCHAR},
      busDate = #{busDate,jdbcType=VARCHAR},
      inOrgName = #{inOrgName,jdbcType=VARCHAR},
      resourceName = #{resourceName,jdbcType=VARCHAR},
      resCode = #{resCode,jdbcType=VARCHAR},
      resName = #{resName,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      resUnit = #{resUnit,jdbcType=VARCHAR},
      outQty = #{outQty,jdbcType=DECIMAL},
      stdPrice = #{stdPrice,jdbcType=DECIMAL},
      outAmt = #{outAmt,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zxSkResourceOutId = #{zxSkResourceOutId,jdbcType=CHAR}
  </update>
  <select id="selectByZxSkResourceOutList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSkResourceOut" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_resourceOut
    where del_flag = '0'
    <if test="zxSkResourceOutId != null and zxSkResourceOutId != ''" >
     and zxSkResourceOutId = #{zxSkResourceOutId,jdbcType=CHAR}
    </if>
    <if test="outType != null and outType != ''" >
     and outType = #{outType,jdbcType=VARCHAR}
    </if>
    <if test="busDate != null and busDate != ''" >
     and busDate = #{busDate,jdbcType=VARCHAR}
    </if>
    <if test="inOrgName != null and inOrgName != ''" >
     and inOrgName = #{inOrgName,jdbcType=VARCHAR}
    </if>
    <if test="resourceName != null and resourceName != ''" >
     and resourceName = #{resourceName,jdbcType=VARCHAR}
    </if>
    <if test="resCode != null and resCode != ''" >
     and resCode = #{resCode,jdbcType=VARCHAR}
    </if>
    <if test="resName != null and resName != ''" >
     and resName = #{resName,jdbcType=VARCHAR}
    </if>
    <if test="spec != null and spec != ''" >
     and spec = #{spec,jdbcType=VARCHAR}
    </if>
    <if test="resUnit != null and resUnit != ''" >
     and resUnit = #{resUnit,jdbcType=VARCHAR}
    </if>
    <if test="outQty != null and outQty != ''" >
     and outQty = #{outQty,jdbcType=DECIMAL}
    </if>
    <if test="stdPrice != null and stdPrice != ''" >
     and stdPrice = #{stdPrice,jdbcType=DECIMAL}
    </if>
    <if test="outAmt != null and outAmt != ''" >
     and outAmt = #{outAmt,jdbcType=DECIMAL}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxSkResourceOut" parameterType="com.apih5.mybatis.pojo.ZxSkResourceOut" >
    <![CDATA[ 
        update zx_sk_resourceOut
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zxSkResourceOutId in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxSkResourceOutId} 
     </foreach>
  </delete>
  <select id="selectZxSkResourceOut" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSkResourceOut" >
  SELECT * FROM
        (select -- 出库类型,出库日期,领料/调拨单位,物资类别,材料编号,材料名称,规格型号,计量单位,数量,单价,金额
                case when it.billType in (21,22) then '领料' when it.billType in (30,33) then '对内调拨' when it.billType in (16,17) then '对外调拨' else '' end outType,
                it.busDate,it.inOrgName,it.resourceName,iti.resCode,iti.resName,iti.spec,iti.resUnit,
				round(iti.outQty,3) outQty,
                round(case when it.billType in (21,30,16) then iti.stdPrice else iti.outPrice end,2) as stdPrice,
				round(iti.outAmt,2) as outAmt
        from zx_sk_stocktransitem iti inner join zx_sk_stocktransfer it on iti.billID=it.ID AND it.billStatus='已审核'
        where it.orgID=#{orgID,jdbcType=VARCHAR} and it.billType in (21,22,30,33,16,17) and it.busDate between #{beginDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP} 
          and it.inOrgName like '%'||#{inOrgName,jdbcType=VARCHAR}||'%'
          and (iti.resID=#{resID,jdbcType=VARCHAR} OR #{resID,jdbcType=VARCHAR}='')
		  and (it.resourceID=#{resTypeID,jdbcType=VARCHAR} OR #{resTypeID,jdbcType=VARCHAR}='')
        ) tem
        where (tem.outType=#{outType,jdbcType=VARCHAR} or #{outType,jdbcType=VARCHAR}='全部')
        order by busDate,inOrgName,resCode
  </select>
</mapper>
