<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSkResMoveMonthMPMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSkResMoveMonthMP" >
    <id column="zxSkResMoveMonthMPId" property="zxSkResMoveMonthMPId" jdbcType="CHAR" />
    <result column="resCode" property="resCode" jdbcType="VARCHAR" />
    <result column="resName" property="resName" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="stockQty" property="stockQty" jdbcType="DECIMAL" />
    <result column="stockAmt" property="stockAmt" jdbcType="DECIMAL" />
    <result column="stockPrice" property="stockPrice" jdbcType="DECIMAL" />
    <result column="inQty" property="inQty" jdbcType="DECIMAL" />
    <result column="inPrice" property="inPrice" jdbcType="DECIMAL" />
    <result column="inAmt" property="inAmt" jdbcType="DECIMAL" />
    <result column="orsQty" property="orsQty" jdbcType="DECIMAL" />
    <result column="otrQty" property="otrQty" jdbcType="DECIMAL" />
    <result column="serQty" property="serQty" jdbcType="DECIMAL" />
    <result column="obuQty" property="obuQty" jdbcType="DECIMAL" />
    <result column="ocsQty" property="ocsQty" jdbcType="DECIMAL" />
    <result column="oswQty" property="oswQty" jdbcType="DECIMAL" />
    <result column="oswAmt" property="oswAmt" jdbcType="DECIMAL" />
    <result column="oswPrice" property="oswPrice" jdbcType="DECIMAL" />
    <result column="outAmt" property="outAmt" jdbcType="DECIMAL" />
    <result column="otkPrice" property="otkPrice" jdbcType="DECIMAL" />
    <result column="otkQty" property="otkQty" jdbcType="DECIMAL" />
    <result column="vinQty" property="vinQty" jdbcType="DECIMAL" />
    <result column="vinAmt" property="vinAmt" jdbcType="DECIMAL" />
    <result column="thisQtys" property="thisQtys" jdbcType="DECIMAL" />
    <result column="thisAmts" property="thisAmts" jdbcType="DECIMAL" />
    <result column="thisProce" property="thisProce" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zxSkResMoveMonthMPId, resCode, resName, spec, unit, 
    stockQty, stockAmt, stockPrice, inQty, inPrice, 
    inAmt, orsQty, otrQty, serQty, obuQty, 
    ocsQty, oswQty, oswAmt, oswPrice, outAmt, 
    otkPrice, otkQty, vinQty, vinAmt, thisQtys, 
    thisAmts, thisProce, remarks, sort, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_resMoveMonthMP
    where del_flag = '0' and zxSkResMoveMonthMPId = #{zxSkResMoveMonthMPId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sk_resMoveMonthMP
    where zxSkResMoveMonthMPId = #{zxSkResMoveMonthMPId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSkResMoveMonthMP" >
    insert into zx_sk_resMoveMonthMP (
    zxSkResMoveMonthMPId, resCode, resName, spec, unit, 
    stockQty, stockAmt, stockPrice, inQty, inPrice, 
    inAmt, orsQty, otrQty, serQty, obuQty, 
    ocsQty, oswQty, oswAmt, oswPrice, outAmt, 
    otkPrice, otkQty, vinQty, vinAmt, thisQtys, 
    thisAmts, thisProce, remarks, sort, del_flag, 
    create_time, create_user, create_user_name, modify_time, modify_user, 
    modify_user_name
      )
    values (
      #{zxSkResMoveMonthMPId,jdbcType=CHAR}, #{resCode,jdbcType=VARCHAR}, #{resName,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
    #{stockQty,jdbcType=DECIMAL}, #{stockAmt,jdbcType=DECIMAL}, #{stockPrice,jdbcType=DECIMAL}, #{inQty,jdbcType=DECIMAL}, #{inPrice,jdbcType=DECIMAL}, 
    #{inAmt,jdbcType=DECIMAL}, #{orsQty,jdbcType=DECIMAL}, #{otrQty,jdbcType=DECIMAL}, #{serQty,jdbcType=DECIMAL}, #{obuQty,jdbcType=DECIMAL}, 
    #{ocsQty,jdbcType=DECIMAL}, #{oswQty,jdbcType=DECIMAL}, #{oswAmt,jdbcType=DECIMAL}, #{oswPrice,jdbcType=DECIMAL}, #{outAmt,jdbcType=DECIMAL}, 
    #{otkPrice,jdbcType=DECIMAL}, #{otkQty,jdbcType=DECIMAL}, #{vinQty,jdbcType=DECIMAL}, #{vinAmt,jdbcType=DECIMAL}, #{thisQtys,jdbcType=DECIMAL}, 
    #{thisAmts,jdbcType=DECIMAL}, #{thisProce,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, 
    #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
    #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSkResMoveMonthMP" >
    insert into zx_sk_resMoveMonthMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zxSkResMoveMonthMPId != null" >
        zxSkResMoveMonthMPId,
      </if>
      <if test="resCode != null" >
        resCode,
      </if>
      <if test="resName != null" >
        resName,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="stockQty != null" >
        stockQty,
      </if>
      <if test="stockAmt != null" >
        stockAmt,
      </if>
      <if test="stockPrice != null" >
        stockPrice,
      </if>
      <if test="inQty != null" >
        inQty,
      </if>
      <if test="inPrice != null" >
        inPrice,
      </if>
      <if test="inAmt != null" >
        inAmt,
      </if>
      <if test="orsQty != null" >
        orsQty,
      </if>
      <if test="otrQty != null" >
        otrQty,
      </if>
      <if test="serQty != null" >
        serQty,
      </if>
      <if test="obuQty != null" >
        obuQty,
      </if>
      <if test="ocsQty != null" >
        ocsQty,
      </if>
      <if test="oswQty != null" >
        oswQty,
      </if>
      <if test="oswAmt != null" >
        oswAmt,
      </if>
      <if test="oswPrice != null" >
        oswPrice,
      </if>
      <if test="outAmt != null" >
        outAmt,
      </if>
      <if test="otkPrice != null" >
        otkPrice,
      </if>
      <if test="otkQty != null" >
        otkQty,
      </if>
      <if test="vinQty != null" >
        vinQty,
      </if>
      <if test="vinAmt != null" >
        vinAmt,
      </if>
      <if test="thisQtys != null" >
        thisQtys,
      </if>
      <if test="thisAmts != null" >
        thisAmts,
      </if>
      <if test="thisProce != null" >
        thisProce,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zxSkResMoveMonthMPId != null" >
        #{zxSkResMoveMonthMPId,jdbcType=CHAR},
      </if>
      <if test="resCode != null" >
        #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resName != null" >
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="stockQty != null" >
        #{stockQty,jdbcType=DECIMAL},
      </if>
      <if test="stockAmt != null" >
        #{stockAmt,jdbcType=DECIMAL},
      </if>
      <if test="stockPrice != null" >
        #{stockPrice,jdbcType=DECIMAL},
      </if>
      <if test="inQty != null" >
        #{inQty,jdbcType=DECIMAL},
      </if>
      <if test="inPrice != null" >
        #{inPrice,jdbcType=DECIMAL},
      </if>
      <if test="inAmt != null" >
        #{inAmt,jdbcType=DECIMAL},
      </if>
      <if test="orsQty != null" >
        #{orsQty,jdbcType=DECIMAL},
      </if>
      <if test="otrQty != null" >
        #{otrQty,jdbcType=DECIMAL},
      </if>
      <if test="serQty != null" >
        #{serQty,jdbcType=DECIMAL},
      </if>
      <if test="obuQty != null" >
        #{obuQty,jdbcType=DECIMAL},
      </if>
      <if test="ocsQty != null" >
        #{ocsQty,jdbcType=DECIMAL},
      </if>
      <if test="oswQty != null" >
        #{oswQty,jdbcType=DECIMAL},
      </if>
      <if test="oswAmt != null" >
        #{oswAmt,jdbcType=DECIMAL},
      </if>
      <if test="oswPrice != null" >
        #{oswPrice,jdbcType=DECIMAL},
      </if>
      <if test="outAmt != null" >
        #{outAmt,jdbcType=DECIMAL},
      </if>
      <if test="otkPrice != null" >
        #{otkPrice,jdbcType=DECIMAL},
      </if>
      <if test="otkQty != null" >
        #{otkQty,jdbcType=DECIMAL},
      </if>
      <if test="vinQty != null" >
        #{vinQty,jdbcType=DECIMAL},
      </if>
      <if test="vinAmt != null" >
        #{vinAmt,jdbcType=DECIMAL},
      </if>
      <if test="thisQtys != null" >
        #{thisQtys,jdbcType=DECIMAL},
      </if>
      <if test="thisAmts != null" >
        #{thisAmts,jdbcType=DECIMAL},
      </if>
      <if test="thisProce != null" >
        #{thisProce,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSkResMoveMonthMP" >
    update zx_sk_resMoveMonthMP
    <set >
      <if test="resCode != null" >
        resCode = #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resName != null" >
        resName = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="stockQty != null" >
        stockQty = #{stockQty,jdbcType=DECIMAL},
      </if>
      <if test="stockAmt != null" >
        stockAmt = #{stockAmt,jdbcType=DECIMAL},
      </if>
      <if test="stockPrice != null" >
        stockPrice = #{stockPrice,jdbcType=DECIMAL},
      </if>
      <if test="inQty != null" >
        inQty = #{inQty,jdbcType=DECIMAL},
      </if>
      <if test="inPrice != null" >
        inPrice = #{inPrice,jdbcType=DECIMAL},
      </if>
      <if test="inAmt != null" >
        inAmt = #{inAmt,jdbcType=DECIMAL},
      </if>
      <if test="orsQty != null" >
        orsQty = #{orsQty,jdbcType=DECIMAL},
      </if>
      <if test="otrQty != null" >
        otrQty = #{otrQty,jdbcType=DECIMAL},
      </if>
      <if test="serQty != null" >
        serQty = #{serQty,jdbcType=DECIMAL},
      </if>
      <if test="obuQty != null" >
        obuQty = #{obuQty,jdbcType=DECIMAL},
      </if>
      <if test="ocsQty != null" >
        ocsQty = #{ocsQty,jdbcType=DECIMAL},
      </if>
      <if test="oswQty != null" >
        oswQty = #{oswQty,jdbcType=DECIMAL},
      </if>
      <if test="oswAmt != null" >
        oswAmt = #{oswAmt,jdbcType=DECIMAL},
      </if>
      <if test="oswPrice != null" >
        oswPrice = #{oswPrice,jdbcType=DECIMAL},
      </if>
      <if test="outAmt != null" >
        outAmt = #{outAmt,jdbcType=DECIMAL},
      </if>
      <if test="otkPrice != null" >
        otkPrice = #{otkPrice,jdbcType=DECIMAL},
      </if>
      <if test="otkQty != null" >
        otkQty = #{otkQty,jdbcType=DECIMAL},
      </if>
      <if test="vinQty != null" >
        vinQty = #{vinQty,jdbcType=DECIMAL},
      </if>
      <if test="vinAmt != null" >
        vinAmt = #{vinAmt,jdbcType=DECIMAL},
      </if>
      <if test="thisQtys != null" >
        thisQtys = #{thisQtys,jdbcType=DECIMAL},
      </if>
      <if test="thisAmts != null" >
        thisAmts = #{thisAmts,jdbcType=DECIMAL},
      </if>
      <if test="thisProce != null" >
        thisProce = #{thisProce,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zxSkResMoveMonthMPId = #{zxSkResMoveMonthMPId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSkResMoveMonthMP" >
    update zx_sk_resMoveMonthMP set 
      resCode = #{resCode,jdbcType=VARCHAR},
      resName = #{resName,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      stockQty = #{stockQty,jdbcType=DECIMAL},
      stockAmt = #{stockAmt,jdbcType=DECIMAL},
      stockPrice = #{stockPrice,jdbcType=DECIMAL},
      inQty = #{inQty,jdbcType=DECIMAL},
      inPrice = #{inPrice,jdbcType=DECIMAL},
      inAmt = #{inAmt,jdbcType=DECIMAL},
      orsQty = #{orsQty,jdbcType=DECIMAL},
      otrQty = #{otrQty,jdbcType=DECIMAL},
      serQty = #{serQty,jdbcType=DECIMAL},
      obuQty = #{obuQty,jdbcType=DECIMAL},
      ocsQty = #{ocsQty,jdbcType=DECIMAL},
      oswQty = #{oswQty,jdbcType=DECIMAL},
      oswAmt = #{oswAmt,jdbcType=DECIMAL},
      oswPrice = #{oswPrice,jdbcType=DECIMAL},
      outAmt = #{outAmt,jdbcType=DECIMAL},
      otkPrice = #{otkPrice,jdbcType=DECIMAL},
      otkQty = #{otkQty,jdbcType=DECIMAL},
      vinQty = #{vinQty,jdbcType=DECIMAL},
      vinAmt = #{vinAmt,jdbcType=DECIMAL},
      thisQtys = #{thisQtys,jdbcType=DECIMAL},
      thisAmts = #{thisAmts,jdbcType=DECIMAL},
      thisProce = #{thisProce,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zxSkResMoveMonthMPId = #{zxSkResMoveMonthMPId,jdbcType=CHAR}
  </update>
  <select id="selectByZxSkResMoveMonthMPList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSkResMoveMonthMP" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_resMoveMonthMP
    where del_flag = '0'
    <if test="zxSkResMoveMonthMPId != null and zxSkResMoveMonthMPId != ''" >
     and zxSkResMoveMonthMPId = #{zxSkResMoveMonthMPId,jdbcType=CHAR}
    </if>
    <if test="resCode != null and resCode != ''" >
     and resCode = #{resCode,jdbcType=VARCHAR}
    </if>
    <if test="resName != null and resName != ''" >
     and resName = #{resName,jdbcType=VARCHAR}
    </if>
    <if test="spec != null and spec != ''" >
     and spec = #{spec,jdbcType=VARCHAR}
    </if>
    <if test="unit != null and unit != ''" >
     and unit = #{unit,jdbcType=VARCHAR}
    </if>
    <if test="stockQty != null and stockQty != ''" >
     and stockQty = #{stockQty,jdbcType=DECIMAL}
    </if>
    <if test="stockAmt != null and stockAmt != ''" >
     and stockAmt = #{stockAmt,jdbcType=DECIMAL}
    </if>
    <if test="stockPrice != null and stockPrice != ''" >
     and stockPrice = #{stockPrice,jdbcType=DECIMAL}
    </if>
    <if test="inQty != null and inQty != ''" >
     and inQty = #{inQty,jdbcType=DECIMAL}
    </if>
    <if test="inPrice != null and inPrice != ''" >
     and inPrice = #{inPrice,jdbcType=DECIMAL}
    </if>
    <if test="inAmt != null and inAmt != ''" >
     and inAmt = #{inAmt,jdbcType=DECIMAL}
    </if>
    <if test="orsQty != null and orsQty != ''" >
     and orsQty = #{orsQty,jdbcType=DECIMAL}
    </if>
    <if test="otrQty != null and otrQty != ''" >
     and otrQty = #{otrQty,jdbcType=DECIMAL}
    </if>
    <if test="serQty != null and serQty != ''" >
     and serQty = #{serQty,jdbcType=DECIMAL}
    </if>
    <if test="obuQty != null and obuQty != ''" >
     and obuQty = #{obuQty,jdbcType=DECIMAL}
    </if>
    <if test="ocsQty != null and ocsQty != ''" >
     and ocsQty = #{ocsQty,jdbcType=DECIMAL}
    </if>
    <if test="oswQty != null and oswQty != ''" >
     and oswQty = #{oswQty,jdbcType=DECIMAL}
    </if>
    <if test="oswAmt != null and oswAmt != ''" >
     and oswAmt = #{oswAmt,jdbcType=DECIMAL}
    </if>
    <if test="oswPrice != null and oswPrice != ''" >
     and oswPrice = #{oswPrice,jdbcType=DECIMAL}
    </if>
    <if test="outAmt != null and outAmt != ''" >
     and outAmt = #{outAmt,jdbcType=DECIMAL}
    </if>
    <if test="otkPrice != null and otkPrice != ''" >
     and otkPrice = #{otkPrice,jdbcType=DECIMAL}
    </if>
    <if test="otkQty != null and otkQty != ''" >
     and otkQty = #{otkQty,jdbcType=DECIMAL}
    </if>
    <if test="vinQty != null and vinQty != ''" >
     and vinQty = #{vinQty,jdbcType=DECIMAL}
    </if>
    <if test="vinAmt != null and vinAmt != ''" >
     and vinAmt = #{vinAmt,jdbcType=DECIMAL}
    </if>
    <if test="thisQtys != null and thisQtys != ''" >
     and thisQtys = #{thisQtys,jdbcType=DECIMAL}
    </if>
    <if test="thisAmts != null and thisAmts != ''" >
     and thisAmts = #{thisAmts,jdbcType=DECIMAL}
    </if>
    <if test="thisProce != null and thisProce != ''" >
     and thisProce = #{thisProce,jdbcType=DECIMAL}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxSkResMoveMonthMP" parameterType="com.apih5.mybatis.pojo.ZxSkResMoveMonthMP" >
    <![CDATA[ 
        update zx_sk_resMoveMonthMP
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zxSkResMoveMonthMPId in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zxSkResMoveMonthMPId} 
     </foreach>
  </delete>
  <!-- ↓↓↓扩展↓↓↓ -->
</mapper>
