<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSkTurnOverScrapMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSkTurnOverScrap" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="orgID" property="orgID" jdbcType="VARCHAR" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="acceptOrgName" property="acceptOrgName" jdbcType="VARCHAR" />
    <result column="billNo" property="billNo" jdbcType="VARCHAR" />
    <result column="busDate" property="busDate" jdbcType="TIMESTAMP" />
    <result column="consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="billStatus" property="billStatus" jdbcType="VARCHAR" />
    <result column="workItemID" property="workItemID" jdbcType="VARCHAR" />
    <result column="instProcessID" property="instProcessID" jdbcType="VARCHAR" />
    <result column="work_id" property="workId" jdbcType="CHAR" />
    <result column="apih5_flow_status" property="apih5FlowStatus" jdbcType="CHAR" />
    <result column="opinion_field1" property="opinionField1" jdbcType="VARCHAR" />
    <result column="opinion_field2" property="opinionField2" jdbcType="VARCHAR" />
    <result column="opinion_field3" property="opinionField3" jdbcType="VARCHAR" />
    <result column="opinion_field4" property="opinionField4" jdbcType="VARCHAR" />
    <result column="opinion_field5" property="opinionField5" jdbcType="VARCHAR" />
    <result column="opinion_field6" property="opinionField6" jdbcType="VARCHAR" />
    <result column="opinion_field7" property="opinionField7" jdbcType="VARCHAR" />
    <result column="opinion_field8" property="opinionField8" jdbcType="VARCHAR" />
    <result column="opinion_field9" property="opinionField9" jdbcType="VARCHAR" />
    <result column="opinion_field10" property="opinionField10" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orgID, orgName, acceptOrgName, billNo, 
    busDate, consignee, billStatus, workItemID, instProcessID, 
    work_id, apih5_flow_status, opinion_field1, opinion_field2, opinion_field3, 
    opinion_field4, opinion_field5, opinion_field6, opinion_field7, opinion_field8, 
    opinion_field9, opinion_field10, companyId, companyName, remarks, 
    sort, del_flag, create_time, create_user, create_user_name, 
    modify_time, modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_turnOverScrap
    where del_flag = '0' and id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sk_turnOverScrap
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSkTurnOverScrap" >
    insert into zx_sk_turnOverScrap (
    id, orgID, orgName, acceptOrgName, billNo, 
    busDate, consignee, billStatus, workItemID, instProcessID, 
    work_id, apih5_flow_status, opinion_field1, opinion_field2, opinion_field3, 
    opinion_field4, opinion_field5, opinion_field6, opinion_field7, opinion_field8, 
    opinion_field9, opinion_field10, companyId, companyName, remarks, 
    sort, del_flag, create_time, create_user, create_user_name, 
    modify_time, modify_user, modify_user_name
      )
    values (
      #{id,jdbcType=CHAR}, #{orgID,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{acceptOrgName,jdbcType=VARCHAR}, #{billNo,jdbcType=VARCHAR}, 
    #{busDate,jdbcType=TIMESTAMP}, #{consignee,jdbcType=VARCHAR}, #{billStatus,jdbcType=VARCHAR}, #{workItemID,jdbcType=VARCHAR}, #{instProcessID,jdbcType=VARCHAR}, 
    #{workId,jdbcType=CHAR}, #{apih5FlowStatus,jdbcType=CHAR}, #{opinionField1,jdbcType=VARCHAR}, #{opinionField2,jdbcType=VARCHAR}, #{opinionField3,jdbcType=VARCHAR}, 
    #{opinionField4,jdbcType=VARCHAR}, #{opinionField5,jdbcType=VARCHAR}, #{opinionField6,jdbcType=VARCHAR}, #{opinionField7,jdbcType=VARCHAR}, #{opinionField8,jdbcType=VARCHAR}, 
    #{opinionField9,jdbcType=VARCHAR}, #{opinionField10,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
    #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, 
    #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSkTurnOverScrap" >
    insert into zx_sk_turnOverScrap
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgID != null" >
        orgID,
      </if>
      <if test="orgName != null" >
        orgName,
      </if>
      <if test="acceptOrgName != null" >
        acceptOrgName,
      </if>
      <if test="billNo != null" >
        billNo,
      </if>
      <if test="busDate != null" >
        busDate,
      </if>
      <if test="consignee != null" >
        consignee,
      </if>
      <if test="billStatus != null" >
        billStatus,
      </if>
      <if test="workItemID != null" >
        workItemID,
      </if>
      <if test="instProcessID != null" >
        instProcessID,
      </if>
      <if test="workId != null" >
        work_id,
      </if>
      <if test="apih5FlowStatus != null" >
        apih5_flow_status,
      </if>
      <if test="opinionField1 != null" >
        opinion_field1,
      </if>
      <if test="opinionField2 != null" >
        opinion_field2,
      </if>
      <if test="opinionField3 != null" >
        opinion_field3,
      </if>
      <if test="opinionField4 != null" >
        opinion_field4,
      </if>
      <if test="opinionField5 != null" >
        opinion_field5,
      </if>
      <if test="opinionField6 != null" >
        opinion_field6,
      </if>
      <if test="opinionField7 != null" >
        opinion_field7,
      </if>
      <if test="opinionField8 != null" >
        opinion_field8,
      </if>
      <if test="opinionField9 != null" >
        opinion_field9,
      </if>
      <if test="opinionField10 != null" >
        opinion_field10,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orgID != null" >
        #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="acceptOrgName != null" >
        #{acceptOrgName,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="busDate != null" >
        #{busDate,jdbcType=TIMESTAMP},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null" >
        #{billStatus,jdbcType=VARCHAR},
      </if>
      <if test="workItemID != null" >
        #{workItemID,jdbcType=VARCHAR},
      </if>
      <if test="instProcessID != null" >
        #{instProcessID,jdbcType=VARCHAR},
      </if>
      <if test="workId != null" >
        #{workId,jdbcType=CHAR},
      </if>
      <if test="apih5FlowStatus != null" >
        #{apih5FlowStatus,jdbcType=CHAR},
      </if>
      <if test="opinionField1 != null" >
        #{opinionField1,jdbcType=VARCHAR},
      </if>
      <if test="opinionField2 != null" >
        #{opinionField2,jdbcType=VARCHAR},
      </if>
      <if test="opinionField3 != null" >
        #{opinionField3,jdbcType=VARCHAR},
      </if>
      <if test="opinionField4 != null" >
        #{opinionField4,jdbcType=VARCHAR},
      </if>
      <if test="opinionField5 != null" >
        #{opinionField5,jdbcType=VARCHAR},
      </if>
      <if test="opinionField6 != null" >
        #{opinionField6,jdbcType=VARCHAR},
      </if>
      <if test="opinionField7 != null" >
        #{opinionField7,jdbcType=VARCHAR},
      </if>
      <if test="opinionField8 != null" >
        #{opinionField8,jdbcType=VARCHAR},
      </if>
      <if test="opinionField9 != null" >
        #{opinionField9,jdbcType=VARCHAR},
      </if>
      <if test="opinionField10 != null" >
        #{opinionField10,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSkTurnOverScrap" >
    update zx_sk_turnOverScrap
    <set >
      <if test="orgID != null" >
        orgID = #{orgID,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        orgName = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="acceptOrgName != null" >
        acceptOrgName = #{acceptOrgName,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null" >
        billNo = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="busDate != null" >
        busDate = #{busDate,jdbcType=TIMESTAMP},
      </if>
      <if test="consignee != null" >
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null" >
        billStatus = #{billStatus,jdbcType=VARCHAR},
      </if>
      <if test="workItemID != null" >
        workItemID = #{workItemID,jdbcType=VARCHAR},
      </if>
      <if test="instProcessID != null" >
        instProcessID = #{instProcessID,jdbcType=VARCHAR},
      </if>
      <if test="workId != null" >
        work_id = #{workId,jdbcType=CHAR},
      </if>
      <if test="apih5FlowStatus != null" >
        apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR},
      </if>
      <if test="opinionField1 != null" >
        opinion_field1 = #{opinionField1,jdbcType=VARCHAR},
      </if>
      <if test="opinionField2 != null" >
        opinion_field2 = #{opinionField2,jdbcType=VARCHAR},
      </if>
      <if test="opinionField3 != null" >
        opinion_field3 = #{opinionField3,jdbcType=VARCHAR},
      </if>
      <if test="opinionField4 != null" >
        opinion_field4 = #{opinionField4,jdbcType=VARCHAR},
      </if>
      <if test="opinionField5 != null" >
        opinion_field5 = #{opinionField5,jdbcType=VARCHAR},
      </if>
      <if test="opinionField6 != null" >
        opinion_field6 = #{opinionField6,jdbcType=VARCHAR},
      </if>
      <if test="opinionField7 != null" >
        opinion_field7 = #{opinionField7,jdbcType=VARCHAR},
      </if>
      <if test="opinionField8 != null" >
        opinion_field8 = #{opinionField8,jdbcType=VARCHAR},
      </if>
      <if test="opinionField9 != null" >
        opinion_field9 = #{opinionField9,jdbcType=VARCHAR},
      </if>
      <if test="opinionField10 != null" >
        opinion_field10 = #{opinionField10,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSkTurnOverScrap" >
    update zx_sk_turnOverScrap set 
      orgID = #{orgID,jdbcType=VARCHAR},
      orgName = #{orgName,jdbcType=VARCHAR},
      acceptOrgName = #{acceptOrgName,jdbcType=VARCHAR},
      billNo = #{billNo,jdbcType=VARCHAR},
      busDate = #{busDate,jdbcType=TIMESTAMP},
      consignee = #{consignee,jdbcType=VARCHAR},
      billStatus = #{billStatus,jdbcType=VARCHAR},
      workItemID = #{workItemID,jdbcType=VARCHAR},
      instProcessID = #{instProcessID,jdbcType=VARCHAR},
      work_id = #{workId,jdbcType=CHAR},
      apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR},
      opinion_field1 = #{opinionField1,jdbcType=VARCHAR},
      opinion_field2 = #{opinionField2,jdbcType=VARCHAR},
      opinion_field3 = #{opinionField3,jdbcType=VARCHAR},
      opinion_field4 = #{opinionField4,jdbcType=VARCHAR},
      opinion_field5 = #{opinionField5,jdbcType=VARCHAR},
      opinion_field6 = #{opinionField6,jdbcType=VARCHAR},
      opinion_field7 = #{opinionField7,jdbcType=VARCHAR},
      opinion_field8 = #{opinionField8,jdbcType=VARCHAR},
      opinion_field9 = #{opinionField9,jdbcType=VARCHAR},
      opinion_field10 = #{opinionField10,jdbcType=VARCHAR},
      companyId = #{companyId,jdbcType=VARCHAR},
      companyName = #{companyName,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByZxSkTurnOverScrapList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSkTurnOverScrap" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_turnOverScrap
    where del_flag = '0'
    <if test="id != null and id != ''" >
     and id = #{id,jdbcType=CHAR}
    </if>
    <if test="orgID != null and orgID != ''" >
     and orgID = #{orgID,jdbcType=VARCHAR}
    </if>
    <if test="orgName != null and orgName != ''" >
     and orgName = #{orgName,jdbcType=VARCHAR}
    </if>
    <if test="acceptOrgName != null and acceptOrgName != ''" >
      and acceptOrgName like CONCAT('%',CONCAT(#{acceptOrgName,jdbcType=VARCHAR},'%'))
    </if>
    <if test="billNo != null and billNo != ''" >
      and billNo like CONCAT('%',CONCAT(#{billNo,jdbcType=VARCHAR},'%'))
    </if>
    <if test="timeList != null " >
     and busDate BETWEEN
      <foreach collection="timeList" index="index" item="item" separator="AND">
        DATE_FORMAT(#{item},"%Y-%m-%d")
      </foreach>
    </if>
    <if test="consignee != null and consignee != ''" >
      and consignee like CONCAT('%',CONCAT(#{consignee,jdbcType=VARCHAR},'%'))
    </if>
    <if test="billStatus != null and billStatus != ''" >
     and billStatus = #{billStatus,jdbcType=VARCHAR}
    </if>
    <if test="workItemID != null and workItemID != ''" >
     and workItemID = #{workItemID,jdbcType=VARCHAR}
    </if>
    <if test="instProcessID != null and instProcessID != ''" >
     and instProcessID = #{instProcessID,jdbcType=VARCHAR}
    </if>
    <if test="workId != null and workId != ''" >
     and work_id = #{workId,jdbcType=CHAR}
    </if>
    <if test="apih5FlowStatus != null and apih5FlowStatus != ''" >
     and apih5_flow_status = #{apih5FlowStatus,jdbcType=CHAR}
    </if>
    <if test="opinionField1 != null and opinionField1 != ''" >
     and opinion_field1 = #{opinionField1,jdbcType=VARCHAR}
    </if>
    <if test="opinionField2 != null and opinionField2 != ''" >
     and opinion_field2 = #{opinionField2,jdbcType=VARCHAR}
    </if>
    <if test="opinionField3 != null and opinionField3 != ''" >
     and opinion_field3 = #{opinionField3,jdbcType=VARCHAR}
    </if>
    <if test="opinionField4 != null and opinionField4 != ''" >
     and opinion_field4 = #{opinionField4,jdbcType=VARCHAR}
    </if>
    <if test="opinionField5 != null and opinionField5 != ''" >
     and opinion_field5 = #{opinionField5,jdbcType=VARCHAR}
    </if>
    <if test="opinionField6 != null and opinionField6 != ''" >
     and opinion_field6 = #{opinionField6,jdbcType=VARCHAR}
    </if>
    <if test="opinionField7 != null and opinionField7 != ''" >
     and opinion_field7 = #{opinionField7,jdbcType=VARCHAR}
    </if>
    <if test="opinionField8 != null and opinionField8 != ''" >
     and opinion_field8 = #{opinionField8,jdbcType=VARCHAR}
    </if>
    <if test="opinionField9 != null and opinionField9 != ''" >
     and opinion_field9 = #{opinionField9,jdbcType=VARCHAR}
    </if>
    <if test="opinionField10 != null and opinionField10 != ''" >
     and opinion_field10 = #{opinionField10,jdbcType=VARCHAR}
    </if>
    <if test="companyId != null and companyId != ''" >
     and companyId = #{companyId,jdbcType=VARCHAR}
    </if>
    <if test="companyName != null and companyName != ''" >
     and companyName = #{companyName,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxSkTurnOverScrap" parameterType="com.apih5.mybatis.pojo.ZxSkTurnOverScrap" >
    <![CDATA[ 
        update zx_sk_turnOverScrap
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.id} 
     </foreach>
  </delete>
  <select id="getZxSkTurnOverScrapResourceList" resultType="com.apih5.mybatis.pojo.ZxSkTurnOverScrapItem" parameterType="com.apih5.mybatis.pojo.ZxSkTurnOverScrap">
  select * from (
    select
      zx_sk_turnoverstock.*,
      zx_sk_turnoverstock.remainAmt as currentAmt,
      zx_sk_turnoverin.busDate as inBusDate
      FROM zx_sk_turnoverstock left join zx_sk_turnoverinItem
          on zx_sk_turnoverstock.batchNo = zx_sk_turnoverinItem.id
       left join zx_sk_turnoverin
          on zx_sk_turnoverinItem.billID = zx_sk_turnoverin.id
      where zx_sk_turnoverstock.del_flag = 0
      and zx_sk_turnoverstock.stockQty > 0
      and zx_sk_turnoverstock.orgID = #{orgID}
    ) as filtrateTable
    where del_flag = '0'
    <if test="resCode != null and resCode != ''" >
      and resCode like CONCAT('%',CONCAT(#{resCode,jdbcType=VARCHAR},'%'))
    </if>
    <if test="resName != null and resName != ''" >
      and resName like CONCAT('%',CONCAT(#{resName,jdbcType=VARCHAR},'%'))
    </if>
    <if test="resUnit != null and resUnit != ''" >
      and resUnit like CONCAT('%',CONCAT(#{resUnit,jdbcType=VARCHAR},'%'))
    </if>
    <if test="spec != null and spec != ''" >
      and spec like CONCAT('%',CONCAT(#{spec,jdbcType=VARCHAR},'%'))
    </if>
  </select>
  <select id="getZxSkTurnOverScrapCount" parameterType="java.lang.String" resultType="int">
    select count(*) from zx_sk_turnOverScrap where billNo like CONCAT('%',CONCAT(#{date},'%')) and orgID = #{orgID}
  </select>

</mapper>
