<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZxSkTurnoverOutItemMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZxSkTurnoverOutItem" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="billID" property="billID" jdbcType="VARCHAR" />
    <result column="batchNo" property="batchNo" jdbcType="VARCHAR" />
    <result column="resID" property="resID" jdbcType="VARCHAR" />
    <result column="resCode" property="resCode" jdbcType="VARCHAR" />
    <result column="resName" property="resName" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="resUnit" property="resUnit" jdbcType="VARCHAR" />
    <result column="outQty" property="outQty" jdbcType="DECIMAL" />
    <result column="hasReturnQty" property="hasReturnQty" jdbcType="DECIMAL" />
    <result column="inBusDate" property="inBusDate" jdbcType="TIMESTAMP" />
    <result column="stockQty" property="stockQty" jdbcType="DECIMAL" />
    <result column="originalAmt" property="originalAmt" jdbcType="DECIMAL" />
    <result column="remainAmt" property="remainAmt" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, billID, batchNo, resID, resCode, 
    resName, spec, resUnit, outQty, hasReturnQty, 
    inBusDate, stockQty, originalAmt, remainAmt, remarks, 
    sort, del_flag, create_time, create_user, create_user_name, 
    modify_time, modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_turnoverOutItem
    where del_flag = '0' and id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zx_sk_turnoverOutItem
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverOutItem" >
    insert into zx_sk_turnoverOutItem (
    id, billID, batchNo, resID, resCode, 
    resName, spec, resUnit, outQty, hasReturnQty, 
    inBusDate, stockQty, originalAmt, remainAmt, remarks, 
    sort, del_flag, create_time, create_user, create_user_name, 
    modify_time, modify_user, modify_user_name
      )
    values (
      #{id,jdbcType=CHAR}, #{billID,jdbcType=VARCHAR}, #{batchNo,jdbcType=VARCHAR}, #{resID,jdbcType=VARCHAR}, #{resCode,jdbcType=VARCHAR}, 
    #{resName,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{resUnit,jdbcType=VARCHAR}, #{outQty,jdbcType=DECIMAL}, #{hasReturnQty,jdbcType=DECIMAL}, 
    #{inBusDate,jdbcType=TIMESTAMP}, #{stockQty,jdbcType=DECIMAL}, #{originalAmt,jdbcType=DECIMAL}, #{remainAmt,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, 
    #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, 
    #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverOutItem" >
    insert into zx_sk_turnoverOutItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billID != null" >
        billID,
      </if>
      <if test="batchNo != null" >
        batchNo,
      </if>
      <if test="resID != null" >
        resID,
      </if>
      <if test="resCode != null" >
        resCode,
      </if>
      <if test="resName != null" >
        resName,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="resUnit != null" >
        resUnit,
      </if>
      <if test="outQty != null" >
        outQty,
      </if>
      <if test="hasReturnQty != null" >
        hasReturnQty,
      </if>
      <if test="inBusDate != null" >
        inBusDate,
      </if>
      <if test="stockQty != null" >
        stockQty,
      </if>
      <if test="originalAmt != null" >
        originalAmt,
      </if>
      <if test="remainAmt != null" >
        remainAmt,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="billID != null" >
        #{billID,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="resID != null" >
        #{resID,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null" >
        #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resName != null" >
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="resUnit != null" >
        #{resUnit,jdbcType=VARCHAR},
      </if>
      <if test="outQty != null" >
        #{outQty,jdbcType=DECIMAL},
      </if>
      <if test="hasReturnQty != null" >
        #{hasReturnQty,jdbcType=DECIMAL},
      </if>
      <if test="inBusDate != null" >
        #{inBusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockQty != null" >
        #{stockQty,jdbcType=DECIMAL},
      </if>
      <if test="originalAmt != null" >
        #{originalAmt,jdbcType=DECIMAL},
      </if>
      <if test="remainAmt != null" >
        #{remainAmt,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverOutItem" >
    update zx_sk_turnoverOutItem
    <set >
      <if test="billID != null" >
        billID = #{billID,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        batchNo = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="resID != null" >
        resID = #{resID,jdbcType=VARCHAR},
      </if>
      <if test="resCode != null" >
        resCode = #{resCode,jdbcType=VARCHAR},
      </if>
      <if test="resName != null" >
        resName = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="resUnit != null" >
        resUnit = #{resUnit,jdbcType=VARCHAR},
      </if>
      <if test="outQty != null" >
        outQty = #{outQty,jdbcType=DECIMAL},
      </if>
      <if test="hasReturnQty != null" >
        hasReturnQty = #{hasReturnQty,jdbcType=DECIMAL},
      </if>
      <if test="inBusDate != null" >
        inBusDate = #{inBusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockQty != null" >
        stockQty = #{stockQty,jdbcType=DECIMAL},
      </if>
      <if test="originalAmt != null" >
        originalAmt = #{originalAmt,jdbcType=DECIMAL},
      </if>
      <if test="remainAmt != null" >
        remainAmt = #{remainAmt,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverOutItem" >
    update zx_sk_turnoverOutItem set 
      billID = #{billID,jdbcType=VARCHAR},
      batchNo = #{batchNo,jdbcType=VARCHAR},
      resID = #{resID,jdbcType=VARCHAR},
      resCode = #{resCode,jdbcType=VARCHAR},
      resName = #{resName,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      resUnit = #{resUnit,jdbcType=VARCHAR},
      outQty = #{outQty,jdbcType=DECIMAL},
      hasReturnQty = #{hasReturnQty,jdbcType=DECIMAL},
      inBusDate = #{inBusDate,jdbcType=TIMESTAMP},
      stockQty = #{stockQty,jdbcType=DECIMAL},
      originalAmt = #{originalAmt,jdbcType=DECIMAL},
      remainAmt = #{remainAmt,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByZxSkTurnoverOutItemList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverOutItem" >
    select 
    <include refid="Base_Column_List" />
    from zx_sk_turnoverOutItem
    where del_flag = '0'
    <if test="id != null and id != ''" >
     and id = #{id,jdbcType=CHAR}
    </if>
    <if test="billID != null and billID != ''" >
     and billID = #{billID,jdbcType=VARCHAR}
    </if>
    <if test="batchNo != null and batchNo != ''" >
     and batchNo = #{batchNo,jdbcType=VARCHAR}
    </if>
    <if test="resID != null and resID != ''" >
     and resID = #{resID,jdbcType=VARCHAR}
    </if>
    <if test="resCode != null and resCode != ''" >
     and resCode = #{resCode,jdbcType=VARCHAR}
    </if>
    <if test="resName != null and resName != ''" >
     and resName = #{resName,jdbcType=VARCHAR}
    </if>
    <if test="spec != null and spec != ''" >
     and spec = #{spec,jdbcType=VARCHAR}
    </if>
    <if test="resUnit != null and resUnit != ''" >
     and resUnit = #{resUnit,jdbcType=VARCHAR}
    </if>
    <if test="outQty != null and outQty != ''" >
     and outQty = #{outQty,jdbcType=DECIMAL}
    </if>
    <if test="hasReturnQty != null and hasReturnQty != ''" >
     and hasReturnQty = #{hasReturnQty,jdbcType=DECIMAL}
    </if>
    <if test="inBusDate != null and inBusDate != ''" >
     and inBusDate = #{inBusDate,jdbcType=TIMESTAMP}
    </if>
    <if test="stockQty != null and stockQty != ''" >
     and stockQty = #{stockQty,jdbcType=DECIMAL}
    </if>
    <if test="originalAmt != null and originalAmt != ''" >
     and originalAmt = #{originalAmt,jdbcType=DECIMAL}
    </if>
    <if test="remainAmt != null and remainAmt != ''" >
     and remainAmt = #{remainAmt,jdbcType=DECIMAL}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZxSkTurnoverOutItem" parameterType="com.apih5.mybatis.pojo.ZxSkTurnoverOutItem" >
    <![CDATA[ 
        update zx_sk_turnoverOutItem
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.id} 
     </foreach>
  </delete>


</mapper>
