/* common.css */
body {
    margin: 0;
    font-family: 微软雅黑;
}

.uploadFile {
    margin: 15px 0 15px 2px;
}

.uploadFile ul {
    list-style: none;
    height: 260px;
    padding-left: 0;
    font-size: 30px;
    overflow-y: auto;
    background: #fafafa;
}

.uploadFile ul li {
    width: auto;
    padding-left: 10px;
    marging-top: 20px;
    border: 1px #ffffff solid;
    background: #0ebcfb;
}

.uploadFile ul li .text {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 0;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color: #ffffff;
}

.uploadFile ul li .img{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: auto;
    height: 56px;
    font-size: 35px;
    float: right;
}

.upload-btn {
    width: 120px;
    display: block;
    padding: 10px;
    font-size: 26px;
    color: #ffffff;
    background: #0ebcfb;
}

.inputFile {
    position: absolute;
    font-size: 0;
    width: 0;
    height: 0;
    outline: 0;
    opacity: 0;
    filter: "alpha(opacity=0)";
    top: 0;
    right: 0;
    z-index: -1;
    border: 0;
    background: 0;
    cursor: pointer;
}

.require {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    color: #b3b3b3
}
.p-20{
    padding-top:20px;
}
.p-30{
    padding-top:30px;
    padding-bottom:20px;
}