/* 所有素材放置于http://weixin.fheb.cn:99/woaMapCdn/ */

* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}
 