/* 所有素材放置于http://weixin.fheb.cn:99/woaMapCdn/ */

* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

/* 主容器 */

#container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url('http://weixin.fheb.cn:99/woaMapCdn/bg.jpg');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #06386d;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://weixin.fheb.cn:99/woaMapCdn/bg.jpg', sizingMethod='scale');
}

/* ------左边----- */

/* 顶部pos4% */

/* 第一块50% + margin-bottom:2%;*/

/* 第二块43% */

/* -----右边----- */
/* 顶部pos4% */

/* 第一块33% */

/* 第二块33% + margin:2% 0px;*/
/* 第三块30%*/

/* 百度地图 */

.pos {
    color: white;
    height: 4%;
    /* margin: 5px 10px; */
    /* border: 1px solid green;  */
}

.updateTime {
    color: white;
    /* margin: 5px 10px; */
    height: 4%;
}

/* 地图容器 */

#map {
    width: 100%;
    height: 100%;
    font-size: 12px;
    margin: 0px auto;
}

/* 左/右边容器 */

#container .left,
#container .right {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    box-sizing: border-box;
}

#container .left {
    overflow: hidden;
    width: 25%;
    left: 1%;
    /* border:1px solid red; */
}

/* 公司排名 */

.ranking_con {
    width: 100%;
    /* height: 55%; */
    height: 50%;
    /* padding: 10px;  */
    color: white;
    box-sizing: border-box;
    /* margin: 10px auto; */
    margin-top: 0;
    margin-bottom: 2%;
    /* border: 1px solid green; */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://weixin.fheb.cn:99/woaMapCdn/ranking.png', sizingMethod='scale');
    position: relative;
}

.ranking_con .tabs {
    position: absolute;
    right: 15px;
    /* top:20px; */
    top: 3%;
    z-index: 10;
}

.ranking_con .tabs .item {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 10px;
}

.ranking_con .tabs .action {
    color: white;
    font-weight: 700;
    border-bottom: 1px solid #ddd;
}

#ranking {
    width: 100%;
    height: 100%;
    text-align: center;
}

#ranking ul li {
    cursor: pointer;
}

/* 营业数据指标 */

#dataIndex {
    /* border: 1px solid green; */
    width: 100%;
    /* height: 35%; */
    height: 43%;
    /* padding: 20px 0px; */
    padding-bottom: 15px;
    padding-top: 10px;
    box-sizing: border-box;
    color: white;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://weixin.fheb.cn:99/woaMapCdn/config.png', sizingMethod='scale');
}

/* 右边部分 */

#container .right {
    right: 5px;
    left: auto;
}

/* 广播 */

#Broadcast {
    width: 100%;
    /* height: 34%; */
    height: 33%;
    /* padding: 5px; */
    padding: 10px 0px;
    box-sizing: border-box;
    overflow: hidden;
    /* border: 1px solid green; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: white;
    /* margin: 20px 0px; */
    /* margin-top: 10px; */
    /* margin-bottom: 5px; */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://weixin.fheb.cn:99/woaMapCdn/ranking.png', sizingMethod='scale');
}

/* 配置 */

#config,
#nav {
    width: 100%;
    /* border:1px solid red;  */
    /* height: 20%; */
    padding: 10px;
    box-sizing: border-box;
    color: white;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://weixin.fheb.cn:99/woaMapCdn/config.png', sizingMethod='scale');
}

/* //资源配置 */

#config {
    margin: 8px 0px;
}

#config .title {
    padding: 6px 10px;
    font-size: 19px;
}

#config .con {
    /* height: 90%; */
    /* padding: 0px 10px; */
}

#config .item {
    display: inline-block;
    width: 49%;
    float: left;
}

#config .item .subtit {
    font-size: 17px;
    text-align: center;
    /* margin: px 0; */
}

#config .item ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    margin: 4px 0px;
    cursor: pointer;

    /* text-align: center; */
    /* border:1px solid red; */
}

/* 
#config_right_con{
    width:40%;
} */

#config .item ul li img {
    vertical-align: middle;
}

#config .item ul li .num {
    color: #31b9d1;
    margin-left: 2px;
}

#nav {
    /* padding: 15px; */
    width: 100%;
}

#nav .title {
    padding: 1% 10px;
    font-size: 19px;
}

#nav .con {
    /* height: 85%; */
}

#nav .con .item {
    width: 45%;
    float: left;
    padding-left: 2%;
    cursor: pointer;
    margin: 1% 0px;
}

#nav .con .item img {
    vertical-align: middle;
}

#nav .con .item .text {
    margin-left: 5px; 
}

#nav .con .item a {
    text-decoration: none;
    color: #31b9d1;
}

#Broadcast .nav {
    /* padding: 0px 0px 10px 0px; */
    box-sizing: border-box;
    text-align: right;
    color: white;
    /* border: 1px solid orange; */
    padding-right: 8px;
    height: 10%;
    /* border:1px solid rebeccapurple; */
}

#Broadcast .nav .item {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    /* padding: 5px 5px; */
    padding: 0px 5px;
}

#Broadcast .nav .action {
    color: white;
    font-weight: 700;
    border-bottom: 1px solid #ddd;
}

#Broadcast .con {
    box-sizing: border-box;
    /* padding: 10px; */
    /* height: 85%; */
    height: 83%;
    width:100%;
    overflow-y: scroll;
    scrollbar-arrow-color: #f4ae21;
    /**/
    /*三角箭头的颜色*/
    scrollbar-face-color: #075e92;
    /**/
    /*立体滚动条的颜色*/
    scrollbar-3dlight-color: #368fc3;
    /**/
    /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #368fc3;
    /**/
    /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #368fc3;
    /**/
    /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #368fc3;
    /**/
    /*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #368fc3;
    /**/
    /*立体滚动条背景颜色*/
    scrollbar-base-color: #368fc3;
    /**/
    /*滚动条的基本颜色*/
}

#Broadcast .con .row {
    height: 18px;
    margin: 12px 0;
}
#Broadcast .tabTit{
    height: 7%;
    /* border:1px solid red; */
}
#Broadcast .tabTit .row .col {
    float: left;
    cursor: pointer;
    width: 30%;
    display: inline-block; 
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 2%;
    color: #31b9d1;
    border: 0px solid rgba(0, 0, 0, 0);
}
#Broadcast .con{
    /* border:1px solid darkmagenta; */
}
#Broadcast .con .row .col {
    float: left;
    cursor: pointer;
    width: 30%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 2%;
    color: #31b9d1;
    border: 0px solid rgba(0, 0, 0, 0);
}

/* 底部 头部 */

.bottom,
.top {
    max-height: 18%;
    width: 50%;
    color: white;
    position: absolute;
    bottom: 1%;
    left: 25%;
    margin: 0px auto;
}

.top {
    top: 0px;
}

.top .item {
    width: 33%;
    float: left;
}

.item a {
    outline: none;
    border: 0px;
}

.bottom { 
    max-height: 16%;
    height: 16%;
    padding: 10px 0px; 
    margin-left:0.5%; 
    z-index: 100;
    margin: 5px auto;
    text-align: center;   
} 
.bottom .wrapper{
    width: 100%;
    height: 100%;
    position: relative; 
    width:90%;
    margin:0px auto;  
    /* border: 1px solid green; */
}
.bottom .bottomHideBtn{ 
    position: absolute;
    top:-20px;
    left:6%;
    cursor: pointer;
}
/* .bottom .dot{
    border:1px solid red;
    text-align: center;
} */
/* .bottom .dot div{
    width:10px;
    height:10px;
    background: #31b9d1;
    margin: 0px 10px;
} */

.bottom .left_btn img, .bottom .right_btn img{
    width:28px;
}
.bottom .left_btn, .bottom .right_btn{
    position: absolute;
    top:30%;
    bottom:0px;
    margin:auto;
    cursor: pointer;

}
.bottom .left_btn{
    left:-3%;
}
.bottom .right_btn{
    right:-3%;
}
.bottom .item {
    /* 不加hide长度没法控制 */
    overflow: hidden; 
    float: left;  
    width: 31%; 
    display: inline-block; 
    text-align: center;
    
    margin:auto 1%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://weixin.fheb.cn:99/woaMapCdn/ranking.png', sizingMethod='scale');
}

.updateTime,
.pos {
    font-size: 14px;
}