<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjLzehTempTaskManageMapper">
    <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjLzehTempTaskManage">
        <id column="zj_lzeh_temp_task_manage_id" property="zjLzehTempTaskManageId" jdbcType="CHAR"/>
        <result column="parent_id" property="parentId" jdbcType="CHAR"/>
        <result column="task_name" property="taskName" jdbcType="VARCHAR"/>
        <result column="task_describe" property="taskDescribe" jdbcType="VARCHAR"/>
        <result column="allot_person" property="allotPerson" jdbcType="VARCHAR"/>
        <result column="begin_date" property="beginDate" jdbcType="TIMESTAMP"/>
        <result column="require_complate_date" property="requireComplateDate" jdbcType="TIMESTAMP"/>
        <result column="real_compalte_date" property="realCompalteDate" jdbcType="TIMESTAMP"/>
        <result column="complate_explain" property="complateExplain" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="allot_person_id" property="allotPersonId" jdbcType="CHAR"/>
        <result column="implement_person_id" property="implementPersonId" jdbcType="CHAR"/>
        <result column="implement_person" property="implementPerson" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="CHAR"/>
        <result column="create_user_name" property="createUserName" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="modify_user" property="modifyUser" jdbcType="CHAR"/>
        <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    zj_lzeh_temp_task_manage_id, parent_id, task_name, task_describe, allot_person, 
    begin_date, require_complate_date, real_compalte_date, complate_explain,
    status, allot_person_id, implement_person_id, implement_person, remarks, 
    sort, del_flag, create_time, create_user, create_user_name, 
    modify_time, modify_user, modify_user_name
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from zj_lzeh_temp_task_manage
        where del_flag = '0' and zj_lzeh_temp_task_manage_id = #{zjLzehTempTaskManageId,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zj_lzeh_temp_task_manage
    where zj_lzeh_temp_task_manage_id = #{zjLzehTempTaskManageId,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjLzehTempTaskManage">
    insert into zj_lzeh_temp_task_manage (
    zj_lzeh_temp_task_manage_id, parent_id, task_name, task_describe, allot_person, 
    begin_date, require_complate_date, real_compalte_date, complate_explain,
    status, allot_person_id, implement_person_id, implement_person, remarks, 
    sort, del_flag, create_time, create_user, create_user_name, 
    modify_time, modify_user, modify_user_name
      )
    values (
      #{zjLzehTempTaskManageId,jdbcType=CHAR}, #{parentId,jdbcType=CHAR}, #{taskName,jdbcType=VARCHAR}, #{taskDescribe,jdbcType=VARCHAR}, #{allotPerson,jdbcType=VARCHAR}, 
    #{beginDate,jdbcType=TIMESTAMP}, #{requireComplateDate,jdbcType=TIMESTAMP}, #{realCompalteDate,jdbcType=TIMESTAMP}, #{complateExplain,jdbcType=VARCHAR},
    #{status,jdbcType=VARCHAR}, #{allotPersonId,jdbcType=CHAR}, #{implementPersonId,jdbcType=CHAR}, #{implementPerson,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
    #{sort,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, 
    #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjLzehTempTaskManage">
        insert into zj_lzeh_temp_task_manage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="zjLzehTempTaskManageId != null">
                zj_lzeh_temp_task_manage_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="taskName != null">
                task_name,
            </if>
            <if test="taskDescribe != null">
                task_describe,
            </if>
            <if test="allotPerson != null">
                allot_person,
            </if>
            <if test="beginDate != null">
                begin_date,
            </if>
            <if test="requireComplateDate != null">
                require_complate_date,
            </if>
            <if test="realCompalteDate != null">
                real_compalte_date,
            </if>
            <if test="complateExplain != null">
                complate_explain,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="allotPersonId != null">
                allot_person_id,
            </if>
            <if test="implementPersonId != null">
                implement_person_id,
            </if>
            <if test="implementPerson != null">
                implement_person,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createUserName != null">
                create_user_name,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="modifyUser != null">
                modify_user,
            </if>
            <if test="modifyUserName != null">
                modify_user_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="zjLzehTempTaskManageId != null">
                #{zjLzehTempTaskManageId,jdbcType=CHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=CHAR},
            </if>
            <if test="taskName != null">
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskDescribe != null">
                #{taskDescribe,jdbcType=VARCHAR},
            </if>
            <if test="allotPerson != null">
                #{allotPerson,jdbcType=VARCHAR},
            </if>
            <if test="beginDate != null">
                #{beginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="requireComplateDate != null">
                #{requireComplateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="realCompalteDate != null">
                #{realCompalteDate,jdbcType=TIMESTAMP},
            </if>
            <if test="complateExplain != null">
                #{complateExplain,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="allotPersonId != null">
                #{allotPersonId,jdbcType=CHAR},
            </if>
            <if test="implementPersonId != null">
                #{implementPersonId,jdbcType=CHAR},
            </if>
            <if test="implementPerson != null">
                #{implementPerson,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=CHAR},
            </if>
            <if test="createUserName != null">
                #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null">
                #{modifyUser,jdbcType=CHAR},
            </if>
            <if test="modifyUserName != null">
                #{modifyUserName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjLzehTempTaskManage">
        update zj_lzeh_temp_task_manage
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=CHAR},
            </if>
            <if test="taskName != null">
                task_name = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskDescribe != null">
                task_describe = #{taskDescribe,jdbcType=VARCHAR},
            </if>
            <if test="allotPerson != null">
                allot_person = #{allotPerson,jdbcType=VARCHAR},
            </if>
            <if test="beginDate != null">
                begin_date = #{beginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="requireComplateDate != null">
                require_complate_date = #{requireComplateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="realCompalteDate != null">
                real_compalte_date = #{realCompalteDate,jdbcType=TIMESTAMP},
            </if>
            <if test="complateExplain != null">
                complate_explain = #{complateExplain,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="allotPersonId != null">
                allot_person_id = #{allotPersonId,jdbcType=CHAR},
            </if>
            <if test="implementPersonId != null">
                implement_person_id = #{implementPersonId,jdbcType=CHAR},
            </if>
            <if test="implementPerson != null">
                implement_person = #{implementPerson,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=CHAR},
            </if>
            <if test="createUserName != null">
                create_user_name = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null">
                modify_user = #{modifyUser,jdbcType=CHAR},
            </if>
            <if test="modifyUserName != null">
                modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
            </if>
        </set>
        where zj_lzeh_temp_task_manage_id = #{zjLzehTempTaskManageId,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjLzehTempTaskManage">
    update zj_lzeh_temp_task_manage set 
      parent_id = #{parentId,jdbcType=CHAR},
      task_name = #{taskName,jdbcType=VARCHAR},
      task_describe = #{taskDescribe,jdbcType=VARCHAR},
      allot_person = #{allotPerson,jdbcType=VARCHAR},
      begin_date = #{beginDate,jdbcType=TIMESTAMP},
      require_complate_date = #{requireComplateDate,jdbcType=TIMESTAMP},
      real_compalte_date = #{realCompalteDate,jdbcType=TIMESTAMP},
      complate_explain = #{complateExplain,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      allot_person_id = #{allotPersonId,jdbcType=CHAR},
      implement_person_id = #{implementPersonId,jdbcType=CHAR},
      implement_person = #{implementPerson,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zj_lzeh_temp_task_manage_id = #{zjLzehTempTaskManageId,jdbcType=CHAR}
  </update>
    <select id="selectByZjLzehTempTaskManageList" resultMap="BaseResultMap"
            parameterType="com.apih5.mybatis.pojo.ZjLzehTempTaskManage">
        select
        <include refid="Base_Column_List"/>
        from zj_lzeh_temp_task_manage
        where del_flag = '0'
        <if test="zjLzehTempTaskManageId != null and zjLzehTempTaskManageId != ''">
            and zj_lzeh_temp_task_manage_id = #{zjLzehTempTaskManageId,jdbcType=CHAR}
        </if>
        <if test="parentId != null and parentId != ''">
            and parent_id = #{parentId,jdbcType=CHAR}
        </if>
        <if test="taskName != null and taskName != ''">
            and task_name like "%"#{taskName,jdbcType=VARCHAR}"%"
        </if>
        <if test="taskDescribe != null and taskDescribe != ''">
            and task_describe = #{taskDescribe,jdbcType=VARCHAR}
        </if>
        <if test="allotPerson != null and allotPerson != ''">
            and allot_person = #{allotPerson,jdbcType=VARCHAR}
        </if>
        <if test="beginDate != null ">
            and DATE_FORMAT(begin_date,'%Y%m%d') >= DATE_FORMAT(#{beginDate,jdbcType=TIMESTAMP},'%Y%m%d')
        </if>
        <if test="requireComplateDate != null ">
            and DATE_FORMAT(require_complate_date,'%Y%m%d')&lt;=  DATE_FORMAT(#{requireComplateDate,jdbcType=TIMESTAMP},'%Y%m%d')
        </if>
        <if test="realCompalteDate != null and realCompalteDate != ''">
            and real_compalte_date = #{realCompalteDate,jdbcType=TIMESTAMP}
        </if>
        <if test="complateExplain != null and complateExplain != ''">
            and complate_explain = #{complateExplain,jdbcType=VARCHAR}
        </if>
        <if test="status != null and status != ''">
            and status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="allotPersonId != null and allotPersonId != ''">
            and allot_person_id = #{allotPersonId,jdbcType=CHAR}
        </if>
        <if test="implementPersonId != null and implementPersonId != ''">
            and implement_person_id = #{implementPersonId,jdbcType=CHAR}
        </if>
        <if test="implementPerson != null and implementPerson != ''">
            and (implement_person = #{implementPerson,jdbcType=VARCHAR} or allot_person = #{implementPerson,jdbcType=VARCHAR})
        </if>
        <if test="remarks != null and remarks != ''">
            and remarks = #{remarks,jdbcType=VARCHAR}
        </if>
        <if test="sort != null and sort != ''">
            and sort = #{sort,jdbcType=INTEGER}
        </if>
        <if test="createTime != null and createTime != ''">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createUser != null and createUser != ''">
            and create_user = #{createUser,jdbcType=CHAR}
        </if>
        <if test="createUserName != null and createUserName != ''">
            and create_user_name = #{createUserName,jdbcType=VARCHAR}
        </if>
        <if test="modifyTime != null and modifyTime != ''">
            and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        </if>
        <if test="modifyUser != null and modifyUser != ''">
            and modify_user = #{modifyUser,jdbcType=CHAR}
        </if>
        <if test="modifyUserName != null and modifyUserName != ''">
            and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
        </if>
        ORDER BY modify_time DESC
    </select>
    <delete id="batchDeleteUpdateZjLzehTempTaskManage" parameterType="com.apih5.mybatis.pojo.ZjLzehTempTaskManage">
        <![CDATA[
        update zj_lzeh_temp_task_manage
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zj_lzeh_temp_task_manage_id in 
     ]]>
        <foreach collection="param1" item="model" open="(" separator="," close=")">#{model.zjLzehTempTaskManageId}
        </foreach>
    </delete>
    <!-- ↓↓↓扩展↓↓↓ -->

    <select id="selectAllByPerson" resultMap="BaseResultMap">
        select convert(cnum / allnum,decimal(10,4))  *100 AS persent,allInfo.implement_person
        from
        (select sum( num ) AS allnum,implement_person
        from
        (select status,count ( * ) as num,implement_person
        from zj_lzeh_temp_task_manage
        where del_flag='0'
        <if test="beginDate != null ">
            and date_format(begin_date, '%Y%m%d')>= date_format(#{beginDate,jdbcType=TIMESTAMP}, '%Y%m%d')
        </if>
        <if test="requireComplateDate != null ">
            and date_format(require_complate_date, '%Y%m%d') &lt;= date_format(#{requireComplateDate,jdbcType=TIMESTAMP}, '%Y%m%d')
        </if>
        group by status, implement_person)as temp
        group by implement_person ) as allInfo
        left join
        (select sum( num ) as cnum,implement_person
        from
        (select status,count( * ) as num, implement_person
        from zj_lzeh_temp_task_manage
        where del_flag='0'
        <if test="beginDate != null ">
            and date_format(begin_date, '%Y%m%d')>= date_format(#{beginDate,jdbcType=TIMESTAMP}, '%Y%m%d')
        </if>
        <if test="requireComplateDate != null ">
            and date_format(require_complate_date, '%Y%m%d') &lt;= date_format(#{requireComplateDate,jdbcType=TIMESTAMP}, '%Y%m%d')
        </if>
        group by status, implement_person) as temp
        where status='4' group by implement_person) as comInfo
        on allInfo.implement_person = comInfo.implement_person
        where 1=1
        <if test="implementPerson != null and implementPerson != ''">
            and allInfo.implement_person = #{implementPerson,jdbcType=VARCHAR}
        </if>
        order by persent desc
    </select>

    <select id="selectAllPersonInfo" resultMap="BaseResultMap">
        SELECT implement_person FROM zj_lzeh_temp_task_manage GROUP BY implement_person
        UNION
        SELECT duty_person AS implement_person FROM zj_lzeh_manage_task_plan_item GROUP BY duty_person
        UNION
        SELECT duty_person AS implement_person FROM zj_lzeh_produce_task_plan_item GROUP BY duty_person
    </select>


    <select id="selectByZjLzehTempTreeRootList" resultMap="BaseResultMap"
            parameterType="com.apih5.mybatis.pojo.ZjLzehTempTaskManage">
        select
        <include refid="Base_Column_List"/>
        from zj_lzeh_temp_task_manage
        where del_flag = '0' and (parent_id is null or parent_id='')
        <if test="zjLzehTempTaskManageId != null and zjLzehTempTaskManageId != ''">
            and zj_lzeh_temp_task_manage_id = #{zjLzehTempTaskManageId,jdbcType=CHAR}
        </if>
        <if test="taskName != null and taskName != ''">
            and task_name like "%"#{taskName,jdbcType=VARCHAR}"%"
        </if>
        <if test="taskDescribe != null and taskDescribe != ''">
            and task_describe = #{taskDescribe,jdbcType=VARCHAR}
        </if>
        <if test="allotPerson != null and allotPerson != ''">
            and allot_person = #{allotPerson,jdbcType=VARCHAR}
        </if>
        <if test="beginDate != null ">
            and date_format(begin_date, '%Y%m%d')>= date_format(#{beginDate,jdbcType=TIMESTAMP}, '%Y%m%d')
        </if>
        <if test="requireComplateDate != null ">
            and date_format(require_complate_date, '%Y%m%d') &lt;= date_format(#{requireComplateDate,jdbcType=TIMESTAMP}, '%Y%m%d')
        </if>
        <if test="realCompalteDate != null and realCompalteDate != ''">
            and real_compalte_date = #{realCompalteDate,jdbcType=TIMESTAMP}
        </if>
        <if test="complateExplain != null and complateExplain != ''">
            and complate_explain = #{complateExplain,jdbcType=VARCHAR}
        </if>
        <if test="status != null and status != ''">
            and status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="allotPersonId != null and allotPersonId != ''">
            and allot_person_id = #{allotPersonId,jdbcType=CHAR}
        </if>
        <if test="implementPersonId != null and implementPersonId != ''">
            and implement_person_id = #{implementPersonId,jdbcType=CHAR}
        </if>
        <if test="implementPerson != null and implementPerson != ''">
            and implement_person = #{implementPerson,jdbcType=VARCHAR}
        </if>
        <if test="remarks != null and remarks != ''">
            and remarks = #{remarks,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != ''">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createUser != null and createUser != ''">
            and create_user = #{createUser,jdbcType=CHAR}
        </if>
        <if test="createUserName != null and createUserName != ''">
            and create_user_name = #{createUserName,jdbcType=VARCHAR}
        </if>
        <if test="modifyTime != null and modifyTime != ''">
            and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        </if>
        <if test="modifyUser != null and modifyUser != ''">
            and modify_user = #{modifyUser,jdbcType=CHAR}
        </if>
        <if test="modifyUserName != null and modifyUserName != ''">
            and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
        </if>
        ORDER BY create_time DESC
    </select>


    <select id="selectByZjLzehTempJsRootList" resultMap="BaseResultMap"
            parameterType="com.apih5.mybatis.pojo.ZjLzehTempTaskManage">
        select
        <include refid="Base_Column_List"/>
        from zj_lzeh_temp_task_manage
        where del_flag = '0' and status &lt;&gt;'0'
        <if test="zjLzehTempTaskManageId != null and zjLzehTempTaskManageId != ''">
            and zj_lzeh_temp_task_manage_id = #{zjLzehTempTaskManageId,jdbcType=CHAR}
        </if>
        <if test="taskName != null and taskName != ''">
            and task_name like "%"#{taskName,jdbcType=VARCHAR}"%"
        </if>
        <if test="taskDescribe != null and taskDescribe != ''">
            and task_describe = #{taskDescribe,jdbcType=VARCHAR}
        </if>
        <if test="allotPerson != null and allotPerson != ''">
            and allot_person = #{allotPerson,jdbcType=VARCHAR}
        </if>
        <if test="beginDate != null ">
            and date_format(begin_date, '%Y%m%d')>= date_format(#{beginDate,jdbcType=TIMESTAMP}, '%Y%m%d')
        </if>
        <if test="requireComplateDate != null ">
            and date_format(require_complate_date, '%Y%m%d') &lt;= date_format(#{requireComplateDate,jdbcType=TIMESTAMP}, '%Y%m%d')
        </if>
        <if test="realCompalteDate != null and realCompalteDate != ''">
            and date_format(require_complate_date, '%Y%m%d') &lt;= date_format(#{requireComplateDate,jdbcType=TIMESTAMP}, '%Y%m%d')
        </if>
        <if test="complateExplain != null and complateExplain != ''">
            and complate_explain = #{complateExplain,jdbcType=VARCHAR}
        </if>
        <if test="allotPersonId != null and allotPersonId != ''">
            and allot_person_id = #{allotPersonId,jdbcType=CHAR}
        </if>
        <if test="implementPersonId != null and implementPersonId != ''">
            and implement_person_id = #{implementPersonId,jdbcType=CHAR}
        </if>
        <if test="implementPerson != null and implementPerson != ''">
            and implement_person = #{implementPerson,jdbcType=VARCHAR}
        </if>
        <if test="remarks != null and remarks != ''">
            and remarks = #{remarks,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != ''">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createUser != null and createUser != ''">
            and create_user = #{createUser,jdbcType=CHAR}
        </if>
        <if test="createUserName != null and createUserName != ''">
            and create_user_name = #{createUserName,jdbcType=VARCHAR}
        </if>
        <if test="modifyTime != null and modifyTime != ''">
            and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        </if>
        <if test="modifyUser != null and modifyUser != ''">
            and modify_user = #{modifyUser,jdbcType=CHAR}
        </if>
        <if test="modifyUserName != null and modifyUserName != ''">
            and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
        </if>
        ORDER BY modify_time DESC
    </select>

    <select id="selectZjLzehTempTaskManageListByPersonMonth" resultMap="BaseResultMap"
            parameterType="com.apih5.mybatis.pojo.ZjLzehTempTaskManage">
        select
        <include refid="Base_Column_List"/>
        from zj_lzeh_temp_task_manage
        where del_flag = '0'  and implement_person = #{implementPerson,jdbcType=VARCHAR}
        and DATE_FORMAT(begin_date,'%Y%m')  = DATE_FORMAT(#{beginDate,jdbcType=TIMESTAMP},'%Y%m')
        ORDER BY modify_time DESC
    </select>

    <select id="selectTempTaskManageListByPerson" resultMap="BaseResultMap"
            parameterType="com.apih5.mybatis.pojo.ZjLzehTempTaskManage">
        select
        <include refid="Base_Column_List"/>
        from zj_lzeh_temp_task_manage
        where del_flag = '0'
        <if test="zjLzehTempTaskManageId != null and zjLzehTempTaskManageId != ''">
            and zj_lzeh_temp_task_manage_id = #{zjLzehTempTaskManageId,jdbcType=CHAR}
        </if>
        <if test="parentId != null and parentId != ''">
            and parent_id = #{parentId,jdbcType=CHAR}
        </if>
        <if test="taskName != null and taskName != ''">
            and task_name = #{taskName,jdbcType=VARCHAR}
        </if>
        <if test="taskDescribe != null and taskDescribe != ''">
            and task_describe = #{taskDescribe,jdbcType=VARCHAR}
        </if>
        <if test="allotPerson != null and allotPerson != ''">
            and allot_person = #{allotPerson,jdbcType=VARCHAR}
        </if>
        <if test="beginDate != null ">
            and date_format(begin_date, '%Y%m%d')>= date_format(#{beginDate,jdbcType=TIMESTAMP}, '%Y%m%d')
        </if>
        <if test="requireComplateDate != null ">
            and date_format(require_complate_date, '%Y%m%d') &lt;= date_format(#{requireComplateDate,jdbcType=TIMESTAMP}, '%Y%m%d')
        </if>
        <if test="realCompalteDate != null ">
            and real_compalte_date = #{realCompalteDate,jdbcType=TIMESTAMP}
        </if>
        <if test="complateExplain != null and complateExplain != ''">
            and complate_explain = #{complateExplain,jdbcType=VARCHAR}
        </if>
        <if test="status != null and status != ''">
            and status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="allotPersonId != null and allotPersonId != ''">
            and allot_person_id = #{allotPersonId,jdbcType=CHAR}
        </if>
        <if test="implementPersonId != null and implementPersonId != ''">
            and implement_person_id = #{implementPersonId,jdbcType=CHAR}
        </if>
        <if test="implementPerson != null and implementPerson != ''">
            and implement_person  like "%"#{implementPerson,jdbcType=VARCHAR}"%"
        </if>
        <if test="remarks != null and remarks != ''">
            and remarks = #{remarks,jdbcType=VARCHAR}
        </if>
        <if test="sort != null and sort != ''">
            and sort = #{sort,jdbcType=INTEGER}
        </if>
        <if test="createTime != null and createTime != ''">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createUser != null and createUser != ''">
            and create_user = #{createUser,jdbcType=CHAR}
        </if>
        <if test="createUserName != null and createUserName != ''">
            and create_user_name = #{createUserName,jdbcType=VARCHAR}
        </if>
        <if test="modifyTime != null and modifyTime != ''">
            and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        </if>
        <if test="modifyUser != null and modifyUser != ''">
            and modify_user = #{modifyUser,jdbcType=CHAR}
        </if>
        <if test="modifyUserName != null and modifyUserName != ''">
            and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
        </if>
        ORDER BY implement_person DESC
    </select>
</mapper>
