<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apih5.mybatis.dao.ZjLzehManageTaskPlanItemMapper" >
  <resultMap id="BaseResultMap" type="com.apih5.mybatis.pojo.ZjLzehManageTaskPlanItem" >
    <id column="zj_lzeh_manage_task_plan_item_id" property="zjLzehManageTaskPlanItemId" jdbcType="CHAR" />
    <result column="matter_description" property="matterDescription" jdbcType="VARCHAR" />
    <result column="control_demand" property="controlDemand" jdbcType="VARCHAR" />
    <result column="plan_makespan" property="planMakespan" jdbcType="TIMESTAMP" />
    <result column="real_makespan" property="realMakespan" jdbcType="TIMESTAMP" />
    <result column="duty_department" property="dutyDepartment" jdbcType="VARCHAR" />
    <result column="duty_person" property="dutyPerson" jdbcType="VARCHAR" />
    <result column="managge_lead" property="managgeLead" jdbcType="VARCHAR" />
    <result column="coord_person" property="coordPerson" jdbcType="VARCHAR" />
    <result column="coord_department" property="coordDepartment" jdbcType="VARCHAR" />
    <result column="completion" property="completion" jdbcType="VARCHAR" />
    <result column="completeDes" property="completeDes" jdbcType="VARCHAR"/>
    <result column="zj_lzeh_manage_task_plan_id" property="zjLzehManageTaskPlanId" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="CHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="CHAR" />
    <result column="modify_user_name" property="modifyUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zj_lzeh_manage_task_plan_item_id, matter_description, control_demand, plan_makespan, real_makespan, 
    duty_department, duty_person, managge_lead, coord_person,
    coord_department, completion,completeDes, zj_lzeh_manage_task_plan_id, remarks, sort,
    del_flag, create_time, create_user, create_user_name, modify_time, 
    modify_user, modify_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zj_lzeh_manage_task_plan_item
    where del_flag = '0' and zj_lzeh_manage_task_plan_item_id = #{zjLzehManageTaskPlanItemId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_lzeh_manage_task_plan_item
    where zj_lzeh_manage_task_plan_item_id = #{zjLzehManageTaskPlanItemId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.apih5.mybatis.pojo.ZjLzehManageTaskPlanItem" >
    insert into zj_lzeh_manage_task_plan_item (
    zj_lzeh_manage_task_plan_item_id, matter_description, control_demand, plan_makespan, real_makespan, 
    duty_department, duty_person, managge_lead,coord_person,
    coord_department, completion,completeDes, zj_lzeh_manage_task_plan_id, remarks, sort,
    del_flag, create_time, create_user, create_user_name, modify_time, 
    modify_user, modify_user_name
      )
    values (
      #{zjLzehManageTaskPlanItemId,jdbcType=CHAR}, #{matterDescription,jdbcType=VARCHAR}, #{controlDemand,jdbcType=VARCHAR}, #{planMakespan,jdbcType=TIMESTAMP}, #{realMakespan,jdbcType=TIMESTAMP}, 
    #{dutyDepartment,jdbcType=VARCHAR}, #{dutyPerson,jdbcType=VARCHAR}, #{managgeLead,jdbcType=VARCHAR}, #{coordPerson,jdbcType=VARCHAR},
    #{coordDepartment,jdbcType=VARCHAR}, #{completion,jdbcType=VARCHAR},#{completeDes,jdbcType=VARCHAR}, #{zjLzehManageTaskPlanId,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER},
    #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
    #{modifyUser,jdbcType=CHAR}, #{modifyUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apih5.mybatis.pojo.ZjLzehManageTaskPlanItem" >
    insert into zj_lzeh_manage_task_plan_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zjLzehManageTaskPlanItemId != null" >
        zj_lzeh_manage_task_plan_item_id,
      </if>
      <if test="matterDescription != null" >
        matter_description,
      </if>
      <if test="controlDemand != null" >
        control_demand,
      </if>
      <if test="planMakespan != null" >
        plan_makespan,
      </if>
      <if test="realMakespan != null" >
        real_makespan,
      </if>
      <if test="dutyDepartment != null" >
        duty_department,
      </if>
      <if test="dutyPerson != null" >
        duty_person,
      </if>
      <if test="managgeLead != null" >
        managge_lead,
      </if>
      <if test="coordPerson != null" >
        coord_person,
      </if>
      <if test="coordDepartment != null" >
        coord_department,
      </if>
      <if test="completion != null" >
        completion,
      </if>
      <if test="completeDes != null" >
        completeDes,
      </if>
      <if test="zjLzehManageTaskPlanId != null" >
        zj_lzeh_manage_task_plan_id,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyUserName != null" >
        modify_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zjLzehManageTaskPlanItemId != null" >
        #{zjLzehManageTaskPlanItemId,jdbcType=CHAR},
      </if>
      <if test="matterDescription != null" >
        #{matterDescription,jdbcType=VARCHAR},
      </if>
      <if test="controlDemand != null" >
        #{controlDemand,jdbcType=VARCHAR},
      </if>
      <if test="planMakespan != null" >
        #{planMakespan,jdbcType=TIMESTAMP},
      </if>
      <if test="realMakespan != null" >
        #{realMakespan,jdbcType=TIMESTAMP},
      </if>
      <if test="dutyDepartment != null" >
        #{dutyDepartment,jdbcType=VARCHAR},
      </if>
      <if test="dutyPerson != null" >
        #{dutyPerson,jdbcType=VARCHAR},
      </if>
      <if test="managgeLead != null" >
        #{managgeLead,jdbcType=VARCHAR},
      </if>
      <if test="coordPerson != null" >
        #{coordPerson,jdbcType=VARCHAR},
      </if>
      <if test="coordDepartment != null" >
        #{coordDepartment,jdbcType=VARCHAR},
      </if>
      <if test="completion != null" >
        #{completion,jdbcType=VARCHAR},
      </if>
      <if test="completeDes != null" >
        #{completeDes,jdbcType=VARCHAR},
      </if>
      <if test="zjLzehManageTaskPlanId != null" >
        #{zjLzehManageTaskPlanId,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apih5.mybatis.pojo.ZjLzehManageTaskPlanItem" >
    update zj_lzeh_manage_task_plan_item
    <set >
      <if test="matterDescription != null" >
        matter_description = #{matterDescription,jdbcType=VARCHAR},
      </if>
      <if test="controlDemand != null" >
        control_demand = #{controlDemand,jdbcType=VARCHAR},
      </if>
      <if test="planMakespan != null" >
        plan_makespan = #{planMakespan,jdbcType=TIMESTAMP},
      </if>
      <if test="realMakespan != null" >
        real_makespan = #{realMakespan,jdbcType=TIMESTAMP},
      </if>
      <if test="dutyDepartment != null" >
        duty_department = #{dutyDepartment,jdbcType=VARCHAR},
      </if>
      <if test="dutyPerson != null" >
        duty_person = #{dutyPerson,jdbcType=VARCHAR},
      </if>
      <if test="managgeLead != null" >
        managge_lead = #{managgeLead,jdbcType=VARCHAR},
      </if>
      <if test="coordPerson != null" >
        coord_person = #{coordPerson,jdbcType=VARCHAR},
      </if>
      <if test="coordDepartment != null" >
        coord_department = #{coordDepartment,jdbcType=VARCHAR},
      </if>
      <if test="completeDes != null" >
        completeDes = #{completeDes,jdbcType=VARCHAR},
      </if>
      <if test="completion != null" >
        completion = #{completion,jdbcType=VARCHAR},
      </if>
      <if test="zjLzehManageTaskPlanId != null" >
        zj_lzeh_manage_task_plan_id = #{zjLzehManageTaskPlanId,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyUserName != null" >
        modify_user_name = #{modifyUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where zj_lzeh_manage_task_plan_item_id = #{zjLzehManageTaskPlanItemId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apih5.mybatis.pojo.ZjLzehManageTaskPlanItem" >
    update zj_lzeh_manage_task_plan_item set 
      matter_description = #{matterDescription,jdbcType=VARCHAR},
      control_demand = #{controlDemand,jdbcType=VARCHAR},
      plan_makespan = #{planMakespan,jdbcType=TIMESTAMP},
      real_makespan = #{realMakespan,jdbcType=TIMESTAMP},
      duty_department = #{dutyDepartment,jdbcType=VARCHAR},
      duty_person = #{dutyPerson,jdbcType=VARCHAR},
      managge_lead = #{managgeLead,jdbcType=VARCHAR},
      coord_person = #{coordPerson,jdbcType=VARCHAR},
      coord_department = #{coordDepartment,jdbcType=VARCHAR},
      completion = #{completion,jdbcType=VARCHAR},
      completeDes=#{completeDes,jdbcType=VARCHAR},
      zj_lzeh_manage_task_plan_id = #{zjLzehManageTaskPlanId,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=CHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=CHAR},
      modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    where zj_lzeh_manage_task_plan_item_id = #{zjLzehManageTaskPlanItemId,jdbcType=CHAR}
  </update>
  <select id="selectByZjLzehManageTaskPlanItemList" resultMap="BaseResultMap" parameterType="com.apih5.mybatis.pojo.ZjLzehManageTaskPlanItem" >
    select 
    <include refid="Base_Column_List" />
    from zj_lzeh_manage_task_plan_item
    where del_flag = '0'
    <if test="zjLzehManageTaskPlanItemId != null and zjLzehManageTaskPlanItemId != ''" >
     and zj_lzeh_manage_task_plan_item_id = #{zjLzehManageTaskPlanItemId,jdbcType=CHAR}
    </if>
    <if test="matterDescription != null and matterDescription != ''" >
     and matter_description = #{matterDescription,jdbcType=VARCHAR}
    </if>
    <if test="controlDemand != null and controlDemand != ''" >
     and control_demand = #{controlDemand,jdbcType=VARCHAR}
    </if>
    <if test="planMakespan != null and planMakespan != ''" >
     and plan_makespan = #{planMakespan,jdbcType=TIMESTAMP}
    </if>
    <if test="realMakespan != null and realMakespan != ''" >
     and real_makespan = #{realMakespan,jdbcType=TIMESTAMP}
    </if>
    <if test="dutyDepartment != null and dutyDepartment != ''" >
     <!-- and duty_department = #{dutyDepartment,jdbcType=VARCHAR} -->
     and duty_department LIKE CONCAT('%', #{dutyDepartment},'%')
    </if>
    <if test="dutyPerson != null and dutyPerson != ''" >
     and duty_person = #{dutyPerson,jdbcType=VARCHAR}
    </if>
    <if test="managgeLead != null and managgeLead != ''" >
     and managge_lead = #{managgeLead,jdbcType=VARCHAR}
    </if>
    <if test="coordPerson != null and coordPerson != ''" >
     and coord_person = #{coordPerson,jdbcType=VARCHAR}
    </if>
    <if test="coordDepartment != null and coordDepartment != ''" >
     and coord_department = #{coordDepartment,jdbcType=VARCHAR}
    </if>
    <if test="completion != null and completion != ''" >
     and completion = #{completion,jdbcType=VARCHAR}
    </if>
    <if test="completeDes != null and completeDes != ''" >
      and completeDes = #{completeDes,jdbcType=VARCHAR}
    </if>
    <if test="zjLzehManageTaskPlanId != null and zjLzehManageTaskPlanId != ''" >
     and zj_lzeh_manage_task_plan_id = #{zjLzehManageTaskPlanId,jdbcType=VARCHAR}
    </if>
    <if test="remarks != null and remarks != ''" >
     and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="sort != null and sort != ''" >
     and sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="createTime != null and createTime != ''" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createUser != null and createUser != ''" >
     and create_user = #{createUser,jdbcType=CHAR}
    </if>
    <if test="createUserName != null and createUserName != ''" >
     and create_user_name = #{createUserName,jdbcType=VARCHAR}
    </if>
    <if test="modifyTime != null and modifyTime != ''" >
     and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyUser != null and modifyUser != ''" >
     and modify_user = #{modifyUser,jdbcType=CHAR}
    </if>
    <if test="modifyUserName != null and modifyUserName != ''" >
     and modify_user_name = #{modifyUserName,jdbcType=VARCHAR}
    </if>
    ORDER BY modify_time DESC 
  </select>
  <delete id="batchDeleteUpdateZjLzehManageTaskPlanItem" parameterType="com.apih5.mybatis.pojo.ZjLzehManageTaskPlanItem" >
    <![CDATA[ 
        update zj_lzeh_manage_task_plan_item
        set del_flag = '1',
            modify_time=#{param2.modifyTime,jdbcType=TIMESTAMP},
            modify_user=#{param2.modifyUser},
            modify_user_name=#{param2.modifyUserName}
        where del_flag = '0' and zj_lzeh_manage_task_plan_item_id in 
     ]]> 
     <foreach collection="param1" item = "model" open="(" separator="," close=")">#{model.zjLzehManageTaskPlanItemId} 
     </foreach>
  </delete>
  <!-- ↓↓↓扩展↓↓↓ -->

  <insert id="insertManageTaskPlanItemList" parameterType="java.util.List">
    insert into zj_lzeh_manage_task_plan_item (
    zj_lzeh_manage_task_plan_item_id, matter_description, control_demand, plan_makespan, real_makespan,
    duty_department, duty_person, managge_lead,coord_person,
    coord_department, completion,completeDes, zj_lzeh_manage_task_plan_id, remarks, sort,
    del_flag, create_time, create_user, create_user_name, modify_time,
    modify_user, modify_user_name
    )values
    <foreach collection="excelImportList" item="item" index="index" separator=",">
      (
      #{item.zjLzehManageTaskPlanItemId,jdbcType=CHAR}, #{item.matterDescription,jdbcType=VARCHAR}, #{item.controlDemand,jdbcType=VARCHAR}, #{item.planMakespan,jdbcType=TIMESTAMP}, #{item.realMakespan,jdbcType=TIMESTAMP},
      #{item.dutyDepartment,jdbcType=VARCHAR}, #{item.dutyPerson,jdbcType=VARCHAR}, #{item.managgeLead,jdbcType=VARCHAR}, #{item.coordPerson,jdbcType=VARCHAR},
      #{item.coordDepartment,jdbcType=VARCHAR}, #{item.completion,jdbcType=VARCHAR},#{item.completeDes,jdbcType=VARCHAR}, #{item.zjLzehManageTaskPlanId,jdbcType=VARCHAR}, #{item.remarks,jdbcType=VARCHAR}, #{item.sort,jdbcType=INTEGER},
      #{item.delFlag,jdbcType=CHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUser,jdbcType=CHAR}, #{item.createUserName,jdbcType=VARCHAR}, #{item.modifyTime,jdbcType=TIMESTAMP},
      #{item.modifyUser,jdbcType=CHAR}, #{item.modifyUserName,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
</mapper>
