.mobileBtnContainer {
  width: 100%; 
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: white; 
  box-shadow: 0 0 10px rgba(53, 53, 53, 0.15);
  border-top: 1px solid #f1f1f1;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  padding: 0 8px;
  transform: matrix3d(0, 0, 0);  
  button {
    margin: 6px 0px;
    box-sizing: border-box;
    flex: 1;
    -webkit-flex: 1;
    z-index: 99;
  }
}
.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 0; 
}
.containerByQnnTable {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box; 
}
.qnnTableFlowBtn { 
  box-sizing: border-box;
}

:global {
  //因为qnn-table中抽屉层级设置了1000  （忘了为啥那个抽屉层级设置1000了需要排查）
  .am-modal-transparent {
    max-width: 400px;
    width: 90vw;
  }
}
